<div [ngBusy]="busy">
  <div [ngBusy]="busyObsv">

    <div>
      <p>The following Shareholder information is on file for the account.</p>

      <mat-table #table [dataSource]="dataSource">

        <!-- Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>


        <!-- Column -->
        <ng-container matColumnDef="additional">
          <mat-header-cell *matHeaderCellDef> Additional</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.isindividual ? element.dateofbirth : element.legalentitytype}}
          </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="commonnonvotingshares">
          <mat-header-cell *matHeaderCellDef> Number of Non-voting Shares </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.commonnonvotingshares}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="commonvotingshares">
          <mat-header-cell *matHeaderCellDef> Number of Voting Shares </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.commonvotingshares}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="percentageVotingShares">
          <mat-header-cell *matHeaderCellDef> Percentage of Voting Shares</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.percentageVotingShares}} %</mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Edit</mat-header-cell>
          <mat-cell *matCellDef="let element"> <a href="javascript: void(0)" (click)="editShareholder(element)">Edit</a>
          </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell *matCellDef="let element"> <a href="javascript: void(0)"
              (click)="deleteShareholder(element)">Delete</a> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
  <p style="margin-top: 10px;">
    Total Voting Shares: [Sum of Number of Voting Shares]
  </p>
  <div *ngIf="['PublicCorporation'].indexOf(businessType) == -1" style="margin-bottom: 30px">
    <a class="btn btn-primary" tabindex="1" (click)="addShareholder()">
      <strong>Add Shareholder</strong>
      <br>
    </a>
  </div>

  <div [ngBusy]="busy"></div>

  <!-- <section
    *ngIf="['LimitedPartnership', 'GeneralPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) == -1">
    <label *ngIf="['PublicCorporation'].indexOf(businessType) === -1" for="">Upload the corporation's Central Securities
      Register</label>
    <label *ngIf="['PublicCorporation'].indexOf(businessType) !== -1" for="">Upload a document showing the shareholders
      with a 10% or greater interest in the company</label>
    <app-file-uploader documentType="Central Securities Register" entityName="account" [entityId]="accountId">
    </app-file-uploader>
  </section> -->

  <section *ngIf="showAddShareholder">
    <ng-container *ngTemplateOutlet="addEditPerson"></ng-container>
  </section>


  <ng-template #addEditPerson>
    <h2
      *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(data?.businessType) == -1">
      Add Shareholder - Person</h2>
    <h2
      *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(data?.businessType) !== -1">
      Add Partner</h2>

    <form [formGroup]='form'>
      <p>List all the corporation’s <strong>voting</strong> shareholders.
      </p>

      <app-field label="Is the shareholder a person, an organization or an Indigenous nation?" [valid]="true"
        errorMessage="Please select a business type from the dropdown list">
        <input type="radio" group="partnerType" formControlName="partnerType" value="General">
        <span>Person</span> <br>
        <input type="radio" group="partnerType" formControlName="partnerType" value="Limited">
        <span>Organization</span> <br>
        <input type="radio" group="partnerType" formControlName="partnerType" value="Limited">
        <span>Indigenous Nation</span> <br>
      </app-field>

      <app-field label="First Name" [valid]="true" errorMessage="This is required">
        <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="First Name">
      </app-field>

      <app-field label="Last Name" [valid]="true" errorMessage="This is required">
        <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Last Name">
      </app-field>

      <app-field label="Date of Birth" [valid]="true" errorMessage="This is required">
        <input type="number" class="form-control" id="dateofbirth" formControlName="dateofbirth">
      </app-field>

      <app-field label="Name" [valid]="true" errorMessage="This is required">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
      </app-field>

      <app-field label="What type of organization is the shareholder?" [valid]="true"
        errorMessage="Please select a business type from the dropdown list">
        <input type="radio" group="partnerType" formControlName="partnerType" value="General">
        <span>Private Corporation</span> <br>
        <input type="radio" group="partnerType" formControlName="partnerType" value="Limited">
        <span>Public Corporation</span> <br>
        <input type="radio" group="partnerType" formControlName="partnerType" value="Limited">
        <span>Partnership</span> <br>
        <input type="radio" group="partnerType" formControlName="partnerType" value="Limited">
        <span>Society</span> <br>
      </app-field>

      <app-field label="Email" [valid]="true" errorMessage="Email is invalid">
        <input type="text" class="form-control" id="email" formControlName="email">
      </app-field>

      <app-field label="Number of Voting Shares" [valid]="true" errorMessage="This is required">
        <input type="number" class="form-control" id="commonvotingshares" formControlName="commonvotingshares">
      </app-field>

      <app-field label="Date of Shares Issued" [valid]="true" errorMessage="This is required">
        <input type="number" class="form-control" id="dateIssued" formControlName="dateIssued">
      </app-field>
    </form>

    <div>
      <button class="btn btn-secondary" (click)="cancelAddShareholder()">Cancel</button>
      &nbsp;
      <button class="btn btn-primary" (click)="confirmAddShareholder()">Save</button>
    </div>
  </ng-template>