<div class="col-md-8 col-xs-12">
  <h1>Welcome to Cannabis Licensing</h1>
  <p>A cannabis retail store licence allows licensees to sell non-medical cannabis and cannabis accessories in British Columbia.  Begin by selecting your organization type below.</p>

  <h2>Download the Application Form</h2>
  <p>Identify your type of organization to download the Application package.</p>

  <h2>Submit Your Application</h2>
  <p>Once you have downloaded the correct application form for your organization and completed it, you may proceed to submit your application by clicking Ready to Submit.</p>

  <app-lite-application-dashboard [applicationInProgress]="true"></app-lite-application-dashboard>
  <app-lite-application-dashboard [applicationInProgress]="false"></app-lite-application-dashboard>
</div>
