<mat-divider></mat-divider>
<h2>{{title}}</h2>
<p>{{question}}</p>
<p *ngIf="alreadyVoted==true">
  Thanks for voting on this poll!
</p>
<div *ngIf="alreadyVoted==false" id="voteOptionButtons_{{slug}}">
  <mat-radio-group class="radio-group" [(ngModel)]="vote_value">
    <mat-radio-button class="radio-button" *ngFor="let option of options; let i = index" name="vote_{{slug}}" value="{{option.id}}" id="vote_{{slug}}_{{i}}">
      {{option.option}}
    </mat-radio-button>
  </mat-radio-group>

  <p>
    <a id="voteButton" mat-raised-button color="primary" (click)="sendVote(vote_value)">Vote</a>
  </p>
</div>
<p></p>
<p *ngIf="showVoteResults==false">
    <a mat-button color="accent" id="showVoteResultsButton" (click)="setShowVoteResults(true)">Show Vote Results</a>
</p>
<p *ngIf="showVoteResults==true">
  <a mat-button color="accent" id="hideVoteResultsButton" (click)="setShowVoteResults(false)">Hide Vote Results</a>
</p>
<table id="voteResultsTable" width="200" *ngIf="showVoteResults">
  <tr>
    <th *ngFor="let option of options; let i = index">{{option.option}}</th>
  </tr>
  <tr>
    <td *ngFor="let option of options; let i = index">{{option.totalVotes}}</td>
  </tr>
</table>



