<mat-divider></mat-divider>
<h2>{{title}}</h2>
<p>{{question}}</p>
<p *ngIf="alreadyVoted">
  You've already voted on this poll.
</p>
<div *ngIf="alreadyVoted==false" id="voteOptionButtons_{{slug}}">
  <div class="btn-group" *ngFor="let option of options; let i = index">
    <!--<button id="vote_{{slug}}_{{i}}" class="btn btn-default" (click)="sendVote(option.id)">{{option.option}}</button>-->
    <input type="radio" [(ngModel)]="vote_value" name="vote_{{slug}}" value="{{option.id}}" id="vote_{{slug}}_{{i}}" mat-raised-button color="primary" />{{option.option}}
  </div>
  <input type="button" (click)="sendVote(vote_value)" value="Vote" />
</div>
<p></p>
<p *ngIf="showVoteResults==false">
    <a mat-button color="accent" id="showVoteResultsButton" (click)="setShowVoteResults(true)">Show Vote Results</a>
</p>
<p *ngIf="showVoteResults==true">
  <a mat-button color="accent" id="hideVoteResultsButton" (click)="setShowVoteResults(false)">Hide Vote Results</a>
</p>
<table id="voteResultsTable" width="200" *ngIf="showVoteResults">
  <tr>
    <th *ngFor="let option of options; let i = index">{{option.option}}</th>
  </tr>
  <tr>
    <td *ngFor="let option of options; let i = index">{{option.totalVotes}}</td>
  </tr>
</table>



