<section class="navigationRibbon">
  <div class="level2Navigation">
    <div class="">
      <nav class="navbar navbar-expand-md navbar-light justify-content-end mb-0 w-100">
        <button class="navbar-toggler btn-mobile" type="button" data-toggle="collapse" style="float: right"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" #toggleButton>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a (click)="toggleButton.click()" tabindex="2" routerLink="/" title="Home">Home</a>
            </li>
            <li class="nav-item">
              <a appRemoveIfFeatureOn="DisableWorkerQualification" (click)="toggleButton.click()" tabindex="2"
                routerLink="/policy-document/worker-qualification-training">
                Cannabis Worker Security Verification
              </a>
            </li>
            <li class="nav-item">
              <a (click)="toggleButton.click()" tabindex="2" routerLink="/policy-document/application-stats">
                Cannabis Application Statistics
              </a>
            </li>

            <li class="nav-item" *ngIf="showMapLink">
              <a (click)="toggleButton.click()" tabindex="2" routerLink="/map">
                Map of Cannabis Stores
              </a>
            </li>
            <li class="nav-item" appRemoveIfFeatureOff="Sep">
              <a (click)="toggleButton.click()" tabindex="2" routerLink="/sep">
                Special Event Permits
              </a>
            </li>
            <li class="nav-item">
              <!--a (click)="toggleButton.click()" tabindex="2" appRemoveIfFeatureOff="Sep"
                routerLink="/policy-document/completing-an-application">
                Special Events Permits Help Centre
              </a-->
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>
