<h3>Step 3</h3>

<h1>Fee Payment</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
  dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<p>
  Proceed to pay online using a credit card through the secure web portal.
</p>
<span style="float: right;">
  <button  class="btn btn-primary">
     <i class="fa fa-save" style="color: #fff;"></i>
    SAVE FOR LATER</button>
  <button  class="btn btn-primary" (click)="submit_application()">SUBMIT & PAY</button>
</span>