
<div *ngIf="!currentUser.isBceidConfirmed">
  <div *ngIf="!bceidConfirmAccount">

    <h1>Confirm Business BCeID Information</h1>
    <p>Do we have the correct information?</p>
    <ul>
      <li>Company Name: {{currentUser.businessname}}</li>
    </ul>
    <div class="row">
      <div class="col-md-12 text-left" *ngIf="!showBceidCorrection">
        <a class="globalButton" mat-button color="accent" tabindex="1" (click)="confirmBceidAccountYes()"><strong>Yes</strong><br></a>

        <a class="globalButton" mat-button color="accent" tabindex="1" (click)="confirmBceidAccountNo()"><strong>No</strong><br></a>
      </div>
      <div class="col-md-12 text-left" *ngIf="showBceidCorrection">
        Before you continue, update your information with <a href="https://www.bceid.ca">Business BCeID</a> or log in with a different account.
      </div>
    </div>
  </div>
  <div *ngIf="bceidConfirmAccount">
    <h1>Confirm Business BCeID Information</h1>
    <p>What type of corporation is {{currentUser.businessname}}?</p>
    <form name="myForm" ng-controller="ExampleController">
        <label>
          <input type="radio" ng-model="corp" value="private_corp">
          Private corporation
        </label><br/>
        <label>
          <input type="radio" ng-model="corp" ng-value="public_corp">
          Public corporation
        </label><br/>
        <label>
          <input type="radio" ng-model="corp" value="ulc">
          Unlimited liability corporation
        </label><br/>
        <label>
            <input type="radio" ng-model="corp" value="llc">
            Limited liability corporation
        </label><br/>
        <div class="col-md-12 text-left" *ngIf="bceidConfirmAccount">
          <a class="globalButton" mat-button color="accent" tabindex="1" (click)="confirmCorp()"><strong>Next</strong><br></a>
        </div>
      </form>
    


  </div>
  <div *ngIf="XXXXX">
    <h1>Confirm Business BCeID Information</h1>
    <p>Are you {{currentUser.name}}?</p>
    <div class="row">
      <div class="col-md-12 text-left" *ngIf="!showBceidUserContinue">
        <a class="globalButton" mat-button color="accent" tabindex="1" (click)="confirmContactYes()"><strong>Yes</strong></a>
        <a class="globalButton" mat-button color="accent" tabindex="1" (click)="confirmContactNo()"><strong>No</strong></a>
        <br>
        <div class="spinner-container" *ngIf="!confirmCompleted">
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <div class="col-md-12 text-left" *ngIf="showBceidUserContinue">
        Each user should have their own user account to fill out the application. Contact the BCeID primary user to add your account to the Business BCeID.
        <a class="globalButton" mat-button color="accent" tabindex="1" (click)="confirmContactYes()"><strong>Continue</strong></a>
        <br>
        <div class="spinner-container" *ngIf="!confirmCompleted">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>

