<div class="container" *ngIf="!currentUser.isBceidConfirmed">
  <img style="margin-left: -18px;" *ngIf="termsAccepted" src="assets/bceid_default_logo.jpg" alt="BCeID Logo">
  <div [ngBusy]="busySubscription"></div>
  <app-terms-and-conditions (termsAccepted)="termsAccepted=$event" *ngIf="bceidConfirmAccount && !accountExists && !termsAccepted"></app-terms-and-conditions>
  <div *ngIf="bceidConfirmAccount && !accountExists && termsAccepted">
    <h2>Please confirm the business or organization name associated to the Business BCeID.</h2>
    <div *ngIf="!showBceidCorrection">
      <p>
        <b>{{currentUser.businessname}}</b>
      </p>
      <p>Is this correct?</p>
      <div class="row">
        <div class="col-md-12 text-left" *ngIf="!showBceidCorrection">
          <button class="btn btn-primary confirmYes" (click)="confirmBceidAccountYes()">
            <strong>Yes</strong>
          </button>
          <button class="btn btn-secondary" (click)="confirmBceidAccountNo()">
            <strong>No</strong>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="bceidConfirmBusinessType">
    <h2>Please confirm the organization type associated with the Business BCeID:</h2>

    <section class="radio-buttons">
      <input type="radio" name="InitialBusinessType" value="PrivateCorporation" [(ngModel)]="businessType">
      <span> Private Corporation</span>
      <br>
      <br>
      <input type="radio" name="InitialBusinessType" value="PublicCorporation" [(ngModel)]="businessType">
      <span> Public Corporation</span>
      <br>
      <br>
      <input type="radio" name="InitialBusinessType" value="SoleProprietor" [(ngModel)]="businessType">
      <span> Sole Proprietorship</span>
      <br>
      <br>
      <input type="radio" name="InitialBusinessType" value="Partnership" [(ngModel)]="businessType">
      <span> Partnership</span>
      <br>
      <br>
      <input type="radio" name="InitialBusinessType" value="Society" [(ngModel)]="businessType">
      <span> Society</span>
      <br>
      <br>
      <input type="radio" name="InitialBusinessType" value="Indigenous nation" [(ngModel)]="businessType">
      <span> Indigenous nation</span>
    </section>

    <section *ngIf="bceidConfirmBusinessType">
      <button class="btn btn-primary" (click)="confirmCorpType()" [disabled]="!businessType || businessType == 'Indigenous nation'">
        <strong>Next</strong>
      </button>
    </section>

    <section *ngIf="bceidConfirmBusinessType && businessType == 'Indigenous nation'">
      <p>For Indigenous nations please contact the LCRB directly at
        <a href="mailto:Cannabis.Licensing@gov.bc.ca">Cannabis.Licensing@gov.bc.ca</a>
        to obtain the application form.
      </p>
      <a href="logout">&lt;&lt; Return to Information Portal Homepage</a>
      <br>
    </section>
  </div>

  <div *ngIf="bceidConfirmContact">
    <h2>Please confirm the name associated with the Business BCeID login provided.</h2>
    <div *ngIf="showBceidUserContinue">
      <p>
        <b>{{currentUser.name}}</b>
      </p>
      <p>
        Is this correct?
      </p>
      <div class="row">
        <div class="col-md-12 text-left">
          <button class="btn btn-primary" (click)="confirmContactYes()">
            <strong>Yes</strong>
          </button>
          <button class="btn btn-secondary" (click)="confirmContactNo()">
            <strong>No</strong>
          </button>
          <br>
          <div [ngBusy]="busy"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!showBceidUserContinue || showBceidCorrection">
    <p>Before continuing, please update your information with
      <a href="https://www.bceid.ca/register/business/getting_started/getting_started.aspx">Business BCeID</a> or
      <br>login with a different account.</p>
    <br>
    <div [ngBusy]="busy"></div>
    <a href="logout">&lt;&lt; Return to Information Portal Homepage</a>
  </div>
  <div *ngIf="termsAccepted" style="margin-bottom: 40%;"></div>
</div>
