<div *ngIf="account?.businessType" [ngClass]="{'upload-more-file-mode': mode === UPLOAD_FILES_MODE}">
  <div [formGroup]="form" style="padding-left: 45px; position: relative">
    <div [ngBusy]="busy"></div>

    <h1>Submit the Cannabis Retail Store Licence Application</h1>
  </div>
  <div [formGroup]="form" class="application-wrapper">

    <p>
      A $7,500.00 application fee will be required at the time of application submission. If
      your application for a licence is approved, a $1,500.00 first year licensing fee will be required prior to the
      licence being issued.
    </p>
    <br>

    <p>
      Please note that applications which are submitted without all required information or documents will
      stop being processed. The LCRB will be assessing complete applications as a priority. Other applications
      that are received before the applicant provides the branch with missing information will be prioritized.
      The application checklist can assist in completing all the required documentation.
    </p>
    <br>

    <p class="li-header">A proposed store must have:</p>
    <ul class="square">
      <li>
        If in the area of a local government, all required local government approvals, such as being a permitted
        use under the zoning bylaw or meeting the requirements of business licensing bylaw, or
      </li>
      <li>
        If in the area of an Indigenous nation on whose reserve, Nisga'a Land or treaty settlement land a
        proposed store will be located, the zoning approval and a business permit or licence from the
        Indigenous nation to sell cannabis.
      </li>
    </ul>
    <hr>
    <h3 class="blue-header">BEFORE STARTING THE APPLICATION</h3>
    <section class="padded-section">
      <p>Before starting the application, ensure that:</p>
      <section *ngIf="['PrivateCorporation', 'PublicCorporation'].indexOf(account?.businessType) !== -1"
        class="padded-section">
        <ul>
          <li>The corporation has a registered business number issued by the Canada Revenue Agency</li>
          <li>The corporation is not a federally licensed producer of cannabis</li>
          <li>The person filling out and submitting the application is at least 19 years old</li>
        </ul>
      </section>

      <section *ngIf="account?.businessType === 'SoleProprietor'" class="padded-section">
        <ul>
          <li>The sole-proprietorship has a registered business number issued by the Canada Revenue Agency</li>
          <li>The sole-proprietorship is not a federally licensed producer of cannabis</li>
          <li>The person filling out and submitting the application is at least 19 years old</li>
        </ul>
      </section>

      <section *ngIf="account?.businessType === 'Society'" class="padded-section">
        <ul>
          <li>The society has a registered business number issued by the Canada Revenue Agency</li>
          <li>The society is not a federally licensed producer of cannabis</li>
          <li>The person filling out and submitting the application is at least 19 years old</li>
        </ul>
      </section>

      <section
        *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(account?.businessType) !== -1"
        class="padded-section">
        <ul>
          <li>The partnership has a registered business number issued by the Canada Revenue Agency</li>
          <li>The partnership is not a federally licensed producer of cannabis</li>
          <li>The person filling out and submitting the application is at least 19 years old</li>
        </ul>
      </section>

      <p>
        The Province is not placing a cap on the number of non-medical cannabis stores that can operate in B.C.
        However, a licensee can only hold
        or have an interest in a maximum of eight cannabis retail store licences. For the purposes of the retail store
        licence cap, generally a franchisor
        cannot have more than 8 franchisees. This limit will be reviewed on January 1, 2021.
      </p>
    </section>
    <h3 class="blue-header">PROPERTY DETAILS</h3>
    <section class="padded-section">
      <div [ngClass]="{'has-error': this.isFieldError('establishmentName')}" style="position: relative">
        <div [ngBusy]="busy"></div>
        <label for="">Establishment Name</label>
        <br>

        <p>
          A name cannot mislead the public about what kind of business it operates. The name cannot imply a
          licensee is selling medical cannabis, and cannot include words in any form or combination or manner the
          words "apothecary", "pharmacy", "medicines", "drugs", "drug store", "drug department", "dispensary"
          or any other words of similar meaning that imply licensing under the Pharmacy Operations and Drug
          Scheduling Act. Store names cannot also use language that encourages intoxication.
        </p>

        <p>
          Additionally, a name cannot imply an association with another business. This applies to signs,
          trademarks and any type of branding.
        </p>

        <p>Establishment names will be reviewed for approval during the application process. For more information,
          please see the <a routerLink="/policy-document/store-name">Non-Medical Cannabis Retail Store Name Approval
            Process</a>.</p>

        <app-field label="Name of the Proposed Establishment" [required]="true"
          [valid]="form.get('establishmentName').valid || !form.get('establishmentName').touched"
          errorMessage="Please enter the name of the proposed establishment">
          <input class="form-control" style="width: 500px;" type="text" formControlName="establishmentName">
        </app-field>

      </div>
      <div>&nbsp;
        <address class="row">
          <app-field class="col-md-12 col-xs-12" label="Address" [required]="true" [isFullWidth]="true"
            [valid]="form.get('establishmentaddressstreet').valid || !form.get('establishmentaddressstreet').touched"
            errorMessage="Please enter the street address">
            <input class="form-control" type="text" autocomplete="address-line1"
              formControlName="establishmentaddressstreet">
          </app-field>
          <app-field class="col-md-4 col-xs-12" label="City" [required]="true" [isFullWidth]="true"
            [valid]="form.get('establishmentaddresscity').valid || !form.get('establishmentaddresscity').touched"
            errorMessage="Please enter the city">
            <input class="form-control" type="text" autocomplete="address-level2"
              formControlName="establishmentaddresscity">
          </app-field>
          <section class="col-md-4 col-xs-12">
            <app-field label="Province" [isFullWidth]="true" [isFullWidth]="true">
              <input class="form-control" autocomplete="address-level1" readonly type="text" value="British Columbia">
            </app-field>
          </section>
          <section class="col-md-4 col-xs-12">
            <app-field label="Postal Code" [required]="true" [isFullWidth]="true"
              [valid]="form.get('establishmentaddresspostalcode').valid || !form.get('establishmentaddresspostalcode').touched"
              errorMessage="Please enter the postal code">
              <input class="form-control" type="text" autocomplete="postal-code"
                formControlName="establishmentaddresspostalcode">
            </app-field>
          </section>
          <app-field class="col-md-4 col-xs-12" label="Country" [isFullWidth]="true">
            <input class="form-control" autocomplete="country-name" readonly type="text" value="Canada">
          </app-field>
        </address>

        <div class="light-blue-bg" style="display: flex;">
          <div style="flex: 0 0 210px;">
            <app-field label="Parcel Identifier (PID)"
              [valid]="!form.get('establishmentparcelid').touched || form.get('establishmentparcelid').valid"
              errorMessage="Please enter the Parcel Identifier (format: 9 digits)" [required]="true">
              <input type="text" class="form-control" style="width: 200px;" maxlength=9
                formControlName="establishmentparcelid">
            </app-field>
          </div>
          <div style="flex: 1; font-size: 11px;">
            <span>

              <span><i class="fas fa-exclamation-circle" style="margin-right: 10px;"></i>The property’s PID may be found
                on</span> <br>
              <ul style="display: inline-block">
                <li>The title to the property</li>
                <li>Through the B.C. Land Title and Survey Authority</li>
                <li>The tax assessment notice from BC Assessment</li>
              </ul>
            </span>

            <ul style="display: inline-block">
              <li>BC Assessment’s e-valueBC website </li>
              <li>The municipal tax notice</li>
              <li>The property lease</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <p>&nbsp;</p>


    <h3 class="blue-header">HOURS OF SALE</h3>
    <div class="padded-section">
      <p>Indicate the store's proposed hours for cannabis sales below. Proposed hours must fall between 9 a.m. and 11
        p.m. Cannabis stores must not be open outside of their licensed hours. However, they may choose to be closed at
        times they are licensed to be open.
      </p>
      <table class="store-hours">
        <tr>
          <th class="lead"></th>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
        <tr>
          <th>Open</th>
          <td>
            <select class="form-control" formControlName="serviceHoursSundayOpen">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursMondayOpen">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursTuesdayOpen">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursWednesdayOpen">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursThursdayOpen">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursFridayOpen">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursSaturdayOpen">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Close</th>
          <td>
            <select class="form-control" formControlName="serviceHoursSundayClose">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursMondayClose">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursTuesdayClose">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursWednesdayClose">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursThursdayClose">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursFridayClose">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" formControlName="serviceHoursSaturdayClose">
              <option value=""> -- </option>
              <option *ngFor="let item of ServiceHours" [value]="item">{{item}}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <h3 class="blue-header">APPLICATION CONTACT DETAILS</h3>
    <i>The contact the LCRB should communicate with regarding the application</i>
    <address class="padded-section">

      <app-field label="First Name" [required]="true"
        [valid]="form.get('contactpersonfirstname').valid || !form.get('contactpersonfirstname').touched"
        errorMessage="Please enter the business contact's first name">
        <input class="form-control" style="width: 350px;" type="text" autocomplete="given-name"
          formControlName="contactpersonfirstname">
      </app-field>

      <app-field label="Last Name" [required]="true"
        [valid]="form.get('contactpersonlastname').valid || !form.get('contactpersonlastname').touched"
        errorMessage="Please enter the business contact's last name">
        <input class="form-control" style="width: 350px;" type="text" autocomplete="family-name"
          formControlName="contactpersonlastname">
      </app-field>

      <app-field label="Title/ Position" [required]="false" [valid]="true">
        <input class="form-control" style="width: 350px;" type="text" formControlName="contactpersonrole">
      </app-field>

      <app-field label="Phone Number (main)" [required]="true"
        [valid]="form.get('contactpersonphone').valid || !form.get('contactpersonphone').touched"
        errorMessage="Please enter the business contact's 10-digit phone number">
        <input class="form-control" style="width: 250px;" maxlength="10" autocomplete="tel"
          (keydown)="rejectIfNotDigitOrBackSpace($event)" type="text" formControlName="contactpersonphone">
      </app-field>

      <app-field label="Email" [required]="true"
        [valid]="form.get('contactpersonemail').valid || !form.get('contactpersonemail').touched"
        errorMessage="Please enter the business contact's email address">
        <input class="form-control" style="width: 350px;" type="text" autocomplete="email"
          formControlName="contactpersonemail" (blur)="trimValue(form.get('contactpersonemail'))">
      </app-field>
    </address>

    <hr>
    <p>&nbsp;</p>

    <label for="">Associates Form</label>
    <br>
    <i>
      Please download
      <a *ngIf="account?.businessType === 'SoleProprietor'"
        href="https://www2.gov.bc.ca/assets/download/5A4BABAFCEF6481AB318949BA12CF842" download target="_blank">
        and complete
      </a>
      <a *ngIf="account?.businessType === 'Society'"
        href="https://www2.gov.bc.ca/assets/download/60B1982F06474FE0808759261CE9A1D2" download target="_blank">
        and complete
      </a>
      <a *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(account?.businessType) !== -1"
        href="https://www2.gov.bc.ca/assets/download/3039EF4EF87646D8916A48F2806DEB76" download target="_blank">
        and complete
      </a>
      <a *ngIf="['PrivateCorporation', 'PublicCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation'].indexOf(account?.businessType) !== -1"
        href="https://www2.gov.bc.ca/assets/download/B8A522CB3E8D4595A970F6331F4667A8" download target="_blank">
        and complete
      </a>
      &nbsp;the Associate Form..
    </i>
    <p>Upload the completed form below.</p>
    <section>
      <app-file-uploader *ngIf="applicationId" documentType="Licence Application Main"
        fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="application"
        [entityId]="applicationId" [uploadHeader]="'TO UPLOAD ASSOCIATE FORM, DRAG FILE HERE OR'" #mainForm>
      </app-file-uploader>
    </section>
    <br>
    <hr>
    <br>

    <label for="">Financial Integrity Form</label>
    <br>
    <i>Please download <a href="https://www2.gov.bc.ca/assets/download/E840994D9D304AFE8D56A50666281B9D" download
        target="_blank">and complete</a> the financial integrity form.</i>
    <p>Upload the completed form below.</p>
    <section>
      <app-file-uploader *ngIf="applicationId" documentType="Licence Application Financial Integrity"
        fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="application"
        [entityId]="applicationId" [uploadHeader]="'TO UPLOAD FINANCIAL INTEGRITY FORM, DRAG FILE HERE OR'"
        #financialIntegrityDocuments></app-file-uploader>
    </section>
    <br>
    <hr>

    <label for="">Supporting Documents</label>
    <br>
    <p>Please download the Document Checklist and assemble all required documents.</p>
    <section>
      <app-file-uploader *ngIf="applicationId" documentType="Licence Application Supporting"
        fileTypes="FILES MUST BE IN PDF, JPEG, OR PNG FORMAT." entityName="application" [entityId]="applicationId"
        [extensions]="['pdf', 'jpg', 'jpeg', 'png']" #supportingDocuments></app-file-uploader>
    </section>
    <br>
    <hr>
    <p>Proceed to pay online using a credit card through the secure web portal.</p>
    <i>
      <p>
        <b>Please note:</b> Applications which are submitted without all required information or documents will not be
        processed.
        Applicants will be contacted and provided the opportunity to submit missing information. Once applicants
        provide
        all
        required documents to the LCRB, the application will be submitted for processing.</p>
    </i>
    <br>

    <h3 class="blue-header">DECLARATIONS</h3>
    <div class="padded-section">
      <p>This application should be submitted by an individual with the authority to bind the applicant. The branch
        relies on the applicant to ensure that the individual who submits this application is authorized to do so.
        <span *ngIf="account?.businessType === 'SoleProprietor'">
          Typically, an appropriate individual for a sole proprietorship will be
          the sole proprietor.
        </span>
        <span *ngIf="account?.businessType === 'Society'"
          href="https://www2.gov.bc.ca/assets/download/60B1982F06474FE0808759261CE9A1D2" download target="_blank">
          Typically, an appropriate individual for a society will be a director or a
          senior manager (as defi ned in the Societies Act).
        </span>
        <span *ngIf="account?.businessType === 'Partnership'">
          Typically, an appropriate individual will be as follows:
          <ul>
            <li>If the applicant is a general partnership, one of the partners</li>
            <li>If the applicant is a limited partnership, the general partner of the partnership</li>
          </ul>
        </span>
        <span *ngIf="['PrivateCorporation', 'PublicCorporation'].indexOf(account?.businessType) !== -1">
          Typically, an appropriate individual in a corporation will be a duly authorized signatory who will usually be
          an
          officer or, in some cases, a director.
        </span>

      </p>
      <p>Note: An agent, lawyer, licensee representative or third party operator may NOT submit this application on
        behalf of the applicant.</p>
      <app-field [valid]="!showValidationMessages || form.get('authorizedToSubmit').valid"
        errorMessage="Please affirm that you are authorized to submit the application." [showChevrons]="false">
        <section style="display: flex">
          <input type="checkbox" formControlName="authorizedToSubmit">
          <span class="error-states">*</span>
          <div style="padding-left: 10px;"> I understand and affirm that I am authorized to submit the application</div>
        </section>
      </app-field>
      <p>
        Section 22(2) of the Cannabis Control and Licensing Act states: “A person must not submit to the general manager
        an application, or
        information or a record included as part of the application, that contains false or misleading information, or
        fails to disclose a material fact”.
      </p>
      <app-field [valid]="!showValidationMessages || form.get('signatureAgreement').valid"
        errorMessage="Please affirm that all of the information provided for this application is true and complete."
        [showChevrons]="false">
        <section style="display: flex">
          <input type="checkbox" formControlName="signatureAgreement">
          <span class="error-states">*</span>
          <div style="padding-left: 10px;"> I understand and affirm that all of the information provided for this
            application is true and complete</div>
        </section>
      </app-field>
    </div>

    <section class="error" *ngIf="showValidationMessages">
      <p *ngFor="let message of validationMessages">
        <span class="app-cancel">
          <mat-icon aria-label="error icon" style="font-size: 15px;">error</mat-icon>
          {{message}}
        </span>
      </p>
    </section>

    <div class="light-blue-bg">
      <p>
        The Province does not know how many application for a cannabis retail store license will be received. Therefore,
        it is difficult to predict how long applications will take to process. To minimize delays in processing,
        applicants must make sure the application is complete before submitting it.
      </p>
      <br>
      <p>
        The ‘save for later’ feature allows applicants to re-access an application in progress. Please be advised that
        once an application is submitted you will be unable to upload additional documentation. For questions on the
        LCRB
        application process please contact: <a href="javascript: void(0);">Cannabis.Licensing@gov.bc.ca</a>.
      </p>
    </div>

    <section style="position: relative; margin-top: 20px;">
      <button class="btn btn-primary" style="margin-right:10px;" (click)="router.navigate(['/dashboard'])">
        <span>
          <i class="fa fa-save" style="color: #fff;"></i>
          SAVE FOR LATER
        </span>
      </button>
      <button class="btn btn-primary" (click)="submit_application()">SUBMIT &amp; PAY</button>
      <span style="float: right; color: #1a5a96; padding-top: 10px;">
        <span (click)="cancelApplication()">
          <i class="fas fa-trash-alt" style="color: #1a5a96;"></i>
          <a href="javascript: void(0)">
            Cancel Application
          </a>
        </span>
      </span>

      <div [ngBusy]="busy"></div>
    </section>
  </div>
</div>

<div [ngClass]="{'normal-mode': mode !== UPLOAD_FILES_MODE}">
  <div [formGroup]="form" style="padding-left: 45px; position: relative">
    <div [ngBusy]="busy"></div>
    <h1>Add More files to Cannabis Retail Store Licence Application</h1>
  </div>
  <div class="application-wrapper">
    <label for="">Establishment Name</label>:
    <span style="color: #1a5a96;">{{form.controls['establishmentName'].value}}</span>
    <br>

    <label for="">Associates Form</label>
    <br>
    <i>
      Please download
      <a *ngIf="account?.businessType === 'SoleProprietor'"
        href="https://www2.gov.bc.ca/assets/download/5A4BABAFCEF6481AB318949BA12CF842" download target="_blank">
        and complete
      </a>
      <a *ngIf="account?.businessType === 'Society'"
        href="https://www2.gov.bc.ca/assets/download/60B1982F06474FE0808759261CE9A1D2" download target="_blank">
        and complete
      </a>
      <a *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(account?.businessType) !== -1"
        href="https://www2.gov.bc.ca/assets/download/3039EF4EF87646D8916A48F2806DEB76" download target="_blank">
        and complete
      </a>
      <a *ngIf="['PrivateCorporation', 'PublicCorporation'].indexOf(account?.businessType) !== -1"
        href="https://www2.gov.bc.ca/assets/download/B8A522CB3E8D4595A970F6331F4667A8" download target="_blank">
        and complete
      </a>
      &nbsp;the Associate Form..
    </i>
    <p>Upload the completed form below.</p>
    <section>
      <app-file-uploader *ngIf="applicationId" documentType="Licence Application Main"
        fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="application"
        [entityId]="applicationId" [uploadHeader]="'TO UPLOAD ASSOCIATE FORM, DRAG FILE HERE OR'" #mainForm>
      </app-file-uploader>
    </section>
    <br>
    <hr>
    <br>

    <label for="">Financial Integrity Form</label>
    <br>
    <i>Please download <a href="https://www2.gov.bc.ca/assets/download/E840994D9D304AFE8D56A50666281B9D" download
        target="_blank">and complete</a> the financial integrity form.</i>
    <p>Upload the completed form below.</p>
    <section>
      <app-file-uploader *ngIf="applicationId" documentType="Licence Application Financial Integrity"
        fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="application"
        [entityId]="applicationId" [uploadHeader]="'TO UPLOAD FINANCIAL INTEGRITY FORM, DRAG FILE HERE OR'"
        #financialIntegrityDocuments></app-file-uploader>
    </section>
    <br>
    <hr>

    <label for="">Supporting Documents</label>
    <br>
    <p>Please download the Document Checklist and assemble all required documents.</p>
    <section>
      <app-file-uploader *ngIf="applicationId" documentType="Licence Application Supporting"
        fileTypes="FILES MUST BE IN PDF, JPEG, OR PNG FORMAT." entityName="application" [entityId]="applicationId"
        [extensions]="['pdf', 'jpg', 'jpeg', 'png']" #supportingDocuments></app-file-uploader>
    </section>
    <br>
    <hr>
  </div>
</div>