::ng-deep * {

    .app-cancel,
    .app-save {
        display: inline-flex;
        justify-content: center;
        cursor: pointer;
    }

    .error {
        background-color: #F2DEDE;
        border-radius: 5px;
        border: 2px solid #EBCCD1;
        color: #A12622;
        padding-top: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }

    ul.square {
        list-style-type: none;

        li::before {
            color: #1E4176;
            content: "\25AA";
            display: inline-block;
            font-size: 34px;
            line-height: 0;
            vertical-align: middle;
            width: 0.5em;
            margin-left: -16px;
        }

        li {
            margin: 10px 0;
            margin-left: -26px;
        }
    }

    .application-wrapper {
        max-width: 1000px;
        padding-left: 45px;
    }

    @media (max-width: 575.98px) {
        .application-wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .hide {
        display: none;
    }

    .normal-mode {
        display: none;
    }

    .store-hours {
        width: 100%;
        border-collapse: separate;
        border-spacing: 2px;

        th {
            text-align: center;
        }

        td,
        th {
            padding: 5px;
            background-color: #E1E8F2;
        }

        th.lead {
            background-color: transparent;
        }
    }

    .light-blue-bg {
        background-color: #E1E8F2;
        padding: 5px;
    }
}