
/*
.error-msg > div:before {
  font-family: FontAwesome;
  content: "\f06a";
  margin-right: 5px;
}*/

.error-msg > div {
  font-size: 85%;
}

.has-error {
  color: #a94442;
}

.has-error .form-control {
  border-color: #a94442;
}

.red-snackbar {
  background: #F44336;
}

.green-snackbar {
  background: #00ff21;
}


.mat-column-edit,
.mat-column-delete{
  flex: 0 0 100px;
}