<div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="[busy]"></div>
  <form [formGroup]="form" class="col-lg-7 col-sm-12">
    <div class="padded-section">
      <h1>Temporary Use Area Event</h1>
    </div>

    <div class="padded-section">
      <p>Please provide the details requested below regarding your event.</p>
    </div>

    <div class="padded-section">
      <h2>Status: <b>{{status}}</b></h2>
      <h3 *ngIf="licenceEvent != null && licenceEvent.eventNumber != null">
        Number: <b>{{licenceEvent.eventNumber}}</b>
      </h3>
    </div>

    <h3 class="blue-header">EVENT INFORMATION</h3>
    <section class="content-bottom clearfix">
      <div class="row">
        <app-field class="col-md-4 col-xs-12" label="Event Name" [required]="true"
                   [valid]="isValidOrNotTouched('eventName')" errorMessage="Please enter the event name" [isFullWidth]="true">
          <input class="form-control" type="text" formControlName="eventName">
        </app-field>
      </div>
    </section>

    <h3 class="blue-header">CONTACT INFORMATION</h3>
    <section class="content-bottom clearfix">
      <div class="row">
        <app-field class="col-md-4 col-xs-12" label="Name" [required]="true" [isFullWidth]="true"
                   [valid]="isValidOrNotTouched('contactName')" errorMessage="Please enter the contact name">
          <input class="form-control" type="text" formControlName="contactName">
        </app-field>
        <fa-icon [icon]="faQuestionCircle" class="question-mark"
                 matTooltip="The name of the contact person for the event."></fa-icon>
        <app-field class="col-md-4 col-xs-12" label="Phone" [required]="true" [isFullWidth]="true"
                   [valid]="isValidOrNotTouched('contactPhone')" errorMessage="Please enter the contact phone number">
          <input class="form-control" type="text" formControlName="contactPhone" mask="(000) 000-0000">
        </app-field>
      </div>
    </section>

    <h3 class="blue-header">TUA LOCATION(S)</h3>
    <section class="content-bottom clearfix">
      <p>Specify one or more locations where your event will take place.</p>
      <app-event-location-table formControlName="eventLocations" [enabled]="!isReadOnly"
                                [serviceAreas]="licence?.serviceAreas" [eventId]="licenceEvent?.id" [shouldValidate]="showErrorSection">
      </app-event-location-table>
    </section>

    <h3 class="blue-header">TIME AND DATE OF EVENT</h3>
    <section class="content-bottom clearfix">
      <p>The number of available event day(s) is up to <strong>26</strong> for each calendar year.</p>
      <p>Note that if you submit a multi-day event, the locations and event details must be the same, otherwise you need
        to submit separate events.</p>
      <div class="row">
        <app-field class="col-md-2 col-xs-6" label="Start Date" [required]="true"
                   [valid]="isValidOrNotTouched('startDate')" [isFullWidth]="true">
          <input type="text" formControlName='startDate' placeholder="yyyy-mm-dd" class="form-control"
                 [min]="startDateMinimum" [matDatepicker]="startPicker" (focus)="startPicker.open()"
                 (click)="startPicker.open()" (dateChange)="startDateChanged()">
          <mat-datepicker #startPicker></mat-datepicker>
        </app-field>
        <app-field class="col-md-2 col-xs-6" label="End Date" [required]="true" [valid]="isValidOrNotTouched('endDate')"
                   [isFullWidth]="true">
          <input type="text" formControlName='endDate' placeholder="yyyy-mm-dd" class="form-control"
                 [min]="endDateMinimum" [matDatepicker]="endPicker" (focus)="endPicker.open()" (click)="endPicker.open()"
                 (dateChange)="endDateChanged()">
          <mat-datepicker #endPicker></mat-datepicker>
        </app-field>
      </div>
      <div *ngFor="let fg of timeForms.controls" class="row mx-0 mt-3 event-hours">
        <form [formGroup]="fg" class="col-md-12">
          <div class="row mt-3">
            <div class="col-md-2 offset-md-2"><label>Event Start</label></div>
            <div class="col-md-2"><label>Event End</label></div>
          </div>
          <div class="row">
            <div class="col-md-2 time-picker-title">
              <h4>{{fg.get('dateTitle').value === null ? 'Default Times' : fg.get('dateTitle').value}}</h4>
            </div>
            <div class="col-md-2">
              <ngb-timepicker [meridian]="true" formControlName="startTime"></ngb-timepicker>
            </div>
            <div class="col-md-2">
              <ngb-timepicker [meridian]="true" formControlName="endTime"></ngb-timepicker>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <app-field class="col-xs-12">
          <mat-checkbox [checked]="scheduleIsInconsistent" (change)="toggleScheduleConsistency()"
                        [disabled]="form.get('startDate').invalid || form.get('endDate').invalid || isReadOnly">
            The event times are different on specific dates.</mat-checkbox>
        </app-field>
      </div>
    </section>

    <h3 class="blue-header">EVENT DETAILS</h3>
    <section class="content-bottom clearfix">
      <div class="row">
        <app-field class="col-md-4 col-xs-12" label="Event Total Attendance" [required]="true"
                   [valid]="isValidOrNotTouched('maxAttendance')"
                   errorMessage="Please enter the maximum attendance (must be a number)" [isFullWidth]="true">
          <input class="form-control" type="number" formControlName="maxAttendance">
        </app-field>
        <!--<app-field class="col-md-4 col-xs-12" label="Minors Attending" [enabled]="false" [disabled]="true" [required]="true"
                   [valid]="isValidOrNotTouched('minorsAttending')" errorMessage="Please indicate if minors are attending"
                   [isFullWidth]="true">
          <select class="form-control" formControlName="minorsAttending">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </app-field>-->
        <app-field class="col-md-4 col-xs-12" label="Event Type" [required]="true"
                   [valid]="isValidOrNotTouched('tuaEventType')" errorMessage="Please indicate the type of event"
                   [isFullWidth]="true">
          <select class="form-control" formControlName="tuaEventType">
            <option *ngFor="let item of tuaEventType" [ngValue]="item.value">{{item.label}}</option>
          </select>
        </app-field>
        <fa-icon [icon]="faQuestionCircle" style="color: #38598a; margin-left: 5px; margin-top:30px;"
                 matTooltip="Select the type of event."></fa-icon>
      </div>

      <div class="row">
        <app-field class="col-md-8 col-xs-12"
                   label="Will your permanent licensed establishment also be closed to the public during the event hours?"
                   [required]="true" [valid]="isValidOrNotTouched('tuaEventType')"
                   errorMessage="Please indicate if licensed establishment will be closed" [isFullWidth]="false">
          <select class="form-control" formControlName="isClosedToPublic">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </app-field>
      </div>
      <div class="row">
        <app-field class="col-md-8 col-xs-12" label="Description" [required]="true"
                   [valid]="isValidOrNotTouched('eventTypeDescription')" errorMessage="Please enter a description of the event"
                   [isFullWidth]="true">
          <textarea class="form-control" formControlName="eventTypeDescription"></textarea>
        </app-field>
        <fa-icon [icon]="faQuestionCircle" class="question-mark" matTooltip="Briefly describe the event."></fa-icon>
      </div>
      <div>
        <p>Select all the items that will be part of your event:</p>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <mat-checkbox class="d-block" formControlName="isWedding">Wedding</mat-checkbox>
            <mat-checkbox class="d-block" formControlName="isNetworkingParty">Networking Party</mat-checkbox>
            <mat-checkbox class="d-block" formControlName="isConcert">Concert</mat-checkbox>
            <mat-checkbox class="d-block" formControlName="isNoneOfTheAbove">None of the Above</mat-checkbox>
          </div>
          <div class="col-md-4 col-xs-12">
            <mat-checkbox class="d-block" formControlName="isBanquet">Banquet</mat-checkbox>
            <mat-checkbox class="d-block" formControlName="isAmplifiedSound">Amplified Sound</mat-checkbox>
            <mat-checkbox class="d-block" formControlName="isDancing">Dancing</mat-checkbox>
          </div>
          <div class="col-md-4 col-xs-12">
            <mat-checkbox class="d-block" formControlName="isReception">Reception</mat-checkbox>
            <mat-checkbox class="d-block" formControlName="isLiveEntertainment">Live Entertainment</mat-checkbox>
            <mat-checkbox class="d-block" formControlName="isGambling">Gambling</mat-checkbox>
          </div>
        </div>
      </div>
    </section>

    <h3 class="blue-header">NOTIFICATIONS</h3>
    <section class="content-bottom">
      <p>We will send the event notification to the contact entered here.</p>
      <div class="row">
        <app-field class="col-md-4 col-xs-12" label="Please provide your email address" [required]="true"
                   [isFullWidth]="true" [valid]="isValidOrNotTouched('contactEmail')">
          <input class="form-control" type="text" formControlName="contactEmail">
        </app-field>
      </div>
      <div class="row">
        <app-field class="col-md-4 col-xs-12" label="Retype your email address" [required]="true" [isFullWidth]="true"
                   [valid]="isValidOrNotTouched('contactEmailConfirmation')">
          <input class="form-control" type="text" formControlName="contactEmailConfirmation">
        </app-field>
      </div>
    </section>

    <h3 class="blue-header">AGREEMENT</h3>
    <section class="content-bottom">
      <div>
        <mat-checkbox class="text-wrap" formControlName="isAgreement1">I understand that my event request for
          endorsement
          authorisation is subject to review by LCRB and that in situations of nonconforming compliance issues between
          the details of this submissions or authorisation and those of the terms and conditions of my licence, the
          limitations of my licence will prevail.</mat-checkbox>
      </div>
      <div class="mt-3">
        <mat-checkbox class="text-wrap" formControlName="isAgreement2">I have reviewed all the information above for
          accuracy and understand any additional steps and deadlines required to finalise this authorisation request. I
          agree to comply with all terms and conditions on my licence, as well as the laws of the Liquor Control and
          Licensing Act and its Regulations. I understand that failure to do so will lead to enforcement action taken
          against my licence.
        </mat-checkbox>
      </div>
    </section>

    <section class="p-3 attention-section">
      <p>The information requested on this form is collected by the Liquor and Cannabis Regulation Branch under Section
        26 (a) and (c) of the Freedom of Information and Protection of Privacy Act and will be used for the purpose of
        liquor licensing and compliance and enforcement matters in accordance with the Liquor Control and Licensing Act.
        Should you have any questions about the collection, use, or disclosure of personal information, please contact
        the Freedom of Information Officer at PO Box 9292 STN PROV GVT, Victoria, BC, V8W 9J8 or by phone toll free at
        1-866-209-2111.</p>
    </section>

    <section class="error mt-3" *ngIf="showErrorSection">
      <p *ngFor="let message of validationMessages">
        <span class="app-cancel">
          <mat-icon aria-label="error icon" style="font-size: 15px;">error</mat-icon>
          {{message}}
        </span>
      </p>
    </section>

    <div class="py-4 button-row" *ngIf="isReadOnly">
      <button class="btn btn-link btn-cancel" routerLink="/licences">RETURN TO DASHBOARD</button>
    </div>

    <div class="py-4 button-row" *ngIf="!isReadOnly">
      <button class="btn btn-secondary" (click)="save(false);" *ngIf="!isReadOnly">
        <span>
          <fa-icon [icon]="faSave"></fa-icon>SAVE FOR LATER
        </span>
      </button>
      <button class="btn btn-primary" (click)="save(true)" *ngIf="!isReadOnly">SUBMIT</button>
      <button class="btn btn-link btn-cancel" (click)="cancel();">
        <span>
          <fa-icon [icon]="faTrash"></fa-icon>CANCEL EVENT
        </span>
      </button>
    </div>
  </form>
</div>
