.form-control {
  margin-bottom: 10px;
}

.label {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: -8px;
}

.error-msg > div {
  font-size: 85%;
}

.has-error {
  color: #a94442;
}

.has-error .form-control {
  border-color: #a94442;
}

.red-snackbar {
  background: #F44336;
}

.green-snackbar {
  background: #00ff21;
}

.gray-background {
  background: #F5F5F5;
  padding-bottom: 10px;
  padding-top: 10px;
  width: auto;
}
