.env
.DS_Store


/cllc-interfaces-test/SharePoint/Properties/launchSettings.json
cllc-public-app/ClientApp/e2e-reports
/functional-tests/bin
/functional-tests/obj
/.vs
/package-lock.json
.vscode/launch.json
.vscode/tasks.json
one-stop-service/.vs/one-stop-service/v15/
one-stop-service/bin/
one-stop-service/obj/
pdf-service/.vscode/*
one-stop-service/.vs/one-stop-service/
cllc-public-app/.vscode/*
cllc-public-app/ClientApp/junit.xml
cllc-public-app/ClientApp/unit-tests.html
cllc-public-app/ClientApp/TESTS-HeadlessChrome_75.0.3770_(Windows_10.0.0).xml
/geocoder-service/.vs/geocoder-service
cllc-public-app/go-cllc.sh
node_modules/
/cllc-interfaces/Dynamics-Autorest/package-lock.json


/openshift/nginx-runtime_BuildConfig.json
/openshift/cllc-public.build_BuildConfig.json
/openshift/cllc-public-frontend-build_BuildConfig.json
/openshift/cllc-public-api.build_BuildConfig.json
/openshift/cllc-public-angular-build_BuildConfig.json
/openshift/angular-build_BuildConfig.json
/openshift/cllc-public-frontend-deploy_DeploymentConfig.json
/openshift/cllc-public-deploy_DeploymentConfig.json
/openshift/cllc-public-api-deploy_DeploymentConfig.json
/openshift/carla-spice-sync-service-deploy_DeploymentConfig.json
/file-service/obj
/openshift/file-manager-service-deploy_DeploymentConfig.json
/openshift/geocoder-deploy_DeploymentConfig.json
/watchdog/Watchdog/bin/Debug/netcoreapp3.1
/watchdog/Watchdog/obj
/watchdog/healthchecksdb
/orgbook-service/.vs/orgbook-service
/cllc-interfaces/Dynamics-Autorest/code-model-v1
cllc-public-app/ClientApp/.vscode/
/cllc-public-app/ClientApp/speed-measure-plugin-es2015.json
/cllc-public-app/ClientApp/chrome-profiler-events.json
/cllc-public-app/ClientApp/speed-measure-plugin.json
**/MSBuild_Logs/
