<section class="navigationRibbon">
  <div class="level2Navigation ">
    <div class="d-flex justify-content-between align-items-center">
      <nav class="navbar navbar-expand-md navbar-light justify-content-end mb-0 w-100">
        <button class="navbar-toggler btn-mobile" type="button" data-toggle="collapse" style="float: right"
          data-target="#loggedInMenu" aria-controls="loggedInMenu" aria-expanded="false" aria-label="Toggle navigation"
          #toggleButtonLoggedIn (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="loggedInMenu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a *ngIf="currentUser?.userType == 'Business'" (click)="toggleButtonLoggedIn.click()" class="nav-link"
                routerLink="/dashboard">
                Dashboard
              </a>
              <a *ngIf="currentUser?.userType == 'Business'" (click)="toggleButtonLoggedIn.click()" class="nav-link"
                routerLink="/licences">
                Licences &amp; Authorizations
              </a>
              <a appRemoveIfFeatureOff="SecurityScreening" *ngIf="currentUser?.userType == 'Business'"
                (click)="toggleButtonLoggedIn.click()" class="nav-link" routerLink="/security-screening">
                Security Screening
              </a>
              <a appRemoveIfFeatureOn="DisableWorkerQualification" *ngIf="currentUser?.userType == 'VerifiedIndividual'"
                (click)="toggleButtonLoggedIn.click()" class="nav-link" routerLink="/worker-qualification/dashboard">
                Dashboard
              </a>
              <a appRemoveIfFeatureOff="LGApprovals"
                *ngIf="(account?.businessType === 'LocalGovernment' && account?.localGovernmentId) || (account?.businessType === 'IndigenousNation')"
                (click)="toggleButtonLoggedIn.click()" class="nav-link" routerLink="/lg-approvals">
                Applications for Review
              </a>
              <a appRemoveIfFeatureOff="Notices" *ngIf="currentUser?.userType == 'Business'"
                (click)="toggleButtonLoggedIn.click()" matBadgeSize="medium" matBadge="!" matBadgePosition="after"
                matBadgeColor="warn" [matBadgeHidden]="!showNoticesBadge" class="nav-link with-badge"
                routerLink="/notices">
                Notices
              </a>
              <a appRemoveIfFeatureOff="Sep" (click)="toggleButtonLoggedIn.click()" class="nav-link"
                routerLink="/sep/dashboard">
                Special Event Permits
              </a>
              <!--a appRemoveIfFeatureOff="Sep" (click)="toggleButtonLoggedIn.click()" class="nav-link"
                routerLink="/policy-document/completing-an-application">
                Special Events Permits Help Centre
              </a-->
            </li>
          </ul>
        </div>
      </nav>
      <span *ngIf="showMessageCenterBadge" (click)="messageCenterClick.emit()" style="cursor: pointer; padding: 10px;">
        <button color="primary"
          style="background-color: transparent; border: none; color: #FFF; margin-right: 10px; margin-top: 20px; padding: 0;"
          matBadgeSize="medium" matBadge="!" matBadgePosition="after" matBadgeColor="warn">
          <fa-icon [icon]="faBell" class="fa-lg"></fa-icon>&nbsp;&nbsp;&nbsp;
        </button>
      </span>
    </div>
  </div>
</section>
