.form-wrapper {
    max-width: 1000px;
}
.infoCell {
background-color: #e0e0e0;
border: solid #ccc 1px;
padding: 5px;
margin-left: 25px;
margin-right: 25px;
font-style: italic;
}
h4{
    font-weight: 900;
}

.licenceTable{
border-right: solid black 1px;
padding: 5px;
margin: 5px;
font-weight: 900;
width: 300px;
}
