.border-around {
  border: 1px solid #D7D7D7;
  margin-top: -10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 10px;
}
.question-label {
  font-weight: 700;
  padding-right: 32px;
  font-size: 16px;
}

.radio-group {
  .mat-radio-button {
    display: block;
  }
}

.fa-trash-alt {
    color: #1a5a96;
  }

.field-label {
    display: block;
}

.bold {
  font-weight: bold;
}

.app-field {
  margin-bottom:0px;
}

.signature {
  padding: 20px 15px 20px 0;
  .app-field {
      display: flex;
      align-items: end;
      justify-content: stretch;
      label {
          min-width: 65px;
      }
      input {
          flex-grow: 1;
      }
  }
  label {
      font-weight: normal;
      margin-right: 15px;
  }
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.padded-section {
  padding-right: 15px;
}

::ng-deep .mat-radio-group .mat-radio-button {
  padding: 20px 20px 20px 0;
  &.mat-radio-checked {
      .mat-radio-outer-circle {
          border-color: #38598a;
      }
      .mat-radio-inner-circle {
          background-color: #38598a;
      }
  }
}

::ng-deep .ngb-tp-input-container input {
  padding: 0;
}

::ng-deep .certify .mat-checkbox-layout .mat-checkbox-label {
  font-weight: normal;
  white-space: normal;
  font-size: 12px;
  line-height: 14px;
  padding: 0 20px 0 10px;
}

