<div class="dashboard-spacing" style="position: relative">
  <mat-progress-bar class="mt-1" *ngIf="!dataLoaded" mode="indeterminate"></mat-progress-bar>

  <div *ngIf="dataLoaded">
    <div [formGroup]="form" style="padding-left: 45px; position: relative">
      <!-- Title -->
      <h1 class="ngtest-page-title">Tied House Exemption Application Invitation</h1>
    </div>

    <div [formGroup]="form" class="application-wrapper">
      <!-- Preamble -->
      <section class="ngtest-preamble-content">
        <p>This application invitation will create an invitation for a licensee to apply for a tied house exemption to the restrictions for your manufacturing licence.</p>
      </section>

      <!-- Before Starting -->
      <h3 class="blue-header">BEFORE STARTING THE APPLICATION</h3>
      <section class="padded-section content-bottom">
        <div class="ngtest-before-starting-content">

          <p>
            A licensed establishment which has an off-site tied house (TH) association with a small volume manufacturer, may apply
            for exemption to the TH restrictions, provided the manufacturer consents. A small volume manufacturer may have up to 3
            exemptions with off-site TH licensed establishment(s) where the manufacturer's liquor may be sold.
          </p>
          <p>
            To be eligible, the
            licensed manufacturer's annual production volume for the 12 months prior to submitting the exemption application must
            not exceed:
          </p>
          <ul>
            <li>100 000 litres of spirits,</li>
            <li>750 000 litres of wine,</li>
            <li>300 000 hectolitres of beer.</li>

          </ul>
          <p>
            If the
            manufacturer has not been in operation for 12 months, an estimate of the manufacturer's production volume for the 12
            months after submitting the exemption application may be accepted. Where a TH exemption(s) is being removed, terms and
            conditions will be added to the licences of the off-site establishment and associated manufacturer to prevent the sale
            of the manufacturer's liquor in the associated off-site establishment.
          </p>
          <p>For more information about, see your Terms and Conditions Handbook. </p>
        </div>
      </section>

      <h3 class="blue-header">LICENSED PRODUCTION TO BE EXEMPTED</h3>
      <section class="padded-section content-bottom">
        <app-field label="Licence" [required]="false">
          <input class="form-control" style="width: 500px;" type="text" [readonly]="true"
                 formControlName="licenseNumber">
        </app-field>

        <app-field label="Establishment Name" [required]="false">
          <input class="form-control" style="width: 500px;" type="text" [readonly]="true"
                 formControlName="establishmentName">
        </app-field>

        <div>
          <address class="row">

            <app-field class="col-md-12 col-xs-12" label="Address" [isFullWidth]="true">
              <input class="form-control" type="text" readonly formControlName="establishmentAddressStreet">
            </app-field>
            <app-field class="col-md-4 col-xs-12" label="City" [isFullWidth]="true">
              <input class="form-control" type="text" readonly formControlName="establishmentAddressCity">
            </app-field>
            <section class="col-md-4 col-xs-12">
              <app-field label="Province" [isFullWidth]="true">
                <input class="form-control" readonly type="text" value="British Columbia">
              </app-field>
            </section>
            <section class="col-md-4 col-xs-12">
              <app-field label="Postal Code">
                <input class="form-control" type="text" readonly formControlName="establishmentAddressPostalCode">
              </app-field>
            </section>
            <app-field class="col-md-4 col-xs-12" label="Country" [isFullWidth]="true">
              <input class="form-control" autocomplete="country-name" readonly type="text" value="Canada">
            </app-field>
          </address>
          <div class="light-blue-bg" style="display: flex;">
            <div style="flex: 0 0 210px;">
              <app-field label="Parcel Identifier (PID)">
                <input type="text" readonly class="form-control" (keydown)="rejectIfNotDigitOrBackSpace($event)"
                       style="width: 200px;" formControlName="establishmentParcelId">
              </app-field>
            </div>
          </div>
        </div>
      </section>
      <h3 class="blue-header">Manufacturer previous year production amount</h3>
      <section class="content-bottom">
        <div class="row">
          <label class="col-md-6 col-xs-12"><strong>Manufacturer production amount (less spillage) for the prevouis year:</strong></label>
          <div class="col-md-3 col-xs-12" style="align-content:start;">
            <input class="form-control" type="number" onkeypress="return event.charCode >= 48 && event.charCode<=57" min="1" formControlName="manufacturerProductionAmountforPrevYear" [readonly]="isAppId != 'true'">
          </div>
          <div class="col-md-3 col-xs-12" style="align-content:start;">
            <select class="form-control" style="height:35px;" formControlName="manufacturerProductionAmountUnit">
              <option value=845280000 style="height:35px;">Litres</option>
              <option value=845280001 style="height:35px;">Hectolitres</option>
            </select>
          </div>
        </div>
      </section>
      <!-- Contact Details -->
      <h3 class="blue-header">APPLICATION CONTACT DETAILS</h3>
      <div class="content-bottom">
        <address class="padded-section" formGroupName="licenseeContact">
          <app-field label="Name" [valid]="isValidOrNotTouched('licenseeContact.name')"
                     errorMessage="Please enter the contact's first name">
            <input class="form-control" style="width: 350px;" type="text" formControlName="name" id="name">
          </app-field>

          <app-field label="Phone Number (main)" [valid]="isValidOrNotTouched('licenseeContact.phone')"
                     errorMessage="Please enter the contact's 10-digit phone number">
            <input class="form-control" style="width: 250px;" maxlength="10" autocomplete="tel"
                   (keydown)="rejectIfNotDigitOrBackSpace($event)" type="text" formControlName="phone">
          </app-field>

          <app-field label="Email" [valid]="isValidOrNotTouched('licenseeContact.email')"
                     errorMessage="Please enter the contact's email address">
            <input class="form-control" style="width: 350px;" type="text" formControlName="email" id="email"
                   (blur)="trimValue(form.get('licenseeContact.email'))">
          </app-field>
        </address>
      </div>

      <h3 class="blue-header">IDENTIFY THE LICENCE TO RECEIVE THE EXEMPTION INVITATION</h3>
      <section class="padded-section">

        <app-field label="Search for the licence you wish to invite to apply for a tied house exemption:"
                   errorMessage="Please select a value" [required]="true" [valid]="isValidOrNotTouched('assignedLicence')">
          <app-related-licence-picker (valueSelected)="onLicenceSelect($event)" (autoCompFldFocusEvent)="autoCompFldEventHandler($event)"></app-related-licence-picker>
          <!--2004-04-10 LCSD-6368 waynezen; added new jobnumber search control -->
          <app-related-jobnumber-picker (valueSelected)="onLicenceSelect($event)" (autoCompFldFocusEvent)="autoCompFldEventHandler($event)"></app-related-jobnumber-picker>

          <p style="border:solid; color: darkorange; width: 500px;"><em>&nbsp;Search by job number will only provide results if the application in progress has reached the ‘approval-in-principle’ (AIP) stage. Note that the pending licence number associated to an AIP job does not mean a licence has been issued</em></p>

        </app-field>


        <table>
          <tr>
            <!--2004-04-22 LCSD-6368 waynezen; added ids so DOM content can be changed from Angular code -->
            <td><label id="lblapplicantname">Licence Name:</label></td>
            <td><span>{{form.get('assignedLicence.name')?.value}}</span></td>
          </tr>
          <tr>
            <td valign="top"><label>Establishment Address: </label></td>
            <td>
              <div>
                {{form.get('assignedLicence.streetaddress')?.value}} <br>
                {{form.get('assignedLicence.postalCode')?.value}} <br>
                {{form.get('assignedLicence.city')?.value}} <br>
                {{form.get('assignedLicence.country')?.value}} <br>
              </div>
            </td>
          </tr>
          <tr>
            <!--2004-04-22 LCSD-6368 waynezen; added ids so DOM content can be changed from Angular code -->
            <td><label id="lblassiglicensee">Assigned Licensee: </label></td>
            <td><span id="fldassiglicensee">{{form.get('assignedLicence.licensee')?.value}}</span></td>
          </tr>
        </table>

      </section>

      <h3 class="blue-header">CONSENT TO SEND INVITATION</h3>
      <section class="padded-section content-bottom">
        <app-field [required]="true" [valid]="isValidOrNotTouched('consent')"
                   errorMessage="Please consent to the transfer" [showChevrons]="false">
          <mat-checkbox formControlName="consent">
            I agree to invite the above licence holder to apply for a Tied House Exemption for the products produced by
            <strong>{{form.get('licenseNumber')?.value}} - {{form.get('establishmentName')?.value}}</strong>
          </mat-checkbox>
        </app-field>
      </section>

      <h3 class="blue-header ngtest-declarations">
        DECLARATIONS
      </h3>
      <div class="padded-section content-bottom">
        <section>
          <div>
            The application must only be submitted by an individual with the authority to bind the applicant. The
            branch
            relies on the applicant to ensure that the individual who submits this application is authorized to do
            so.
            Typically, an appropriate individual in a corporation will be a duly authorized signatory who will
            usually
            be
            an officer or, in some cases, a director.
          </div>
        </section>
        <p>
          Note: A lawyer or
          consultant,
          may NOT submit this application on behalf of
          the applicant.
        </p>

        <app-field [valid]="!showValidationMessages || form.get('authorizedToSubmit').valid"
                   errorMessage="Please affirm that you are authorized to submit the application." [showChevrons]="false">
          <mat-checkbox formControlName="authorizedToSubmit">
            <span class="error-states">*</span>
            <span class="ml-2">
              I understand and affirm that I am authorized to submit the invitation
            </span>
          </mat-checkbox>
        </app-field>
        <p *ngIf="licence?.licenseType === 'Cannabis Retail Store'|| licence?.licenseTyp === 'S119 CRS Authorization'">
          Section 22(2) of the Cannabis Control and Licensing Act states: “A person must not submit to the general
          manager
          an application, or
          information or a record included as part of the application, that contains false or misleading
          information, or
          fails to disclose a material fact”.
        </p>
        <p *ngIf="licence?.licenseType !== 'Cannabis Retail Store'&& licence?.licenseType !== 'S119 CRS Authorization'">
          Section 20(1) of the Liquor Control and Licensing Act states: “The general manager may refuse to issue, renew,
          transfer or amend a licence if the applicant fails to disclose a material fact required by the application or
          makes a false or misleading statement in the application.”
        </p>
        <app-field [valid]="!showValidationMessages || form.get('signatureAgreement').valid"
                   errorMessage="Please affirm that all of the information provided for this application is true and complete."
                   [showChevrons]="false">
          <mat-checkbox formControlName="signatureAgreement">
            <span class="error-states">*</span>
            <span class="ml-2">
              I understand and affirm that all of the information provided for this
              application is true and complete
            </span>
          </mat-checkbox>
        </app-field>
      </div>

      <p></p>
      <section class="error" *ngIf="showValidationMessages">
        <p *ngFor="let message of validationMessages">
          <span class="app-cancel">
            <mat-icon aria-label="error icon" style="font-size: 15px;">error</mat-icon>
            {{message}}
          </span>
        </p>
      </section>

      <section style="margin-top: 20px; position: relative;">
        <button class="btn btn-primary" (click)="createApplication()">
          <fa-icon [icon]="faSave" style="color: #fff;"></fa-icon>
          SEND INVITATION
        </button>
        <span style="color: #1a5a96; float: right; padding-top: 10px;">
          <a routerLink="/dashboard">
            <fa-icon [icon]="faTrashAlt" style="color: #1a5a96;"></fa-icon>
            CANCEL INVITATION
          </a>
        </span>
        <div [ngBusy]="busy"></div>
      </section>
    </div>
  </div>
</div>
