<div [ngClass]="{'extra-padding-left': !fullWidth }">
  <!-- <div [ngBusy]="busy"></div> -->
  <div class="row" *ngIf="statsData && dataLoaded">
    <table class="eq-table">
      <tr>
        <th>#</th>
        <th colspan=2>Name</th>
        <th style="width: 95px">City</th>                
      </tr>
      <tr *ngFor="let item of inProgressApplications; let i = index;" style="border: 1px solid #ccc; ">
        <td style="background-color: #E1E8F2; padding: 10px; width: 15px;"><span>{{i+1}}</span></td>
        <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">{{item.adoxio_name}}</td>
        <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">{{item.adoxio_establishmentaddresscity}}</td>
      </tr>
      </table>
</div>
  <section *ngIf="!dataLoaded" class="h1">
    Loading stats...
  </section>
</div>
