<div class="container">
<!-- <div [ngBusy]="busy"></div> -->
  <div *ngIf="dataLoaded">
    <div>
      <table class="eq-table">
        <tr>
          <th>#</th>
          <th>Region</th>
          <th>Applications Where Fee Has Been Paid</th>
          <th>Paid, But Incomplete Applications</th>
          <th>Applications Referred to Local Government or Indigenous Nation</th>
          <th>Applications Approved with Conditions</th>
          <th>Licences Issued</th>
        </tr>
        <tr *ngFor="let item of summaryKeys ; let i = index;" style="border: 1px solid #ccc; ">
          <td style="background-color: #E1E8F2; padding: 10px; width: 15px;"><span>{{i+1}}</span></td>
          <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">{{item}}</td>
          <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">{{summaryData[item].paid}}</td>
          <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">{{summaryData[item].incomplete}}</td>
          <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">{{summaryData[item].referred}}</td>
          <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">{{summaryData[item].approvedWithConditions}}</td>
          <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">{{summaryData[item].licencesIssued}}</td>
        </tr>
      </table>
    </div>
  </div>
<section *ngIf="!dataLoaded" class="h1">
  Loading stats...
</section>
</div>
