<div class="form-wrapper">
    <h1>Thank you for visiting the Special Event Permits Online website</h1>

    <div class="row">
        <section class="col-md-8">
            <p>
                In response to the latest extension of the PHO Order, the LCRB will not be issuing any new SEPs in
                accordance with the Order until further notice based on direction from the PHO. The LCRB will cancel and
                refund all upcoming SEP permits.
            </p>

            <p>
                Considering public health concerns regarding the spread of the COVID-19, the LCRB is exercising its
                discretion to cancel these permits as they could pose a threat to public safety under the authority of
                s. 50(1)(e) of the Liquor Control and Licensing Act. This will help protect the public and ensure the
                promotion of physical distancing as ordered by the Provincial Health Officer.
            </p>

            <p>
                If you have any questions, please call the LCRB’s Special Event Permit Support Team, at 1-855-999-7656.
                Please have your SEP number available.
            </p>

            <p>
                This page will continue to be updated as we receive further direction from B.C.’s Provincial Health
                Officer.
            </p>
        </section>
    </div>
</div>