<section class="form-wrapper" *ngIf="!isNewUser && dataLoaded">
  <h1>Welcome, {{currentUser?.name}}</h1>


  <div class="row">
    <section class="col-md-8">
      <h6 style="background-color: #41598b; padding: 5px;color: white; margin-top:0px; font-weight: 900; padding-left: 10px;">Review or Start a New Application</h6>
      <div class="d-flex justify-content-between border header-wrap mat-elevation-z0">
        <mat-card class="app-button">
          <h3 style="font-weight: 900;">My Applications</h3>
          <p>Check the status of your applications <br>or search for past applications</p>
          <button routerLink="/sep/my-applications" mat-raised-button color="secondary">GO TO MY APPLICATIONS</button>
        </mat-card>

        <div class="linewrapper">
          <div class="line"></div>
          <div class="wordwrapper">
            <div class="word">or</div>
          </div>
        </div>

        <mat-card class="app-button">
          <h3 style="font-weight: 900;">Start an Application</h3>
          <p>See the application checklist <br>and get started</p>
          <button mat-raised-button color="primary" (click)="startApplication()">START NEW APPLICATION</button>
        </mat-card>
      </div>
      <div class="multiple-event-date">
        <mat-icon>info</mat-icon>
        <p>
          You may submit one application with multiple event dates up to a maximum of 7 consecutive dates. For any events spanning longer than 7 days you will need to submit an additional application.
        </p>
      </div>
      

      <mat-card class="mat-elevation-z0">
        <h5>Most applications are approved instantly</h5>
        <p>An application will require review if:</p>
        <ul style="font-weight: 900;">
          <li>Over 500 guests are expected to attend</li>
          <li>You have more than 24 permits per year</li>
          <li>You host an event that ends after 10 p.m. for outdoor events and 2 a.m. for indoor events</li>
          <li>You are charging over the cost recovery price for liquor</li>
        </ul>

        <p>
          Local police review some applications based on an event's size and whether late hours are being
          requested. These review requirements are specific to each police jurisdiction. If your application
          requires police and/or LCRB approval we suggest submitting your application at least 30 days before
          the event start date.
        </p>
        <p>
          At a minimum, all applications requiring approval must be submitted within 14 days of the start
          date. Applications submitted with less time may not be approved due to late notice.
        </p>
      </mat-card>
    </section>
    <section class="col-md-4">
      <app-resources [currentUser]="currentUser"></app-resources>
    </section>
  </div>
</section>

<section class="form-wrapper" *ngIf="isNewUser && dataLoaded">
  <app-servicecard-user-confirmation [currentUser]="currentUser"></app-servicecard-user-confirmation>
</section>
