<mat-card class="mat-elevation-z0">
  <mat-card-title>
    <h1>Security &amp; Financial Assessments</h1>
  </mat-card-title>
  <mat-card-subtitle>

    <p *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation', 'Society', 
               'GeneralPartnership','LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1">
      The following people in your organization will need to provide their consent for a security assessment and financial check.
      An email will be sent to each person with a unique login link to provide their consent.
    </p>

    <p *ngIf="['SoleProprietor'].indexOf(businessType) !== -1">
      You will need to provide consent for a security screening and financial assessment. An email will be sent to you with a unique
      login link to provide consent.
    </p>

  </mat-card-subtitle>

  <div [ngBusy]="busy"></div>
  <div [ngBusy]="busyObsv"></div>

  <div>
    <mat-table #table [dataSource]="dataSource">

      <!-- Column -->
      <ng-container matColumnDef="sendConsentRequest">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.sendConsentRequest"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Roles </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="emailsent">
        <mat-header-cell *matHeaderCellDef> Email Sent </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.emailsent | date:'yyyy-MM-dd' }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10]" [showFirstLastButtons]="true">
    </mat-paginator>

  </div>

  <p></p>
  <a class="globalButton btn btn-primary" tabindex="1" (click)="sendConsentRequestEmail()">
    <strong>Send Consent Request</strong>
  </a>

</mat-card>