<div class="form-wrapper">
    <h1>Applicant Information</h1>

    <div class="row pl-3">
        <section [formGroup]="form" class="col-md-8">
            <p>
                Collect the information outlined on your application checklist to begin your application. The more
                information you have about your event, the easier it should be to complete your application. Stuck on a
                question? Don't worry, you can log out at any time and come back to your question when you're ready.
                Answers will automatically be saved on your application so you can continue where you left off next time
                you sign in.
            </p>

            <p>
                View Frequently Asked Questions (FAQS) located on the Help page for everything you need to know about
                SEPs.
            </p>

            <hr>
            <app-field label="Event Name" [valid]="!form.get('eventName').touched || form.get('eventName').valid"
                errorMessage="Name must have a descriptive name">
                <input type="text" formControlName="eventName" class="form-control ml-3" maxlength="100">
            </app-field>

            <hr>
            <app-field label="Applicant information">
                <div class="ml-3 p-3 applcant-info">
                    <h6>{{account?.name}}</h6>

                    {{account?.physicalAddressStreet}},  <br>
                    {{account?.physicalAddressCity}}, {{account?.physicalAddressProvince}}
                    <br>
                    {{account?.physicalAddressPostalCode}} <br>
                    <br>
                    {{account?.contactPhone}} <br>
                    {{account?.contactEmail}}
                </div>
            </app-field>
            <p>
                Please ensure your legal name is used for the application and the information is correct. If you need to
                update
                your information, visit Manage Account.
            </p>

            <hr>
            <app-field label="General Terms and Conditions"  [valid]="!form.get('agreeToTnC').touched || form.get('agreeToTnC').valid"
            errorMessage="Please read and acknowledge the terms and conditions to continue your application">
                <p>
                    Please read and acknowledge the Terms and Conditions to begin your application:
                </p>

                <div class="tnc mb-3">
                    <app-policy-document [fullWidth]="true" #policyDocs></app-policy-document>
                </div>


                <mat-checkbox color="primary" formControlName="agreeToTnC">
                    <span class="error-states">*</span>
                    <span class="ml-2 question-label">
                        I have read and agree to these terms and conditions.
                    </span>
                </mat-checkbox>
            </app-field>

            <section class="d-flex justify-content-between">
                <button mat-raised-button color="primary" (click)="next()">Next</button>
                <button mat-button color="primary" routerLink="/sep/my-applications">My Applications</button>
            </section>
        </section>
    </div>
</div>
