::ng-deep {
    .tnc {
        .contentPolicy {
            background-color: #f1f4fa;
            margin-left: 30px;
            padding-top: 0 !important;
        }
    }
}

.applcant-info{
    background-color: #f1f4fa;
}
