<div [formGroup]="form">
  <input type="text" class="form-control" style="width: 500px;" placeholder="Enter Job #" formControlName="autocompleteJobNumber" [matAutocomplete]="auto"
         #autocomplete (focus)="autoCompFldFocus()">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelect($event)" [displayWith]="autocompleteDisplay">
    <div class="row" style="border-bottom: solid thin">
      <div class="col-3">JobNumber</div>
      <div class="col-4">Licence</div>
    </div>

    <mat-option *ngFor="let item of autocompleteJobnumbers" [value]="item">
      <div class="row">
        <div class="col-3" style="border-right: solid thin">{{item.jobNumber}}</div>
        <div class="col-4">{{item.name}}</div>
      </div>
    </mat-option>
  </mat-autocomplete>
  <br>
  <mat-progress-bar *ngIf="jobnumberRequestInProgress" mode="indeterminate"></mat-progress-bar>
</div>
