<div *ngIf="policyDocumentSummaries && category">

    <!-- SITE SECONDARY NAVIGATION -->

    <!-- googleoff:all -->
    <a id="navigation-anchor"></a>
    <div class="contentPageLeftNavigation">
        <nav class="navbar navbar-left">
            <div class="" id="navbarSupportedContent">
                <ul class="leftNav nav navbar-nav">
                    <li class="open" *ngFor="let policyDocumentSummary of policyDocumentSummaries">
                        <div class="leftNav-item-wrapper">
                            <a href="javascript:void(0);" (click)="onSlugChange(policyDocumentSummary.slug)">{{ policyDocumentSummary.menuText }}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- END SITE SECONDARY NAVIGATION -->