/* Structure */
.example-container {
    position: relative;
    min-height: 200px;
}

.example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

table {
    border-spacing: 1px 3px;
    border-collapse: separate;
    width: 100%;

    td,
    th {
        background-color: #f1f4fa;
        color: #000;
        padding: 10px;
    }

    th {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    }

    th.mat-column-number {
        width: 15px;
    }

    td.mat-column-number {
        background-color: #e1e8f2 !important;
        padding: 10px;
        width: 15px;
    }
}

/* Column Widths */

.mat-column-applyingBusiness,
.mat-column-establishmentAddress,
.mat-column-application {
    max-width: 250px;
}

.mat-column-action {
    max-width: 300px;
}

mat-row, mat-header-row, mat-footer-row,
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom: 3px solid white;
  border-left: 2px solid white;
}
