<div [ngBusy]="busy"></div>
<div style="max-width: 800px;" [formGroup]="form">
  <!-- <h1 style="margin-top: 0;">Connections to Producers</h1> --> 
  <span>A "
    <strong>federal producer</strong>" is a {{licensedProducerText}} of cannabis
  </span>
  <br>
  <p></p>
  <div
    *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does the corporation have any association, connection or financial interest in a {{licensedProducerText}} of cannabis? </label>
      <br>
      <span>This includes, but is not limited to:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer.</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in a federal producer.</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust.</li>
        <li> A contractual business arrangement of any sort</li>
      </ul>
      <input type="radio" group="corpConnectionFederalProducer" [value]='1'
        formControlName="corpConnectionFederalProducer"> Yes
      <br>
      <input type="radio" group="corpConnectionFederalProducer" [value]='0'
        formControlName="corpConnectionFederalProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('corpConnectionFederalProducer').value == '1'">
      <span>Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares
        held).</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="corpConnectionFederalProducerDetails"
        rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does a {{licensedProducerText}} of cannabis have any association, connection or financial
        interest in the corporation?</label>
      <br>
      <span>This includes, but is not limited to:</span>
      <ul>
        <li>Directly holding voting shares in the corporation.</li>
        <li>Indirectly holding voting shares in the corporation. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in the corporation.</li>
        <li>Having a beneficial interest in the corporation. For example, through a trust.</li>
        <li>A contractual business arrangement of any sort.</li>
      </ul>
      <input type="radio" group="federalProducerConnectionToCorp" [value]='1'
        formControlName="federalProducerConnectionToCorp"> Yes
      <br>
      <input type="radio" group="federalProducerConnectionToCorp" [value]='0'
        formControlName="federalProducerConnectionToCorp"> No
    </section>
    <p></p>

    <section *ngIf="form.get('federalProducerConnectionToCorp').value == '1'">
      <span>Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares
        held).</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="federalProducerConnectionToCorpDetails"
        rows="5"></textarea>
    </section>
    <p></p>
  </div>
  <div *ngIf="['PublicCorporation'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does the corporation have any association, connection or financial interest in a {{licensedProducerText}} of cannabis? </label>
      <br>
      <span>This includes, but is not limited to:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer.</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in a federal producer.</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust.</li>
        <li> A contractual business arrangement of any sort</li>
      </ul>
      <input type="radio" group="corpConnectionFederalProducer" [value]='1'
        formControlName="corpConnectionFederalProducer"> Yes
      <br>
      <input type="radio" group="corpConnectionFederalProducer" [value]='0'
        formControlName="corpConnectionFederalProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('corpConnectionFederalProducer').value == '1'">
      <span>Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares
        held).</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="corpConnectionFederalProducerDetails"
        rows="5"></textarea>
    </section>
    <p></p>

    <section *ngIf="form.get('federalProducerConnectionToCorp').value == '1'">
      <span>Provide the name of the federal producer, the type of shares, percentage of ownership, and any other details
        about
        the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="federalProducerConnectionToCorpDetails"
        rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does any shareholder with 20% or more voting shares have any association, connection or financial
        interest in a {{licensedProducerText}} of
        cannabis?
      </label>
      <br>
      <span>This includes, but is not limited to:</span>
      <ul>
        <li>Directly holding voting shares in a federal producer.</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in a federal producer.</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust.</li>
        <li>A contractual business arrangement of any sort.</li>
      </ul>
      <input type="radio" group="share20PlusConnectionProducer" [value]='1'
        formControlName="share20PlusConnectionProducer"> Yes
      <br>
      <input type="radio" group="share20PlusConnectionProducer" [value]='0'
        formControlName="share20PlusConnectionProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('share20PlusConnectionProducer').value == '1'">
      <span>Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares held).</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="share20PlusConnectionProducerDetails"
        rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does any shareholder with 20% or more of voting shares have any immediate family members with any connection to a {{licensedProducerText}} of cannabis?
      </label>
      <br>
      <span>This includes, but is not limited to:</span>
      <ul>
          <li>Directly holding voting shares in a federal producer.</li>
          <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary or holding voting shares in a company that holds voting shares in a federal producer.</li>
          <li>Having a beneficial interest in a federal producer. For example, through a trust.</li>
          <li>A contractual business arrangement of any sort.</li>
        </ul>
        <i>Immediate family members include spouses, parents, siblings, children, sons-in-law and daughters-in-law</i><br>
      <br>
      <input type="radio" group="share20PlusFamilyConnectionProducer" [value]='1'
        formControlName="share20PlusFamilyConnectionProducer"> Yes
      <br>
      <input type="radio" group="share20PlusFamilyConnectionProducer" [value]='0'
        formControlName="share20PlusFamilyConnectionProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('share20PlusFamilyConnectionProducer').value == '1'">
      <span>Provide the relationship of the family member, the name of the federal producer, the type of shares,
        percentage of
        ownership, and any other details about the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="share20PlusFamilyConnectionProducerDetails"
        rows="5"></textarea>
    </section>
    <p></p>
  </div>
  <div *ngIf="['SoleProprietor'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does the sole proprietor have any association, connection or financial interest in a
        {{licensedProducerText}} of cannabis?</label>
      <br>
      <span>This includes, but is not limited to:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer.</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in a federal producer.</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust.</li>
        <li>A contractual business arrangement of any sort.</li>
      </ul>
      <input type="radio" group="corpConnectionFederalProducer" [value]='1'
        formControlName="corpConnectionFederalProducer"> Yes
      <br>
      <input type="radio" group="corpConnectionFederalProducer" [value]='0'
        formControlName="corpConnectionFederalProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('corpConnectionFederalProducer').value == '1'">
      <span> Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares
        held).</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="corpConnectionFederalProducerDetails"
        rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does the sole proprietor have an immediate family member that has any interest in a federal
        producer?</label>
      <br>
      <span>This includes, but is not limited to:</span>
      <ul>
        <li>Directly holding voting shares in a federal producer.</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in a federal producer.</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust.</li>
        <li>A contractual business arrangement of any sort.</li>
      </ul>
      <i>Immediate family members include spouses, parents, siblings, children, sons-in-law and daughters-in-law.</i>
      <br>
      <input type="radio" group="federalProducerConnectionToCorp" [value]='1'
        formControlName="federalProducerConnectionToCorp"> Yes
      <br>
      <input type="radio" group="federalProducerConnectionToCorp" [value]='0'
        formControlName="federalProducerConnectionToCorp"> No
    </section>
    <p></p>

    <section *ngIf="form.get('federalProducerConnectionToCorp').value == '1'">
      <span>Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares
        held).s</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="federalProducerConnectionToCorpDetails"
        rows="5"></textarea>
    </section>
    <p></p>
  </div>
  <div
    *ngIf="[ 'Partnership', 'GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does the partnership have any association, connection or financial interest in a {{licensedProducerText}} of cannabis?</label>
      <br>
      <span>This includes, but is not limited to:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer.</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in a federal
          producer.</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust.</li>
        <li>A contractual business arrangement of any sort</li>
      </ul>
      <input type="radio" group="moreThanAYear" [value]='1' formControlName="partnersConnectionFederalProducer"> Yes
      <br>
      <input type="radio" group="moreThanAYear" [value]='0' formControlName="partnersConnectionFederalProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('partnersConnectionFederalProducer').value == '1'">
      <span>Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares
        held).</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="partnersConnectionFederalProducerDetails"
        rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does a {{licensedProducerText}} of cannabis have any association, connection or financial
        interest in the partnership?</label>
      <br>
      <span>This includes, but is not limited to:</span>
      <ul>
        <li>Directly holding voting shares in the partnership.</li>
        <li>Indirectly holding voting shares in the partnership. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in the partnership.</li>
        <li>Having a beneficial interest in the partnership. For example, through a trust.</li>
        <li>A contractual business arrangement of any sort.</li>
      </ul>
      <input type="radio" group="federalProducerConnectionToCorp" [value]='1'
        formControlName="federalProducerConnectionToCorp"> Yes
      <br>
      <input type="radio" group="federalProducerConnectionToCorp" [value]='0'
        formControlName="federalProducerConnectionToCorp"> No
    </section>
    <p></p>

    <section *ngIf="form.get('federalProducerConnectionToCorp').value == '1'">
      <span>Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares
        held)</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="federalProducerConnectionToCorpDetails"
        rows="5"></textarea>
    </section>
    <p></p>
  </div>
  <div *ngIf="['Society'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does the society have any association, connection or financial interest in a {{licensedProducerText}} of cannabis?</label>
      <br>
      <span>This includes, but is not limited to:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer.</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary or holding voting
          shares in a company that holds voting shares in a federal producer.</li>
        <li>Having a benefi cial interest in a federal producer. For example, through a trust.</li>
        <li>A contractual business arrangement of any sort.</li>
      </ul>
      <input type="radio" group="moreThanAYear" [value]='1' formControlName="societyConnectionFederalProducer"> Yes
      <br>
      <input type="radio" group="moreThanAYear" [value]='0' formControlName="societyConnectionFederalProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('societyConnectionFederalProducer').value == '1'">
      <span>Provide the name of the federal producer and details of the connection (e.g. percentage and type of shares
        held)</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="societyConnectionFederalProducerDetails"
        rows="5"></textarea>
    </section>
    <p></p>
  </div>
</div>