<div style="max-width: 800px;" [formGroup]="form">
  <h1>Connections to Producers</h1>
  <span>A "
    <strong>federal producer</strong>" is a federally licensed producer of cannabis
  </span>
  <br>
  <p></p>
  <div *ngIf="['PrivateCorporation'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does the corporation have any financial or business connection to a federal producer? </label>
      <br>
      <span>This includes:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust</li>
      </ul>
      <input type="radio" group="moreThanAYear" value='yes' formControlName="CorpConnectionFederalProducer"> Yes
      <br>
      <input type="radio" group="moreThanAYear" value='no' formControlName="CorpConnectionFederalProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('CorpConnectionFederalProducer').value == 'yes'">
      <span>Provide the name of the federal producer, the type of shares, percentage of ownership, and any other details about
        the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="CorpConnectionFederalProducerDetails" rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does a federal producer have any financial or business connection in the corporation?</label>
      <br>
      <span>This includes:</span>
      <ul>
        <li>Directly holding voting shares in the corporation</li>
        <li>Indirectly holding voting shares in the corporation. For example, through a subsidiary</li>
        <li>Having a beneficial interest in the corporation. For example, through a trust</li>
      </ul>
      <input type="radio" group="moreThanAYear" value='yes' formControlName="FederalProducerConnectionToCorp"> Yes
      <br>
      <input type="radio" group="moreThanAYear" value='no' formControlName="FederalProducerConnectionToCorp"> No
    </section>
    <p></p>

    <section *ngIf="form.get('FederalProducerConnectionToCorp').value == 'yes'">
      <span>Provide the name of the federal producer, the type of shares, percentage of ownership, and any other details about
        the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="FederalProducerConnectionToCorpDetails" rows="5"></textarea>
    </section>
    <p></p>
  </div>
  <div *ngIf="['PublicCorporation'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does a federal producer have any financial or business connection in the corporation?</label>
      <br>
      <span>This includes:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust</li>
      </ul>
      <input type="radio" group="moreThanAYear" value='yes' formControlName="FederalProducerConnectionToCorp"> Yes
      <br>
      <input type="radio" group="moreThanAYear" value='no' formControlName="FederalProducerConnectionToCorp"> No
    </section>
    <p></p>

    <section *ngIf="form.get('FederalProducerConnectionToCorp').value == 'yes'">
      <span>Provide the name of the federal producer, the type of shares, percentage of ownership, and any other details about
        the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="FederalProducerConnectionToCorpDetails" rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does a federal producer have any financial or business connection in the corporation? </label>
      <br>
      <span>This includes:</span>
      <ul>
        <li>Directly holding 20% or more voting shares in the corporation</li>
        <li>Indirectly holding 20% or more voting shares in the corporation. For example, through a subsidiary</li>
        <li>Having a beneficial interest in the corporation. For example, through a trust</li>
      </ul>
      <input type="radio" group="moreThanAYear" value='yes' formControlName="Share20PlusConnectionProducer"> Yes
      <br>
      <input type="radio" group="moreThanAYear" value='no' formControlName="Share20PlusConnectionProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('Share20PlusConnectionProducer').value == 'yes'">
      <span>Provide the name of the federal producer, the type of shares, percentage of ownership, and any other details about
        the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="Share20PlusConnectionProducerDetails" rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does any shareholder with 20% or more of voting shares have any financial or business connection to a federal producer?
      </label><br>
      <span>This includes:</span>
      <ul>
        <li>Directly holding voting shares in a federal producer</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust</li>
      </ul>
      <input type="radio" group="moreThanAYear" value='yes' formControlName="Share20PlusConnectionProducer"> Yes
      <br>
      <input type="radio" group="moreThanAYear" value='no' formControlName="Share20PlusConnectionProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('Share20PlusConnectionProducer').value == 'yes'">
      <span>Provide the name of the federal producer, the type of shares, percentage of ownership, and any other details about
        the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="Share20PlusConnectionProducerDetails" rows="5"></textarea>
    </section>
    <p></p>

    <section>
      <label for="">Does any shareholder with 20% or more of voting shares have any immediate family members with any financial or business
        connection to a federal producer?
      </label><br>
      <span>This includes:</span>
      <ul>
        <li>Directly holding voting shares in a federal producer</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust</li>
      </ul>
      <input type="radio" group="moreThanAYear" value='yes' formControlName="Share20PlusFamilyConnectionProducer"> Yes
      <br>
      <input type="radio" group="moreThanAYear" value='no' formControlName="Share20PlusFamilyConnectionProducer"> No
    </section>
    <span>Immediate family members include spouses, parents, siblings, children, sons-in-law and daughters-in-law</span>
    <p></p>

    <section *ngIf="form.get('Share20PlusFamilyConnectionProducer').value == 'yes'">
      <span>Provide the relationship of the family member, the name of the federal producer, the type of shares, percentage of
        ownership, and any other details about the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="Share20PlusFamilyConnectionProducerDetails" rows="5"></textarea>
    </section>
    <p></p>
  </div>
  <div *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does the partnership have any financial or business connection to a federal producer?</label>
      <br>
      <span>This includes:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust</li>
      </ul>
      <input type="radio" group="moreThanAYear" value='yes' formControlName="PartnersConnectionFederalProducer"> Yes
      <br>
      <input type="radio" group="moreThanAYear" value='no' formControlName="PartnersConnectionFederalProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('PartnersConnectionFederalProducer').value == 'yes'">
      <span>Provide the name of the federal producer, the type of shares, percentage of ownership, and any other details about
        the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="PartnersConnectionFederalProducerDetails" rows="5"></textarea>
    </section>
    <p></p>
  </div>
  <div *ngIf="['Society'].indexOf(businessType) !== -1">
    <section>
      <label for="">Does the society have any financial or business connection to a federal producer? </label>
      <br>
      <span>This includes:</span>
      <br>
      <ul>
        <li>Directly holding voting shares in a federal producer</li>
        <li>Indirectly holding voting shares in a federal producer. For example, through a subsidiary</li>
        <li>Having a beneficial interest in a federal producer. For example, through a trust</li>
      </ul>
      <input type="radio" group="moreThanAYear" value='yes' formControlName="SocietyConnectionFederalProducer"> Yes
      <br>
      <input type="radio" group="moreThanAYear" value='no' formControlName="SocietyConnectionFederalProducer"> No
    </section>
    <p></p>

    <section *ngIf="form.get('SocietyConnectionFederalProducer').value == 'yes'">
      <span>Provide the name of the federal producer, the type of shares, percentage of ownership, and any other details about
        the holding of voting shares</span>
      <br>
      <textarea name="" id="" class="form-control" formControlName="SocietyConnectionFederalProducerDetails" rows="5"></textarea>
    </section>
    <p></p>
  </div>

  <button class="btn btn-primary" (click)="save()">Save</button>
</div>