<form [formGroup]="form">
    <p>
        In this step tell us the drink quantities, types and prices, if applicable, for your event.
    </p>
    <p>
        Check the charge box for drinks you are selling and complete the table below. Not sure how many servings of each
        drink type you need? Use the handy tool below as a guide.
    </p>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                NEED HELP TO DETERMINE YOUR DRINK TYPES?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
            <app-drink-planner></app-drink-planner>
        </section>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                NEED HELP PLANNING YOUR DRINK SIZES?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
            <h3>Drink Size Chart</h3>

            <p>
                These are the drink serving sizes for standard events and tasting events. Please note, tasting events
                are limited to smaller drink sizes for sampling purposes.
            </p>

            <table class="drink-size-chart w-100">
                <tbody>
                    <tr>
                        <th colspan="2">Beer, Ciders &amp; Coolers</th>
                        <th colspan="2">Wine</th>
                        <th colspan="2">Spirits</th>
                    </tr>
                    <tr>
                        <th>Standard</th>
                        <th>Tasting</th>
                        <th>Standard</th>
                        <th>Tasting</th>
                        <th>Standard</th>
                        <th>Tasting</th>
                    </tr>
                    <tr>
                        <td>12 oz</td>
                        <td>4 oz</td>
                        <td>5 oz</td>
                        <td>2 oz</td>
                        <td>1.5 oz</td>
                        <td>.5 oz</td>
                    </tr>
                    <tr>
                        <td>340 ml</td>
                        <td>114 ml</td>
                        <td>142 ml</td>
                        <td>60 ml</td>
                        <td>43 ml</td>
                        <td>15 ml</td>
                    </tr>
                </tbody>
            </table>

            <p>
                When you submit your application you will need to provide liquor quantities and prices based on standard
                drink sizes. For help converting tasting sizes and drink prices to standard drink sizes and prices click
                here.
            </p>
        </section>
    </mat-expansion-panel>
    <mat-divider></mat-divider>

    <h2>Liquor Quantities & Selling Prices</h2>

    <p>
        Enter the types of drinks and the number of servings for each. The quantities entered must total the
        declared maximum servings for your event (step 1 total servings). To adjust the declared maximum go back
        to step 1.
    </p>

    <p>
        If liquor is included in the price of admission you will still need to provide a per-drink estimated
        sale price based on an average cost per drink for your guests.
    </p>

    <section class="d-flex mb-2" [formGroupName]="i" *ngFor="let item of form.controls; let i = index;">
        <select formControlName="drinkTypeId" class="form-control drink-select">
            <option value=""></option>
            <option [value]="drinkType.id" *ngFor="let drinkType of drinkTypes">{{drinkType.name}}
                ({{drinkType.unitSize}})</option>
        </select>
        <span>

            <!-- Equivalent to 1 [{{item.get('drinkTypeId').value | json}}] of {{item.get('drinkType').value?.name}} -->
        </span>
        <input class="form-control est-servings" type="number" formControlName="estimatedServings">
        <button>REMOVE</button>
    </section>

    <span>
        Total = 113 servings (out of 113 servings)
    </span>
    <button mat-raised-button color="primary" (click)="addDrinkType()">ADD MORE DRINKS</button>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                PST Facts
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
            <p>
                The provincial sales tax (PST) on liquor products is 10%. You will have to prepay the PST upon your
                approved licence and then get reimbursed by collecting proceeds from drinks sold at your event. This tax
                is in addition to the licence fee. PST calculations are based on the number of servings rather than the
                amount of alcohol you will purchase.
            </p>
            <p>
                PST Refund: If you pay too much PST or if you make less money than expected, you can apply for a refund
                to the Ministry of Finance, free of charge.
            </p>
            <p>
                <span>How is PST Calculated</span><br>
                <span>
                    Example:You purchase a Special Event Permit and $500 in liquor for your wedding. You expect to
                    sell the liquor for $800 at the wedding. The PST you pay when you buy the liquor will be $50.00 and
                    the PST equivalent amount you pay when you purchase the permit will be $30.00, calculated as
                    follows:
                </span>
            </p>
            <p>
                Your cost of the liquor purchased (10% PST on $500) = $50.00 Your expected tax on resale revenue (10%
                PST on $300) = $30.00 paid before you receive your permit.
            </p>
            <p>
                Total combined amount due = $80.00
            </p>
            <p>
                More information on PST calculation can be found on
                <a href="http://www2.gov.bc.ca/assets/gov/taxes/sales-taxes/publications/pst-300-special-event-liquor-permits.pdf"
                    target="_blank"> the Ministry of Finance’s PST Bulletin.</a>
            </p>
        </section>
    </mat-expansion-panel>

    <div class="note mb-3">
        Remember: Liquor product purchased from and returned to BC Liquor Stores is subject to the Product Return policy
        and a restocking fee.
    </div>

    <button mat-raised-button color="secondary" (click)="back.emit(true)">BACK</button>
    <button mat-raised-button color="primary" (click)="next()">NEXT</button>
</form>