<div class="">
    <h1 class="mat-heading">Eligibility</h1>

    <span class="mat-title">{{sepApplication?.eventName}}</span>

    <!--div class="mat-subheading-1">Application number: {{application?.id}}</div-->
    <p>Tell us about your event. This information is used to determine the eligibility of your event and what type of
        permit you require.
    </p>
    <span class="error-states">*All fields are required</span>

    <mat-divider></mat-divider>

    <h3>Tell us about your event</h3>
    <section [formGroup]="form" style="padding: 16px 32px;">
        <app-field label="Is this event being hosted at a private residence?" [required]="true"
            [valid]="!form.get('isPrivateResidence').touched || form.get('isPrivateResidence').valid"
            errorMessage="Please indicate whether this event is being hosted at a private residence">
            <mat-radio-group formControlName="isPrivateResidence">
                <mat-radio-button color="primary" class="mr-3" [value]="true">Yes</mat-radio-button>
                <mat-radio-button color="primary" class="mr-3" [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <app-error-alert *ngIf="form.get('isPrivateResidence').value" type="error">
                Private residences are not eligible for Special Event Permits. You may serve liquor free of charge
                without a liquor permit, but cannot sell liquor at a residence. You can also hire a licensed commercial
                caterer to serve liquor, but cannot sell liquor under a catering licence at a residence. For more
                information on the definition of a private residence please see the Special Event Permit Policy Manual.
            </app-error-alert>
        </app-field>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">
            <app-field label="Is your event being held on public property?" [required]="true"
                [valid]="!form.get('isOnPublicProperty').touched || form.get('isOnPublicProperty').valid"
                errorMessage="Is public property Question Can't be blank">
                <mat-radio-group formControlName="isOnPublicProperty">
                    <mat-radio-button color="primary" class="mr-3" [value]="true">Yes</mat-radio-button>
                    <mat-radio-button color="primary" class="mr-3" [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <app-error-alert *ngIf="form.get('isOnPublicProperty').value">
                    <p>
                        Events on public property require approval from the local authority (local government, First
                        Nation,
                        Provincial or Federal government) to qualify for a Special Event Permit. A copy of this
                        application
                        may be reviewed by the local authority.
                    </p>
                    <p>
                        Please note that if you do not obtain written approval for permitted events on public property
                        then
                        your permit could be cancelled with no fees refunded.
                    </p>
                    <p>
                        Unique requirements exist for the University of British Columbia. To learn more about
                        application
                        requirements at UBC, visit the UBC Student Services website.
                    </p>
                </app-error-alert>
            </app-field>
            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip.toggle()"
                    matTooltip="Public property includes any lands or premises owned by a local government, First Nation, or federal or provincial government.
                    You must have written local approval to hold a special event at a publicly owned property or facility." #tooltip="matTooltip">
                </fa-icon>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">

            <app-field [isFullWidth]="true"
                label="Is this an event of provincial, national, or international significance?" [required]="true">
                <mat-radio-group formControlName="isMajorSignificance">
                    <mat-radio-button color="primary" class="mr-3" [value]="true">Yes</mat-radio-button>
                    <mat-radio-button color="primary" class="mr-3" [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <app-error-alert *ngIf="form.get('isMajorSignificance').value">
                    <p>
                        Please complete the rationale section below and state why you believe your event is of a
                        provincial,
                        national, or international significance.
                    </p>
                    <p>
                        The branch will review the rationale and may contact you for more information. Please see tool
                        tip
                        to the right of the text box for more information.
                    </p>
                </app-error-alert>
                <br *ngIf="form.get('isMajorSignificance').value">
                <app-field *ngIf="form.get('isMajorSignificance').value" [isFullWidth]="true" label="Describe rationale"
                    [required]="true">
                    <textarea formControlName="majorSignificanceRationale" class="w-80 form-control"
                        rows="3"></textarea>
                </app-field>
            </app-field>
            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip1.toggle()"
                    matTooltipClass="custom-tooltip" matTooltip="LCRB will determine events of a provincial, national, or international significance on a case-by-case basis. Some criteria used include whether:

                    &bull; participants or performers at your event are primarily from the province, Canada, or around the world;

                    &bull; your event attracts spectators from around the province, Canada, or around the world;

                    &bull; there is provincial, national, or world-wide media coverage of your event."
                    #tooltip1="matTooltip">
                </fa-icon>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">

            <app-field [isFullWidth]="true"
                label="Is this an event designated by municipal council as an event of municipal significance?"
                [required]="true">
                <mat-radio-group formControlName="isLocalSignificance">
                    <mat-radio-button color="primary" class="mr-3" [value]="true">Yes</mat-radio-button>
                    <mat-radio-button color="primary" class="mr-3" [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <app-error-alert *ngIf="form.get('isLocalSignificance').value">
                    <p>
                        An event of municipal significance requires a municipal resolution or letter from a delegated
                        municipal official designating the event municipally significant. Please see tool tip to the
                        right of the text box for more information.
                    </p>
                    <p>
                        A copy of this designation must be kept at the event site for inspection.
                    </p>
                </app-error-alert>
            </app-field>
            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip1.toggle()"
                    matTooltipClass="custom-tooltip"
                    matTooltip="In order for your event to be deemed municipally significant the event must
                    take place primarily in the Municipality and you must obtain a municipal resolution or a letter from a delegated municipal official designating the event to be of municipal significance."
                    #tooltip1="matTooltip">
                </fa-icon>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">
            <app-field label="When does your event start? " [required]="true"
                [valid]="!form.get('eventStartDate').touched || form.get('eventStartDate').valid"
                errorMessage="Event start date is required and cannot be in the past">
                <input type="text" formControlName="eventStartDate" style="background-color: #fff; width: 200px;"
                    placeholder="yyyy-mm-dd" readonly class="form-control" [min]="minDate" [matDatepicker]="picker"
                    (focus)="picker.open()" (click)="picker.open()">
                <mat-datepicker #picker></mat-datepicker>

                <app-error-alert *ngIf="form.get('eventStartDate').value">
                    Your event starts soon. Please be aware that if your application requires review, you may or may not
                    receive an SEP before the event start date. You may still submit the application.
                </app-error-alert>
            </app-field>
            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip2.toggle()"
                    matTooltip="Your event starts soon. Please be aware that if your application requires review, you may or may not receive an SEP
                    before the event start date. For questions, contact the SEP Online Help Line at 1 855 999 7656 after submitting your application." #tooltip2="matTooltip">
                </fa-icon>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">
            <app-field [isFullWidth]="true" label="Is your event private or public?" [required]="true"
                [valid]="!form.get('privateOrPublic').touched || form.get('privateOrPublic').valid"
                errorMessage="Licence category can't be blank">
                <select formControlName="privateOrPublic" class="form-control">
                    <option value=""></option>
                    <option value="Members">Private – An organization's members or staff, invited guests and ticket
                        holders
                    </option>
                    <option value="Family">Private – Family and invited friends only</option>
                    <option value="Hobbyist">Private – Hobbyist competition</option>
                    <option value="Anyone">Public – Open to the general public or anyone who wishes to participate or
                        buy a
                        ticket
                    </option>
                </select>
            </app-field>
            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip3.toggle()"
                    matTooltipClass="custom-tooltip"
                    matTooltip="Private Events:

                    Entry is limited to family, friends, an organization’s members or staff, invited guests and ticket holders. (Tickets must be sold or given away before the start time of the event. Tickets for hobbyist events cannot be sold.)

                    Examples: social, cultural, recreational, religious, sporting or community events as well as family events such as weddings, anniversaries, or birthdays. Hobby brewer/vintner competitions are also private events.


                    Public Events:

                    Entry is open to anyone who wishes to participate or buy a ticket (either at the door or in advance of the event).

                    Examples: events that are community or public celebrations, such as community festivals or outdoor concerts."
                    #tooltip3="matTooltip">
                </fa-icon>
            </div>
        </div>
        <ng-container
            *ngIf="this.form.get('privateOrPublic').value && this.form.get('privateOrPublic').value !== 'Family'">
            <section class="d-flex justify-content-between" style="padding: 0 32px 0 32px;">
                <app-field style="flex: 1" [isFullWidth]="true"
                    label="What is the name of the organization hosting the event?" [required]="true">
                    <input formControlName="hostOrganizationName" class="form-control w-100">
                </app-field>
                <div>
                    <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip3a.toggle()"
                        matTooltip="Responsible beverage service (RBS) programs educate permittees, managers and servers about their responsibilities when serving alcohol
                    and provide effective techniques to prevent problems related to liquor service. An online self-study course is available to anyone to complete and
                    obtain the SIR or SES certificate. The SEP applicant must possess certification before the event starts. RBS certification is required for all events,
                    including family events.  the Serving it Right website for more information or to complete the course online." #tooltip3a="matTooltip">
                    </fa-icon>
                </div>
            </section>
            <section style="padding: 0 50px 0 32px;">
                <app-field [isFullWidth]="true" label="What is the address of the organization?" [required]="true">
                    <input formControlName="hostOrganizationAddress" class="form-control w-100">
                </app-field>
            </section>
            <section class="d-flex justify-content-between" style="padding: 0 32px 0 32px;">
                <app-field style="flex: 1" [isFullWidth]="true"
                    label="Select a category that best describes your organization " [required]="true">
                    <i>Before selecting a category, please read tool tip</i>
                    <select formControlName="hostOrganizationCategory" class="form-control w-100">
                        <option value=""></option>
                        <option value="IncorporatedNonProfitOrganization">Incorporated Non-profit organization</option>
                        <option value="UnincorporatedNonProfitOrganization">Unincorporated Non-profit organization
                        </option>
                        <option value="IncorporatedBusinessOrPartnership">Incorporated Business or Partnership
                        </option>
                        <option value="GovernmentOrPublicOrganization">Government or Public organization</option>
                    </select>
                </app-field>
                <div>
                    <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip3b.toggle()" matTooltip="If you are not sure, please confirm which category your organization falls under with a senior manager or board member before completing the application.
                    It is extremely important for you to know what category your organization falls under because the permittee is subject to legal and financial obligations. Whether the
                    proper permittee is an individual or an organization depends on the type of organization.
                    Entering the wrong type of organization could result in an individual being held legally responsible for any contraventions when it should have been the organization,
                    or it will cause issues regarding PST payment and/or PST rebate." #tooltip3b="matTooltip">
                    </fa-icon>
                </div>
            </section>
            <app-error-alert
                *ngIf="form.get('hostOrganizationCategory').value === 'UnincorporatedNonProfitOrganization'">
                <p>
                    Unincorporated organizations include sports teams, community groups, and in some cases unregistered
                    charities.
                </p>
                <p>
                    The individual (person) applying on behalf of an unincorporated organization must represent the
                    organization and is deemed to be the permittee. The individual, not the unincorporated organization,
                    will be solely responsible for any contraventions of the Act, Regulation or Terms and Conditions.
                    Additionally, the individual, not the unincorporated organization, must pay PST amounts related to
                    liquor for sale under the permit. Any application for a refund of PST must also be made by the
                    individual, and not the unincorporated organization.
                </p>
            </app-error-alert>
        </ng-container>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">
            <app-field label="Responsible Beverage Service Number (SIR or SES)" [required]="false"
                [valid]="!form.get('responsibleBevServiceNumber').touched || bevNumberValidationMessage() === null"
                [errorMessage]="bevNumberValidationMessage()">
                <input formControlName="responsibleBevServiceNumber" maxlength="22"
                type="text" class="form-control">
                <mat-checkbox class="mt-2" formControlName="responsibleBevServiceNumberDoesNotHave" color="primary">
                    I don’t have a BC Responsible Beverage Service Certificate Number
                </mat-checkbox>
                <app-error-alert *ngIf="form.get('responsibleBevServiceNumberDoesNotHave').value">
                    You are required to complete Responsible Beverage Service certification prior to hosting your event.
                    For
                    more information and to get started with a training course, click <a
                        href="https://www.responsibleservicebc.gov.bc.ca/" target="_blank">here</a>.
                </app-error-alert>
            </app-field>
            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip4.toggle()" matTooltip="Responsible beverage service (RBS) programs educate permittees, managers and servers about their responsibilities when serving alcohol and provide effective techniques to prevent problems related to liquor service. An online self-study course is available to anyone to complete and obtain the SIR or SES certificate. The SEP applicant must possess certification before the event starts. RBS certification is required for all events, including family events.
                    Visit the Serving it Right website for more information or to complete the course online."
                    #tooltip4="matTooltip">
                </fa-icon>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">
            <app-field style="flex: 1" [isFullWidth]="true"
                label="What’s the occasion of your event? (maximum 255 characters) " [required]="true"
                [valid]="!form.get('specialEventDescription').touched || form.get('specialEventDescription').valid"
                errorMessage="Family event description can't be blank">
                <textarea maxlength="255" formControlName="specialEventDescription" class="w-100 form-control"
                    rows="5"></textarea>
            </app-field>
            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip5.toggle()"
                    matTooltip="SEPs are not intended for the purpose of making a profit.
                Permittees are required to follow the cost recovery price list and donate profits from the event to a non-profit organization with charitable purposes,
                unless exempted. A list of drink prices for the purpose of cost recovery has been established. If you sell liquor for amounts exceeding
                the established cost recovery price, all profits from your event must be directed to a non-profit organization with charitable purposes." #tooltip5="matTooltip">
                </fa-icon>
            </div>
        </div>


        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">
            <app-field label="Are you charging an event admission price?" [required]="true"
                [valid]="!form.get('admissionFee').touched || form.get('admissionFee').valid"
                errorMessage="Admission charge Question Can't be blank">
                <mat-radio-group formControlName="admissionFee">
                    <mat-radio-button color="primary" class="mr-3" [value]="true">Yes</mat-radio-button>
                    <mat-radio-button color="primary" class="mr-3" [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <app-error-alert *ngIf="form.get('admissionFee').value">
                    <p>
                        If liquor is included in your admission price, please ensure that you declare your estimated
                        liquor costs on step 4.
                    </p>
                </app-error-alert>
            </app-field>

            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip6.toggle()" matTooltip="Unless exempted, SEPs are not issued if the primary purpose of
                an event is to gain individual or business profit.
                    All proceeds from an event must be directed to a charitable purpose once expenses are paid."
                    #tooltip6="matTooltip">
                </fa-icon>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between">
            <app-field label="Is there currently a liquor licence at your event location?" [required]="true"
                [valid]="!form.get('isLocationLicensed').touched || form.get('isLocationLicensed').valid"
                errorMessage="Licence exists is not included in the list">
                <mat-radio-group formControlName="isLocationLicensed">
                    <mat-radio-button color="primary" class="mr-3" value="Yes">Yes</mat-radio-button>
                    <mat-radio-button color="primary" class="mr-3" value="No">No</mat-radio-button>
                    <mat-radio-button color="primary" class="mr-3" value="NotSure">Not sure</mat-radio-button>
                </mat-radio-group>
                <app-error-alert
                    *ngIf="form.get('isLocationLicensed').value && form.get('isLocationLicensed').value !== 'No'">
                    If your event location is licensed, the liquor licence must be temporarily suspended for your event
                    date/s before you can apply for an SEP. It is the responsibility of the venue establishment owner to
                    temporarily suspend their licence for your event dates. Contact the LCRB for more information at
                    1-866
                    209-2111.
                </app-error-alert>
            </app-field>
            <div>
                <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip7.toggle()"
                    matTooltip="i.e. Does your event venue have a permanent liquor licence in place? Establishments that serve liquor on a frequent
                    basis normally have a permanent liquor licence. If you are not sure, contact the establishment owner or operator or the LCRB at 1-866 209-2111." #tooltip7="matTooltip">
                </fa-icon>
            </div>
        </div>
    </section>

    <mat-divider></mat-divider>

    <button mat-raised-button color="secondary" class="mr-3" matStepperPrevious>BACK</button>
    <button mat-raised-button color="primary" (click)="next()">NEXT</button>

    <section class="error mt-3" *ngIf="showValidationMessages">
        <p *ngFor="let message of validationMessages">
            <span class="app-cancel">
                <mat-icon aria-label="error icon" style="font-size: 15px;">error</mat-icon>
                {{message}}
            </span>
        </p>
    </section>

</div>
