<h3 class="blue-header">Types of Changes Requested</h3>
<section class="content-bottom">
  <p>
    Please check appropriate box(es) below. You may complete more than one change section on this form. An incomplete
    application will be held for a maximum of thirty (30) days. If still incomplete after the thirty (30) day period,
    the application may be terminated.
  </p>

  <ng-container *ngFor="let item of changeList; let first = first">
    <hr *ngIf="!first" />
    <mat-checkbox [formControlName]="item.formControlName">
      {{ account.isOtherBusinessType() && item.otherName ? item.otherName : item.name }}
    </mat-checkbox>
    <fa-icon
      [icon]="faQuestionCircle"
      style="color: #38598a; margin-left: 10px"
      (click)="item.show = !item.show"></fa-icon>
    <section class="infoCell" *ngIf="item.show && (item.helpTextHeader || item.helpText || item.helpTextLink)">
      <p *ngIf="item.CannabisFee == item.LiquorFee" style="padding-right: 30px; text-align: right">
        <strong>Application Fee of ${{ item.CannabisFee }} per Licence</strong>
      </p>
      <p *ngIf="item.CannabisFee != item.LiquorFee" style="padding-right: 30px; text-align: right">
        <strong>
          Application Fee of ${{ item.CannabisFee }} per Cannabis Licence, ${{ item.LiquorFee }} per Liquor Licence
        </strong>
      </p>
      <p *ngIf="item.helpTextHeader">{{ item.helpTextHeader }}</p>
      <section *ngIf="item.helpText && item.helpText.length > 0" style="padding: 5px">
        <ul>
          <li *ngFor="let help of item.helpText" [innerHTML]="help"></li>
        </ul>
      </section>

      <section *ngIf="item.helpTextLink" style="padding-right: 30px; text-align: right">
        <a href="{{ item.helpTextLink }}" target="_blank">More Information</a>
      </section>
    </section>
  </ng-container>
</section>
