.app-cancel,
.app-save {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
}

.error {
    background-color: #F2DEDE;
    border-radius: 5px;
    border: 2px solid #EBCCD1;
    color: #A12622;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}