<table class="capacity">
  <thead *ngIf="rows.controls.length > 0">
    <th style="width: 100px">Status</th>
    <th>Location Name</th>
    <th>Address</th>
    <th>City</th>
    <th style="width: 200px">Postal Code</th>
    <th style="width: 45px"></th>
  </thead>
  <tr *ngFor="let row of rows.controls; let i=index" [ngClass]="{ 'text-grey': !canEdit(i) }">
    <ng-container [formGroup]="row">
      <td><span class="bold">{{ offsiteStorageStatus[row.value.status] }}</span></td>
      <td>
        <app-field [valid]="!shouldValidate || !row.get('name').value || row.get('name').valid"
          errorMessage="Cannot exceed 250 characters" [showChevrons]="false" [isFullWidth]="true">
          <input type="text" formControlName="name" placeholder="Enter a name for this location" [readonly]="!canEdit(i)"/>
        </app-field>
      </td>
      <td><input type="text" formControlName="street1" placeholder="Enter Address" [readonly]="!canEdit(i)"/></td>
      <td><input type="text" formControlName="city" placeholder="Enter City" [readonly]="!canEdit(i)"/></td>
      <td><input type="text" formControlName="postalCode" placeholder="Enter Postal Code" [readonly]="!canEdit(i)"/></td>
      <td><button type="button" (click)="removeRow(i)" class="btn-clear" *ngIf="canEdit(i)"><i class="fa fa-trash" style="color: #ee220e"></i></button></td>
    </ng-container>
  </tr>
  <tr>
    <td [colSpan]="2" class="pt-3 text-left">
      <button type="button" (click)="addRow()" class="btn btn-secondary" style="height: 100%;" *ngIf="enabled">
        <i class="fa fa-plus-circle" style="color: #1a5a96;"></i> Add Additional Storage
      </button>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
