<div class="dashboard-spacing">
  <!-- <div [ngBusy]="busy"></div> -->
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <!-- <div [ngBusy]="busy"></div> -->
      <p></p>
      <section class="submit-container">
        <div>
          <h2>Update your personal information</h2>
        </div>
        <div class="submit-content">
          <p>If you find an error in your personal information, please contact Service BC, ICBC or AddressChangeBC to correct
            it.
          </p>
          <button style="background-color: #003366; border-color: #003366;" class="btn btn-primary">LEARN MORE</button>
        </div>
      </section>
      <section class="submit-container">
        <div>
          <h2>Any need for information to go here?</h2>
        </div>
        <div class="submit-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
          <button style="background-color: #003366; border-color: #003366;" class="btn btn-primary">LEARN MORE</button>
        </div>
      </section>
    </div>
  </div>
</div>