.form-control {
    margin-bottom: 10px;
  }
  
  
  .label {
    font-size: 16px;
    font-weight: normal;
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -8px;
  }
  