.form-wrapper {
  max-width: 100vw;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 40px;
}

.button-row {
  margin-right: 15px;
  display: flex;
  button:last-child {
    margin-left: auto;
  }
}

.sig-controls {
  margin-bottom: 5px;
}

.intro {
  background-color: #f1f4fa;
  border-left: 20px solid #e1e8f2;
  margin: 0 15px;
  padding: 15px;

  p {
    margin-bottom: 0;
  }
}

.field-label {
  display: block;
}

.bold {
  font-weight: bold;
}

.padded-section {
  padding-right: 15px;
}

.signature {
  padding: 20px 15px 20px 0;
  .app-field {
    display: flex;
    align-items: end;
    justify-content: stretch;
    label {
      min-width: 65px;
    }
    input {
      flex-grow: 1;
    }
  }
  label {
    font-weight: normal;
    margin-right: 15px;
  }
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

::ng-deep .mat-radio-group .mat-radio-button {
  padding: 20px 20px 20px 0;
  &.mat-radio-checked {
    .mat-radio-outer-circle {
      border-color: #38598a;
    }
    .mat-radio-inner-circle {
      background-color: #38598a;
    }
  }
}

::ng-deep .ngb-tp-input-container input {
  padding: 0;
}

::ng-deep .certify .mat-checkbox-layout .mat-checkbox-label {
  font-weight: normal;
  white-space: normal;
  font-size: 12px;
  line-height: 14px;
  padding: 0 20px 0 10px;
}
