<mat-table #table [dataSource]="dataSource">

  <!-- Column -->
  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{totalsLabel}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="openingInventory">
    <mat-header-cell *matHeaderCellDef style="padding-left: 5px;">Opening Inventory
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.openingInventory">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('seeds')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="domesticAdditions">
    <mat-header-cell *matHeaderCellDef>Quantity received - domestic</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.domesticAdditions">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('vegetativeCannabisPlants')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="returnsAdditions">
    <mat-header-cell *matHeaderCellDef>Quantity received - returns</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.returnsAdditions">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('freshCannabis')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="otherAdditions">
    <mat-header-cell *matHeaderCellDef>Other additions to inventory</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.otherAdditions">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('driedCannabis')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="domesticReductions">
    <mat-header-cell *matHeaderCellDef>Quantity shipped - domestic</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.domesticReductions">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('ediblesSolids')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="returnsReductions">
    <mat-header-cell *matHeaderCellDef>Quantity shipped - returns</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.returnsReductions">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('ediblesNonSolids')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="destroyedReductions">
    <mat-header-cell *matHeaderCellDef>Quantity destroyed</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.destroyedReductions">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('inhaledExtracts')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="lostReductions">
    <mat-header-cell *matHeaderCellDef>Quantity lost/stolen</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.lostReductions">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('ingestedExtracts')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="otherReductions">
    <mat-header-cell *matHeaderCellDef>Other reductions to inventory</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.otherReductions">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('otherExtracts')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="closingValue">
    <mat-header-cell *matHeaderCellDef>Value of closing inventory ($)</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.closingValue"></mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('topicals')}} </mat-footer-cell> -->
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="closingWeight">
    <mat-header-cell *matHeaderCellDef>Weight of closing inventory (kg)</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="number" class="form-control" [(ngModel)]="element.closingWeight">
    </mat-cell>
    <!-- <mat-footer-cell *matFooterCellDef> {{ getRowTotal('other')}} </mat-footer-cell> -->
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  <ng-container *ngIf="showTotals">
    <mat-footer-row *matFooterRowDef="columns"></mat-footer-row>
  </ng-container>
</mat-table>
