<h3 class="blue-header">What Happens Next?</h3>
<section class="content-bottom">
  <div>
    <p>
      Applicants with incomplete applications will be advised in writing what information is required to complete their
      application. Applicants will be given 30 days to provide a complete application. Your application will only be
      assessed once all outstanding requirements have been submitted.
    </p>
  </div>
  <div>
    <!-- TODO: Finalize this text -->
    <p>
      Once a complete application is received, it will be reviewed to determine if it meets all requirements. If
      additional information is needed, the applicant will be contacted.
    </p>
  </div>
</section>
