<h3 class="blue-header">What Happens Next?</h3>
<section class="content-bottom">
  <div>
    <p>Licensees will be advised in writing what information is required to resolve this application.</p>
  </div>
  <div>
    <p>
      If you’re unable to provide the requested information within 30 days, please reach out to the Branch agent listed
      in your Notice Letter. Failure to submit the requested information may lead to the suspension of your licence(s).
    </p>
  </div>
  <div>
    <p>
      When the Legal Entity Review is concluded, you will receive an Outcome Letter advising you on next steps to
      resolve the application.”
    </p>
  </div>
</section>
