<div style="margin: 0 20px;">
  <h1>Licensee Changes Application</h1>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" #tree>
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <strong *ngIf="node.isShareholderNew && !node.isRoot" style="margin-right: 5px">Shareholder </strong>
            <strong *ngIf="!node.isShareholderNew && !node.isRoot" style="margin-right: 5px">Leader </strong>
            <span
              [ngClass]="{'added-node': node.typeOfChange === 'add', 'deleted-node': node.typeOfChange === 'delete', 'edited-node': node.typeOfChange === 'edit'}">
              {{node.nameNew}}
            </span>
            <span *ngIf="node.isShareholderNew" style="margin-left: 5px">({{node.numberofSharesNew}})</span>
            &nbsp; &nbsp;
            <a *ngIf="!node.isIndividual && node.typeOfChange !== 'delete'" href="javascript:void(0)" style="margin-right: 10px;"
              [matMenuTriggerFor]="menu"> <i class="fas fa-plus"></i>&nbsp;Add</a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item
                (click)="node.typeOfChange !== 'delete' && addShareholder(node)">Shareholder</button>
              <button mat-menu-item (click)="node.typeOfChange !== 'delete' && addLeadership(node)">Leadership</button>
            </mat-menu>
            <a *ngIf="!node.isRoot && node.typeOfChange !== 'delete'" href="javascript:void(0)" style="margin-right: 10px;"
              (click)="node.typeOfChange !== 'delete' && editAssociate(node)"> <i class="fas fa-pencil-alt"></i>
              Edit</a>
            <a *ngIf="!node.isRoot && node.typeOfChange !== 'delete'" href="javascript:void(0)"
              (click)="node.typeOfChange !== 'delete' && deleteAssociate(node)"> <i class="fas fa-trash-alt"></i>
              Delete</a>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <strong *ngIf="node.isShareholderNew" style="margin-right: 5px">Shareholder </strong>
              <span
                [ngClass]="{'added-node': node.typeOfChange === 'add', 'deleted-node': node.typeOfChange === 'delete', 'edited-node': node.typeOfChange === 'edit'}">
                {{node.nameNew}}
              </span>
              &nbsp; &nbsp;
              <a *ngIf="!node.isIndividual && node.typeOfChange !== 'delete'" href="javascript:void(0)" style="margin-right: 10px;"
                [matMenuTriggerFor]="menu2"> <i class="fas fa-plus"></i>&nbsp;Add</a>
              <mat-menu #menu2="matMenu">
                <button mat-menu-item
                  (click)="node.typeOfChange !== 'delete' && addShareholder(node)">Shareholder</button>
                <button mat-menu-item
                  (click)="node.typeOfChange !== 'delete' && addLeadership(node)">Leadership</button>
              </mat-menu>
              <a *ngIf="!node.isRoot && node.typeOfChange !== 'delete'" href="javascript:void(0)" style="margin-right: 10px;"
                (click)="node.typeOfChange !== 'delete' && editAssociate(node)"> <i class="fas fa-pencil-alt"></i>
                Edit</a>
              <a *ngIf="!node.isRoot && node.typeOfChange !== 'delete'" href="javascript:void(0)"
                (click)="node.typeOfChange !== 'delete' && deleteAssociate(node)"> <i class="fas fa-trash-alt"></i>
                Delete</a>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
    <div class="col-md-4 col-sm-12">
      <h4>Key:</h4>
      Edited Associate: <span class="edited-node">Orange</span> <br>
      Added Associate: <span class="added-node">Green</span> <br>
      Deleted Associate: <span class="deleted-node">Red Strikethough</span> <br>
    </div>
  </div>





  <h3 class="blue-header">BUSINESS SHAREHOLDER CHANGES</h3>
  <section class="padded-section">
    <table class="eq-table">
      <tr>
        <th class="change-type-cell">Change Type</th>
        <th class="name-cell">Business Account Name</th>
        <th class="email-cell">Email</th>
        <th class="shares-cell">Number of Shares</th>
        <th>Contact Name</th>
      </tr>
      <tr *ngFor="let item of organizationShareholderChanges">
        <td>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">
            {{item.typeOfChange.toUpperCase()}}
          </span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.nameOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">
            {{item.nameNew}}</span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.emailOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">{{item.emailNew}}</span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.numberofSharesOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">{{item.numberofSharesNew}}</span>
        </td>
        <td>
          <!-- <div *ngIf="item.typeOfChange === 'edit'"  class="old-value">{{item.getOldLeadershipPosition()}}</div>
            <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}"
            >{{item.getNewLeadershipPosition()}}</span> -->
        </td>
      </tr>
    </table>
  </section>

  <h3 class="blue-header">INDIVIDUAL SHAREHOLDER CHANGES</h3>
  <section class="padded-section">
    <table class="eq-table">
      <tr>
        <th class="change-type-cell">Change Type</th>
        <th class="name-cell">Name</th>
        <th class="email-cell">Email</th>
        <th class="shares-cell">Number of Shares</th>
        <th>Contact Name</th>
      </tr>
      <tr *ngFor="let item of individualShareholderChanges">
        <td>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">
            {{item.typeOfChange.toUpperCase()}}
          </span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.nameOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">
            {{item.nameNew}}</span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.emailOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">{{item.emailNew}}</span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.numberofSharesOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">{{item.numberofSharesNew}}</span>
        </td>
        <td>
          <!-- <div *ngIf="item.typeOfChange === 'edit'"  class="old-value">{{item.getOldLeadershipPosition()}}</div>
            <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}"
            >{{item.getNewLeadershipPosition()}}</span> -->
        </td>
      </tr>
    </table>
  </section>

  <h3 class="blue-header">LEADERSHIP CHANGES</h3>
  <section class="padded-section">
    <table class="eq-table">
      <tr>
        <th class="change-type-cell">Change Type</th>
        <th class="name-cell">Name</th>
        <th class="email-cell">Email</th>
        <th class="dob-cell">Date of Birth</th>
        <th>Position</th>
      </tr>
      <tr *ngFor="let item of leadershipChanges">
        <td>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">
            {{item.typeOfChange.toUpperCase()}}
          </span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.nameOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">
            {{item.nameNew}}</span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.emailOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">{{item.emailNew}}</span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.dateofBirthOld}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">{{item.dateofBirthNew}}</span>
        </td>
        <td>
          <div *ngIf="item.typeOfChange === 'edit'" class="old-value">{{item.getOldLeadershipPosition()}}</div>
          <span
            [ngClass]="{'added-node': item.typeOfChange === 'add', 'deleted-node': item.typeOfChange === 'delete', 'edited-node': item.typeOfChange === 'edit'}">{{item.getNewLeadershipPosition()}}</span>
        </td>
      </tr>
    </table>
  </section>
</div>

<button class="btn btn-primary" (click)="save()">Save</button>

{{treeRoot | json}}