.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.edited-node {
    color: orange;
}

.added-node {
    color: green;
}

.deleted-node {
    text-decoration: line-through;
    color: red;
}

.eq-table {
    border-spacing: 1px 3px;
    border-collapse: separate;
    width: 100%;

    td,
    th {
        background-color: #F1F4FA;
        color: #000;
        padding: 10px;
    }

    th {
        text-align: center;
    }
}

::ng-deep {
    .mat-tree-node {
        min-height: 28px !important;

        .mat-icon-button {
            line-height: 20px !important;
            height: 20px !important;
        }
    }
}