<div style="margin: 0 20px;">
  <div class="content">

    <h3>Key:</h3>
    Edited Associate: <span class="edited-node">Orange</span> <br>
    Added Associate: <span class="added-node">Green</span> <br>
    Deleted Associate: <span class="deleted-node">Red Strikethough</span> <br>
  </div>



  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" #tree>
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <span
          [ngClass]="{'added-node': node.changeType === 'add', 'deleted-node': node.changeType === 'delete', 'edited-node': node.changeType === 'edit'}">
          {{node.nameNew}}
        </span>
        &nbsp; &nbsp;
        <a *ngIf="!node.isIndividual" href="javascript:void(0)" style="margin-right: 10px;"
          (click)="node.changeType !== 'delete' && addShareholder(node)"> <i class="fas fa-plus"></i> Add
          Shareholder</a>
        <a *ngIf="!node.isIndividual" href="javascript:void(0)" style="margin-right: 10px;"
          (click)="node.changeType !== 'delete' && addLeadership(node)"> <i class="fas fa-plus"></i> Add Leadership</a>
        <a *ngIf="!node.isRoot" href="javascript:void(0)" style="margin-right: 10px;"
          (click)="node.changeType !== 'delete' && editAssociate(node)"> <i class="fas fa-pencil-alt"></i> Edit</a>
        <a *ngIf="!node.isRoot" href="javascript:void(0)"
          (click)="node.changeType !== 'delete' && deleteAssociate(node)"> <i class="fas fa-trash-alt"></i> Delete</a>
      </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>

          <span
            [ngClass]="{'added-node': node.changeType === 'add', 'deleted-node': node.changeType === 'delete', 'edited-node': node.changeType === 'edit'}">
            {{node.nameNew}}
          </span>
          &nbsp; &nbsp;
          <a *ngIf="!node.isIndividual" href="javascript:void(0)" style="margin-right: 10px;"
            (click)="node.changeType !== 'delete' && addShareholder(node)"> <i class="fas fa-plus"></i> Add
            Shareholder</a>
          <a *ngIf="!node.isIndividual" href="javascript:void(0)" style="margin-right: 10px;"
            (click)="node.changeType !== 'delete' && addLeadership(node)"> <i class="fas fa-plus"></i> Add
            Leadership</a>
          <a *ngIf="!node.isRoot" href="javascript:void(0)" style="margin-right: 10px;"
            (click)="node.changeType !== 'delete' && editAssociate(node)"> <i class="fas fa-pencil-alt"></i> Edit</a>
          <a *ngIf="!node.isRoot" href="javascript:void(0)"
            (click)="node.changeType !== 'delete' && deleteAssociate(node)"> <i class="fas fa-trash-alt"></i>
            Delete</a>
        </div>
        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>

  <h3 class="blue-header">BUSINESS SHAREHOLDER CHANGES</h3>
  <section class="padded-section">
    <table class="eq-table">
      <tr>
        <th>Change Type</th>
        <th>Business Account Name</th>
        <th>Email</th>
        <th>Number of Shares</th>
        <th>Contact Name</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </section>

  <h3 class="blue-header">INDIVIDUAL SHAREHOLDER CHANGES</h3>
  <section class="padded-section">
    <table class="eq-table">
      <tr>
        <th>Change Type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Number of Shares</th>
        <th>Contact Name</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </section>

  <h3 class="blue-header">LEADERSHIP CHANGES</h3>
  <section class="padded-section">
    <table class="eq-table">
      <tr>
        <th>Change Type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Is Director</th>
        <th>Is Officer</th>
        <th>Is Manager</th>
        <th>Is Trustee</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </section>
</div>