<div class="dashboard-spacing">
  <div [ngBusy]="busy"></div>
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <div [formGroup]="form">
        <h3><span class="step">STEP 2</span></h3>
        <h1>Consent for Cannabis Security Screening</h1>
        <p>
          In step two, you consent to a security screening. Please read the declaration before agreeing. You must also
          download, read and upload a signed consent form.
        </p>
        <p>
          Complete all fields and upload all forms to submit your application.
        </p>

        <h2 class="blue-header">BACKGROUND SCREENING</h2>
        <section style="padding-left: 10px;">
          <label for="">Have you ever been arrested, charged or convicted in respect of an offence under any of the
            following:</label>
          <p>(i) the Criminal Code, the Controlled Drugs and Substances Act (Canada), the Cannabis Act (Canada), or the
            Narcotic Control Act (Canada);</p>
          <p>(ii) the British Columbia Cannabis Control and Licensing Act, the Cannabis Distribution Act, the Liquor
            Control and Licensing Act or the Liquor Distribution Act;</p>
          <p>(iii) a provision of an Act of a province or territory if the provision regulates cannabis.</p>
          <br>
          <input type="radio" [value]="true" formControlName="selfdisclosure" name="selfdisclosure"> YES &nbsp;
          <input type="radio" [value]="false" formControlName="selfdisclosure" name="selfdisclosure"> NO
          <br>
          <div *ngIf="showValidationMessages && !isCriminalBackgroundValid()" style="color: #A12622; margin-top: 2px;">
            <div *ngIf="!name.valid && name.touched ">
              Please select “yes” or “no.”
            </div>
          </div>
          <p>
            This includes <strong>ALL</strong> charges or convictions, including information as a young person under
            Section 119(1)(o)
            during the access period under the Youth Criminal Justice Act, <strong>regardless of the outcome</strong>,
            convictions that
            have received a record suspension and charges resulting in non-convictions.
          </p>
        </section>
        <h2 class="blue-header">DECLARATION AND CONSENT</h2>
        <section style="padding-left: 10px;">
          <div *ngIf="showValidationMessages && !isDeclarationValid()" style="color: #A12622; margin-top: 2px;">
            <div *ngIf="!name.valid && name.touched ">
              Please read the declaration and consent and select the check boxes.
            </div>
          </div>
          <section style="display: flex">
            <input type="checkbox" [(ngModel)]="consentToCollection" [ngModelOptions]="{standalone: true}"> &nbsp;
            <span>
              I, the undersigned, do hereby consent to the collection and disclosure by the Royal Canadian Mounted
              Police (RCMP) and other law enforcement agencies, as well as other duly authorized agencies of the
              government, of any and all information related to the security screening checks in support of this
              application for up to two years. This may include some or all of: (a) criminal record check or
              fingerprint based criminal record verification by searching the Canadian Police Information Centre
              database; (b) a police information check; (c) a check of intelligence databases maintained by
              international law enforcement agencies; (d) a check of records in the justice information system of the
              Ministry of Attorney General and; (e) a check of records in the corrections information system of the
              Ministry of Public Safety and Solicitor General.
            </span>
          </section>
          <br>
          <section style="display: flex">
            <input type="checkbox" [(ngModel)]="infoAccurate" [ngModelOptions]="{standalone: true}"> &nbsp;
            <span>
              I certify that, to the best of my knowledge, the information I have provided on my application and will
              provide as necessary is complete, honest and accurate. I understand that a false statement or omission of
              facts herein may lead to a denial of a worker qualification. I am also aware that later discovery of an
              omission or misrepresentation may be grounds for any finding of suitability to be revoked or for being
              prosecuted under provincial law.
            </span>
          </section>
          <p></p>
          <label for="">Applicant Name</label>
          <br>
          <input type="text" class="form-control" required [(ngModel)]="signName" [ngModelOptions]="{standalone: true}"
            style="width: 350px" #name="ngModel">
          <i *ngIf="!name.valid && name.touched" class="fas fa-chevron-left fa-xs" style="color: #A12622;"></i>
          <i *ngIf="!name.valid && name.touched" class="fas fa-chevron-left fa-xs" style="color: #A12622; margin-left: -6px;"></i>
          <div *ngIf="!name.valid && name.touched" style="color: #A12622; width: 350px; margin-top: 2px;">
            <div *ngIf="!name.valid && name.touched ">
              Please enter your full legal name.
            </div>
          </div>
          <p></p>
        </section>

        <h2 class="blue-header">SIGNATURE</h2>
        <section style="padding-left: 10px;">
          <h4>WAIVER AND RELEASE</h4>
          <p>The information on this form is required for the purposes of conducting a security screening assessment.
            It is collected pursuant to Section 8(1) of the Privacy Act of Canada, and Sections s.26(c), 32(b) and
            33.1(1)(b) of the British Columbia Freedom of Information and Protection of Privacy Act (FOIPPA).</p>
          <h3>1. Download Signature Form</h3>
          <p>The Worker Qualification Application requires the applicant’s signature. Digital signatures are not
            permitted.</p>
          <a href="https://www2.gov.bc.ca/assets/download/7209B3F845DE4A718BE793180A4DE62C" target="_blank">
            <button class="btn btn-primary">
              <i class="fas fa-download"></i>
              CLICK TO DOWNLOAD SIGNATURE FORM</button>
          </a>
          <h3>2. Complete and Scan or Photograph Your Signature Form</h3>

          <p>Sign and make a high-resolution scan or photograph of your form.</p>

          <h3>3. Upload Completed Signature Form</h3>
          <p>
            Upload your completed signature form before continuing to submit and pay.</p>
        </section>

        <section>
          <app-file-uploader *ngIf="workerId" documentType="SPD Signature" fileTypes="FILE MUST BE IN PDF FORMAT."
            [multipleFiles]="false" entityName="worker" [entityId]="workerId" #mainForm></app-file-uploader>
        </section>
        <div *ngIf="showValidationMessages &&  (!mainForm || !mainForm.files || mainForm.files.length < 1)" style="color: #A12622; width: 700px; margin: auto; margin-top: 2px;">
          <span>Please upload your completed signature form. Ensure it is less than 25MB.</span>
          <br>
          <span>Your completed signature form didn’t upload. Please ensure your form is less than 25MB.</span>
        </div>

        <P>&nbsp;</P>

        <h2 class="blue-header">FEE PAYMENT</h2>

        <p>You are now ready to submit and pay. The qualification fee is $100.</p>
        <p>You'll make your payment through BC ExpressPay, a secure government service. It takes MasterCard and Visa
          debit and credit cards and American Express.</p>
        <h3>PRIVACY STATEMENT</h3>
        <div>
          I hereby release and forever discharge (i) Her Majesty the Queen in Right of Canada, the Royal Canadian
          Mounted Police, their members, employees, agents and assigns, and (ii) Her Majesty the Queen in Right of the
          Province of British Columbia and all employees and agents of the Province of British Columbia from any and
          all actions, causes of actions, claims, complaints and demands for any form of relief, damages, loss or
          injury which may hereafter be sustained by myself, howsoever arising from the above authorized disclosure of
          information and waive all rights thereto.
        </div>

        <section *ngIf="showValidationMessages" style="color: #A12622; background-color: #F2F2F2; padding: 10px">
          <i class="fas fa-exclamation-triangle"></i>
          Please make sure that you have filled out the entire form correctly.
        </section>
        <P>&nbsp;</P>

        <span style="float: right;">
          <button class="btn btn-secondary" routerLink="/worker-qualification/dashboard">
            <i class="fa fa-save"></i>
            SAVE FOR LATER</button>
          <button style="margin-left: 10px;" routerLink="/worker-qualification/application/{{workerId}}" class="btn btn-secondary">RETURN
            TO STEP 1
          </button>
          <button style="margin-left: 10px;" (click)="goToNextStep()" class="btn btn-primary">SUBMIT & PAY</button>
        </span>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <!-- <div [ngBusy]="busy"></div> -->
      <p></p>
      <section class="submit-container" style="background-color: #F2F2F2; color:#000; border: none;">
        <h2 style="color: #000">Collection Notice:</h2>
        <div class="submit-content">
          <p>
            The Security Programs Division (SPD) will collect your personal information for the purpose of fulfilling
            the requirements
            of the Cannabis Control and Licensing Act (CCLA) and associated regulations in accordance with Sections 26
            (a)
            and (c) of the Freedom of Information and Protection of Privacy Act. Should you have any questions about
            the
            collection, use, or disclosure of personal information, please contact the Senior Policy Analyst, Security
            Programs
            Division via mail to PO Box 9217 Stn Prov Govt Victoria, BC V8W 9J1; email to
            <a href="cannabissecurityscreening@gov.bc.ca">cannabissecurityscreening@gov.bc.ca</a>;
            or by telephone at 1-855-587-0185.</p>
        </div>
      </section>
    </div>
  </div>
</div>