.home-margins {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-primary {
    font-family: 'myriad-pro', 'sans serif';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

p {
    font-size: 16px;
}

.home-header-wrapper {
    background-color: #E4E4E4;
}

.home-body {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 50px;
    max-width: 775px;
    display: flex;
}

.jumbotron {
    h2 {
        font-weight: 400;
        font-size: 36px;
    }
    margin-top: 15px;
    margin-right: 40px;
    background-color: #E4E4E4;
    max-width: 775px;
}

.side-box {
    max-width: 400px;
    margin: 40px 0px 40px -15px;
    padding: 45px;
    background-color: rgba(56, 89, 138, 1);
    border-bottom: 3px solid #fcba19 !important;
    h2,
    p {
        color: white;
    }
    h2 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .btn {
        background-color: #003366;
    }
}

.fab-button {
    background-color: #7596C8;
    margin-right: 20px;
    cursor: default;
}

.icon {
    font-size: 30px;
    color: #fff;
    margin-left: -5px;
    margin-top: -5px;
}

@media (max-width: 575.98px) {
    .home-margins {
        padding-left: 10px;
        padding-right: 10px;
    }
    .side-box {
        padding: 25px;
    }
}

@media (max-width: 767px) {
    .side-box {
        margin: auto;
    }
}