<div style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div class="home-header-wrapper">
    <div class="home-margins">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="jumbotron">
            <h2>
              Apply for a liquor or cannabis licence

              
            </h2>
            <p>
              Log in below to access the Liquor and Cannabis Licensing portal where you can apply for a cannabis retail store license, cannabis marketing licence or liquor-related licence, manage changes to your account, or renew and pay application fees easily from your desktop computer, phone or tablet. Please note, you must have a Business BCeID to use the online application service.
            </p>
            <p>

              Currently, only catering and wine store liquor licences can be managed through the portal, but more liquor licence types will be added soon. Once a liquor licence type is available online, liquor licensees and applicants can use their Business BCeID to login.

            </p>
            <p><strong>Due to the increase in demand related to the COVID-19 pandemic, please expect delays in the standard processing time for all licensing applications.</strong></p>
            <div class="text-left" appRemoveIfFeatureOff="DisableLogin">
              <button style="margin-bottom: 10px;" class="btn btn-primary"
                      (click)="window.location.href='https://www.bceid.ca/register/'" tabindex="3">
                <strong>REGISTER FOR A BUSINESS BCeID</strong>
                <br>
              </button>
              <span style="padding: 10px;"></span>
              <p>
                <strong>
                  The Liquor and Cannabis Licensing portal is closed for maintenance.  During this time, you will not be able to log in to the site.
                </strong>
              </p>
              <p>
                <strong>                  
                  We apologize for any inconvenience.
                </strong>
                </p>
            </div>
            <div class="text-left" appRemoveIfFeatureOn="DisableLogin">
              <button style="margin-bottom: 10px;" class="btn btn-primary"
                      (click)="window.location.href='https://www.bceid.ca/register/'" tabindex="3">
                <strong>REGISTER FOR A BUSINESS BCeID</strong>
                <br>
              </button>
              <span style="padding: 10px;">OR</span>
              <button style="margin-bottom: 10px;" class="btn btn-primary" (click)="window.location.href='login'"
                      tabindex="3">
                <strong>LOG IN</strong>
                <br>
              </button>
            </div>
          </div>
        </div>
        <div appRemoveIfFeatureOff="CovidApplication" style="padding-left: 0px;" class="col-md-4 col-sm-12">
          <div class="side-box-wrapper">
            <section class="side-box">
              <section style="display: flex">
                <table>
                  <tr>
                    <td>
                      <button mat-fab class="fab-button mat-elevation-z0">
                        <mat-icon class="icon" aria-label="Liquor Content">description</mat-icon>
                      </button>
                    </td>
                    <td>
                      <h2 style="margin: 0px;">Temporary Service Area Expansion Authorization</h2>
                      <p style="font-size: small;">In response to the public health emergency related to COVID-19, and to help businesses safely reopen while respecting the Provincial Health 
                        Officer’s order and physical distancing guidelines, the LCRB is accepting applications for food primary, liquor primary, and manufacturer 
                        licensees to temporarily expand their service areas until October 31, 2020.
                      </p>
                    </td>
                  </tr>
                </table>
              </section>
              <p style="padding-top: 30px;">
                <span>
                  
                </span>
              </p>
              <div style="display: flex; justify-content: flex-end">
                
                  <button onclick="location.href='https://justice.gov.bc.ca/cannabislicensing/covid-temporary-extension';" type="button" class="btn btn-primary" tabindex="3" >Apply Here</button>
                
              </div>
            </section>
          </div>
        </div>       
      </div>
    </div>
  </div>
  <div class="home-margins">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="home-body">
          <app-accordion></app-accordion>
        </div>
      </div>
      
      <div style="padding-left:0px;" class="col-md-4 col-sm-12">
        
        <div class="side-box-wrapper">
          
            <section class="side-box">
              <section style="display: flex">
                <table>
                  <tr>
                    <td>
                      <button mat-fab class="fab-button mat-elevation-z0">
                        <mat-icon class="icon" aria-label="Liquor Content">description</mat-icon>
                      </button>
                    </td>
                    <td>
                      <h2 style="margin: 0px;">Learn About Liquor Licences</h2>
                      <p>Information about all liquor licences is available on the LCRB content portal.
                      </p>
                    </td>
                  </tr>
                </table>
              </section>
              <p style="padding-top: 30px;">
                <span>
                  
                </span>
              </p>
              <div style="display: flex; justify-content: flex-end">
                
                  <button onclick="location.href='https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing'" type="button" class="btn btn-primary" tabindex="3" >LCRB Content Portal</button>
                
              </div>
             </section>
             
          <section class="side-box">
            <app-newsletter-signup slug="signupForUpdates"></app-newsletter-signup>
          </section>
          <section class="side-box">
            <section style="display: flex">
              <table>
                <tr>
                  <td>
                    <button mat-fab class="fab-button mat-elevation-z0">
                      <mat-icon class="icon" aria-label="map icon">map</mat-icon>
                    </button>
                  </td>
                  <td>
                    <h2 style="margin: 0px;">Map of Cannabis Stores</h2>
                  </td>
                </tr>
              </table>
            </section>
            <p style="padding-top: 30px;">
              <span>
                Use the interactive map to find cannabis retail stores in British Columbia.
              </span>
            </p>
            <div style="display: flex; justify-content: flex-end">
              <button class="btn btn-primary" routerLink="/map" tabindex="3">See Map
              </button>
            </div>
          </section>
          <section class="side-box">
            <section style="display: flex">
              <table>
                <tr>
                  <td>
                    <button mat-fab class="fab-button mat-elevation-z0">
                      <mat-icon class="icon" aria-label="description icon">description</mat-icon>
                    </button>
                  </td>
                  <td>
                    <h2 style="margin: 0px;">Application Statistics</h2>
                  </td>
                </tr>
              </table>
            </section>
            <p style="padding-top: 30px;">
              <span>
                The number of applications received and where they are in the process. Updated weekly.
              </span>
            </p>
            <div style="display: flex; justify-content: flex-end">
              <button class="btn btn-primary" routerLink="/policy-document/application-stats" tabindex="3">See
                Application Statistics
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
