<h1>Corporate Details</h1>
<div class="">
  <section>
    <label for="">B.C. Incorporation Number</label>
    <br>
    <input class="form-style" type="text">
  </section>

  <section>
    <label>Date of Incorporation in B.C.</label>
    <br>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" (click)="d.toggle()" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <!-- <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <mat-icon>calendar_today</mat-icon>
          </button>
        </div> -->
      </div>
    </div>
  </section>

  <section>
    <label for="">Business Number</label>
    <br>
    <input class="form-style" type="text">
  </section>

  <section>
    <label for="">PST Number</label>
    <br>
    <input class="form-style" type="text">
  </section>

  <section>
    <span>Is the organization incorporated, continued or conducts business in other provinces or countries?</span>
    <br>
    <input type="radio" value="true"> Yes
    <br>
    <input type="radio" value="false"> Yes
  </section>

  <p></p>
  <section>
    <span>Upload the following documents about the corporation:</span>
    <br>
    <ul>
      <li>Certificate of Incorporation</li>
      <li>Articles of incorporation or corporate charter</li>
      <li>By-laws</li>
      <li>Any other basic documentation including any periodic updates or amending agreements</li>
    </ul>
    <app-file-uploader></app-file-uploader>
  </section>
</div>