<div>
  <h1 style="margin-top: 0;" *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1">Corporate Details</h1>
  <h1 style="margin-top: 0;" *ngIf="businessType == 'Society'">Society Details</h1>
  <h1 style="margin-top: 0;" *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1" >Patnership Details</h1>
  <h1 style="margin-top: 0;" *ngIf="businessType == 'SoleProprietor'">Sole Proprietor Details</h1>

  <div [ngBusy]="busy"></div>

  <div>
    <form [formGroup]='corporateDetailsForm' class="form-horizontal">
      <div class="">
        <section *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership', 'SoleProprietor'].indexOf(businessType) == -1" >
          <div [ngClass]="{'has-error': this.isFieldError('bcIncorporationNumber')}">
            <label *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1" for="">B.C. Incorporation Number</label>
            <label *ngIf="businessType == 'Society'" for="">B.C. Society Incorporation Number</label>
            <br />
            <input class="form-control" required style="width: 250px;" type="text" id="bcIncorporationNumber" formControlName="bcIncorporationNumber">
            <div *ngIf="this.isFieldError('bcIncorporationNumber')" class="alert alert-danger" style="width: 250px;">
              <div *ngIf="corporateDetailsForm.controls['bcIncorporationNumber'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <section *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership', 'SoleProprietor'].indexOf(businessType) == -1">
          <div [ngClass]="{'has-error': this.isFieldError('dateOfIncorporationInBC')}">
            <label *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1">Date of Incorporation in B.C.</label>
            <label *ngIf="businessType == 'Society'">Date of Incorporation in B.C.</label>
            <br>
            <input type="text" formControlName='dateOfIncorporationInBC' style="width: 110px;"  placeholder="yyyy-mm-dd" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
            <div *ngIf="this.isFieldError('dateOfIncorporationInBC')" class="alert alert-danger" style="width: 250px;">
              <div *ngIf="corporateDetailsForm.controls['dateOfIncorporationInBC'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('businessNumber')}">
            <label for="">Business Number</label>
            <br>
            <span style="margin-top: -3px;">Nine digit number from Canada Revenue Agency</span>
            <br>
            <input required class="form-control" style="width: 250px;" type="text" id="businessNumber" formControlName="businessNumber">
            <div *ngIf="this.isFieldError('businessNumber')" class="alert alert-danger" style="width: 250px;">
              <div *ngIf="corporateDetailsForm.controls['businessNumber'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>



        <p></p>
        <section *ngIf="businessType !== 'SoleProprietor'">
          <label *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1" >Upload the following documents about the corporation:</label>
          <label *ngIf="businessType == 'Society'" >Upload the following documents about the society:</label>
          <label *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1" >Upload the partnership agreement:</label>
          <br>
          <ul *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation', 'Society'].indexOf(businessType) !== -1">
            <li>Certificate of Incorporation</li>
            <li>Articles of incorporation or corporate charter</li>
            <li>By-laws</li>
            <li>Any other basic documentation including any periodic updates or amending agreements</li>
          </ul>
          <app-file-uploader documentType="Corporate Information" [accountId]="accountId"></app-file-uploader>
        </section>

        <p></p>
        <hr />
        <section>
          <h2>Contact</h2>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('contactEmail')}">
            <label for="">Email</label>
            <br>
            <input required class="form-control" style="width: 250px;" type="text" id="contactEmail" formControlName="contactEmail">
            <div *ngIf="this.isFieldError('contactEmail')" class="alert alert-danger" style="width: 250px;">
              <div *ngIf="corporateDetailsForm.controls['contactEmail'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('contactPhone')}">
            <label for="">Phone</label>
            <br>
            <input required class="form-control" style="width: 250px;" type="text" id="contactPhone" formControlName="contactPhone">
            <div *ngIf="this.isFieldError('contactPhone')" class="alert alert-danger" style="width: 250px;">
              <div *ngIf="corporateDetailsForm.controls['contactPhone'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <p></p>
        <hr />
        <section>
          <h2>Mailing Address</h2>
          <p>Address where you want any mail to be sent</p>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('mailingAddressName')}">
            <label for="">Name</label>
            <br>
            <input required class="form-control" style="width: 350px;" type="text" id="mailingAddressName" formControlName="mailingAddressName">
            <div *ngIf="this.isFieldError('mailingAddressName')" class="alert alert-danger" style="width: 350px;">
              <div *ngIf="corporateDetailsForm.controls['mailingAddressName'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('mailingAddressStreet')}">
            <label for="">Address</label>
            <br>
            <input required class="form-control" style="width: 450px;" type="text" id="mailingAddressStreet" formControlName="mailingAddressStreet">
            <div *ngIf="this.isFieldError('mailingAddressStreet')" class="alert alert-danger" style="width: 450px;">
              <div *ngIf="corporateDetailsForm.controls['mailingAddressStreet'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('mailingAddressCity')}">
            <label for="">City</label>
            <br>
            <input required class="form-control" style="width: 250px;" type="text" id="mailingAddressCity" formControlName="mailingAddressCity">
            <div *ngIf="this.isFieldError('mailingAddressCity')" class="alert alert-danger" style="width: 250px;">
              <div *ngIf="corporateDetailsForm.controls['mailingAddressCity'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('mailingAddressCountry')}">
            <label for="">Country</label>
            <br>
            <input required class="form-control" style="width: 250px;" type="text" id="mailingAddressCountry" formControlName="mailingAddressCountry">
            <div *ngIf="this.isFieldError('mailingAddressCountry')" class="alert alert-danger" style="width: 250px;">
              <div *ngIf="corporateDetailsForm.controls['mailingAddressCountry'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('mailingAddressProvince')}">
            <label for="">Province/State</label>
            <br>
            <!--<input class="form-control" style="width: 250px;" type="text" id="mailProvince" formControlName="mailProvince">-->
            <select *ngIf="(corporateDetailsForm.get('mailingAddressCountry').value||'').trim().toLowerCase() == 'canada'" required class="form-control" id="mailingAddressProvince" formControlName="mailingAddressProvince" style="width: 250px;">
              <option value=""></option>
              <option value="Alberta">Alberta</option>
              <option value="British Columbia">British Columbia</option>
              <option value="Manitoba">Manitoba</option>
              <option value="New Brunswick">New Brunswick</option>
              <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
              <option value="Nova Scotia">Nova Scotia</option>
              <option value="Ontario">Ontario</option>
              <option value="Prince Edward Island">Prince Edward Island</option>
              <option value="Quebec">Quebec</option>
              <option value="Saskatchewan">Saskatchewan</option>
              <option value="Northwest Territories">Northwest Territories</option>
              <option value="Nunavut">Nunavut</option>
              <option value="Yukon">Yukon</option>
            </select>
            <input *ngIf="(corporateDetailsForm.get('mailingAddressCountry').value||'').trim().toLowerCase() !== 'canada'" type="text" class="form-control" formControlName="mailingAddressProvince" style="width: 250px;">
            <div *ngIf="this.isFieldError('mailingAddressProvince')" class="alert alert-danger" style="width: 250px;">
              <div *ngIf="corporateDetailsForm.controls['mailingAddressProvince'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>

        <section>
          <div [ngClass]="{'has-error': this.isFieldError('mailingAddresPostalCode')}">
            <label for="">Postal Code</label>
            <br>
            <input required class="form-control" style="width: 80px;" type="text" id="mailingAddresPostalCode" formControlName="mailingAddresPostalCode">
            <div *ngIf="this.isFieldError('mailingAddresPostalCode')" class="alert alert-danger" style="width: 80px;">
              <div *ngIf="corporateDetailsForm.controls['mailingAddresPostalCode'].hasError('required') ">
                This is required
              </div>
            </div>
          </div>
        </section>
        
      </div>
    </form>
  </div>
</div>