<div appRemoveIfFeatureOff="Maps" style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div class="form-wrapper">
    <div class="home-margins">
      <h1>
        Licensee Retail Stores in B.C.
      </h1>
      <app-field label="Search by city or establishment name">
        <input type="text" [(ngModel)]="search" size="20" style="padding-right: 20px" (keyup.enter)="searchMap()">
        &nbsp;
        <button style="margin-right:10px; padding-left: 20px" class="btn btn-primary" (click)="searchMap()">
          <fa-icon [icon]="faSearch" style="margin-right: 10px;"></fa-icon>
          Search
        </button>
        <button class="btn btn-primary" (click)="resetMap()">
          Reset
        </button>
      </app-field>
      <div class="row">
        <table *ngIf="lrsData?.length > 0" class="eq-table">
          <tr>
            <td colspan="7" align="right">
              Download As: <a href="api/establishments/lrs-csv">CSV</a> &nbsp; <a href="api/establishments/lrs-json">JSON</a>
            </td>
          </tr>
          <tr>
            <th>Licence</th>
            <th>Establishment Name</th>
            <th style="width:150px">Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>Postal</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let item of lrsData; let i = index;">
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.license}}</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.name}}</span>
            </td> 
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">

              <span style="font-weight: 600" *ngIf="item.Phone">{{item.phone}}</span>
              <span style="font-weight: 600" *ngIf="!item.Phone">&nbsp;</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.addressStreet}}</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.addressCity}}</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.addressPostal}}</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600" *ngIf="item.isOpen === true">Open</span>
              <span style="font-weight: 600" *ngIf="item.isOpen !== true">Coming Soon</span>
            </td>
          </tr>
        </table>
      </div>


      <h1>
        Proposed Licensee Retail Stores in B.C.
      </h1>

      <div class="row"  *ngIf="proposedLrsData">
        <div *ngIf="proposedLrsData?.length == 0"><i>No results</i></div>
        <table *ngIf="proposedLrsData?.length > 0" class="eq-table">
          <tr>
            <td colspan="7" align="right">
              Download As: <a href="api/establishments/proposed-lrs-csv">CSV</a> &nbsp; <a href="api/establishments/proposed-lrs-json">JSON</a>
            </td>
          </tr>
          <tr>
            <th>Establishment Name</th>
            <th style="width: 150px">Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>Postal</th>
          </tr>
          <tr *ngFor="let item of proposedLrsData; let i = index;">
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.name}}</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">

              <span style="font-weight: 600" *ngIf="item.Phone">{{item.phone}}</span>
              <span style="font-weight: 600" *ngIf="!item.Phone">&nbsp;</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.addressStreet}}</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.addressCity}}</span>
            </td>
            <td style="background-color: #F1F4FA; padding: 10px; padding-bottom: 15px;">
              <span style="font-weight: 600">{{item.addressPostal}}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


