<h3><span class="step">STEP 3</span></h3>


<h1>Fee Payment</h1>

<p>
  You are now ready to submit and pay. The application fee is $100.
</p>

<p>
  You'll make your payment through BC ExpressPay, a secure government service. It takes Mastercard and Visa debit and credit
  cards and American Express.
</p>
<span style="float: right;">
  <button class="btn btn-primary">
    <i class="fa fa-save" style="color: #fff;" routerLink="/worker-qualification/dashboard"></i>
    SAVE FOR LATER</button>
    <button routerLink="/worker-qualification/spd-consent/{{workerId}}" class="btn btn-primary">RETURN TO STEP 2
    </button>
  <button class="btn btn-primary" (click)="submit_application()">SUBMIT & PAY</button>
</span>