{
  "swagger": "2.0",
  "info": {
    "title": "OrgBook BC API",
    "description": "OrgBook BC is a public, searchable directory of digital records for registered businesses in the Province of British Columbia. Over time, other government organizations and businesses will also begin to issue digital records through OrgBook BC. For example, permits and licenses issued by various government services.",
    "termsOfService": "https://www2.gov.bc.ca/gov/content/data/open-data",
    "contact": {
      "email": "bcdevexchange@gov.bc.ca"
    },
    "license": {
      "name": "Open Government License - British Columbia",
      "url": "https://www2.gov.bc.ca/gov/content/data/open-data/api-terms-of-use-for-ogl-information"
    },
    "version": "v2"
  },
  "host": "orgbook.gov.bc.ca:443",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/address": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Address_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Address"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/address/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this address.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Address_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        }
      }
    },
    "/v2/attribute": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Attribute_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Attribute"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/attribute/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this attribute.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Attribute_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Attribute"
            }
          }
        }
      }
    },
    "/v2/credential": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credential_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Credential"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/credential/active": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credential_list_active",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Credential"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/credential/historical": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credential_list_historical",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Credential"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/credential/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this credential.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credential_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          }
        }
      }
    },
    "/v2/credential/{id}/formatted": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this credential.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credential_retrieve_formatted",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          }
        }
      }
    },
    "/v2/credential/{id}/latest": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this credential.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credential_get_latest",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          }
        }
      }
    },
    "/v2/credentialtype": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credentialtype_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CredentialType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/credentialtype/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this credential type.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credentialtype_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CredentialType"
            }
          }
        }
      }
    },
    "/v2/credentialtype/{id}/language": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this credential type.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credentialtype_fetch_language",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CredentialType"
            }
          }
        }
      }
    },
    "/v2/credentialtype/{id}/logo": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this credential type.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Credentialtype_fetch_logo",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CredentialType"
            }
          }
        }
      }
    },
    "/v2/feedback": {
      "post": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Feedback_create",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "from_name",
            "in": "formData",
            "description": "Sender name",
            "type": "string"
          },
          {
            "name": "from_email",
            "in": "formData",
            "description": "Sender email address",
            "format": "email",
            "type": "string"
          },
          {
            "name": "comments",
            "in": "formData",
            "description": "Comments",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      }
    },
    "/v2/feedback{format}": {
      "parameters": [
        {
          "name": "format",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Create",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "from_name",
            "in": "formData",
            "description": "Sender name",
            "type": "string"
          },
          {
            "name": "from_email",
            "in": "formData",
            "description": "Sender email address",
            "format": "email",
            "type": "string"
          },
          {
            "name": "comments",
            "in": "formData",
            "description": "Comments",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      }
    },
    "/v2/issuer": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Issuer_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Issuer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/issuer/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this issuer.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Issuer_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Issuer"
            }
          }
        }
      }
    },
    "/v2/issuer/{id}/credentialtype": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this issuer.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Issuer_list_credential_types",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Issuer"
            }
          }
        }
      }
    },
    "/v2/issuer/{id}/logo": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this issuer.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Issuer_fetch_logo",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Issuer"
            }
          }
        }
      }
    },
    "/v2/name": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Name_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Name"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/name/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this name.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Name_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Name"
            }
          }
        }
      }
    },
    "/v2/quickload": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Quickload_list",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v2/quickload{format}": {
      "parameters": [
        {
          "name": "format",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Read",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v2/schema": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Schema_list",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "type": "number"
          },
          {
            "name": "name",
            "in": "query",
            "description": "",
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "",
            "type": "string"
          },
          {
            "name": "origin_did",
            "in": "query",
            "description": "",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Schema"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/schema/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this schema.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Schema_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Schema"
            }
          }
        }
      }
    },
    "/v2/search/autocomplete": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "Return autocomplete results for a query string",
        "operationId": "Search_autocomplete_list",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Query string",
            "type": "string"
          },
          {
            "name": "inactive",
            "in": "query",
            "description": "Show inactive credentials",
            "default": "any",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "latest",
            "in": "query",
            "description": "Show only latest credentials",
            "default": "true",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "revoked",
            "in": "query",
            "description": "Show revoked credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by credential category. The category name and value should be joined by '::'",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CredentialAutocomplete"
              }
            }
          }
        }
      }
    },
    "/v2/search/autocomplete/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "Return autocomplete results for a query string",
        "operationId": "Search_autocomplete_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CredentialAutocomplete"
            }
          }
        }
      }
    },
    "/v2/search/credential": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "Provide credential search via Solr with both faceted (/facets) and unfaceted results",
        "operationId": "Search_credential_list",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter credentials by related name or topic source ID",
            "type": "string"
          },
          {
            "name": "inactive",
            "in": "query",
            "description": "Show inactive credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "latest",
            "in": "query",
            "description": "Show only latest credentials",
            "default": "true",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "revoked",
            "in": "query",
            "description": "Show revoked credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by credential category. The category name and value should be joined by '::'",
            "type": "string"
          },
          {
            "name": "credential_type_id",
            "in": "query",
            "description": "Filter by Credential Type ID",
            "type": "string"
          },
          {
            "name": "issuer_id",
            "in": "query",
            "description": "Filter by Issuer ID",
            "type": "string"
          },
          {
            "name": "topic_id",
            "in": "query",
            "description": "Filter by Topic ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CredentialSearch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/credential/facets": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "We want facet_counts from the less-restricted queryset",
        "operationId": "Search_credential_facets",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CredentialSearch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/credential/topic": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Search_credential_topic_list",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter credentials by related name or topic source ID",
            "type": "string"
          },
          {
            "name": "inactive",
            "in": "query",
            "description": "Show inactive credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "latest",
            "in": "query",
            "description": "Show only latest credentials",
            "default": "true",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "revoked",
            "in": "query",
            "description": "Show revoked credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by credential category. The category name and value should be joined by '::'",
            "type": "string"
          },
          {
            "name": "credential_type_id",
            "in": "query",
            "description": "Filter by Credential Type ID",
            "type": "string"
          },
          {
            "name": "issuer_id",
            "in": "query",
            "description": "Filter by Issuer ID",
            "type": "string"
          },
          {
            "name": "topic_id",
            "in": "query",
            "description": "Filter by Topic ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CredentialTopicSearch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/credential/topic/facets": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "We want facet_counts from the less-restricted queryset",
        "operationId": "Search_credential_topic_facets",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CredentialTopicSearch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/credential/topic/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Search_credential_topic_read",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter credentials by related name or topic source ID",
            "type": "string"
          },
          {
            "name": "inactive",
            "in": "query",
            "description": "Show inactive credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "latest",
            "in": "query",
            "description": "Show only latest credentials",
            "default": "true",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "revoked",
            "in": "query",
            "description": "Show revoked credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by credential category. The category name and value should be joined by '::'",
            "type": "string"
          },
          {
            "name": "credential_type_id",
            "in": "query",
            "description": "Filter by Credential Type ID",
            "type": "string"
          },
          {
            "name": "issuer_id",
            "in": "query",
            "description": "Filter by Issuer ID",
            "type": "string"
          },
          {
            "name": "topic_id",
            "in": "query",
            "description": "Filter by Topic ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CredentialTopicSearch"
            }
          }
        }
      }
    },
    "/v2/search/credential/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "Provide credential search via Solr with both faceted (/facets) and unfaceted results",
        "operationId": "Search_credential_read",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter credentials by related name or topic source ID",
            "type": "string"
          },
          {
            "name": "inactive",
            "in": "query",
            "description": "Show inactive credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "latest",
            "in": "query",
            "description": "Show only latest credentials",
            "default": "true",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "revoked",
            "in": "query",
            "description": "Show revoked credentials",
            "default": "false",
            "enum": [
              "any",
              "false",
              "true"
            ],
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by credential category. The category name and value should be joined by '::'",
            "type": "string"
          },
          {
            "name": "credential_type_id",
            "in": "query",
            "description": "Filter by Credential Type ID",
            "type": "string"
          },
          {
            "name": "issuer_id",
            "in": "query",
            "description": "Filter by Issuer ID",
            "type": "string"
          },
          {
            "name": "topic_id",
            "in": "query",
            "description": "Filter by Topic ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CredentialSearch"
            }
          }
        }
      }
    },
    "/v2/topic": {
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Topic"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/topic/ident/{type}/{source_id}": {
      "parameters": [
        {
          "name": "source_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "type",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_retrieve_by_type",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Topic"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/topic/ident/{type}/{source_id}/formatted": {
      "parameters": [
        {
          "name": "source_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "type",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_ident_retrieve_by_type_formatted",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "count",
                "results"
              ],
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Topic"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/topic/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this topic.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_read",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Topic"
            }
          }
        }
      }
    },
    "/v2/topic/{id}/credential": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this topic.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_list_credentials",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Topic"
            }
          }
        }
      }
    },
    "/v2/topic/{id}/credential/active": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this topic.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_credential_list_active_credentials",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Topic"
            }
          }
        }
      }
    },
    "/v2/topic/{id}/credential/historical": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this topic.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_credential_list_historical_credentials",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Topic"
            }
          }
        }
      }
    },
    "/v2/topic/{id}/credentialset": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this topic.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_list_credential_sets",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Topic"
            }
          }
        }
      }
    },
    "/v2/topic/{id}/formatted": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this topic.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_retrieve_formatted",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Topic"
            }
          }
        }
      }
    },
    "/v2/topic/{id}/related_from": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this topic.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_list_related_from",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Topic"
            }
          }
        }
      }
    },
    "/v2/topic/{id}/related_to": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this topic.",
          "type": "integer"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "description": "",
        "operationId": "Topic_list_related_to",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Topic"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "required": [
        "credential"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "addressee": {
          "title": "Addressee",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "civic_address": {
          "title": "Civic address",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "city": {
          "title": "City",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "province": {
          "title": "Province",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "postal_code": {
          "title": "Postal code",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "country": {
          "title": "Country",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "credential": {
          "title": "Credential",
          "type": "integer"
        }
      }
    },
    "Attribute": {
      "type": "object",
      "required": [
        "credential"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "type": {
          "title": "Type",
          "type": "string",
          "default": "text",
          "minLength": 1
        },
        "format": {
          "title": "Format",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "value": {
          "title": "Value",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "credential": {
          "title": "Credential",
          "type": "integer"
        }
      }
    },
    "Credential": {
      "type": "object",
      "required": [
        "wallet_id",
        "topic",
        "credential_type"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "wallet_id": {
          "title": "Wallet id",
          "type": "string",
          "minLength": 1
        },
        "credential_def_id": {
          "title": "Credential def id",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "cardinality_hash": {
          "title": "Cardinality hash",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "effective_date": {
          "title": "Effective date",
          "type": "string",
          "format": "date-time"
        },
        "inactive": {
          "title": "Inactive",
          "type": "boolean"
        },
        "latest": {
          "title": "Latest",
          "type": "boolean"
        },
        "revoked": {
          "title": "Revoked",
          "type": "boolean"
        },
        "revoked_date": {
          "title": "Revoked date",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "topic": {
          "title": "Topic",
          "type": "integer"
        },
        "credential_set": {
          "title": "Credential set",
          "type": "integer",
          "x-nullable": true
        },
        "credential_type": {
          "title": "Credential type",
          "type": "integer"
        },
        "revoked_by": {
          "title": "Revoked by",
          "type": "integer",
          "x-nullable": true
        },
        "related_topics": {
          "type": "array",
          "uniqueItems": true,
          "items": {
            "type": "integer"
          },
          "readOnly": true
        }
      }
    },
    "Issuer": {
      "title": "Issuer",
      "type": "object",
      "required": [
        "did",
        "name",
        "abbreviation",
        "email",
        "url"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "has_logo": {
          "title": "Has logo",
          "type": "boolean",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "did": {
          "title": "Did",
          "type": "string",
          "minLength": 1
        },
        "name": {
          "title": "Name",
          "type": "string",
          "minLength": 1
        },
        "abbreviation": {
          "title": "Abbreviation",
          "type": "string",
          "minLength": 1
        },
        "email": {
          "title": "Email",
          "type": "string",
          "minLength": 1
        },
        "url": {
          "title": "Url",
          "type": "string",
          "minLength": 1
        },
        "endpoint": {
          "title": "Endpoint",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        }
      }
    },
    "CredentialType": {
      "type": "object",
      "required": [
        "issuer"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "issuer": {
          "$ref": "#/definitions/Issuer"
        },
        "has_logo": {
          "title": "Has logo",
          "type": "boolean",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "description": {
          "title": "Description",
          "type": "string",
          "x-nullable": true
        },
        "credential_def_id": {
          "title": "Credential def id",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "last_issue_date": {
          "title": "Last issue date",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "url": {
          "title": "Url",
          "type": "string",
          "x-nullable": true
        },
        "schema": {
          "type": "object",
          "required": [
            "name",
            "version",
            "origin_did"
          ],
          "properties": {
            "id": {
              "title": "ID",
              "type": "integer",
              "readOnly": true
            },
            "create_timestamp": {
              "title": "Create timestamp",
              "type": "string",
              "format": "date-time",
              "readOnly": true
            },
            "update_timestamp": {
              "title": "Update timestamp",
              "type": "string",
              "format": "date-time",
              "readOnly": true
            },
            "name": {
              "title": "Name",
              "type": "string",
              "minLength": 1
            },
            "version": {
              "title": "Version",
              "type": "string",
              "minLength": 1
            },
            "origin_did": {
              "title": "Origin did",
              "type": "string",
              "minLength": 1
            }
          },
          "readOnly": true
        }
      }
    },
    "Name": {
      "type": "object",
      "required": [
        "credential"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "text": {
          "title": "Text",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "language": {
          "title": "Language",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "credential": {
          "title": "Credential",
          "type": "integer"
        }
      }
    },
    "Schema": {
      "type": "object",
      "required": [
        "name",
        "version",
        "origin_did"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "minLength": 1
        },
        "version": {
          "title": "Version",
          "type": "string",
          "minLength": 1
        },
        "origin_did": {
          "title": "Origin did",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "CredentialName": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "text": {
          "title": "Text",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "language": {
          "title": "Language",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "credential_id": {
          "title": "Credential id",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CredentialAutocomplete": {
      "type": "object",
      "required": [
        "names"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialName"
          }
        },
        "inactive": {
          "title": "Inactive",
          "type": "boolean"
        }
      }
    },
    "CredentialSet": {
      "title": "Credential set",
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "latest_credential_id": {
          "title": "Latest credential id",
          "type": "string",
          "readOnly": true
        },
        "topic_id": {
          "title": "Topic id",
          "type": "string",
          "readOnly": true
        },
        "first_effective_date": {
          "title": "First effective date",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "last_effective_date": {
          "title": "Last effective date",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      }
    },
    "CredentialAddress": {
      "type": "object",
      "properties": {
        "country": {
          "title": "Country",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "city": {
          "title": "City",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "province": {
          "title": "Province",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "postal_code": {
          "title": "Postal code",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "addressee": {
          "title": "Addressee",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "credential_id": {
          "title": "Credential id",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "civic_address": {
          "title": "Civic address",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        }
      }
    },
    "CredentialAttribute": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "type": {
          "title": "Type",
          "type": "string",
          "minLength": 1
        },
        "format": {
          "title": "Format",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "value": {
          "title": "Value",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "credential_id": {
          "title": "Credential id",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CredentialTopic": {
      "title": "Topic",
      "type": "object",
      "required": [
        "source_id",
        "type"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "source_id": {
          "title": "Source id",
          "type": "string",
          "minLength": 1
        },
        "type": {
          "title": "Type",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "CredentialNamedTopic": {
      "type": "object",
      "required": [
        "source_id",
        "type",
        "names"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "source_id": {
          "title": "Source id",
          "type": "string",
          "minLength": 1
        },
        "type": {
          "title": "Type",
          "type": "string",
          "minLength": 1
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialName"
          }
        }
      }
    },
    "CredentialSearch": {
      "type": "object",
      "required": [
        "wallet_id",
        "credential_set",
        "credential_type",
        "addresses",
        "attributes",
        "names",
        "topic",
        "related_topics"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "effective_date": {
          "title": "Effective date",
          "type": "string",
          "format": "date-time"
        },
        "inactive": {
          "title": "Inactive",
          "type": "boolean"
        },
        "latest": {
          "title": "Latest",
          "type": "boolean"
        },
        "revoked": {
          "title": "Revoked",
          "type": "boolean"
        },
        "revoked_date": {
          "title": "Revoked date",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "wallet_id": {
          "title": "Wallet id",
          "type": "string",
          "minLength": 1
        },
        "credential_set": {
          "$ref": "#/definitions/CredentialSet"
        },
        "credential_type": {
          "$ref": "#/definitions/CredentialType"
        },
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialAddress"
          }
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialAttribute"
          }
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialName"
          }
        },
        "topic": {
          "$ref": "#/definitions/CredentialTopic"
        },
        "related_topics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialNamedTopic"
          }
        }
      }
    },
    "TopicAttribute": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "type": {
          "title": "Type",
          "type": "string",
          "minLength": 1
        },
        "format": {
          "title": "Format",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "value": {
          "title": "Value",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "credential_id": {
          "title": "Credential id",
          "type": "string",
          "readOnly": true
        },
        "credential_type_id": {
          "title": "Credential type id",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CredentialTopicExt": {
      "title": "Topic",
      "type": "object",
      "required": [
        "source_id",
        "type",
        "names",
        "addresses",
        "attributes"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "source_id": {
          "title": "Source id",
          "type": "string",
          "minLength": 1
        },
        "type": {
          "title": "Type",
          "type": "string",
          "minLength": 1
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialName"
          }
        },
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialAddress"
          }
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TopicAttribute"
          }
        }
      }
    },
    "CredentialTopicSearch": {
      "type": "object",
      "required": [
        "wallet_id",
        "credential_set",
        "credential_type",
        "names",
        "topic",
        "related_topics"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "effective_date": {
          "title": "Effective date",
          "type": "string",
          "format": "date-time"
        },
        "inactive": {
          "title": "Inactive",
          "type": "boolean"
        },
        "latest": {
          "title": "Latest",
          "type": "boolean"
        },
        "revoked": {
          "title": "Revoked",
          "type": "boolean"
        },
        "revoked_date": {
          "title": "Revoked date",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "wallet_id": {
          "title": "Wallet id",
          "type": "string",
          "minLength": 1
        },
        "credential_set": {
          "$ref": "#/definitions/CredentialSet"
        },
        "credential_type": {
          "$ref": "#/definitions/CredentialType"
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialName"
          }
        },
        "topic": {
          "$ref": "#/definitions/CredentialTopicExt"
        },
        "related_topics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialNamedTopic"
          }
        }
      }
    },
    "Topic": {
      "type": "object",
      "required": [
        "source_id",
        "type"
      ],
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "create_timestamp": {
          "title": "Create timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "update_timestamp": {
          "title": "Update timestamp",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "source_id": {
          "title": "Source id",
          "type": "string",
          "minLength": 1
        },
        "type": {
          "title": "Type",
          "type": "string",
          "minLength": 1
        },
        "related_to": {
          "type": "array",
          "uniqueItems": true,
          "items": {
            "type": "integer"
          },
          "readOnly": true
        },
        "related_from": {
          "type": "array",
          "uniqueItems": true,
          "items": {
            "type": "integer"
          },
          "readOnly": true
        }
      }
    }
  },
  "securityDefinitions": {
    "basic": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic": []
    }
  ]
}