{"swagger": "2.0", "info": {"title": "OrgBook BC API", "description": "OrgBook BC is a public, searchable directory of digital records for registered businesses in the Province of British Columbia. Over time, other government organizations and businesses will also begin to issue digital records through OrgBook BC. For example, permits and licenses issued by various government services.", "termsOfService": "https://www2.gov.bc.ca/gov/content/data/open-data", "contact": {"email": "bcdevexchange@gov.bc.ca"}, "license": {"name": "Open Government License - British Columbia", "url": "https://www2.gov.bc.ca/gov/content/data/open-data/api-terms-of-use-for-ogl-information"}, "version": "v2"}, "host": "orgbook.gov.bc.ca:443", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"basic": {"type": "basic"}}, "security": [{"basic": []}], "paths": {"/v2/address": {"get": {"operationId": "v2_address_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Address"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/address/{id}": {"get": {"operationId": "v2_address_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Address"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this address.", "required": true, "type": "integer"}]}, "/v2/attribute": {"get": {"operationId": "v2_attribute_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Attribute"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/attribute/{id}": {"get": {"operationId": "v2_attribute_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Attribute"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this attribute.", "required": true, "type": "integer"}]}, "/v2/credential": {"get": {"operationId": "v2_credential_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Credential"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/credential/active": {"get": {"operationId": "v2_credential_list_active", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Credential"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/credential/historical": {"get": {"operationId": "v2_credential_list_historical", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Credential"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/credential/{id}": {"get": {"operationId": "v2_credential_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Credential"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential.", "required": true, "type": "integer"}]}, "/v2/credential/{id}/formatted": {"get": {"operationId": "v2_credential_retrieve_formatted", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Credential"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential.", "required": true, "type": "integer"}]}, "/v2/credential/{id}/latest": {"get": {"operationId": "v2_credential_get_latest", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Credential"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential.", "required": true, "type": "integer"}]}, "/v2/credentialtype": {"get": {"operationId": "v2_credentialtype_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CredentialType"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/credentialtype/{id}": {"get": {"operationId": "v2_credentialtype_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialType"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential type.", "required": true, "type": "integer"}]}, "/v2/credentialtype/{id}/language": {"get": {"operationId": "v2_credentialtype_fetch_language", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialType"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential type.", "required": true, "type": "integer"}]}, "/v2/credentialtype/{id}/logo": {"get": {"operationId": "v2_credentialtype_fetch_logo", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialType"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this credential type.", "required": true, "type": "integer"}]}, "/v2/feedback": {"post": {"operationId": "v2_feedback_create", "description": "", "parameters": [{"name": "from_name", "in": "formData", "description": "Sender name", "type": "string"}, {"name": "from_email", "in": "formData", "description": "Sender email address", "type": "string", "format": "email"}, {"name": "comments", "in": "formData", "description": "Comments", "type": "string"}], "responses": {"201": {"description": ""}}, "consumes": ["application/x-www-form-urlencoded"], "tags": ["v2"]}, "parameters": []}, "/v2/feedback{format}": {"post": {"operationId": "v2_create", "description": "", "parameters": [{"name": "from_name", "in": "formData", "description": "Sender name", "type": "string"}, {"name": "from_email", "in": "formData", "description": "Sender email address", "type": "string", "format": "email"}, {"name": "comments", "in": "formData", "description": "Comments", "type": "string"}], "responses": {"201": {"description": ""}}, "consumes": ["application/x-www-form-urlencoded"], "tags": ["v2"]}, "parameters": [{"name": "format", "in": "path", "required": true, "type": "string"}]}, "/v2/issuer": {"get": {"operationId": "v2_issuer_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Issuer"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/issuer/{id}": {"get": {"operationId": "v2_issuer_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Issuer"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this issuer.", "required": true, "type": "integer"}]}, "/v2/issuer/{id}/credentialtype": {"get": {"operationId": "v2_issuer_list_credential_types", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Issuer"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this issuer.", "required": true, "type": "integer"}]}, "/v2/issuer/{id}/logo": {"get": {"operationId": "v2_issuer_fetch_logo", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Issuer"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this issuer.", "required": true, "type": "integer"}]}, "/v2/name": {"get": {"operationId": "v2_name_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Name"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/name/{id}": {"get": {"operationId": "v2_name_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Name"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this name.", "required": true, "type": "integer"}]}, "/v2/quickload": {"get": {"operationId": "v2_quickload_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["v2"]}, "parameters": []}, "/v2/quickload{format}": {"get": {"operationId": "v2_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["v2"]}, "parameters": [{"name": "format", "in": "path", "required": true, "type": "string"}]}, "/v2/schema": {"get": {"operationId": "v2_schema_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "version", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "origin_did", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Schema"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/schema/{id}": {"get": {"operationId": "v2_schema_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Schema"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this schema.", "required": true, "type": "integer"}]}, "/v2/search/autocomplete": {"get": {"operationId": "v2_search_autocomplete_list", "description": "Return autocomplete results for a query string", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "q", "in": "query", "description": "Query string", "type": "string"}, {"name": "inactive", "in": "query", "description": "Show inactive credentials", "type": "string", "enum": ["any", "false", "true"], "default": "any"}, {"name": "latest", "in": "query", "description": "Show only latest credentials", "type": "string", "enum": ["any", "false", "true"], "default": "true"}, {"name": "revoked", "in": "query", "description": "Show revoked credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "category", "in": "query", "description": "Filter by credential category. The category name and value should be joined by '::'", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CredentialAutocomplete"}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/search/autocomplete/{id}": {"get": {"operationId": "v2_search_autocomplete_read", "description": "Return autocomplete results for a query string", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialAutocomplete"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v2/search/credential": {"get": {"operationId": "v2_search_credential_list", "description": "Provide credential search via Solr with both faceted (/facets) and unfaceted results", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "name", "in": "query", "description": "Filter credentials by related name or topic source ID", "type": "string"}, {"name": "inactive", "in": "query", "description": "Show inactive credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "latest", "in": "query", "description": "Show only latest credentials", "type": "string", "enum": ["any", "false", "true"], "default": "true"}, {"name": "revoked", "in": "query", "description": "Show revoked credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "category", "in": "query", "description": "Filter by credential category. The category name and value should be joined by '::'", "type": "string"}, {"name": "credential_type_id", "in": "query", "description": "Filter by Credential Type ID", "type": "string"}, {"name": "issuer_id", "in": "query", "description": "Filter by Issuer ID", "type": "string"}, {"name": "topic_id", "in": "query", "description": "Filter by Topic ID", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CredentialSearch"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/search/credential/facets": {"get": {"operationId": "v2_search_credential_facets", "description": "We want facet_counts from the less-restricted queryset", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CredentialSearch"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/search/credential/topic": {"get": {"operationId": "v2_search_credential_topic_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "name", "in": "query", "description": "Filter credentials by related name or topic source ID", "type": "string"}, {"name": "inactive", "in": "query", "description": "Show inactive credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "latest", "in": "query", "description": "Show only latest credentials", "type": "string", "enum": ["any", "false", "true"], "default": "true"}, {"name": "revoked", "in": "query", "description": "Show revoked credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "category", "in": "query", "description": "Filter by credential category. The category name and value should be joined by '::'", "type": "string"}, {"name": "credential_type_id", "in": "query", "description": "Filter by Credential Type ID", "type": "string"}, {"name": "issuer_id", "in": "query", "description": "Filter by Issuer ID", "type": "string"}, {"name": "topic_id", "in": "query", "description": "Filter by Topic ID", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CredentialTopicSearch"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/search/credential/topic/facets": {"get": {"operationId": "v2_search_credential_topic_facets", "description": "We want facet_counts from the less-restricted queryset", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CredentialTopicSearch"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/search/credential/topic/{id}": {"get": {"operationId": "v2_search_credential_topic_read", "description": "", "parameters": [{"name": "name", "in": "query", "description": "Filter credentials by related name or topic source ID", "type": "string"}, {"name": "inactive", "in": "query", "description": "Show inactive credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "latest", "in": "query", "description": "Show only latest credentials", "type": "string", "enum": ["any", "false", "true"], "default": "true"}, {"name": "revoked", "in": "query", "description": "Show revoked credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "category", "in": "query", "description": "Filter by credential category. The category name and value should be joined by '::'", "type": "string"}, {"name": "credential_type_id", "in": "query", "description": "Filter by Credential Type ID", "type": "string"}, {"name": "issuer_id", "in": "query", "description": "Filter by Issuer ID", "type": "string"}, {"name": "topic_id", "in": "query", "description": "Filter by Topic ID", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialTopicSearch"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v2/search/credential/{id}": {"get": {"operationId": "v2_search_credential_read", "description": "Provide credential search via Solr with both faceted (/facets) and unfaceted results", "parameters": [{"name": "name", "in": "query", "description": "Filter credentials by related name or topic source ID", "type": "string"}, {"name": "inactive", "in": "query", "description": "Show inactive credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "latest", "in": "query", "description": "Show only latest credentials", "type": "string", "enum": ["any", "false", "true"], "default": "true"}, {"name": "revoked", "in": "query", "description": "Show revoked credentials", "type": "string", "enum": ["any", "false", "true"], "default": "false"}, {"name": "category", "in": "query", "description": "Filter by credential category. The category name and value should be joined by '::'", "type": "string"}, {"name": "credential_type_id", "in": "query", "description": "Filter by Credential Type ID", "type": "string"}, {"name": "issuer_id", "in": "query", "description": "Filter by Issuer ID", "type": "string"}, {"name": "topic_id", "in": "query", "description": "Filter by Topic ID", "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CredentialSearch"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/v2/topic": {"get": {"operationId": "v2_topic_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Topic"}}}}}}, "tags": ["v2"]}, "parameters": []}, "/v2/topic/ident/{type}/{source_id}": {"get": {"operationId": "v2_topic_retrieve_by_type", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Topic"}}}}}}, "tags": ["v2"]}, "parameters": [{"name": "source_id", "in": "path", "required": true, "type": "string"}, {"name": "type", "in": "path", "required": true, "type": "string"}]}, "/v2/topic/ident/{type}/{source_id}/formatted": {"get": {"operationId": "v2_topic_ident_retrieve_by_type_formatted", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Topic"}}}}}}, "tags": ["v2"]}, "parameters": [{"name": "source_id", "in": "path", "required": true, "type": "string"}, {"name": "type", "in": "path", "required": true, "type": "string"}]}, "/v2/topic/{id}": {"get": {"operationId": "v2_topic_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Topic"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this topic.", "required": true, "type": "integer"}]}, "/v2/topic/{id}/credential": {"get": {"operationId": "v2_topic_list_credentials", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Topic"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this topic.", "required": true, "type": "integer"}]}, "/v2/topic/{id}/credential/active": {"get": {"operationId": "v2_topic_credential_list_active_credentials", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Topic"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this topic.", "required": true, "type": "integer"}]}, "/v2/topic/{id}/credential/historical": {"get": {"operationId": "v2_topic_credential_list_historical_credentials", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Topic"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this topic.", "required": true, "type": "integer"}]}, "/v2/topic/{id}/credentialset": {"get": {"operationId": "v2_topic_list_credential_sets", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Topic"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this topic.", "required": true, "type": "integer"}]}, "/v2/topic/{id}/formatted": {"get": {"operationId": "v2_topic_retrieve_formatted", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Topic"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this topic.", "required": true, "type": "integer"}]}, "/v2/topic/{id}/related_from": {"get": {"operationId": "v2_topic_list_related_from", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Topic"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this topic.", "required": true, "type": "integer"}]}, "/v2/topic/{id}/related_to": {"get": {"operationId": "v2_topic_list_related_to", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Topic"}}}, "tags": ["v2"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this topic.", "required": true, "type": "integer"}]}}, "definitions": {"Address": {"required": ["credential"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "addressee": {"title": "Addressee", "type": "string", "minLength": 1, "x-nullable": true}, "civic_address": {"title": "Civic address", "type": "string", "minLength": 1, "x-nullable": true}, "city": {"title": "City", "type": "string", "minLength": 1, "x-nullable": true}, "province": {"title": "Province", "type": "string", "minLength": 1, "x-nullable": true}, "postal_code": {"title": "Postal code", "type": "string", "minLength": 1, "x-nullable": true}, "country": {"title": "Country", "type": "string", "minLength": 1, "x-nullable": true}, "credential": {"title": "Credential", "type": "integer"}}}, "Attribute": {"required": ["credential"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "type": {"title": "Type", "type": "string", "default": "text", "minLength": 1}, "format": {"title": "Format", "type": "string", "minLength": 1, "x-nullable": true}, "value": {"title": "Value", "type": "string", "minLength": 1, "x-nullable": true}, "credential": {"title": "Credential", "type": "integer"}}}, "Credential": {"required": ["wallet_id", "topic", "credential_type"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "wallet_id": {"title": "Wallet id", "type": "string", "minLength": 1}, "credential_def_id": {"title": "Credential def id", "type": "string", "minLength": 1, "x-nullable": true}, "cardinality_hash": {"title": "Cardinality hash", "type": "string", "minLength": 1, "x-nullable": true}, "effective_date": {"title": "Effective date", "type": "string", "format": "date-time"}, "inactive": {"title": "Inactive", "type": "boolean"}, "latest": {"title": "Latest", "type": "boolean"}, "revoked": {"title": "Revoked", "type": "boolean"}, "revoked_date": {"title": "Revoked date", "type": "string", "format": "date-time", "x-nullable": true}, "topic": {"title": "Topic", "type": "integer"}, "credential_set": {"title": "Credential set", "type": "integer", "x-nullable": true}, "credential_type": {"title": "Credential type", "type": "integer"}, "revoked_by": {"title": "Revoked by", "type": "integer", "x-nullable": true}, "related_topics": {"type": "array", "items": {"type": "integer"}, "readOnly": true, "uniqueItems": true}}}, "Issuer": {"title": "Issuer", "required": ["did", "name", "abbreviation", "email", "url"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "has_logo": {"title": "Has logo", "type": "boolean", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "did": {"title": "Did", "type": "string", "minLength": 1}, "name": {"title": "Name", "type": "string", "minLength": 1}, "abbreviation": {"title": "Abbreviation", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "minLength": 1}, "url": {"title": "Url", "type": "string", "minLength": 1}, "endpoint": {"title": "Endpoint", "type": "string", "minLength": 1, "x-nullable": true}}}, "CredentialType": {"required": ["issuer"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "issuer": {"$ref": "#/definitions/Issuer"}, "has_logo": {"title": "Has logo", "type": "boolean", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "credential_def_id": {"title": "Credential def id", "type": "string", "minLength": 1, "x-nullable": true}, "last_issue_date": {"title": "Last issue date", "type": "string", "format": "date-time", "x-nullable": true}, "url": {"title": "Url", "type": "string", "x-nullable": true}, "schema": {"required": ["name", "version", "origin_did"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "name": {"title": "Name", "type": "string", "minLength": 1}, "version": {"title": "Version", "type": "string", "minLength": 1}, "origin_did": {"title": "Origin did", "type": "string", "minLength": 1}}, "readOnly": true}}}, "Name": {"required": ["credential"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}, "language": {"title": "Language", "type": "string", "minLength": 1, "x-nullable": true}, "credential": {"title": "Credential", "type": "integer"}}}, "Schema": {"required": ["name", "version", "origin_did"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "name": {"title": "Name", "type": "string", "minLength": 1}, "version": {"title": "Version", "type": "string", "minLength": 1}, "origin_did": {"title": "Origin did", "type": "string", "minLength": 1}}}, "CredentialName": {"type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1, "x-nullable": true}, "language": {"title": "Language", "type": "string", "minLength": 1, "x-nullable": true}, "credential_id": {"title": "Credential id", "type": "string", "readOnly": true}}}, "CredentialAutocomplete": {"required": ["names"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "names": {"type": "array", "items": {"$ref": "#/definitions/CredentialName"}}, "inactive": {"title": "Inactive", "type": "boolean"}}}, "CredentialSet": {"title": "Credential set", "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "latest_credential_id": {"title": "Latest credential id", "type": "string", "readOnly": true}, "topic_id": {"title": "Topic id", "type": "string", "readOnly": true}, "first_effective_date": {"title": "First effective date", "type": "string", "format": "date-time", "x-nullable": true}, "last_effective_date": {"title": "Last effective date", "type": "string", "format": "date-time", "x-nullable": true}}}, "CredentialAddress": {"type": "object", "properties": {"country": {"title": "Country", "type": "string", "minLength": 1, "x-nullable": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "city": {"title": "City", "type": "string", "minLength": 1, "x-nullable": true}, "province": {"title": "Province", "type": "string", "minLength": 1, "x-nullable": true}, "postal_code": {"title": "Postal code", "type": "string", "minLength": 1, "x-nullable": true}, "addressee": {"title": "Addressee", "type": "string", "minLength": 1, "x-nullable": true}, "credential_id": {"title": "Credential id", "type": "string", "readOnly": true}, "id": {"title": "ID", "type": "integer", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "civic_address": {"title": "Civic address", "type": "string", "minLength": 1, "x-nullable": true}}}, "CredentialAttribute": {"type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "type": {"title": "Type", "type": "string", "minLength": 1}, "format": {"title": "Format", "type": "string", "minLength": 1, "x-nullable": true}, "value": {"title": "Value", "type": "string", "minLength": 1, "x-nullable": true}, "credential_id": {"title": "Credential id", "type": "string", "readOnly": true}}}, "CredentialTopic": {"title": "Topic", "required": ["source_id", "type"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "source_id": {"title": "Source id", "type": "string", "minLength": 1}, "type": {"title": "Type", "type": "string", "minLength": 1}}}, "CredentialNamedTopic": {"required": ["source_id", "type", "names"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "source_id": {"title": "Source id", "type": "string", "minLength": 1}, "type": {"title": "Type", "type": "string", "minLength": 1}, "names": {"type": "array", "items": {"$ref": "#/definitions/CredentialName"}}}}, "CredentialSearch": {"required": ["wallet_id", "credential_set", "credential_type", "addresses", "attributes", "names", "topic", "related_topics"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "effective_date": {"title": "Effective date", "type": "string", "format": "date-time"}, "inactive": {"title": "Inactive", "type": "boolean"}, "latest": {"title": "Latest", "type": "boolean"}, "revoked": {"title": "Revoked", "type": "boolean"}, "revoked_date": {"title": "Revoked date", "type": "string", "format": "date-time", "x-nullable": true}, "wallet_id": {"title": "Wallet id", "type": "string", "minLength": 1}, "credential_set": {"$ref": "#/definitions/CredentialSet"}, "credential_type": {"$ref": "#/definitions/CredentialType"}, "addresses": {"type": "array", "items": {"$ref": "#/definitions/CredentialAddress"}}, "attributes": {"type": "array", "items": {"$ref": "#/definitions/CredentialAttribute"}}, "names": {"type": "array", "items": {"$ref": "#/definitions/CredentialName"}}, "topic": {"$ref": "#/definitions/CredentialTopic"}, "related_topics": {"type": "array", "items": {"$ref": "#/definitions/CredentialNamedTopic"}}}}, "TopicAttribute": {"type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "type": {"title": "Type", "type": "string", "minLength": 1}, "format": {"title": "Format", "type": "string", "minLength": 1, "x-nullable": true}, "value": {"title": "Value", "type": "string", "minLength": 1, "x-nullable": true}, "credential_id": {"title": "Credential id", "type": "string", "readOnly": true}, "credential_type_id": {"title": "Credential type id", "type": "string", "readOnly": true}}}, "CredentialTopicExt": {"title": "Topic", "required": ["source_id", "type", "names", "addresses", "attributes"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "source_id": {"title": "Source id", "type": "string", "minLength": 1}, "type": {"title": "Type", "type": "string", "minLength": 1}, "names": {"type": "array", "items": {"$ref": "#/definitions/CredentialName"}}, "addresses": {"type": "array", "items": {"$ref": "#/definitions/CredentialAddress"}}, "attributes": {"type": "array", "items": {"$ref": "#/definitions/TopicAttribute"}}}}, "CredentialTopicSearch": {"required": ["wallet_id", "credential_set", "credential_type", "names", "topic", "related_topics"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "effective_date": {"title": "Effective date", "type": "string", "format": "date-time"}, "inactive": {"title": "Inactive", "type": "boolean"}, "latest": {"title": "Latest", "type": "boolean"}, "revoked": {"title": "Revoked", "type": "boolean"}, "revoked_date": {"title": "Revoked date", "type": "string", "format": "date-time", "x-nullable": true}, "wallet_id": {"title": "Wallet id", "type": "string", "minLength": 1}, "credential_set": {"$ref": "#/definitions/CredentialSet"}, "credential_type": {"$ref": "#/definitions/CredentialType"}, "names": {"type": "array", "items": {"$ref": "#/definitions/CredentialName"}}, "topic": {"$ref": "#/definitions/CredentialTopicExt"}, "related_topics": {"type": "array", "items": {"$ref": "#/definitions/CredentialNamedTopic"}}}}, "Topic": {"required": ["source_id", "type"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "create_timestamp": {"title": "Create timestamp", "type": "string", "format": "date-time", "readOnly": true}, "update_timestamp": {"title": "Update timestamp", "type": "string", "format": "date-time", "readOnly": true}, "source_id": {"title": "Source id", "type": "string", "minLength": 1}, "type": {"title": "Type", "type": "string", "minLength": 1}, "related_to": {"type": "array", "items": {"type": "integer"}, "readOnly": true, "uniqueItems": true}, "related_from": {"type": "array", "items": {"type": "integer"}, "readOnly": true, "uniqueItems": true}}}}}