.bev-slider {
  width: 160px;
}

.tool-container {
  label {
    margin-right: 8px;
  }
}

::ng-deep {
  .t-servings .ngx-slider .ngx-slider-bar {
    background: #ccc;
  }

  .t-servings .ngx-slider .ngx-slider-tick {
    background: #ccc;
  }

  .t-servings.ngx-slider-pointer {
    background-color: #fcba19;
  }

  .t-servings .ngx-slider .ngx-slider-pointer {
    background-color:#38598a;
  }

  .t-servings .ngx-slider[disabled] .ngx-slider-pointer {
    background-color: #d8e0f3;
}

  .ngx-slider-pointer:focus-visible {
    outline: none !important;
  }
}

small {
  font-size: 0.65em;
}

.red {
  background-color: red;
}
