<div>
    <p>
        Use the tool below to declare the appropriate number of drink servings for your event. You can adjust the total
        number at any time before you submit your application.
    </p>

    <p>
        Hosting a liquor tasting? Use the conversion tool below.
    </p>
    <mat-divider></mat-divider>

    <div class="d-flex" style="margin-bottom: 25px; background-color:#e1e8f2; border-bottom: #ccc; padding-top: 25px; padding-bottom: 25px;">

      <!--div class="slider-box"-->
        <mat-slider  [(ngModel)]="total_servings" class="flex-fill" thumbLabel [displayWith]="formatLabel" tickInterval="auto" step="1" [min]="1" [max]="max_servings"
            aria-label="units"></mat-slider>

            <div class="slider-labels">
              <div class="minimum">1<br>Minimum<br>Amount</div>
              <div class="declared">{{suggested_servings}}<br>Suggested<br>Amount</div>
              <div class="real-maximum">{{max_servings}}<br>Suggested<br>Maximum</div>
          </div>
      <!--/div-->

        <div class="flex-fill slider-box">
            <input type="number" [max]="max_servings" [min]="1" [(ngModel)]="total_servings" name="totalServings" class="form-control bev-slider" style="text-align:center; height:50px; font-size:20px; font-weight: 900;"><br>
            <strong>Declared Maximum Servings</strong><br>
            <small>You can enter a different number of <br>drinks here.</small>
        </div>
    </div>

    <p>
        According to the information you provided, the number of drinks served at your event should not exceed {{max_servings}}. This
        is a basic guideline. You may enter your own declared maximum servings, however, please remember that you are
        responsible for the safety of your guests and are required to prevent over-service and intoxication.
    </p>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                HOSTING A LIQUOR TASTING? USE THIS CONVERSION TOOL
            </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="tool-container">
            <h3>HOW TO USE THIS TOOL?</h3>

            <div class="d-flex">
                <label>Step 1</label>
                <section>
                    <p>
                        Input the size of your tasting drink in ounces. In the case of spirits, the tasting size is
                        fixed and cannot be adjusted.
                    </p>
                    <p>
                        Note: if the number of standard drinks is showing zero, you may have to increase the number of
                        tastings until a whole number is calculated by the tool.
                    </p>
                </section>
            </div>

            <div class="d-flex">
                <label>Step 2</label>
                <section>
                    <p>
                        Input the number of tastings you would like to calculate for. The number of standard drinks will
                        be calculated in the text box automatically.
                    </p>
                </section>
            </div>

            <div class="d-flex">
                <label>Step 3</label>
                <section>
                    <p>
                        Input the price per tasting drink you would like to calculate. The price per standard sized
                        drink will be calculated in the next box automatically.
                    </p>
                </section>
            </div>

            <div class="d-flex">
                <label>Step 4</label>
                <section>
                    <p>
                        Press the "Clear" button to reset the entered values if you would like to use the tool again.
                    </p>
                </section>
            </div>

            <app-conversion-tool toolType="beer"></app-conversion-tool>

            <app-conversion-tool toolType="wine"></app-conversion-tool>

            <app-conversion-tool toolType="spirits"></app-conversion-tool>
        </section>
    </mat-expansion-panel>

    <section class="pt-3">
        <button mat-raised-button color="secondary" matStepperPrevious>BACK</button>
        <button mat-raised-button color="primary" (click)="next()">NEXT</button>
    </section>
</div>
