.red-snackbar {
  background: #F44336;
}

.green-snackbar {
  background: #00ff21;
}

.gray-background {
  background: #F5F5F5;
  padding-bottom: 10px;
  padding-top: 10px;
  width: auto;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
