<ng-template #applicationContent>

  <div *ngIf="account?.businessType">

    <div [formGroup]="form" style="padding-left: 45px; position: relative">
      <!-- Title -->
      <h1 class="ngtest-page-title">Plan Your Store Opening</h1>
    </div>

    <div [formGroup]="form" class="application-wrapper">
      <!-- Preamble -->
      <section class="ngtest-preamble-content">
        <p>
          Your non-medical cannabis retail store application has been approved in principle.
        </p>
        <p>After completing the required fields and paying your first-year licensing fee, your licence will be approved,
          and you can begin ordering product from the Liquor Distribution Branch.
        </p>

        <p>As per your licence terms and conditions, you can only purchase your non-medical cannabis supply directly
          from the Liquor Distribution Branch. However, cannabis accessories may be obtained from other sources. Any
          cannabis you order must be securely received and locked at your store location. Please ensure you have
          adequate security in place prior to ordering.</p>
      </section>

      <section>
        <h3 class="blue-header">STORE OPENING</h3>
        <div class="padded-section">
          <app-field label="Estimated Opening Date" [required]="true"
            [valid]="isValidOrNotTouched('establishmentopeningdate')" errorMessage="Please enter date">
            <input type="text" style="width: 200px; background-color: #fff;" placeholder="yyyy-mm-dd" readonly
              formControlName="establishmentopeningdate" class="form-control" [min]="minDate" [matDatepicker]="picker"
              (focus)="picker.open()" (click)="picker.open()">
            <mat-datepicker #picker></mat-datepicker>
          </app-field>
          <!-- <app-field label="Reason for opening on this date">
            <select class="form-control" name="" id="" class="form-control">
              <option value="0">Option 1</option>
              <option value="1">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </app-field> -->
          <app-field label="Please outline the reason for the opening date" [isFullWidth]="true" [required]="true"
            [valid]="isValidOrNotTouched('description1')" errorMessage="Please enter value (atlease 10 characters)"
            [showChevrons]="false">
            <textarea style="width: 100%" rows="6" formControlName="description1"></textarea>
          </app-field>
        </div>

        <span>Note: If your estimated opening date changes, please return to this page and update it above.</span>
      </section>

      <section *ngIf="application?.licenceFeeInvoicePaid">
        <h3 class="blue-header">GET READY FOR YOUR INSPECTION</h3>
        <div class="padded-section">
          <!-- <p>
            As you get closer to your store opening, please contact your local inspector at [inspector email] to
            schedule an inspection of your store.
          </p> -->
          <p>
            Below you will find a checklist of requirements that an inspector will review at the time of your store
            inspection. It is your responsibility to ensure the requirements are met. Failure to meet these requirements
            could result in the temporary suspension of your licence.
          </p>
          <p>
            Please see the <a
              href="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/liquor-regulation-licensing/guides-and-manuals/cannabis-retail-store-licence-handbook.pdf"
              target="blank">Cannabis Retail Store Terms and Conditions</a> handbook for more information.
          </p>

          <app-field [valid]="true" [showChevrons]="false">
            <section style="display: flex">
              <input type="checkbox" formControlName="isReadyValidInterest">
              <div style="padding-left: 10px;">
                You own or have a fully executed lease for your establishment
              </div>
            </section>
          </app-field>
          <app-field [valid]="true" [showChevrons]="false">
            <section style="display: flex">
              <input type="checkbox" formControlName="isReadyWorkers">
              <div style="padding-left: 10px;">
                Workers have obtained a security verification from the province. This includes any adult (19 years of
                age or older) performing work-related activities in a retail store as an employee, independent
                contractor or volunteer on a full-time or part-time basis.
                <br>
                <i>
                  Security verification is not required for trade workers who are under the supervision of a worker who
                  has obtained a security verification from the Province.
                </i>

              </div>
            </section>
          </app-field>


          <app-field [valid]="true" [showChevrons]="false">
            <section style="display: flex">
              <input type="checkbox" formControlName="isReadyNameBranding">
              <div style="padding-left: 10px;">
                The name of the business and exterior signage complies with provincial requirements as approved by the
                Liquor and Cannabis Regulation Branch.
              </div>
            </section>
          </app-field>

          <app-field [valid]="true" [showChevrons]="false">
            <section style="display: flex">
              <input type="checkbox" formControlName="isReadyDisplays">
              <div style="padding-left: 10px;">
                Displays do not permit self-service by patrons (including dispensing devices). All cannabis and cannabis
                accessories are displayed in a way that products are not accessible to patrons.
              </div>
            </section>
          </app-field>
          <div class="padded-section">
            <p style="font-weight: 600;">The following physical security requirements are in place:</p>
            <div class="padded-section">
              <app-field [valid]="true" [showChevrons]="false">
                <section style="display: flex">
                  <input type="checkbox" formControlName="isReadyIntruderAlarm">
                  <div style="padding-left: 10px;">
                    An audible intruder alarm system monitored by a third-party
                  </div>
                </section>
              </app-field>

              <app-field [valid]="true" [showChevrons]="false">
                <section style="display: flex">
                  <input type="checkbox" formControlName="isReadyFireAlarm">
                  <div style="padding-left: 10px;">
                    An audible fire alarm system monitored by a third-party
                  </div>
                </section>
              </app-field>

              <app-field [valid]="true" [showChevrons]="false">
                <section style="display: flex">
                  <input type="checkbox" formControlName="isReadyLockedCases">
                  <div style="padding-left: 10px;">
                    Locked retail product display cases
                  </div>
                </section>
              </app-field>

              <app-field [valid]="true" [showChevrons]="false">
                <section style="display: flex">
                  <input type="checkbox" formControlName="isReadyLockedStorage">
                  <div style="padding-left: 10px;">
                    Locked cannabis storage room
                  </div>
                </section>
              </app-field>

              <app-field [valid]="true" [showChevrons]="false">
                <section style="display: flex">
                  <input type="checkbox" formControlName="isReadyPerimeter">
                  <div style="padding-left: 10px;">
                    Secure perimeter door locks
                  </div>
                </section>
              </app-field>
            </div>
            <div class="padded-section">
              <p style="font-weight: 600;">Security cameras with full unobstructed view of:</p>
              <div class="padded-section">
                <app-field [valid]="true" [showChevrons]="false">
                  <section style="display: flex">
                    <input type="checkbox" formControlName="isReadyRetailArea">
                    <div style="padding-left: 10px;">
                      the retail sales area
                    </div>
                  </section>
                </app-field>
                <app-field [valid]="true" [showChevrons]="false">
                  <section style="display: flex">
                    <input type="checkbox" formControlName="isReadyStorage">
                    <div style="padding-left: 10px;">
                      any product storage area
                    </div>
                  </section>
                </app-field>
                <app-field [valid]="true" [showChevrons]="false">
                  <section style="display: flex">
                    <input type="checkbox" formControlName="isReadyExtranceExit">
                    <div style="padding-left: 10px;">
                      both the interior and exterior of all store entrances/exits.
                    </div>
                  </section>
                </app-field>
              </div>
            </div>


          </div>


          <app-field [valid]="true" [showChevrons]="false">
            <section style="display: flex">
              <input type="checkbox" formControlName="isReadySurveillanceNotice">
              <div style="padding-left: 10px;">
                A notice informing patrons that video surveillance is being used on the premises is displayed and
                visible at all times.
              </div>
            </section>
          </app-field>

          <app-field [valid]="true" [showChevrons]="false">
            <section style="display: flex">
              <input type="checkbox" formControlName="isReadyProductNotVisibleOutside">
              <div style="padding-left: 10px;">
                Cannabis, cannabis accessories and any transactions involving these products are not visible from
                outside the store.
              </div>
            </section>
          </app-field>
        </div>
      </section>

      <p></p>
      <section class="error" *ngIf="showValidationMessages">
        <p *ngFor="let message of validationMessages">
          <span class="app-cancel">
            <mat-icon aria-label="error icon" style="font-size: 15px;">error</mat-icon>
            {{message}}
          </span>
        </p>
      </section>

      <section *ngIf="application?.licenceFeeInvoicePaid">

        <section style="position: relative; margin-top: 20px;">
          <button style="float: right;" class="btn btn-primary" [routerLink]="[ '/dashboard']">
            <i class="fas fa-save" style="margin-right: 10px;"></i>
            SAVE</button>
          <div style="clear: both"></div>
          <div [ngBusy]="busy"></div>
        </section>
      </section>

      <section *ngIf="!application?.licenceFeeInvoicePaid">
        <p></p>
        <p>Proceed to pay online using a credit card through the secure web portal.</p>
        <p></p>

        <section style="position: relative; margin-top: 20px;">
          <button style="float: right;" class="btn btn-primary" (click)="submit_application()">
            <i class="fas fa-shopping-cart" style="margin-right: 10px;"></i>
            PAY LICENCE FEE AND RECEIVE LICENCE</button>
          <div style="clear: both"></div>
          <div [ngBusy]="busy"></div>
        </section>
      </section>
    </div>
  </div>
</ng-template>


<div class="dashboard-spacing" style="position: relative">
  <div [ngBusy]="busy"></div>
  <ng-container *ngTemplateOutlet="applicationContent"></ng-container>
</div>