<div class="container">
  <div class="row">
    <div class="col-md-8" *ngIf="verificationResult=='Success'">
      <h2>Success</h2>
      <p>Thank you for confirming your email address. You’ll begin receiving updates about selling cannabis in B.C.</p>      
    </div>
    <div class="col-md-8" *ngIf="verificationResult=='Error'">
      <h2>Error</h2>
      <p>Your email address has not been confirmed. Please sign up to receive updates on policy and the application process.</p>
    </div>
  </div>
</div>
