<div class="form-wrapper">
  <h1>COVID Temporary Extension Application</h1>


  <section class="d-flex">
    <div class="flex-grow-0" style="background-color: #E1E8F2; width: 50px;"></div>
    <div class="flex-grow-1 p-3" style="background-color: #F1F4FA;">
      <section class="ngtest-confirmation-content">
        <h3>Thank you for your submission.</h3>
        <h3>What Happens Next?</h3>
        <p>The LCRB licensing staff will review the application package and advise you of any information or documents required before the application can be processed. </p>
        <p>LCRB licensing staff will review the comments from the local government/Indigenous Nation (if applicable) and will contact you by email to let you know whether or not the change has been approved. You will receive LCRB’s decision in writing.</p>
      </section>
    </div>
  </section>
</div>
