<div class="dashboard-spacing">
  <section *ngIf="!isNewUser && dataLoaded">
    <!-- <div [ngBusy]="busy"></div> -->
    <h1>Worker Registration Dashboard</h1>
    <div>
      <p>
        Your Worker Registration Application and Consent for Cannabis Security Screening are incomplete. You can return to this page
        and complete and submit them with payment at any time.
      </p>

      <p>The program will let you know in writing the results of your screening.</p>

      <h2>Registration Status</h2>

      <section>
        <mat-table class="mat-elevation-z0 detail-table" [dataSource]="dataSource">

          <!-- Column -->
          <ng-container matColumnDef="lastUpdated">
            <mat-header-cell *matHeaderCellDef> LAST UPDATED </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element?.modifiedOn | date:'mediumDate'}}
            </mat-cell>
          </ng-container>

          <!-- Column -->
          <ng-container matColumnDef="worker">
            <mat-header-cell *matHeaderCellDef> WORKER </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a routerLink="/worker-registration/application/{{element.id}}">{{element?.firstname}} {{element?.middlename}}
                {{element.lastname}}
              </a>
            </mat-cell>
          </ng-container>

          <!-- Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.paymentReceived === true ? 'Submitted' : 'In progress'}}
              <!-- <span (click)="cancelApplication(element?.id, element?.establishmentName, element?.name)">
              <i class="fas fa-trash-alt" style="color: #1a5a96;"></i>
              <a href="javascript: void(0)">
                Cancel Application</a>
            </span> -->
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row [ngClass]="{'grey-background' : i%2 == 1}" *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
        </mat-table>
      </section>

    </div>
  </section>


  <section *ngIf="isNewUser && dataLoaded">
    <app-user-confirmation [currentUser]="currentUser" (reloadUser)="reloadUser()"></app-user-confirmation>
  </section>

</div>