<div class="dashboard-spacing">
  <section *ngIf="!isNewUser && dataLoaded">
    <!-- <div [ngBusy]="busy"></div> -->
    <h1>Worker Registration Dashboard</h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h2>Registration Status</h2>

      <section>
        <mat-table class="mat-elevation-z0 detail-table" [dataSource]="dataSource">

          <!-- Column -->
          <ng-container matColumnDef="lastUpdated">
            <mat-header-cell *matHeaderCellDef> LAST UPDATED </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <!-- {{element?.modifiedon | date:'mediumDate'}}  -->
            </mat-cell>
          </ng-container>

          <!-- Column -->
          <ng-container matColumnDef="worker">
            <mat-header-cell *matHeaderCellDef> WORKER </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a routerLink="/worker-registration/application/{{element.id}}">{{element?.firstname}} {{element?.middlename}}
                {{element.lastname}}</a>
            </mat-cell>
          </ng-container>

          <!-- Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <!-- <span (click)="cancelApplication(element?.id, element?.establishmentName, element?.name)">
              <i class="fas fa-trash-alt" style="color: #1a5a96;"></i>
              <a href="javascript: void(0)">
                Cancel Application</a>
            </span> -->
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row [ngClass]="{'grey-background' : i%2 == 1}" *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
        </mat-table>
      </section>

    </div>
  </section>

  
  <section *ngIf="isNewUser && dataLoaded">
      <app-user-confirmation [currentUser]="currentUser" (reloadUser)="reloadUser()"></app-user-confirmation>
  </section>

</div>