<div class="form-wrapper position-relative">
  <mat-progress-bar class="mt-1" *ngIf="!(dataLoaded && account)" mode="indeterminate"></mat-progress-bar>

  <ng-container *ngIf="account">
    <app-decision-not-made-applications></app-decision-not-made-applications>
    <app-for-zoning-applications></app-for-zoning-applications>
    <app-decision-made-but-no-docs-applications></app-decision-made-but-no-docs-applications>
    <!--<section *ngIf="applicationsDecisionNotMade?.length === 0 && applicationsDecisionMadeButNoDocs?.length === 0 && applicationsForZoning?.length === 0">
      <h1>No applications awaiting review</h1>
      <p>There are currently no applications awaiting your review.</p>
    </section>-->
  </ng-container>  

    <div>
      <h1>Resolved Applications</h1>
      <div class="flex-grow-0" style="background-color: #E1E8F2; width: 50px;"></div>
      <div class="flex-grow-1 p-3 mb-2" style="background-color: #F1F4FA; padding: 20px;">
        <p>The following applications are resolved.</p>
      </div>
      <app-resolved-applications></app-resolved-applications>
    </div>
</div>
