.table {
  padding: 15px;
  text-align: left;

  td {
    border: none;
  }
}

.border {
  border-style:solid;
  border-color:black
}

.border-red {
  border-style: solid;
  border-color: red;
  background-color: #ff9999
}

