#u8678_div {
  border-width:0px;
  width:806px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8678 {
  border-width:0px;
  width:806px;
  height:186px;
}
#u8678_text {
  border-width:0px;
  width:806px;
  word-wrap:break-word;
}
#u8715 {
  border-width:0px;
  width:0px;
  height:0px;
}
#u8716_div {
  border-width:0px;
  width:99px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u8716 {
  border-width:0px;
  width:99px;
  height:196px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u8716_text {
  border-width:0px;
  width:101px;
  white-space:nowrap;
}
#u8717_div {
  border-width:0px;
  width:83px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  line-height:28px;
}
#u8717 {
  border-width:0px;
  width:83px;
  height:196px;
  font-size:13px;
  line-height:28px;
}
#u8717_text {
  border-width:0px;
  width:81px;
  white-space:nowrap;
}
#u8718_div {
  border-width:0px;
  width:164px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#009933;
}
#u8718 {
  border-width:0px;
  width:164px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#009933;
}
#u8718_text {
  border-width:0px;
  width:169px;
  white-space:nowrap;
}

