<h1>License Applications</h1>

<!--{{adoxioApplications | json}}-->
<!--{{dataSource | json}}-->

<table id="licenseApplicationsTable" *ngIf="adoxioApplications" class="minimalistBlack">
  <thead>
    <tr>
      <th>Name</th>
      <th>Applying Person</th>
      <th>Job Number</th>
      <th>License Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let adoxioApplication of adoxioApplications">
      <td>{{adoxioApplication.name}}</td>
      <td>{{adoxioApplication.applyingPerson}}</td>
      <td>{{adoxioApplication.jobNumber}}</td>
      <td>{{adoxioApplication.licenseType}}</td>
    </tr>
  </tbody>
</table>


