<div class="col-md-12" *ngIf="componentLoaded">

  <h2>License Application: <strong>{{applicationName}}</strong></h2>
  
  <div class="col-sm-3 col-md-2" style="padding-left: 0">
    <div *ngIf="currentUser"><strong>{{ currentUser.businessname }}</strong></div>
    <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li *ngIf="tabStructure.indexOf('contact-details') !== -1" [ngClass]="{'active': view_tab == 'contact-details'}">
        <a (click)="changeTab('contact-details')">Contact Details</a>
      </li>
      <li *ngIf="tabStructure.indexOf('property-details') !== -1" [ngClass]="{'active': view_tab == 'property-details'}">
        <a (click)="changeTab('property-details')">Property Details</a>
      </li>
      <li *ngIf="tabStructure.indexOf('store-information') !== -1" [ngClass]="{'active': view_tab == 'store-information'}">
        <a (click)="changeTab('store-information')">Store Information</a>
      </li>
      <li *ngIf="tabStructure.indexOf('floor-plan') !== -1" [ngClass]="{'active': view_tab == 'floor-plan'}">
        <a (click)="changeTab('floor-plan')">Floor Plan</a>
      </li>
      <li *ngIf="tabStructure.indexOf('site-map') !== -1" [ngClass]="{'active': view_tab == 'site-map'}">
        <a (click)="changeTab('site-map')">Site Plan</a>
      </li>
      <li *ngIf="tabStructure.indexOf('declaration') !== -1" [ngClass]="{'active': view_tab == 'declaration'}">
        <a (click)="changeTab('declaration')">Declaration</a>
      </li>
      <li *ngIf="tabStructure.indexOf('submit-pay') !== -1" [ngClass]="{'active': view_tab == 'submit-pay'}">
        <a (click)="changeTab('submit-pay')">Submit & Pay</a>
      </li>
    </ul>
  </div>
    <div class="col-md-9 col-sm-9">
      <!-- Tab panes -->
      <div>
        <router-outlet></router-outlet>
      </div>
      <p>&nbsp;</p>
      <div class="col-md-10 row">
        <a class="globalButton btn btn-secondary" *ngIf="view_tab != 'contact-details'" tabindex="1" (click)="back()">
          <strong>Back</strong>
          <br>
        </a>
        &nbsp;
        <a class="globalButton btn btn-primary" *ngIf="view_tab != 'submit-pay'" tabindex="2" (click)="next()">
          <strong>Save and Continue</strong>
          <br>
        </a>
      </div>
    </div>
</div>
