<section class="form-wrapper" *ngIf="!isNewUser && userLoaded && dataLoaded">
  <h1>Welcome, {{currentUser?.name}}</h1>

  <section *ngIf="hasLinkedPoliceAccount">
    <p class="mat-body-2">Where would you like to go from here?</p>
    <h2>My Jobs</h2>
    <hr>
    <table>
      <tr>
        <td>{{assignedJobsInProgress}}</td>
        <th>Applications in progress</th>
        <td><a routerLink="/sep/police/my-jobs">View</a></td>
      </tr>
      <tr>
        <td>{{assignedJobsInProgressWithExceptions}}</td>
        <th>Applications with exemptions approved</th>
        <td><a routerLink="/sep/police/my-jobs">View</a></td>
      </tr>
      <tr>
        <td>{{assignedApplicationsIssued}}</td>
        <th>Applications issued</th>
        <td><a routerLink="/sep/police/my-jobs">View</a></td>
      </tr>
    </table>
  </section>

  
  <section *ngIf="!hasLinkedPoliceAccount" class="mat-elevation-z2 submitted-content" style="background-color: #F1F4FA">
    <ng-container *ngIf="!terminatedApplicationExists">
      <div>
        You have not yet activated your Police Special Event Permits capabilities. Before you can continue, you must first
        request activation from LCRB. Activation ensures that you can participate in the SEP application process.
      </div>
      <div class="d-flex flex-row-reverse">
        <button mat-raised-button *ngIf="!nonTerminatedApplicationExists" (click)="requestClaimApproval(); requestBtn.disabled = true;" class="btn btn-primary mt-3" #requestBtn>REQUEST ACTIVATION</button>
        <button mat-raised-button *ngIf="nonTerminatedApplicationExists" disabled class="btn btn-secondary mt-3">ACTIVATION REQUESTED</button>
      </div>
    </ng-container>
  </section>
</section>