<h1>Site Map</h1>

<h2>Site Map</h2>
<p>Upload a site map of the area surrounding your store</p>

<div class="row">
  <div class="gray-background">
    <p><strong>Your site map must show:</strong></p>
    <ul>
      <li>The location of the building and where it's located on the property</li>
      <li>The location of all entrances to the store</li>
      <li>The locations of other buildings and businesses nearby, the entrances to those buildings, and their names or a description of what they are (e.g. gas station, office building)</li>
      <li>Relevant street names nearby</li>
      <li>Road access to the property, including the locations of any driveways and parking spots</li>
    </ul>
  </div>
</div>

<app-file-uploader documentType="Site Map" [accountId]="accountId"></app-file-uploader>
