.bg-blue {
  background-color: #d1ddef;
}
.bg-green {
  background-color: #dcecd6;
}
.bg-red {
  background-color: #e9b0ad;
}
.bg-purple {
  background-color: #e9d6fc;
}
.bg-yellow {
  background-color: #ffefc9;
}
.bg-grey {
  background-color: #d4d4d4;
}
.bg-dark-grey {
  background-color: #bbb;
}

input {
  text-align: right;
}
.border-blue {
  border-color: #38598a !important;
}

@media (min-width: 1250px) {
  .nowrap {
    flex-wrap: nowrap !important;
  }
}

.alert {
  padding: 10px;
  margin-bottom: 0;
  margin-top: 3px;
}
.input-group {
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.form-control {
  width: 1%;
  font-size: 11px;
}
