.bg-blue {
  background-color: #D1DDEF;
}
.bg-green {
  background-color: #DCECD6;
}
.bg-red {
  background-color: #E9B0AD;
}
.bg-purple {
  background-color: #E9D6FC;
}
.bg-yellow {
  background-color: #FFEFC9;
}
.bg-grey {
  background-color: #D4D4D4;
}
.bg-dark-grey {
  background-color: #BBB;
}

input {
  text-align: right;
}
.border-blue {
  border-color: #38598A !important;
}

@media (min-width: 1250px) {
  .nowrap {
    flex-wrap: nowrap !important;
  }
}
