<div>
  <h1></h1>
  <mat-horizontal-stepper [linear]="true" (selectionChange)="selectionChange($event)" #stepper>
    <ng-template matStepperIcon="edit">
      <i class="fas fa-check"></i>
    </ng-template>
    <!-- <ng-template matStepperIcon="number">
    </ng-template> -->

    <mat-step label="Review Account Profile">
      <app-account-profile *ngIf="stepper.selectedIndex === 0" [useInStepperMode]="true" style="width: 100%" (saveComplete)="stepper.selectedIndex = 1">
      </app-account-profile>
    </mat-step>
    <mat-step label="Review Organization Information">
      <app-associate-page *ngIf="stepper.selectedIndex === 1" style="width: 100%" (saveComplete)="stepper.selectedIndex = 2"></app-associate-page>
    </mat-step>
    <mat-step label="Complete Application">
      <app-application-renewal *ngIf="stepper.selectedIndex === 2" style="width: 100%"></app-application-renewal>
    </mat-step>
  </mat-horizontal-stepper>


</div>