<div class="">
  <h1>Key Personnel &amp; Senior Employees</h1>
  <p>
    Key personnel are those people having authority and responsibility for planning, directing, and controlling the activities
    of the corporation, either directly or indirectly. This designation typically includes the following positions:
  </p>

  <ul>
    <li>Chief executive officer, chief operating officer, and chief financial officer</li>
    <li>Vice presidents</li>
    <li>Senior managers</li>
  </ul>
  <section>
    <label for="">Upload an organization chart of the corporation's key personnel and senior employees:</label>
  </section>
  <p></p>
  <section>
    <app-file-uploader documentType="Organization Structure" [accountId]="accountId"></app-file-uploader>
  </section>
</div>