.content{
    border: 1px solid #aaa;
    margin-top: -10px;
    padding: 10px;
    border-bottom: 0px;
}
.content-bottom{
    border: 1px solid #aaa;
    margin-top: -10px;
    padding: 10px;   
    border-top:0px;
}

