<div *ngIf="node">
  <div *ngIf="node?.isRoot">
    <h1>{{node?.businessNameNew}} Legal Entity Structure</h1>


    <div class=row>
      <div class="col-md-12">

        <section class="d-flex">
          <div class="flex-grow-0" style="width: 50px; background-color: #E1E8F2;"></div>
          <div class="flex-grow-1 p-3" style="background-color: #F1F4FA; padding: 20px;">

            <section *ngIf="isReadOnly">
              <p><strong>You have recently reported changes to the legal entity structure on file with LCRB. Those
                  changes have not yet been processed.</strong></p>
              <p>If you have made additional changes since they have been submited you may report additional changes:
              </p>
              <button *ngIf="isReadOnly" class="btn btn-secondary mb-2"
                (click)="reportAdditionalChanges.next(true)">Report Additional Changes</button>
            </section>

            <section *ngIf="!isReadOnly">
              <!-- For all corporations -->
              <section
                *ngIf="node?.businessType === 'PrivateCorporation' || node?.businessType === 'PublicCorporation'">
                <p>All licensees and applicants must maintain a complete and current list of leadership and businesses
                  associated with their organization.</p>
                <p>You are required to notify the LCRB of any changes to your legal entity structure within ten business
                  days of the change being made. These changes include:</p>
                <ul>
                  <li>Change of directors, officers, or senior managers</li>
                  <li>Name changes</li>
                  <!-- for private corporations only-->
                  <li *ngIf="node?.businessType === 'PrivateCorporation'">Internal transfer of shares</li>
                  <li *ngIf="node?.businessType === 'PrivateCorporation'">External transfer of shares</li>
                </ul>
                <p><b>Please note:</b> Licence transfers to a different legal entity may be requested through the
                  Licences
                  dashboard.</p>
              </section>

              <!-- For Partnerships -->
              <section *ngIf="node?.businessType === 'Partnership'">
                <p>All licensees and applicants must maintain a complete and current list of individual and businesses
                  partners associated with their organization.</p>
                <p>You are required to notify the LCRB of any changes to your legal entity structure within ten business
                  days of the change being made. These changes include:</p>
                <ul>
                  <li>Change of partners</li>
                  <li>Name changes</li>
                  <li>Internal transfer of shares for partner businesses</li>
                  <li>External transfer of shares for partner businesses</li>
                </ul>
                <p><b>Please note:</b> Licence transfers to a different legal entity may be requested through the
                  Licences
                  dashboard.</p>
              </section>

              <!-- For Sole Proprietors -->
              <section *ngIf="node?.businessType === 'SoleProprietorship'">
                <p>Sole Proprietors must provide their leadership information and keep it up to date.</p>
                <p>You are required to notify the LCRB of name changes within ten business days of the change being
                  made.
                </p>
                <p><b>Please note:</b> Licence transfers to a different legal entity may be requested through the
                  Licences
                  dashboard.</p>
              </section>

              <!-- For Societies, Universities and Churches-->
              <section *ngIf="['Society', 'University', 'Church'].indexOf(node?.businessType) !== -1">
                <p>{{node?.businessType}} applicants and licensees must provide their leadership information and keep it
                  up to date.</p>
                <p>You are required to notify the LCRB of name changes within ten business days of the change being
                  made.
                </p>
                <p><b>Please note:</b> Licence transfers to a different legal entity may be requested through the
                  Licences
                  dashboard.</p>
              </section>

              <!-- For Indigenous Nations -->
              <section *ngIf="node?.businessType === 'IndigenousNation'">
                <p>
                  An applicant that is an <i>Indigenous Nation</i> may have associates that are required to consent to
                  security
                  screening
                  and financial integrity assessments as part of the application for a non-medical cannabis retail store
                  licence.
                  Applicants are required to provide associates with the Parcel Identifier (PID) or proposed retail
                  store
                  location
                  address.
                </p>
                <span style="font-style: italic;" class="li-header"><i>Parcel Identifier (PID):</i></span>
                <br>
                <ul>
                  <li>The PID is a nine-digit number permanently assigned to a parcel of land.</li>
                  <li>
                    The legal description and PID may be found on a Land Title Certificate, in BC Property Assessment
                    documents,
                    on the lease, or obtained from the landlord.
                  </li>
                </ul>
                <p>
                  Applicants should direct associates to the
                  <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/cannabis-regulation/associate-forms"
                    target="_blank" rel="noopener noreferrer">LCRB non-medical cannabis webpage</a> to download required
                  forms and instructions
                  for submitting documentation.
                </p>

                <p>
                  Associates will submit documentation for security screening and financial integrity assessments
                  directly
                  to
                  the LCRB. Applicants should not delay submitting a completed application form and business financial
                  integrity
                  form. It is the applicant's responsibility to direct all associates to the
                  <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/cannabis-regulation/associate-forms"
                    target="_blank" rel="noopener noreferrer">link provided</a>.
                </p>
                <p>
                  Associates for Indigenous Nations applications include all persons who are authorized to act on behalf
                  of the
                  nation.
                </p>
                <p>
                  If you require more information please email <a
                    href="mailto:lcrbcannabis@gov.bc.ca?Subject=Indigenous Nations">lcrbcannabis@gov.bc.ca</a>.
                </p>

                <p>
                  Please note: While they are not normally required as part of the licence application process, the
                  Liquor
                  and
                  Cannabis Regulation Branch reserves the right to ask for an Indigenous Nation’s membership lists.
                </p>
              </section>

              <section *ngIf="node?.businessType !=='IndigenousNation'">
                <p>Fees are calculated based on the type of change reported and the number of licences impacted. If no
                  changes are made, or no licences are held, you will not be charged a fee for submitting this
                  information.</p>
                <ul>
                  <li>Applicable fees for cannabis licensees are listed in <a
                      href="http://www.bclaws.ca/civix/document/id/complete/statreg/202_2018#Schedule1"
                      target="_blank">Schedule 1</a> of the Cannabis Licensing Regulation.</li>
                  <li>Applicable fees for liquor licensees are listed in <a
                      href="http://www.bclaws.ca/civix/document/id/complete/statreg/241_2016#Schedule1"
                      target="_blank">Schedule 1</a> of the Liquor Control and Licensing Regulation.</li>
                </ul>
              </section>

              <!-- For Indigenous Nations -->
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div *ngIf="!node?.isRoot">
    <h2 *ngIf="node?.businessType" class="plain-header">
      {{node?.businessNameNew}} Shareholder Business Information
    </h2>
    <p *ngIf="node && !node.businessType">Please select a shareholder <strong>Business Type</strong> above.</p>
  </div>

  <ng-template #treeNode let-node="node" let-account="account">

    <!-- All Corporations-->
    <ng-container *ngIf="node?.businessType === 'PrivateCorporation' || node?.businessType === 'PublicCorporation'">

      <h3 class="blue-header">Corporate Documents</h3>
      <div class="content">
        <h4 class="plain-header">Notice of Articles</h4>
        <section class="padded-section">
          <p *ngIf="!isReadOnly">Please upload the {{node?.businessNameNew}} Corporation Notice of Articles.</p>
          <p *ngIf="isReadOnly">The following {{node?.businessNameNew}} Corporation Notice of Articles is on file:</p>
          <section>
            <app-file-uploader *ngIf="account?.id" documentType="{{asLicenseeChangeLog(node).fileUploadPrefix}} NOA"
              fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="account"
              [useDocumentTypeForName]="true" (numberOfUploadedFiles)="updateNumberOfFiles($event, 'NOA')"
              [entityId]="account?.id" [uploadHeader]="'TO UPLOAD NOTICE OF ARTICLES, DRAG FILE HERE OR'">
            </app-file-uploader>
          </section>
        </section>
      </div>
    </ng-container>

    <!-- Private Corporations Only-->
    <ng-container *ngIf="node?.businessType === 'PrivateCorporation'" [formGroup]="form">
      <div class="content-bottom">
        <h4 class="plain-header">Central Securities Register</h4>
        <section class="padded-section">
          <p *ngIf="!isReadOnly">Please upload the {{node?.businessNameNew}} Central Securities Register.</p>
          <p *ngIf="isReadOnly">The following {{node?.businessNameNew}} Central Securities Register is on file:</p>
          <app-file-uploader *ngIf="account?.id" documentType="{{asLicenseeChangeLog(node).fileUploadPrefix}} SECREG"
            fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="account"
            (numberOfUploadedFiles)="updateNumberOfFiles($event, 'SECREG')" [useDocumentTypeForName]="true"
            (numberOfUploadedFiles)="uploadedFinancialIntegrityDocuments = $event" [entityId]="account?.id"
            [uploadHeader]="'TO UPLOAD CENTRAL SECURITIES REGISTER, DRAG FILE HERE OR'">
          </app-file-uploader>
        </section>

        <h4 class="plain-header">Special Rights and Restrictions</h4>
        <section class="padded-section">
          <p>
            If the Notice of Articles does not specify the voting rights of the company’s shares, please upload the
            company’s Special Rights and Restrictions.
          </p>
          <app-file-uploader *ngIf="account?.id" documentType="{{asLicenseeChangeLog(node).fileUploadPrefix}} SRANDR"
            fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="account"
            (numberOfUploadedFiles)="updateNumberOfFiles($event, 'SRANDR')" [useDocumentTypeForName]="true"
            (numberOfUploadedFiles)="uploadedFinancialIntegrityDocuments = $event" [entityId]="account?.id"
            [uploadHeader]="'TO UPLOAD SPECIAL RIGHTS AND RESTRICTIONS, DRAG FILE HERE OR'">
          </app-file-uploader>
        </section>



        <!--h3 class="plain-header">Total Number of Voting Shares</h3>
        <section class="padded-section">
        <p>Please enter the total number of voting shares in your corporation.</p>
          <app-field errorMessage="Please enter value"
          [valid]="!form.get('totalShares').touched || form.get('totalShares').touched">
          <input type="number" formControlName="totalShares" class="form-control">
          </app-field>
        </section-->
      </div>
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'IndigenousNation'">
      <h3 class="blue-header">Indigenous Nation Associate Forms</h3>
      <div class="content-bottom">
        <h4 class="plain-header">Associate Forms</h4>
        <section class="padded-section">
          <p>Associate forms for {{node?.businessNameNew}}.</p>
          <app-file-uploader *ngIf="account?.id"
            documentType="{{asLicenseeChangeLog(node).fileUploadPrefix}} Associate Forms"
            fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="true" entityName="account"
            (numberOfUploadedFiles)="updateNumberOfFiles($event, 'Associate Forms')" [useDocumentTypeForName]="true"
            [entityId]="account?.id" [uploadHeader]="'TO UPLOAD ASSOCIATE FORMS, DRAG FILE HERE OR'">
          </app-file-uploader>
        </section>
      </div>
    </ng-container>

    <!-- Partnerships-->

    <ng-container *ngIf="node?.businessType === 'Partnership'">
      <h3 class="blue-header">Partnership Documents</h3>
      <div class="content-bottom">
        <h4 class="plain-header">Partnership Agreement</h4>
        <section class="padded-section">
          <p>Partnership Agreement for {{node?.businessNameNew}}:</p>
          <app-file-uploader *ngIf="account?.id"
            documentType="{{asLicenseeChangeLog(node).fileUploadPrefix}} Partnership Agreement"
            fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="account"
            (numberOfUploadedFiles)="updateNumberOfFiles($event, 'Partnership Agreement')"
            [useDocumentTypeForName]="true" (numberOfUploadedFiles)="uploadedFinancialIntegrityDocuments = $event"
            [entityId]="account?.id" [uploadHeader]="'TO UPLOAD SPECIAL PARTNERSHIP AGREEMENT, DRAG FILE HERE OR'">
          </app-file-uploader>
        </section>
      </div>
    </ng-container>

    <!-- University and Churches -->
    <ng-container *ngIf="node?.businessType === 'University' || node?.businessType === 'Church'">
      <h3 class="blue-header">Official Documents</h3>
      <div class="content-bottom">
        <h4 class="plain-header">Official Documents</h4>
        <section class="padded-section">
          <p>Official operating documents for {{node?.businessNameNew}} that support your legal entity structure.</p>
          <app-file-uploader *ngIf="account?.id"
            documentType="{{asLicenseeChangeLog(node).fileUploadPrefix}} Official Documents"
            fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="false" entityName="account"
            (numberOfUploadedFiles)="updateNumberOfFiles($event, 'Official Documents')" [useDocumentTypeForName]="true"
            [entityId]="account?.id" [uploadHeader]="'TO UPLOAD OFFICIAL DOCUMENTS, DRAG FILE HERE OR'">
          </app-file-uploader>
        </section>
      </div>
    </ng-container>

    <ng-container [formGroup]="form" *ngIf="node?.businessType === 'Society'">

      <h3 class="blue-header">Provide Society Information</h3>
      <div class="content-bottom">
        <section class="padded-section">
          <app-field label="Annual Membership Fee" errorMessage="Please enter value"
            [valid]="!form.get('annualMembershipFee').touched || form.get('annualMembershipFee').touched">
            <input type="text" formControlName="annualMembershipFee" class="form-control" prefix="$"
              thousandSeparator="," mask="separator">
          </app-field>
          <app-field label="Number of Members" errorMessage="Please enter value"
            [valid]="!form.get('numberOfMembers').touched || form.get('numberOfMembers').touched">
            <input type="number" formControlName="numberOfMembers" re class="form-control">
          </app-field>
        </section>
      </div>
    </ng-container>

    <ng-container [formGroup]="form" *ngIf="node?.isRoot">
      <h3 class="blue-header">Additional Supporting Documents</h3>
      <div class="content-bottom">
        <section class="padded-section">
          <p>
            If requested by LCRB, please upload additional supporting documents here.
          </p>
          <app-file-uploader *ngIf="account?.id" documentType="{{asLicenseeChangeLog(node).fileUploadPrefix}} ADDT"
            fileTypes="FILE MUST BE IN PDF FORMAT." [multipleFiles]="true" entityName="account"
            (numberOfUploadedFiles)="updateNumberOfFiles($event, 'ADDT')" [useDocumentTypeForName]="false"
            [entityId]="account?.id" [uploadHeader]="'TO UPLOAD ADDITIONAL SUPPORTING DOCUMENTS, DRAG FILE HERE OR'">
          </app-file-uploader>
        </section>
      </div>
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'SoleProprietorship'">
      <h3 class="blue-header">Provide Ownership Information</h3>
      <div class="content-bottom">
        <app-associate-list [personalHistoryItems]="asLicenseeChangeLog(node).keyPersonnelChildren" [rootNode]="node"
          [isReadOnly]="isReadOnly" [account]="account" [licencesOnFile]="licencesOnFile" changeTypeSuffix="Leadership"
          addLabel="Add Leader" #associateList>
        </app-associate-list>
      </div>
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'Trust'">
      <app-associate-list [personalHistoryItems]="asLicenseeChangeLog(node).keyPersonnelChildren" [rootNode]="node"
        [licencesOnFile]="licencesOnFile" [account]="account" [isReadOnly]="isReadOnly" changeTypeSuffix="Leadership"
        addLabel="Add Trustee" #associateList>
      </app-associate-list>
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'PrivateCorporation'
                      || node?.businessType === 'PublicCorporation'
                      || node?.businessType === 'University'
                      || node?.businessType === 'Church'">

      <h3 class="blue-header">Leadership</h3>
      <div class="content-bottom">
        <section class="padded-section">
          <p *ngIf="!isReadOnly">
            Please add the complete list of directors, officers and senior managers (if applicable) for
            {{node?.businessNameNew}}, including
            their
            full legal name, date of birth and email address. They will be reviewed by the LCRB against your Notice of
            Articles.
            In order to complete an application for a liquor or cannabis licence, they will each be required to provide
            security screening
            related information.
          </p>
          <app-associate-list [personalHistoryItems]="asLicenseeChangeLog(node).keyPersonnelChildren" [rootNode]="node"
            [isReadOnly]="isReadOnly" [account]="account" [licencesOnFile]="licencesOnFile"
            changeTypeSuffix="Leadership" addLabel="Add Leadership" #associateList></app-associate-list>
        </section>
      </div>
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'Society'">
      <h3 class="blue-header">List Directors and Officers</h3>
      <div class="content-bottom">
        <section class="padded-section">
          <p>
            Please add the complete list of directors and officers for {{node?.businessNameNew}}, including their
            full legal name, date of birth and email address. In order to complete an application for a liquor or
            cannabis
            licence, they will each be
            required to provide security screening related information.
          </p>
          <app-associate-list [personalHistoryItems]="asLicenseeChangeLog(node).keyPersonnelChildren"
            [licencesOnFile]="licencesOnFile" [rootNode]="node" [account]="account" [isReadOnly]="isReadOnly"
            changeTypeSuffix="Leadership" addLabel="Add Director or Officer" #associateList></app-associate-list>
        </section>
      </div>
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'Partnership'">
      <h3 class="blue-header">List Partners</h3>
      <div class="content-bottom">
        <h4 class="plain-header">Individual Partners</h4>
        <section class="padded-section">
          <p>
            Please add the complete list of partners for {{node?.businessNameNew}}, including their
            full legal name, date of birth, email address and percentage of ownership. They will be checked by LCRB
            against
            the partnership agreement provided.
            In order to complete an application for a liquor or cannabis licence, they will each be required to provide
            security screening
            related information.
          </p>
          <app-associate-list [personalHistoryItems]="asLicenseeChangeLog(node).individualShareholderChildren"
            [licencesOnFile]="licencesOnFile" [rootNode]="node" [account]="account" [isReadOnly]="isReadOnly"
            changeTypeSuffix="IndividualShareholder" addLabel="Add Individual Partner" #associateList>
          </app-associate-list>
        </section>

        <h4 class="plain-header">Business Partners</h4>
        <section class="padded-section">
          <p>
            Please list any business partners including their name, type of business, percentage of shares owned, and
            email address. Depending on
            the type of business partner, additional supporting documents will be required.
          </p>
          <app-associate-list [personalHistoryItems]="asLicenseeChangeLog(node).businessShareholderChildren"
            [rootNode]="node" [account]="account" [licencesOnFile]="licencesOnFile" [isReadOnly]="isReadOnly"
            changeTypeSuffix="BusinessShareholder" addLabel="Add Business Partner" #associateList></app-associate-list>
        </section>
      </div>
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'PrivateCorporation'">
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'Society'">
    </ng-container>

    <ng-container *ngIf="node?.businessType === 'PrivateCorporation'">
      <h3 class="blue-header">Shareholders</h3>
      <div class="content-bottom">
        <h4 class="plain-header">Individual Shareholders</h4>
        <section class="padded-section">
          <p *ngIf="!isReadOnly">
            Please list any individual shareholders including their full legal name, date of birth, number of voting
            shares
            owned, and email address.
          </p>
          <app-associate-list [personalHistoryItems]="asLicenseeChangeLog(node).individualShareholderChildren"
            [isReadOnly]="isReadOnly" [rootNode]="node" [licencesOnFile]="licencesOnFile" [account]="account"
            changeTypeSuffix="IndividualShareholder" addLabel="Add Individual Shareholder" #associateList>
          </app-associate-list>
        </section>
        <p>&nbsp;</p>
        <h4 class="plain-header">Business Shareholders</h4>
        <section class="padded-section">

          <p *ngIf="!isReadOnly">
            Please list any business shareholders (e.g. holding companies, trusts, etc.) including their name, type of
            legal entity, number of voting shares owned, and
            email address. Depending on the type of legal entity, additional supporting documents will be required.
          </p>
          <app-associate-list [personalHistoryItems]="asLicenseeChangeLog(node).businessShareholderChildren"
            [rootNode]="node" [account]="account" [licencesOnFile]="licencesOnFile" [isReadOnly]="isReadOnly"
            changeTypeSuffix="BusinessShareholder" addLabel="Add Business Shareholder" #associateList>
          </app-associate-list>
          <p>&nbsp;</p>
        </section>
      </div>
    </ng-container>
  </ng-template>

  <ng-container *ngTemplateOutlet="treeNode; context: { node: node, account: account }"></ng-container>
</div>