<h3 class="blue-header">Legal Entity Review</h3>
<div class="content-bottom">
  <div class="mb-3">
    <ul>
      <li>We have performed a Legal Entity Review and have determined...</li>
      <li>Below outlines the unreported changes that must be reported and paid for.</li>
      <li>Explain how this review has come about and why they need to be paid.</li>
    </ul>
  </div>
  <div class="mb-3">
    <h4>Review Outcome</h4>
    <div>
      <app-legal-entity-review-outcome-letter
        [account]="account"
        [application]="application"></app-legal-entity-review-outcome-letter>
    </div>
  </div>
</div>
