<div class="form-wrapper position-relative">
  <h1 class="mat-heading">All Applications</h1>
  <p>Here is a list of SEP applications for your police jurisdiction. Applications older than two months are not shown. If you need to access this information please contact LCRB.</p><p> Click <strong>Assign</strong> to add an application to your My Jobs list. You may sort
    applications by clicking on the column headings below. </p>
  <div [ngBusy]="[busy]"></div>
  <mat-tab-group [selectedIndex]="selectedIndex" mat-align-tabs="start">
    <mat-tab label="Pending Police Review">
        <app-police-grid [currentUser]="currentUser" [dataSource]="dataSourceInProgress" [resultsLength]="inProgressCount" [getData]="loadPendingReviewSepApplications" [availableContacts]="availableContacts" (saved)="selectedIndex = 1;"></app-police-grid>
    </mat-tab>
    <mat-tab label="Police Approved / Issued">
      <app-police-grid [currentUser]="currentUser" [dataSource]="dataSourcePoliceApproved" [resultsLength]="policeApprovedCount" [availableContacts]="availableContacts" (saved)="selectedIndex = 2;"></app-police-grid>
    </mat-tab>
    <mat-tab label="Police Denied / Cancelled">
      <app-police-grid [currentUser]="currentUser" [dataSource]="dataSourcePoliceDenied" [resultsLength]="policeDeniedCount" [availableContacts]="availableContacts" (saved)="selectedIndex = 3;"></app-police-grid>
    </mat-tab>
  </mat-tab-group>

</div>
