@use '@angular/material' as mat;
@import '@angular/material/theming';
@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";

$app-primary: (
    50 : #e7ebf1,
    100 : #c3cddc,
    200 : #9cacc5,
    300 : #748bad,
    400 : #56729c,
    500 : #38598a,
    600 : #325182,
    700 : #2b4877,
    800 : #243e6d,
    900 : #172e5a,
    A100 : #96b6ff,
    A200 : #6393ff,
    A400 : #306fff,
    A700 : #165dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$app-accent:  mat.define-palette(mat.$indigo-palette, 700);

$app-warn: (
    50 : #f5e9e8,
    100 : #e5c7c6,
    200 : #d4a2a1,
    300 : #c37c7b,
    400 : #b6605e,  
    500 : #a94442,
    600 : #a23e3c,
    700 : #983533,
    800 : #8f2d2b,
    900 : #7e1f1d,
    A100 : #ffbbba,
    A200 : #ff8887,
    A400 : #ff5654,
    A700 : #ff3d3b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);


@include mat.core();
$primary: mat.define-palette($app-primary);
$accent: mat.define-palette($app-accent);
$warn: mat.define-palette($app-warn);
$theme: mat.define-light-theme($primary, $accent, $warn);
@include mat.all-component-themes($theme);
$custom-typography: mat.define-typography-config(
  $font-family: 'MyriadWebPro, Calibri, Arial, "sans serif"'
);

@include mat.all-component-typographies($custom-typography);
