
<div class="center">

    {{accountId}}
    <p></p>
    <label for="">Document Type</label><br>
    <select name="" id="" [(ngModel)]="selectDocumentType" class="form-control" style="width: 200px;">
        <option value=""></option>
        <option *ngFor="let item of documementTypes" value="{{item.id}}">{{item.name}}</option>
    </select>
    <p></p>
    <file-drop (onFileDrop)="dropped($event)" customstype="filedrop" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <div>
                <h3 style="text-align: center">Upload Files</h3>
            <span>Drop your files here or &nbsp;</span>
            <button  class="btn btn-primary" (click)="fileBrowser.click()">browse for files</button>
            <input (change)="onBrowserFileSelect($event)" type="file" style="visibility: hidden;" #fileBrowser>
        </div>
    </file-drop>
    <br>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Size (kb)</th>
                    <th>Document Type</th>
                    <th>Uploaded On</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td>
                        <strong>{{ item.name }}</strong>
                    </td>
                    <td>
                        <strong>{{item.size }}</strong>
                    </td>
                    <td>
                        <strong>{{item.documenttype }}</strong>
                    </td>
                    <td>
                        <strong>{{item.timecreated }}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>