<div style="max-width: 700px; position: relative;">
  <p></p>
  <file-drop [disableIf]="disableFileUpload()" [ngClass]="{'no-drop': disableFileUpload()}" (onFileDrop)="dropped($event)"
    customstype="filedrop" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <div style="text-align: center">
      <h3></h3>
      <span>TO UPLOAD DOCUMENTS DRAG FILE(S) HERE OR </span>
      <a href="javascript:void(0)" [ngClass]="{'no-drop': disableFileUpload()}" (click)="disableFileUpload() || fileBrowser.click()">BROWSE</a>.
      <br>
      <span style="color: #A9A9A9">{{fileTypes}}</span>
      <br>
      <span style="color: #A9A9A9">MAX FILE SIZE: 25MB.</span>
      <input (change)="onBrowserFileSelect($event)" type="file" multiple style="visibility: hidden;" #fileBrowser>
    </div>
  </file-drop>
  <div style="margin-top: 5px;">
    <div [ngBusy]="busy"></div>
    <section *ngFor="let item of files; let i=index" class="file-list">
      <a href="javscript: void(0)" (click)="downloadApplicationPDF(item.serverrelativeurl, item.name)">{{ item.name }}</a>
      <span>
        <span style="margin-right: 20px;">{{item.size}} kb</span>
        <a href="javascript: void(0)" (click)="deleteFile(item.serverrelativeurl)">Delete</a>
      </span>
    </section>
  </div>
</div>