/deep/ .drop-zone{
    border: 3px dashed #757575 !important;
    background-color: #eee;
    border-radius: 0 !important;
    // padding: 3px;
    padding-bottom: 20px;
}

/deep/  .content {
    color: #424242 !important;
}