<div class="ngtest-zoning" [formGroup]="formGroup">
  <hr>
  <label for="">Zoning</label>
  <br>

  <section *ngIf="showQuestion()">
    <div>
      <mat-checkbox formControlName="isPermittedInZoning" (change)="isPermittedInZoningChanged()">
        <section *ngIf="application?.applicationType?.name === 'Manufacturer Location Change' ">
          <span>
            By checking this box, I confirm that current zoning at the proposed location permits a Manufacturer.
          </span>
        </section>
        <section *ngIf="application?.applicationType?.name != 'Manufacturer Location Change' ">
          <span>
            By checking this box, I confirm that current zoning at the proposed location permits a {{application?.applicationType?.name}}.
          </span>
        </section>
      </mat-checkbox>
      <mat-checkbox formControlName="relocateOnSiteStore" (change)="relocateOnSiteStoreChanged()">
        <section>
          <span>
            As part of this relocation, do you intend to relocate your on-site store?
          </span>
        </section>
      </mat-checkbox>
      <mat-checkbox *ngIf="application.relocateOnSiteStore==true" formControlName="confirmPermitsRetailSales">
        <section>
          <span>
            By checking this box, I confirm that zoning at the proposed location permits retail sales for off-site consumption.
          </span>
        </section>
      </mat-checkbox>
      <mat-checkbox formControlName="relocateOnSiteStore" (change)="relocatePicnicAreaEndorsementChanged()">
        <section>
          <span>
            As part of this relocation, do you intend to relocate your picnic area endorsement?
          </span>
        </section>
      </mat-checkbox>
      <mat-checkbox *ngIf="application.relocatePicnicAreaEndorsement==true" formControlName="relocatePicnicAreaEndorsement">
        <section>
          <span>
            By checking this box, I confirm that zoning at the proposed location permits the operation of picnic area endorsement, and that the Local Government/Indigenous Nation supports the proposed capacity for the picnic area endorsement.
          </span>
        </section>
      </mat-checkbox>

    </div>
  </section>

  <section *ngIf="!showQuestion()">
    <p>Please provide proof from your local government that the proposed location has been:</p>
    <ul>
      <li>appropriately zoned to operate a {{application?.licenseType}} licence, or</li>
      <li>is in the process of being appropriately zoned</li>
    </ul>
    <p>
      You are responsible for obtaining the appropriate zoning from your local
      government to operate a {{application?.licenseType}} licence at your proposed location.
      Prior to issuing a licence at the new location, LCRB will require confirmation
      from your local government that the location is zoned appropriately to operate
      a {{application?.licenseType}} licence.
    </p>
    <app-file-uploader *ngIf="application?.id" documentType="Zoning" fileTypes="FILE MUST BE IN PDF FORMAT."
                       [multipleFiles]="false" entityName="application" [useDocumentTypeForName]="true"
                       (numberOfUploadedFiles)="uploadedZoningDocuments = $event" [entityId]="application?.id"
                       [uploadHeader]="'TO UPLOAD ZONING DOCUMENTS, DRAG FILES HERE OR'" #proofOfZoningDocs>
    </app-file-uploader>
  </section>
</div>
