::ng-deep .mat-tab-label {
  background-color: #e1e8f2 !important;
  color: #000;
  margin-right: 5px;
  margin-bottom: 5px;
  opacity: 1 !important;
  padding: 0 10px !important;
  height: 35px !important;
  min-width: 100px !important;
}

::ng-deep .mat-tab-label-active {
  background-color: #38598a !important;
  color: #fff;
}

::ng-deep .mat-tab-header {
  border-bottom: 4px solid #38598a !important;
  margin-bottom: 15px;
}

::ng-deep .mat-ink-bar {
  display: none;
}

::ng-deep .mat-tab-label {
  color: #38598a;
}
::ng-deep .mat-tab-label-active {
  color: #fff;
}

::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: #38598a !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #38598a;
}

input {
  text-align: right;
}

.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.alert {
  padding: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.form-check__details {
  margin-top: -6px;
  margin-bottom: 25px;
  margin-left: 24px;
  padding: 8px;
  border-left: 3px solid #b1b4b6;
  max-width: 700px;
  background: #e1e8f288;
}
