::ng-deep .mat-tab-label {
  background-color: #E1E8F2 !important;
  color: #000;
  margin-right: 5px;
  margin-bottom: 5px;
  opacity: 1 !important;
  padding: 0 10px !important;
  height: 35px !important;
  min-width: 100px !important;
}

::ng-deep .mat-tab-label-active {
  background-color: #38598A !important;
  color: #FFF;
}

::ng-deep .mat-tab-header {
  border-bottom: 4px solid #38598A !important;
  margin-bottom: 15px;
}

::ng-deep .mat-ink-bar {
  display: none;
}

::ng-deep .mat-tab-label {
  color: #38598A;
}
::ng-deep .mat-tab-label-active {
  color: #FFF;
}


input {
  text-align: right;
}

.hidden {
  visibility: hidden;
}
