<div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="busy"></div>

  <div class="row">
    <h2>Federal Tracking Monthly Reports</h2>
  </div>

  <form [formGroup]="reportForm">
    <div class="row">
      <app-field class="col-md-3 col-xs-12" label="Licence" [required]="true"
        errorMessage="Please select a licence from the dropdown list" [isFullWidth]="true">
        <select class="form-control" style="width: 250px;" formControlName="licence" (change)="licenceChanged($event);">
          <option value="">Choose the licence</option>
          <option *ngFor="let licence of licenses" [value]="licence.licenseId">{{ licence.establishmentName }}</option>
        </select>
      </app-field>
      <app-field class="col-md-3 col-xs-12" label="Reporting Period" [required]="true" *ngIf="reportForm.get('licence').valid"
        errorMessage="Please select a reporting period from the dropdown list" [isFullWidth]="true">
        <select class="form-control" style="width: 250px;" formControlName="period" (change)="periodChanged($event);">
          <option value="">Choose the reporting period</option>
          <option *ngFor="let report of monthlyReports" [value]="report.monthlyReportId">{{ report.reportingPeriodMonth }}-{{ report.reportingPeriodYear }} - {{ report.status }}</option>
        </select>
      </app-field>
    </div>
    <div class="row" *ngIf="selectedMonthlyReport">
      <app-field class="col-md-2 col-xs-12" label="Reporting Month" disabled>
        <p>{{selectedMonthlyReport.reportingPeriodMonth}}</p>
      </app-field>
      <app-field class="col-md-2 col-xs-12" label="Reporting Year" disabled>
        <p>{{selectedMonthlyReport.reportingPeriodYear}}</p>
      </app-field>
      <app-field class="col-md-2 col-xs-12" label="Status" disabled>
        <p>{{selectedMonthlyReport.status}}</p>
      </app-field>
    </div>
    <div class="row" *ngIf="selectedMonthlyReport">
      <h3 class="blue-header col-xs-12">Employees</h3>
    </div>
    <div class="row" *ngIf="selectedMonthlyReport">
      <app-field label="Management" [required]="true"
        errorMessage="Please enter the number of management employees">
        <input class="form-control" type="text"
          formControlName="employeesManagement">
      </app-field>
      <app-field label="Administrative" [required]="true"
        errorMessage="Please enter the number of administrative employees">
        <input class="form-control" type="text"
          formControlName="employeesAdministrative">
      </app-field>
      <app-field label="Sales" [required]="true"
        errorMessage="Please enter the number of sales employees">
        <input class="form-control" type="text"
          formControlName="employeesSales">
      </app-field>
      <app-field label="Production" [required]="true"
        errorMessage="Please enter the number of production employees">
        <input class="form-control" type="text"
          formControlName="employeesProduction">
      </app-field>
      <app-field label="Other" [required]="true"
        errorMessage="Please enter the number of other employees">
        <input class="form-control" type="text"
          formControlName="employeesOther">
      </app-field>
    </div>
    <div class="row" *ngIf="selectedMonthlyReport">
      <app-product-inventory-packaged [dataSource]="selectedMonthlyReport.inventorySalesReports || []"></app-product-inventory-packaged>
    </div>
  </form>
</div>
