<h3 class="blue-header">About the Application</h3>
<section class="content-bottom">
  <div>
    <p>
      The Liquor and Cannabis Regulation Branch (the Branch) has determined a review of your legal entity is necessary
      to ensure you are complying with reporting requirements. Information about reporting requirements can be found in
      the
      <a
        href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/liquor-licence-permits/liquor-law-policy/liquor-licence-terms-conditions-manuals"
        target="_blank"
        >Terms and Conditions</a
      >Handbooks.
    </p>
  </div>
  <div>
    <p>
      Per the authority under
      <a href="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/15019#section59" target="_blank"
        >Section 59(2)</a
      >
      of the Liquor Control and Licensing Act, you received the below notice by email which contains more information
      about the process.
    </p>
  </div>
  <div>
    <p>
      You must update your tied house declarations and/or upload corporate documents for your organization to complete
      the Legal Entity Review. Please follow the instructions in your notice letter.
    </p>
  </div>
  <div>
    <p>
      Generally, tied house relationships between licensees (specifically liquor primary, food primary, private
      liquor/wine store, or the business location of a caterer) and manufacturers or agents are prohibited under the
      Act. "Tied house" refers to a relationship between a manufacturer/agent and another licensee if the relationship
      puts the licensee in the position of being likely to promote the sale of that manufacturer's/agent's liquor
      products over another manufacturer. A tied house relationship may result in the licensee benefitting more when
      they sell the liquor of that manufacturer's/agent's liquor.
    </p>
  </div>
  <div>
    <p>
      Please complete this Legal Entity Review as soon as possible; you cannot apply for a Permanent Change to Licensee
      application, or submit Transfer of Licence or Third Party Operator applications while the Legal Entity Review
      application is unresolved.
    </p>
  </div>
  <div>
    <p>
      If you have any questions about this application, contact the Branch at
      <a href="mailto:LCRBLiquor@gov.bc.ca">LCRBLiquor&#64;gov.bc.ca</a>
    </p>
  </div>
  <div>
    <app-legal-entity-review-notice-letter
      [account]="account"
      [application]="application"></app-legal-entity-review-notice-letter>
  </div>
</section>
