.btn-margin,
.rd-btn {
    margin-right: 10px;
}

.padded-section {
    padding-left: 20px;
}

.note {
    display: flex;
    padding: 10px;
    background-color: #eee;
    margin-top: 10px;
    border-radius: 5px;
}