<div class="form-wrapper position-relative d-flex flex-column justify-content-center">
  <div [ngBusy]="busy"></div>
  <div class="padded-section">
    <h1>Notices</h1>
  </div>

  <!-- Preamble -->
  <section class="p-3 padded-section attention-section">
    <p>Notices attached to your account will be shown below. They will be retained as long as you have an an active account with LCRB. If you have any questions please contact LCRB at 1-866-209-2111.</p>
  </section>

  <ng-container *ngIf="account && dataLoaded">
    <!-- Found some data -->
    <section *ngIf="notices?.length > 0" class="mt-5">
      <app-notices-table [rows]="notices"></app-notices-table>
    </section>

    <!-- No data found -->
    <section *ngIf="notices?.length === 0" class="mt-5">
      <p>There are currently no notices attached to this account.</p>
    </section>
  </ng-container>
</div>
