.card-footer {
    background-color: #fff
}

.panel-footer {
    background-color: #fff
}

::ng-deep input[type="button"] {
    background-color: #003366;
    border: #003366 1px solid;
    color: #ffffff;
    min-width: 120px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::ng-deep input[type="button"]:hover{
    background-color: #38598a;
    border-color: #314d78;   
}