<div *ngIf="documentTypeStatusResult">
  <div *ngFor="let documentTypeStatus of documentTypeStatusResult">
    <a *ngIf="documentTypeStatus.routerLink" [routerLink]="documentTypeStatus.routerLink" class="completeness">
      <div *ngIf="documentTypeStatus.valid; then documentsCompleteBlock else documentsIncompleteBlock"></div>
              <ng-template #documentsCompleteBlock>
                <i class="far fa-check-circle" style="margin-right: 10px; color:green;"></i>{{documentTypeStatus.name}} - Complete
              </ng-template>
              <ng-template #documentsIncompleteBlock>
                <i class="far fa-times-circle" style="margin-right: 10px; color: red;"></i>{{documentTypeStatus.name}} - Missing
              </ng-template>
    </a> <br>
  </div>
</div>
