.label {
    font-size: 16px;
    font-weight: normal;
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -8px;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  .button-row {
    display: flex;
  
    button {
      fa-icon {
        margin-right: 10px;
      }
    }
  }
  