<div [ngBusy]="busy"></div>
<div class="form-wrapper" style="position: relative">
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h1>Type of Relocation</h1>
      <p>
        If you are planning on relocating your Licensee Retail Store (LRS), you
        will need approval before you change and move your establishment
        address.
      </p>
      <p>
        You may apply to permanently relocate your store or temporarily relocate
        your store for a five-year period while significant alterations (e.g.
        renovation, reconstruction) are made to the original location.
      </p>
      <p>
        Before you apply,
        <a
          href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/liquor-licence-permits/amend-liquor-licence/relocate-a-liquor-licence/relocation-of-a-licensee-retail-store"
          target="_blank"
          >learn more about relocating a Licensee Retail Store.</a
        >
      </p>
      <p>Relocation application fee: $330</p>
      <h3 class="blue-header">TYPE OF APPLICATION</h3>
      <div class="padded-section content-bottom" [formGroup]="form">
        <section class="my-8">
          Please select the relocation application that corresponds best to your
          needs
          <br />
          <input
            type="radio"
            [value]="permanentRelocation"
            formControlName="relocationType"
            id="permanentRelocation"
          />
          Permanent Relocation
          <br />
          <div *ngIf="isOperatingAtTemporaryLocation">
            <input
              type="radio"
              matTooltip="You cannot apply for a temporary relocation if your establishment is currently operating from a temporary location."
              disabled
            />
            Temporary Relocation
          </div>
          <div *ngIf="!isOperatingAtTemporaryLocation">
            <input
              type="radio"
              [value]="temporaryRelocation"
              formControlName="relocationType"
              id="temporaryRelocation"
            />
            Temporary Relocation
          </div>
        </section>
      </div>
      <br />
      <div class="row button-row">
        <div class="col-lg-8 d-flex justify-content-start">
          <button class="btn btn-link mr-4" routerLink="/licences">
            <fa-icon [icon]="faArrowLeft"></fa-icon>Return to Licenses &
            Authorizations
          </button>
          <button
            color="primary"
            mat-raised-button
            class="save-cont"
            [disabled]="requestStarted"
            (click)="processApplication()"
          >
            CONTINUE TO APPLICATION
            <fa-icon [icon]="faChevronRight" class="mr-0 ml-2"></fa-icon>
            <mat-progress-bar
              class="my-2"
              *ngIf="requestStarted"
              mode="indeterminate"
            ></mat-progress-bar>
          </button>
        </div>
        <div class="col-lg-4 d-flex justify-content-end">
          <button class="btn btn-link btn-cancel" routerLink="/dashboard">
            <fa-icon [icon]="faTrash"></fa-icon>CANCEL
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
