::ng-deep * {
    .submitted-header {
        background-color: rgba(56, 89, 138, 1);
        border: 1px solid transparent;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        color: #fff !important;
    }

    .submitted-header h2 {
        color: #fff !important;
    }

    .submitted-content {
        background-color: #eee;
        padding: 20px;
        margin-bottom: 20px;
    }

    .submit-container {
        background-color: #38598A;
        border-bottom: solid 4px #FFCC00;
        color: #fff;
        margin-bottom: 20px;
        padding: 30px;
        padding-top: 20px;

        h2 {
            color: #fff;
        }
    }

    .app-cancel,
    .app-save {
        display: inline-flex;
        justify-content: center;
        cursor: pointer;
    }

    .error {
        background-color: #F2DEDE;
        border-radius: 5px;
        border: 2px solid #EBCCD1;
        color: #A12622;
        padding-top: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }

    .warning-state {
        color: #ffc107;
    }

    ul.square {
        list-style-type: none;

        li::before {
            color: #1E4176;
            content: "\25AA";
            display: inline-block;
            font-size: 34px;
            line-height: 0;
            vertical-align: middle;
            width: 0.5em;
            margin-left: -16px;
        }

        li {
            margin: 10px 0;
            margin-left: -26px;
        }
    }

    .application-wrapper {
        max-width: 1000px;
        padding-left: 45px;
    }

    @media (max-width: 575.98px) {
        .application-wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .hide {
        display: none;
    }

    .normal-mode {
        display: none;
    }

    .store-hours {
        width: 100%;
        border-collapse: separate;
        border-spacing: 2px;

        th {
            text-align: center;
        }

        td,
        th {
            padding: 5px;
            background-color: #E1E8F2;
        }

        th.lead {
            background-color: transparent;
        }
    }

    .light-blue-bg {
        background-color: #E1E8F2;
        padding: 5px;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 36px !important;
    }

    .mat-button-toggle-checked {
        background-color: #38598a !important;
        color: #fff !important;
    }

    .invalid {
        border: 2px solid #d8292f !important;
    }

    .mat-calendar-body-selected {
        background-color: #337AB7;
        color: #000 !important;
    }

    .mat-calendar-body-cell-content {
        color: #54708b;
    }

    .mat-calendar-header {
        background-color: #337AB7;
        color: #fff;
    }
}

.question-label {
    font-weight: 600;
}