<div class="position-relative drink-planner">
  <div [ngBusy]="[busy]"></div>

  <h1>{{totalPercentage | mask : 'separator' : ','}}/{{(totalServings || 0).toFixed(0) | mask : 'separator' : ','}}
    Total Servings</h1>
  <form [formGroup]="form">
    <div class="padded-section" *ngIf="!hideGuestsAndHours">
      <fa-icon [icon]="faQuestionCircle" size="lg" (click)="tooltip.toggle()" class="float-right" data-html="true"
        *ngIf="!hideGuestsAndHours" matTooltipClass="multiline-tooltip custom-tooltip" matTooltip="Enter the number of hours and the number of guests you’ll be serving. Next, estimate the percentage of beer, wine and spirits suitable for your event.&#010;
        For example, if you choose to serve only beer and wine, enter 50% for beer, 50% for wine and 0% for spirits.&#010;
        Note: These are simply buying guidelines. You may enter your own amounts to better suit your event.">
      </fa-icon>
      <p>Use this tool as a guide to plan how many drinks to serve at your event. For an example, view the tooltip.</p>

    </div>

    <!-- Section 1 -->
    <ng-container *ngIf="!hideGuestsAndHours">
      <h3>Enter guests and hours</h3>
      <div class="row">
        <app-field class="col-md-4 col-xs-12" label="Liquor Service Duration (hrs)" [required]="true"
          [isFullWidth]="false" errorMessage="Please enter the Liquor Service Duration in hours (must be a number)"
          [valid]="isValidOrNotTouched('hours')">
          <input class="form-control" type="number" formControlName="hours">
        </app-field>
        <app-field class="col-md-4 col-xs-12" label="Number of Guests" [required]="true" [isFullWidth]="false"
          errorMessage="Please enter the number of guests (must be a number)"
          [valid]="isValidOrNotTouched('totalMaximumNumberOfGuests')">
          <input class="form-control" type="number" formControlName="totalMaximumNumberOfGuests">
        </app-field>

      </div>

      <hr>
    </ng-container>

    <!-- Section 2 -->
    <!--fa-icon [icon]="faQuestionCircle" size="lg"  class="float-right" data-html="true"
      matTooltipClass="multiline-tooltip custom-tooltip" matTooltip="Standard Drink Serving Sizes:&#010;
      &bull; 1.5 ounce for spirits
      &bull; 340ml (12 ounce) cans or bottles for beer, cider or coolers
      &bull; 12 ounces for draught beer, cider or coolers
      &bull; 5 ounces for individual glasses of wine">
    </fa-icon-->
    <hr>
    <h3>Enter the number of each drink type appropriate for your event:</h3>
    <div class="d-flex">
      <div *ngFor="let item of config; let i = index;" [ngClass]="{'last-planner-item': i+1 === config?.length}"
           class="planner-item">

        <div class="text-center w-100 ">
          <!-- <img src="{{item.imageUrl}}"> -->
          <fa-icon size="6x" [icon]="item.faIcon" style="color:#38598a;"></fa-icon>
        </div>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>No. Servings</mat-label>
          <input matInput type="number" (input)="validateInput($event)" [formControlName]="item.group" class="average-price" placeholder="0" min="0" pattern="^[0-9]*$">
        </mat-form-field>

        <ng-container *ngIf="someFree">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>No. Free Servings</mat-label>
            <input matInput type="number" (input)="validateInput($event)" [formControlName]="item.group_free" class="average-price" placeholder="0" min="0" pattern="^[0-9]*$">
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="!someFree">
          <div class="text-center">
            <p style="font-size: xx-large;"><strong>{{servingPercent(item)}} %</strong> </p>
            <!--p><strong>{{servings(item).toFixed(0) | mask : 'separator' : ','}}</strong> &nbsp;servings of {{item.group}}</p-->
            <p>
              <strong>{{storageUnits(item).toFixed(0) | mask : 'separator' : ','}}</strong>
              &nbsp;{{storageMethodDescription(item)}}
            </p>
            <span *ngIf="item.group == 'beer'">
              <p>
                <strong>{{this.form.get(item.group).value | mask : 'separator' : ','}}</strong>
                &nbsp;Draught Beer/Cider (12oz or 341ml)
              </p>
              <p>
                <strong>{{this.form.get(item.group).value | mask : 'separator' : ','}}</strong>
                &nbsp;Beer/Cider/Cooler (bottle or can to 340ml)
              </p>
            </span>
            <span *ngIf="item.group == 'wine'">
              <p>
                <strong>{{this.form.get(item.group).value | mask : 'separator' : ','}}</strong>
                &nbsp;Wine by glass (5oz or 142ml)
              </p>
              <p>&nbsp;</p>
            </span>
            <span *ngIf="item.group == 'spirits'">
              <p>
                <strong>{{this.form.get(item.group).value | mask : 'separator' : ','}}</strong>
                &nbsp;Spirits (1.5oz or 43ml)
              </p>
              <p>&nbsp;</p>
            </span>
          </div>
          </ng-container>

        <ng-container *ngIf="someFree">
          <div class="text-center">
            <p style="font-size: xx-large;"><strong>{{servingPercentFree(item)}} %</strong> </p>
            <!--p><strong>{{servings(item).toFixed(0) | mask : 'separator' : ','}}</strong> &nbsp;servings of {{item.group}}</p-->
            <p>
              <strong>{{storageUnits(item).toFixed(0) | mask : 'separator' : ','}}</strong>
              &nbsp;{{storageMethodDescription(item)}}
            </p>
            <span *ngIf="item.group == 'beer'">
              <p>
                <strong>{{this.form.get(item.group).value + this.form.get(item.group_free).value | mask : 'separator' : ','}}</strong>
                &nbsp;Draught Beer/Cider (12oz or 341ml)
              </p>
              <p>
                <strong>{{this.form.get(item.group).value + this.form.get(item.group_free).value | mask : 'separator' : ','}}</strong>
                &nbsp;Beer/Cider/Cooler (bottle or can to 340ml)
              </p>
            </span>
            <span *ngIf="item.group == 'wine'">
              <p>
                <strong>{{this.form.get(item.group).value + this.form.get(item.group_free).value | mask : 'separator' : ','}}</strong>
                &nbsp;Wine by glass (5oz or 142ml)
              </p>
              <p>&nbsp;</p>
            </span>
            <span *ngIf="item.group == 'spirits'">
              <p>
                <strong>{{this.form.get(item.group).value + this.form.get(item.group_free).value | mask : 'separator' : ','}}</strong>
                &nbsp;Spirits (1.5oz or 43ml)
              </p>
              <p>&nbsp;</p>
            </span>
          </div>
        </ng-container>

            <mat-form-field appearance="outline" floatLabel="always" *ngIf="hideGuestsAndHours">
              <mat-label *ngIf="!canRaisePrice()">Max Drink Price (inc. PST)<sup>*ⱡ</sup></mat-label>
              <mat-label *ngIf="canRaisePrice()">Avg. Drink Price (inc. PST)</mat-label>
              <input matInput [formControlName]="getAVControlName(item.group)" class="average-price"
                     placeholder="0.00"
                     #avInput step="any" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.' }" />
              <span matPrefix>$&nbsp;</span>
              <mat-error *ngIf="!form.get(getAVControlName(item.group)).valid">{{getErrorMessage(getAVControlName(item.group))}}</mat-error>
            </mat-form-field>
</div> <!-- ngFor -->
    </div>
    <p *ngIf="!canRaisePrice()" style="text-align: center;"><small>*The maximum
        sales price for drinks cannot exceed the price set by the Branch for non-charitable events.<br><sup>ⱡ</sup> If your venue is in a local government that requires a single-use cup charge, do not include the single-use cup charge in the max drink price. </small></p>

    <!-- Drink Totals -->


    <div class="row">
      <div style="width:100%;" *ngIf="hideGuestsAndHours">
        <div class="status yellow" *ngIf="totalPercentage < (totalServings || 0)">
          <fa-icon [icon]="faExclamationTriange" style="margin-right:10px;"></fa-icon>Drink Servings Must Add To 100%
        </div>
        <div class="status red" *ngIf="totalPercentage > (totalServings || 0)">
          <fa-icon [icon]="faExclamationTriange" style="margin-right:10px;"></fa-icon>Drink Servings Must Not Exceed
          100%
        </div>
        <div class="status green" *ngIf="totalPercentage == (totalServings || 0)">
          <fa-icon [icon]="faCheckCircle" style="margin-right:10px;"></fa-icon>Servings Add To 100%
        </div>
      </div>
      <div class="col-md-8 offset-md-4 col-12" *ngIf="!hideGuestsAndHours">
        <hr>
        <div class="row">
          <div class="col-md-4 offset-md-2 col-6">
            <h3 class="text-right">
              <span class="total-percent">{{(totalPercentage || 0).toFixed(0)}}</span>
            </h3>
          </div>
          <div class="col-6">
            <h3 class="w-100" *ngIf="!hideGuestsAndHours">
              &nbsp; = &nbsp;
              <span class="total-servings">{{(totalServings || 0).toFixed(0) | mask : 'separator' : ','}}</span>
              <small class="ml-2">total servings</small>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
