<div class="position-relative">
  <div [ngBusy]="[busy]"></div>
  <form [formGroup]="form" class="col">
    <div class="padded-section">
      <h1>Drink Planner</h1>
    </div>
    <div class="padded-section">
      <p>Use this tool as a guide to plan how many drinks to serve at your event. For an example, view the tooltip.</p>
    </div>

    <h3>1. Enter guests and hours</h3>
    <div class="row">
      <app-field class="col-md-4 col-xs-6" label="Liquor Service Duration (hrs)" [required]="true" [isFullWidth]="false"
        errorMessage="Please enter the Liquor Service Duration in hours (must be a number)"
        [valid]="isValidOrNotTouched('hours')">
        <input class="form-control" type="number" formControlName="hours">
      </app-field>
      <app-field class="col-md-4 col-xs-6" label="Number of Guests" [required]="true" [isFullWidth]="false"
        errorMessage="Please enter the number of guests (must be a number)" [valid]="isValidOrNotTouched('guests')">
        <input class="form-control" type="number" formControlName="guests">
      </app-field>
    </div>

    <hr>

    <h3>2. Enter the &#37; of each drink type appropriate for your event</h3>
    <div class="row">
      <div *ngFor="let item of config" class="col-md-3 col-md-offset-1 col-xs-12">
        <div class="row">
          <div class="text-center w-100">
            <img src="{{item.imageUrl}}">
          </div>
        </div>

        <app-field class="row text-center" [label]="item.description" [required]="false" [isFullWidth]="true">
          <input class="form-control text-center m-auto mb-2" type="number" [formControlName]="item.group" min="0"
            max="100">
        </app-field>

        <div class="row">
          <h4>
            <img src="{{item.servingImageUrl}}">
            &nbsp; = &nbsp;
            <small>{{servings(item).toFixed(0) | mask : 'separator' : ','}}</small>
            <small>
              servings of {{item.group}}
              <br>
              <span class="per-serving">{{item.perServingDescription}}</span>
            </small>
          </h4>
          <h4>
            <img src="{{item.storageImageUrl}}">
            &nbsp; = &nbsp;
            <small class="storage-unit">{{storageUnits(item).toFixed(0) | mask : 'separator' : ','}}</small>
            <small class="storage-method">{{storageMethodDescription(item)}}</small>
          </h4>
        </div>
      </div> <!-- ngFor -->
    </div>

    <div class="row">
      <div class="col-8 offset-4">
        <hr>
        <div class="row">
          <div class="col-4 offset-2">
            <h3 class="text-right">
              <span class="total-percent">{{totalPercentage.toFixed(0)}} %</span>
            </h3>
          </div>
          <div class="col-6">
            <h3>
              &nbsp; = &nbsp;
              <span class="total-servings">{{totalServings.toFixed(0) | mask : 'separator' : ','}}</span>
              <small> total servings</small>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
