<ng-template #applicationContent>

  <div *ngIf="account?.businessType">
    <div [formGroup]="form" style="padding-left: 45px; position: relative">
      <!-- Title -->
      <h1 class="ngtest-page-title">Transfer Your Cannabis Retail Store Licence</h1>
    </div>

    <div [formGroup]="form" class="application-wrapper">
      <!-- Preamble -->
      <section class="ngtest-preamble-content" [innerHTML]="htmlContent?.preamble"></section>

      <!-- Before Starting -->
      <h3 *ngIf="htmlContent?.beforeStarting" class="blue-header">BEFORE STARTING
        THE APPLICATION</h3>
      <section *ngIf="htmlContent?.beforeStarting" class="padded-section">
        <div class="ngtest-before-starting-content" [innerHTML]="htmlContent.beforeStarting"></div>
      </section>

      <h3 *ngIf="htmlContent?.beforeStarting" class="blue-header">ESTABLISHMENT NAME</h3>
      <section class="padded-section">
        <app-field *ngIf="showFormControl(application?.applicationType?.establishmentName)" label="Establishment Name"
          [required]="false" [valid]="isValidOrNotTouched('establishmentName')"
          errorMessage="{{form.get('establishmentName').errors && form.get('establishmentName').errors['forbiddenName'] ? 'The store name contains at least one word that doesn’t comply with naming requirements. The application can’t be submitted until the prohibited word(s) are removed.' : 'Establishment Name is a required field'}}">
          <input class="form-control" style="width: 500px;" type="text"
            [readonly]="application?.applicationType?.establishmentName === FormControlState.Reaonly"
            (change)="checkPossibleProblematicWords()" formControlName="establishmentName">
        </app-field>
      </section>

      <h3 *ngIf="htmlContent?.beforeStarting" class="blue-header">IDENTIFY THE PROPOSED LICENSEE</h3>
      <section class="padded-section">
        <app-field label="Search for the business name you intend to transfer your cannabis retail store licence to:"
          [required]="false" [valid]="true">
          <app-account-picker (valueSelected)="form.get('accountId').setValue($event)"></app-account-picker>
        </app-field>
      </section>

      <h3 *ngIf="htmlContent?.beforeStarting" class="blue-header">CONSENT TO TRANSFER YOUR LICENCE</h3>
      <section class="padded-section">
        <app-field [required]="false" [valid]="true">
          <section style="display: flex">
            <input type="checkbox" formControlName="transferConsent">
            <!-- <span class="error-states">*</span> -->
            <div style="padding-left: 10px;"> I consent to transfer my licence to the above account.
            </div>
          </section>
        </app-field>
      </section>

      <h3 class="blue-header ngtest-declarations" *ngIf="application?.applicationType?.showDeclarations">
          DECLARATIONS
        </h3>
        <div class="padded-section" *ngIf="application?.applicationType?.showDeclarations">
          <section>
            <div *ngIf="application?.applicationType?.name !== ApplicationTypeNames.Marketer">
              The application must only be submitted by an individual with the authority to bind the applicant. The
              branch
              relies on the applicant to ensure that the individual who submits this application is authorized to do
              so.
              Typically, an appropriate individual in a corporation will be a duly authorized signatory who will
              usually
              be
              an officer or, in some cases, a director
            </div>
            <div *ngIf="application?.applicationType?.name === ApplicationTypeNames.Marketer">
              <p *ngIf="account?.businessType === 'SoleProprietor'">
                This application should be submitted the sole proprietor.
              </p>
              <p *ngIf="account?.businessType === 'Society'">
                This application must only be submitted by an individual with the authority to bind the applicant. The
                branch relies on the applicant to ensure that the individual who submits this application is
                authorized to
                do so. Typically, an appropriate individual for a society will be a director or a senior manager (as
                defined in the Societies Act).
              </p>
              <p *ngIf="account?.businessType === 'PublicCorporation'">
                This application must only be submitted by an individual with the authority to bind the applicant. The
                branch relies on the applicant to ensure that the individual who submits this application is
                authorized to
                do so. Typically, an appropriate individual in a corporation will be a duly authorized signatory who
                will
                usually be an officer or, in some cases, a director.
              </p>
              <div *ngIf="businessTypeIsPartnership()">
                <p>
                  This application must only be submitted by an individual with the authority to bind the applicant.
                  The
                  branch relies on the applicant to ensure that the individual who submits this application is
                  authorized
                  to do so. Typically, an appropriate individual will be as follows:
                </p>
                <ul>
                  <li>If the applicant is a general partnership, one of the general partners</li>
                  <li>If the applicant is a limited partnership, the general partner of the partnership</li>
                </ul>
              </div>
              <p *ngIf="businessTypeIsPrivateCorporation()">
                The application must only be submitted by an individual with the authority to bind the applicant. The
                branch relies on the applicant to ensure that the individual who submits this application is
                authorized to
                do so. Typically, an appropriate individual in a corporation will be a duly authorized signatory who
                will
                usually be an officer or, in some cases, a director.
              </p>
  
            </div>
  
          </section>
          <p *ngIf="application?.applicationType?.name !== ApplicationTypeNames.Marketer">Note: A lawyer or
            consultant,
            may NOT submit this application on behalf of
            the applicant.</p>
          <section *ngIf="application?.applicationType?.name === ApplicationTypeNames.Marketer">
            <p *ngIf="businessTypeIsPrivateCorporation()">
              Note: A lawyer or consultant, may NOT submit this application on behalf of the applicant.
            </p>
            <p *ngIf="!businessTypeIsPrivateCorporation()">
              Note: A lawyer, licensee representative or third party operator may NOT submit this application on
              behalf of
              the applicant.
            </p>
          </section>
          <app-field [valid]="!showValidationMessages || form.get('authorizedToSubmit').valid"
            errorMessage="Please affirm that you are authorized to submit the application." [showChevrons]="false">
            <section style="display: flex">
              <input type="checkbox" formControlName="authorizedToSubmit">
              <span class="error-states">*</span>
              <div style="padding-left: 10px;"> I understand and affirm that I am authorized to submit the application
              </div>
            </section>
          </app-field>
          <p>
            Section 22(2) of the Cannabis Control and Licensing Act states: “A person must not submit to the general
            manager
            an application, or
            information or a record included as part of the application, that contains false or misleading
            information, or
            fails to disclose a material fact”.
          </p>
          <app-field [valid]="!showValidationMessages || form.get('signatureAgreement').valid"
            errorMessage="Please affirm that all of the information provided for this application is true and complete."
            [showChevrons]="false">
            <section style="display: flex">
              <input type="checkbox" formControlName="signatureAgreement">
              <span class="error-states">*</span>
              <div style="padding-left: 10px;"> I understand and affirm that all of the information provided for this
                application is true and complete
              </div>
            </section>
          </app-field>
        </div>

      <p></p>
      <section class="error" *ngIf="showValidationMessages">
        <p *ngFor="let message of validationMessages">
          <span class="app-cancel">
            <mat-icon aria-label="error icon" style="font-size: 15px;">error</mat-icon>
            {{message}}
          </span>
        </p>
      </section>

      <section *ngIf="application?.licenceFeeInvoicePaid">

        <section style="position: relative; margin-top: 20px;">
          <button style="float: right;" class="btn btn-primary" [routerLink]="[ '/dashboard']">
            <i class="fas fa-save" style="margin-right: 10px;"></i>
            SAVE</button>
          <div style="clear: both"></div>
          <div [ngBusy]="busy"></div>
        </section>
      </section>

      <section *ngIf="!application?.licenceFeeInvoicePaid">
        <p></p>
        <p>Proceed to pay online using a credit card through the secure web portal.</p>
        <p></p>

        <section style="position: relative; margin-top: 20px;">
          <button style="float: right;" class="btn btn-primary" (click)="submit_application()">
            <i class="fas fa-shopping-cart" style="margin-right: 10px;"></i>
            PAY LICENCE FEE AND RECEIVE LICENCE</button>
          <div style="clear: both"></div>
          <div [ngBusy]="busy"></div>
        </section>
      </section>
    </div>
  </div>
</ng-template>


<div class="dashboard-spacing" style="position: relative">
  <div [ngBusy]="busy"></div>
  <ng-container *ngTemplateOutlet="applicationContent"></ng-container>
</div>