::ng-deep {
        .mat-calendar-body-selected {
        background-color: #337AB7;
        color: #000 !important;
    }

    .mat-calendar-body-cell-content {
        color: #54708b;
    }

    .mat-calendar-header {
        background-color: #337AB7;
        color: #fff;
    }
}