<h2 mat-dialog-title>
  <span *ngIf="action === 'add' ">
    <span *ngIf="formType !== 'partnership'">Add Shareholder of </span>
    <span *ngIf="formType === 'partnership'">Add Partner to </span>
    {{shareholder?.parentLinceseeChangeLog?.businessNameNew }}
  </span>
  <span *ngIf="action === 'edit'">
    <span *ngIf="formType !== 'partnership'">Edit Shareholder</span>
    <span *ngIf="formType === 'partnership'">Edit Partner</span>
  </span>
</h2>
<mat-dialog-content>
  <form [formGroup]='form' class="form-horizontal">
    <p>List all the corporation’s <strong>voting</strong> shareholders.
    </p>
    {{form.get('businessType').value}}

    <app-field *ngIf="!shareholder?.isRoot"
      label="Is the shareholder a person, an organization or an Indigenous nation?" [valid]="true"
      errorMessage="Please select a business type from the dropdown list">
      <input type="radio" [readonly]="shareholder?.isRoot" style="margin-right: 10px;" group="isIndividual"
        formControlName="isIndividual" [value]="true">
      <span>Person</span> <br>
      <input type="radio" [readonly]="shareholder?.isRoot" style="margin-right: 10px;" group="isIndividual"
        formControlName="isIndividual" [value]="false">
      <span>Organization or Indigenous Nation</span> <br>
    </app-field>

    <section class="row" *ngIf="!form.get('isIndividual').value && !shareholder?.isRoot">
      <app-field class="col-md-12" label="What type of organization is the shareholder?" [showChevrons]="false"
        [valid]="!isTouchedAndInvalid('businessType')"
        errorMessage="Please select a business type from the dropdown list">
        <input type="radio" [readonly]="shareholder?.isRoot" style="margin-right: 5px;" group="businessType"
          formControlName="businessType" value="PrivateCorporation">
        <span>Private Corporation</span> <br>
        <input type="radio" [readonly]="shareholder?.isRoot" style="margin-right: 5px;" group="businessType"
          formControlName="businessType" value="PublicCorporation">
        <span>Public Corporation</span> <br>
        <input type="radio" [readonly]="shareholder?.isRoot" style="margin-right: 5px;" group="businessType"
          formControlName="businessType" value="Partnership">
        <span>Partnership</span> <br>
        <input type="radio" [readonly]="shareholder?.isRoot" style="margin-right: 5px;" group="businessType"
          formControlName="businessType" value="Society">
        <span>Society</span> <br>
        <input type="radio" [readonly]="shareholder?.isRoot" style="margin-right: 5px;" group="businessType"
          formControlName="businessType" value="IndigenousNation">
        <span>Indigenous nation</span> <br>
      </app-field>
    </section>

    <section class="row" *ngIf="form.get('isIndividual').value && !shareholder?.isRoot">
      <app-field class="col-md-6" label="First Name" [valid]="!isTouchedAndInvalid('firstNameNew')"
        errorMessage="This is required">
        <input type="text" [readonly]="shareholder?.isRoot" class="form-control" formControlName="firstNameNew"
          placeholder="First Name">
      </app-field>

      <app-field class="col-md-6" label="Last Name" [valid]="!isTouchedAndInvalid('lastNameNew')"
        errorMessage="This is required">
        <input type="text" [readonly]="shareholder?.isRoot" class="form-control" formControlName="lastNameNew"
          placeholder="Last Name">
      </app-field>
    </section>

    <section class="row">
      <app-field *ngIf="!form.get('isIndividual')?.value" class="col-md-12" label="Name" [isFullWidth]="true"
        [valid]="!isTouchedAndInvalid('businessNameNew')" errorMessage="This is required">
        <input type="text" [readonly]="shareholder?.isRoot" class="form-control" formControlName="businessNameNew"
          placeholder="Name">
      </app-field>
    </section>


    <section class="row" *ngIf="!shareholder?.isRoot">
      <app-field class="col-md-6" label="Email" [valid]="!isTouchedAndInvalid('emailNew')"
        errorMessage="Email is invalid">
        <input type="text" [readonly]="shareholder?.isRoot" class="form-control" formControlName="emailNew">
      </app-field>
      <app-field *ngIf="form.get('isIndividual').value" class="col-md-6" label="Date of Birth"
        [valid]="!isTouchedAndInvalid('dateofBirthNew')"
        errorMessage="This is required. The associate should be 19 years or older.">
        <input type="text" [readonly]="shareholder?.isRoot" [max]="maxDate19" formControlName='dateofBirthNew'
          style="background-color: #fff;" autocomplete="false" placeholder="yyyy-mm-dd" class="form-control"
          [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()">
        <mat-datepicker #picker></mat-datepicker>
      </app-field>
    </section>

    <section class="row">
      <app-field class="col-md-12"
        *ngIf="shareholder?.isRoot || form.get('businessType').value === 'PrivateCorporation' || form.get('businessType').value === 'PublicCorporation'"
        label="Total Shares Issued" [valid]="!isTouchedAndInvalid('totalSharesNew')" errorMessage="This is required">
        <input type="number" class="form-control" formControlName="totalSharesNew">
      </app-field>
      <app-field *ngIf="formType === 'shareholder' && !shareholder?.isRoot" class="col-md-12"
        label="Number of Voting Shares in {{shareholder?.parentLinceseeChangeLog?.businessNameNew}}"
        [valid]="!isTouchedAndInvalid('numberofSharesNew')">
        <input type="number" [readonly]="shareholder?.isRoot" class="form-control" style="width: auto;"
          formControlName="numberofSharesNew"> of {{shareholder?.parentLinceseeChangeLog?.totalSharesNew}} <br>
      </app-field>
      <span style="padding-left: 15px; margin-top: -15px; z-index: 1;" class="error-states" *ngIf="isTouchedAndInvalid('numberofSharesNew')">Have you issued more shares? If so,
        <a href="javascript:void(0)" (click)="updateTotalShares()">update the Total
          Shares</a> before increasing individual shares. Otherwise, remove or update shareholders that have sold their
        shares before increasing</span>
    </section>
    <section *ngIf="formType === 'partnership' && !shareholder?.isRoot" class="row">
      <app-field class="col-md-12" label="Ownership percentage" [valid]="!isTouchedAndInvalid('interestPercentageNew')"
        errorMessage="This is required">
        <input type="number" [readonly]="shareholder?.isRoot" class="form-control" style="width: auto;"
          formControlName="interestPercentageNew">
      </app-field>
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-secondary" (click)="close()">Cancel</button>
  &nbsp;
  <button class="btn btn-primary" (click)="save()">Save</button>
</mat-dialog-actions>