.more {
    height: auto;
}

.less {
    height: 70px;
    position: relative;
    overflow: hidden;
}

.fade {
    background-color: #fff;
    opacity: 0.5;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.content-insert div {
    display: inline-block;
}