<div class="dashboard-spacing" *ngIf="account">
  <h1>Welcome to Liquor and Cannabis Licensing</h1>
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <section class="small-screen-only">
        <h3 class="blue-header" style="margin-bottom: 0; margin-top: 0;">ACCOUNT PROFILE</h3>

        <div class="submitted-content" style="background-color: #F1F4FA; border-bottom: 4px solid #E4E4E4">
          <strong>{{account?.name}}</strong> <br>
          <p></p>
          <strong>Business Phone:</strong>&nbsp; <span>{{account?.contactPhone}}</span> <br>
          <p></p>
          <strong>Business Email: </strong>&nbsp; <span>{{account?.contactEmail}}</span> <br>
          <p></p>
          <p>
            Click below to view your complete account profile, and to update your address or contact
            details.
          </p>
          <div>
            <a routerLink="/account-profile" style="float: right;" id="editAccountProfile">
              <fa-icon [icon]="faPencilAlt" style="margin-right: 5px;"></fa-icon>Edit Account Profile
            </a>
            <div style="clear: both;"></div>
          </div>
        </div>
      </section>
      <p></p>
      <p>
        This dashboard allows applicants to submit applications for liquor and non-medical cannabis licences in British Columbia.
      </p>

      <p>
        Please note that the Liquor and Cannabis Regulation Branch (LCRB) will only process complete applications.
        Applications which are submitted without all required information or documents will not be processed. Applicants
        will be contacted and provided the opportunity to submit missing information. Once applicants provide all
        required documents to the LCRB, the application will be processed.
      </p>

      <!--p>Inquires related to your application can be directed to <a
                                                                    href="mailto:lcrbcannabis@gov.bc.ca">lcrbcannabis@gov.bc.ca</a>.</p-->
      <p></p>

      <app-applications-and-licences [account]="account">
      </app-applications-and-licences>

    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <app-liquor-approvals-callout appRemoveIfFeatureOff="LGApprovals" [account]="account"></app-liquor-approvals-callout>

      <section class="large-screen-only">
        <h3 class="blue-header" style="margin-bottom: 0; margin-top: 0;"><fa-icon [icon]="faExclamationTriangle" style="margin-right: 5px;"></fa-icon>RENEW A LIQUOR OR CANNABIS LICENCE</h3>

        <div class="submitted-content" style="background-color: #F1F4FA; border-bottom: 4px solid #E4E4E4">

          <p>To renew your Liquor or Cannabis licence visit your <a routerLink="/licences">Licences & Authorizations</a> page in the licensing portal. <strong>Note:</strong> You should not submit a new licence application to complete a renewal.</p>

          <p>Visit your Licences & Authorizations page on the licensing portal to submit changes to your licence, request authorizations or download a new copy of your licence for your records.</p>

          <p>Visit your <a routerLink="/account-profile">Account Profile</a> page to update your contact preferences.</p>

        </div>
      </section>
      <p></p>
      <section class="large-screen-only">
        <h3 class="blue-header" style="margin-bottom: 0; margin-top: 0;"><fa-icon [icon]="faExclamationTriangle" style="margin-right: 5px;"></fa-icon>Apply to transfer cannabis products between licences</h3>

        <div class="submitted-content" style="background-color: #F1F4FA; border-bottom: 4px solid #E4E4E4">

          <p>Cannabis retail store licensees must complete the <a href="https://www2.gov.bc.ca/assets/download/D47F4DB56C12447E8C9C96FBBD9D42A4">Application for Cannabis Products Transfer Form</a> and email it to <a href="mailto:LCRB.Product.Transfers@gov.bc.ca">LCRB.Product.Transfers@gov.bc.ca</a> if they wish to transfer cannabis products between their retail stores</p>

          <p>Written Approval from the LCRB must be recieved by a licencee before initiaing product transfer.</p>

        </div>
      </section>
      <p></p>
      <!-- <section appRemoveIfFeatureOff="LicenseeChanges">
    <h3 class="blue-header" style="margin-top: 0; margin-bottom: 0">ASSOCIATES</h3>

    <div class="submitted-content" style="background-color: #F1F4FA; border-bottom: 4px solid #E4E4E4">
      <app-licensee-tree *ngIf="tree" [treeRoot]="tree" [enableEditing]="false"></app-licensee-tree>
      <br>
      <br>
      <a href="javascript: void(0);" (click)="startLicenseeChangeApplication()" style="float: right;">
        <fa-icon [icon]="faPencilAlt" style="margin-right: 5px; "></fa-icon> Start Licensee Change Application</a>
      <div style="clear: both;"></div>
    </div>
  </section>
  <p></p> -->
      <app-associate-content *ngIf="account?.businessType !== 'LocalGovernment'" appRemoveIfFeatureOn="PermanentChangesToLicensee" [hasLicence]="hasLicence" [account]="account" [isIndigenousNation]="indigenousNationModeActive">
      </app-associate-content>
      <p></p>

      <app-legal-entity-type-update-calloutbox *ngIf="hasLicence" appRemoveIfFeatureOff="PermanentChangesToLicensee" [account]="account"></app-legal-entity-type-update-calloutbox>
</div>
  </div>
  <section style="margin-top: 20px;">
    <p>
      All cannabis retail store licence holders must follow the terms and conditions
      of
      their licence as set out in
      the
      <a href="https://www2.gov.bc.ca/assets/download/B459B70AC1F246E4A4D58C103A94C6C8">
        Retail Store Licence Terms and
        Conditions
        Handbook
      </a>.
    </p>
  </section>
</div>
