<div>
  <h1 style="margin-top: 0;">Before You Start</h1>
  <div *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1">
    <section>
      <label for="">Gather this information before you begin:</label>
      <p></p>
      <label>Corporate Information</label>
      <br>
      <ul>
        <li>Incorporation number</li>
        <li>Date of incorporation</li>
        <li>Business Number from Canada Revenue Agency</li>
        <li>Corporate Documents:</li>
        <ul>
          <li>Certificate of incorporation</li>
          <li>Articles of incorporation or corporate charter</li>
          <li>By-laws</li>
          <li>Any other basic documentation including any periodic updates or amending agreements</li>
        </ul>
        <li>Contact information and mailing address</li>
        <li>Organization structure of your corporate relationships</li>
        <li>List of directors and officers, with their email addresses</li>
        <li *ngIf="['PrivateCorporation'].indexOf(businessType) !== -1">
          List of voting shareholders, with their email addresses
        </li>
        <li *ngIf="['UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation'].indexOf(businessType) !== -1">
          List of all shareholders, with their email addresses
        </li>
        <li *ngIf="businessType == 'PublicCorporation'">
          Document of shareholders with a 10% or greater interest in the company
        </li>
        <li *ngIf="businessType !== 'PublicCorporation'">
          Central Securities Register document
        </li>
        <li>Document of key personnel of the corporation</li>
      </ul>

      <label>Finances</label>
      <br>
      <ul>
        <li>Annual financial statements for the past 3 years including:</li>
        <ul>
          <li>Balance sheet</li>
          <li>Profit and loss statement</li>
          <li>Cash flows</li>
        </ul>
        <li>If operating for less than a year, create projected amounts with assumptions used</li>
        <li>Tax filing for the past 3 years in all jurisdictions filed in</li>
        <li>Notice of Assessment (or equivalent) for past 3 years in all jurisdictions filed in</li>
        <li>Business Accounts with financial institutions</li>
        <li>Contact information for the corporation’s:</li>
        <ul>
          <li>Accountants</li>
          <li>Bookkeepers</li>
          <li>Tax filers</li>
        </ul>
        <li>Documentation of funding sources and amounts</li>
        <li>Documentation about any debts owed</li>
        <li>Documentation about any loans given</li>
      </ul>
    </section>
  </div>
  <div *ngIf="businessType == 'SoleProprietor'">
    <section>
      <label for="">Gather this information before you begin:</label>
      <p></p>
      <label>Sole Proprietor Information</label>
      <br>
      <ul>
        <li>Business Number from Canada Revenue Agency </li>
        <li>Contact information and mailing address </li>
        <li>Document of key personnel of the business</li>
      </ul>

      <p></p>
      <label>Finances</label>
      <ul>
        <li>Annual financial statements for the past 3 years including:</li>
        <ul>
          <li>Balance sheet</li>
          <li>Profit and loss statement</li>
          <li>Cash flows</li>
        </ul>
        <li>If operating for less than a year, create projected amounts with assumptions used</li>
        <li>Tax filing for the past 3 years in all jurisdictions filed in</li>
        <li>Notice of Assessment (or equivalent) for past 3 years in all jurisdictions filed in</li>
        <li>Business Accounts with financial institutions</li>
        <li>Contact information for the business’s:</li>
        <ul>
          <li>Accountants</li>
          <li>Bookkeepers</li>
          <li>Tax filers</li>
        </ul>
        <li>Documentation of funding sources and amounts</li>
        <li>Documentation about any debts owed</li>
        <li>Documentation about any loans given</li>
      </ul>
    </section>
  </div>

  <div *ngIf="businessType == 'Society'">
    <section>
      <label for="">Gather this information before you begin:</label>
      <p></p>
      <label for="">Society Information</label>
      <ul>
        <li>Society incorporation number</li>
        <li>Date of incorporation</li>
        <li>Business Number from Canada Revenue Agency</li>
        <li>Corporate Documents:</li>
        <ul>
          <li>Certificate of incorporation</li>
          <li>Articles of incorporation or corporate charter</li>
          <li>By-laws</li>
          <li>Any other basic documentation including any periodic updates or amending agreements</li>
        </ul>
        <li>Contact information and mailing address</li>
        <li>Organization structure of your society relationships</li>
        <li>List of directors, officers, and senior managers, with their email addresses</li>
        <li>Document of key personnel of the society</li>
      </ul>
    </section>

    <p></p>
    <section>
      <label for="">Finances</label>
      <ul>
        <li>Annual financial statements for the past 3 years including:</li>
        <ul>
          <li>Balance sheet</li>
          <li>Profit and loss statement</li>
          <li>Cash flows</li>
        </ul>
        <li>If operating for less than a year, create projected amounts with assumptions used</li>
        <li>Tax filing for the past 3 years in all jurisdictions filed in</li>
        <li>Notice of Assessment (or equivalent) for past 3 years in all jurisdictions filed in</li>
        <li>Business Accounts with financial institutions</li>
        <li>Contact information for the society's:</li>
        <ul>
          <li>Accountants</li>
          <li>Bookkeepers</li>
          <li>Tax filers</li>
        </ul>
        <li>Documentation of funding sources and amounts</li>
        <li>Documentation about any debts owed</li>
        <li>Documentation about any loans given</li>
      </ul>
    </section>
  </div>

  <div *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1">
    <section>
      <label for="">Gather this information before you begin:</label>
      <p></p>

      <label>Partnership Information</label>
      <br>
      <ul>
        <li>Business Number from Canada Revenue Agency</li>
        <li>Partnership agreement</li>
        <li>Contact information and mailing address</li>
        <li>Organization structure of your partnership</li>
        <li>List of partners, with their email addresses</li>
        <li>Document of key personnel of the partnership</li>
      </ul>

      <label>Finances</label>
      <ul>
        <li>Annual financial statements for the past 3 years including:</li>
        <ul>
          <li>Balance sheet</li>
          <li>Profit and loss statement</li>
          <li>Cash flows</li>
        </ul>
        <li>If operating for less than a year, create projected amounts with assumptions used</li>
        <li>Tax filing for the past 3 years in all jurisdictions filed in</li>
        <li>Notice of Assessment (or equivalent) for past 3 years in all jurisdictions filed in</li>
        <li>Business Accounts with financial institutions</li>
        <li>Contact information for the partnership’s:</li>
        <ul>
          <li>Accountants</li>
          <li>Bookkeepers</li>
          <li>Tax filers</li>
        </ul>
        <li>Documentation of funding sources and amounts</li>
        <li>Documentation about any debts owed</li>
        <li>Documentation about any loans given</li>
      </ul>
    </section>
  </div>
  <p></p>
  <hr>
  <section>
    <label for="">Privacy Collection Notice</label>
    <p>
      The Liquor and Cannabis Regulation Branch will collect your personal information for the purpose of fulfilling the requirements
      of the Cannabis Control and Licensing Act and associated regulations in cannabis licensing, compliance and enforcement
      matters in accordance with Sections 26 (a) and (c) of the Freedom of Information and Protection of Privacy Act. Should
      you have any questions about the collection, use, or disclosure of personal information, please contact the Freedom
      of Information Officer at PO Box 9292 STN PROV GVT, Victoria, BC, V8W 9J8 or by phone toll free at 1-866-209-2111.
    </p>
  </section>
</div>