::ng-deep {
  table.tua-locations {
    td {
      .app-field {
        margin-bottom: 0; // override default bottom margin when used in this table component
      }
    }
  }
}

.tua-locations {
  width: 100%;
  margin-bottom: 1rem;

  thead {
    th {
      border: 1px solid black;
      padding: 3px;
      text-align: center;

      &:last-child {
        border: none;
      }
    }
  }

  tr {
    td {
      background-color: white;
      text-align: center;
      border: 1px solid black;
      height: 35px;

      input {
        height: 100%;
        text-align: center;
        border: none;
      }
    }
  }

  .btn-clear {
    background: none;
    border: none;
  }
}

.tua-locations-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-grey {
  color: #999999;
}
