<div class="dashboard-spacing" style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div *ngIf="!isNewUser && dataLoaded" class="row">
    <div class="col-xl-7 col-sm-12">
      <div>
        <section>
          <!-- <div [ngBusy]="busy"></div> -->
          <h1>Worker Qualification Dashboard</h1>
          <div>
            <p>
              Your Worker Qualification Application is incomplete. You can return to this page and complete and submit
              it with payment at any time.
            </p>

            <p>You’ll be informed of the results of your screening.</p>

            <h2>Qualification Status</h2>

            <section>
              <mat-table class="mat-elevation-z0 detail-table" [dataSource]="dataSource">

                <!-- Column -->
                <ng-container matColumnDef="lastUpdated">
                  <mat-header-cell *matHeaderCellDef> LAST UPDATED </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element?.modifiedOn | date:'mediumDate'}}
                  </mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="worker">
                  <mat-header-cell *matHeaderCellDef> WORKER </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a *ngIf="element.status === 'Application Incomplete'" routerLink="/worker-qualification/application/{{element.id}}">{{element?.firstname}}
                      {{element?.middlename}}
                      {{element.lastname}}
                    </a>
                    <span *ngIf="element.status !== 'Application Incomplete'">{{element?.firstname}}
                      {{element?.middlename}}
                      {{element.lastname}}
                    </span>
                  </mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.status}}
                  </mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a *ngIf="element?.status === 'Active'" class="btn btn-primary" [href]="'api/worker/' + element?.id + '/pdf'">
                      <i class="fas fa-download"></i>
                      Download Qualification Letter</a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row [ngClass]="{'grey-background' : i%2 == 1}" *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
              </mat-table>
            </section>

          </div>
        </section>
      </div>
    </div>
    <div class="col-xl-4 col-sm-12" style="position: relative">
      <!-- <div [ngBusy]="busy"></div> -->
      <p></p>
      <section class="submit-container">
        <table>
          <tr>
            <td>
              <h2 class="round-icon-wrapper"><i class="fas fa-question"></i></h2>
            </td>
            <td style="padding-left: 10px">
              <h2>Update your personal information</h2>
            </td>
          </tr>
        </table>
        <div class="submit-content">
          <p>
            If you find an error in your personal information, please contact <a style="color:#fff" href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/citizens-services/servicebc">Service BC</a>, <a style="color:#fff" href="https://www.icbc.com">ICBC</a> or <a style="color:#fff" href="https://www.addresschange.gov.bc.ca/">AddressChangeBC</a> to
            correct
            it.
          </p>
        </div>
      </section>
    </div>
  </div>
  <section *ngIf="isNewUser && dataLoaded">
    <app-user-confirmation [currentUser]="currentUser" (reloadUser)="reloadUser()"></app-user-confirmation>
  </section>
</div>
