<div class="dashboard-spacing" style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div *ngIf="!isNewUser && dataLoaded" class="row">
    <div class="col-xl-7 col-sm-12">
      <div>
        <section>
          <!-- <div [ngBusy]="busy"></div> -->
          <h1>Worker Dashboard</h1>
          <div>
            <!--<p>
      You can return to this page to complete and submit
      your application with payment at any time.
    </p>

    <p>You’ll be informed of the results of your screening.</p>-->

            <h2>Security Verification Status: {{currentApplication?.clientSideStatus}}</h2>

            <section>
              <div *ngIf="!currentApplication">
                <p>
                  Select the link below to start your Worker Security Verification and Consent for Cannabis Security
                  Screening application.
                </p>
                <p>
                  You can save the application and return later to complete and submit it with payment.
                </p>
                <a routerLink="/worker-qualification/application/{{currentApplication?.id}}">
                  {{currentApplication?.firstname}}
                  {{currentApplication?.middlename}}
                  {{currentApplication?.lastname}}
                </a>
              </div>
              <div *ngIf="currentApplication?.clientSideStatus === 'Not Completed'">
                <p>
                  Select the link below to start your Worker Security Verification and Consent for Cannabis Security
                  Screening application.
                </p>
                <p>
                  You can save the application and return later to complete and submit it with payment.
                </p>
                <a routerLink="/worker-qualification/application/{{currentApplication?.id}}">
                  {{currentApplication?.firstname}}
                  {{currentApplication?.middlename}}
                  {{currentApplication?.lastname}}
                </a>
              </div>
              <div *ngIf="currentApplication?.clientSideStatus === 'Pending Review'">
                <p>
                  We've received your Worker Security Verification and Consent for Cannabis Security Screening
                  application. You'll be contacted if you have submitted any incorrect or unclear information.
                </p>
                <p>
                  We'll let you know the result of your application as soon as it is available.
                </p>
              </div>
              <div *ngIf="currentApplication?.clientSideStatus === 'Active'">
                <p>
                  We've received your Worker Security Verification and Consent for Cannabis Security Screening
                  application. You'll be contacted if you have submitted any incorrect or unclear information.
                </p>
                <p>
                  We'll let you know the result of your application as soon as it is available.
                </p>
                <a class="btn btn-primary" [href]="'api/worker/' + currentApplication?.id + '/pdf'">
                  <i class="fas fa-download"></i>
                  Download Security Verification Letter
                </a>
              </div>
              <div *ngIf="currentApplication?.clientSideStatus === 'Rejected'">
                <p>
                  You have been denied a security verification. This result cannot be appealed.
                </p>
                <p>
                  You have been issued a letter outlining the results of your application. For more information, please
                  refer to the letter.
                </p>
              </div>
              <div *ngIf="currentApplication?.clientSideStatus === 'Approved'">
                <p>
                  Your worker security verification application has been approved.
                </p>
                <p>
                  You have been sent a letter by email with more information. Please refer to the letter for details.
                </p>
              </div>

              <p style="margin-top: 5px;">Last updated: {{ currentApplication?.modifiedOn | date : 'MMM dd, yyyy'}}</p>

              <mat-table *ngIf="false" class="mat-elevation-z0 detail-table" [dataSource]="dataSource">

                <!-- Column -->
                <ng-container matColumnDef="lastUpdated">
                  <mat-header-cell *matHeaderCellDef> LAST UPDATED </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element?.modifiedOn | date:'mediumDate'}}
                  </mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="worker">
                  <mat-header-cell *matHeaderCellDef> WORKER </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a *ngIf="element.status === 'Application Incomplete'"
                      routerLink="/worker-qualification/application/{{element.id}}">
                      {{element?.firstname}}
                      {{element?.middlename}}
                      {{element.lastname}}
                    </a>
                    <span *ngIf="element.status !== 'Application Incomplete'">
                      {{element?.firstname}}
                      {{element?.middlename}}
                      {{element.lastname}}
                    </span>
                  </mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.status}}
                  </mat-cell>
                </ng-container>

                <!-- Column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a *ngIf="element?.status === 'Active'" class="btn btn-primary"
                      [href]="'api/worker/' + element?.id + '/pdf'">
                      <i class="fas fa-download"></i>
                      Download Security Verification Letter
                    </a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row [ngClass]="{'grey-background' : i%2 == 1}"
                  *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
              </mat-table>
            </section>

          </div>
        </section>
      </div>
    </div>
    <div class="col-xl-4 col-sm-12" style="position: relative">
      <!-- <div [ngBusy]="busy"></div> -->
      <p></p>
      <section class="submit-container">
        <table>
          <tr>
            <td>
              <h2 class="round-icon-wrapper"><i class="fas fa-question"></i></h2>
            </td>
            <td style="padding-left: 10px">
              <h2>Update your personal information</h2>
            </td>
          </tr>
        </table>
        <div class="submit-content">
          <p>
            If you find an error in your personal information, please contact <a style="color:#fff"
              href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/citizens-services/servicebc">Service
              BC</a>, <a style="color:#fff" href="https://www.icbc.com">ICBC</a> or <a style="color:#fff"
              href="https://www.addresschange.gov.bc.ca/">AddressChangeBC</a> to
            correct
            it.
          </p>
        </div>
      </section>
    </div>
  </div>
  <section *ngIf="isNewUser && dataLoaded">
    <app-user-confirmation [currentUser]="currentUser" (reloadUser)="reloadUser()"></app-user-confirmation>
  </section>
</div>