mat-header-row {
    background-color: rgba(56, 89, 138, 1);
}

.grey-background {
    background-color: #eee;
}

.mat-header-cell {
    color: #fff;
}

.small-dl-btn {
    display: none;
}

.summary-table {
    display: none;
}

@media (max-width: 1590px) {
    .summary-table {
        display: inline-block;
        width: 100%;
    }
    .detail-table {
        display: none;
    }
}

/* @media (min-width: 992px) and (max-width: 1590px) {
    .summary-table {
        display: inline-block;
    }
    .detail-table {
        display: none;
    }
} */