<div>
  <div [ngBusy]="busy"></div>

  <div *ngIf="dataSource.data && dataSource.data.length == 0">No licences have been issued</div>

  <div *ngIf="dataSource.data.length > 0">

    <!-- <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="License Applications Filter">
      </mat-form-field>
    </div> -->

    <mat-table class="mat-elevation-z0 detail-table" matSort #table [dataSource]="dataSource">

      <!-- Column -->
      <ng-container matColumnDef="modifiedOn">
        <mat-header-cell mat-sort-header *matHeaderCellDef> MODIFIED ON </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modifiedon | date:'mediumDate'}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="establishmentName">
        <mat-header-cell mat-sort-header *matHeaderCellDef> ESTABLISHMENT NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.establishmentName}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <!-- <ng-container matColumnDef="establishmentAddress">
        <mat-header-cell mat-sort-header *matHeaderCellDef> ADDRESS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.establishmentAddress}} </mat-cell>
      </ng-container> -->

      <!-- Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell mat-sort-header *matHeaderCellDef> STATUS </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i *ngIf="element.status == ACTIVE" class="fa fa-check-circle" style="color: #4b830d"></i>
          <i *ngIf="element.status == PAYMENT_REQUIRED" class="fa fa-exclamation-triangle" style="color: #e65100"></i>
          <i *ngIf="element.status == RENEWAL_DUE" class="fa fa-fa-exclamation-circle" style="color: #a30000"></i>
          {{element.status}} </mat-cell>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell mat-sort-header *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a *ngIf="element.status == ACTIVE" class="btn btn-primary" style="min-width: 10px;" [href]="'api/adoxiolicense/' + element?.assignedLicence?.id + '/pdf'">
            <span><i class="fas fa-download"></i> DOWNLOAD LICENCE</span>
            <!-- <span class="large-dl-btn"> <i class="fas fa-download"></i> DOWNLOAD LICENCE</span>
            <span class="small-dl-btn"><i class="fas fa-download" title="Download Licence"></i></span> -->
          </a>
          <button *ngIf="element.status == PAYMENT_REQUIRED" class="btn btn-primary" (click)="payLicenceFee(element)">PAY
            LICENCE FEE</button>
          <button *ngIf="element.status == RENEWAL_DUE" class="btn btn-primary" (click)="renewLicence(element)">RENEW
            LICENCE</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngClass]="{'grey-background' : i%2 == 1}" *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
    </mat-table>

    <mat-table class="mat-elevation-z0 summary-table" #table [dataSource]="dataSource">

      <!-- Column -->
      <ng-container matColumnDef="summary">
        <mat-cell *matCellDef="let element">
          <section>
            <p></p>
            <span>MODIFIED ON: </span>
            <span>{{element.modifiedon | date:'mediumDate'}}</span>
            <p></p>
            <span>ESTABLISHMENT NAME: </span>
            {{element.establishmentName}}
            <p></p>
            <span>STATUS: </span>
            <i *ngIf="element.status == ACTIVE" class="fa fa-check-circle" style="color: #4b830d"></i>
            <i *ngIf="element.status == PAYMENT_REQUIRED" class="fa fa-exclamation-triangle" style="color: #e65100"></i>
            <i *ngIf="element.status == RENEWAL_DUE" class="fa fa-fa-exclamation-circle" style="color: #a30000"></i>
            {{element.status}}
            <p></p>
            <a *ngIf="element.status == ACTIVE" class="btn btn-primary" style="min-width: 10px;" [href]="'api/adoxiolicense/' + element?.assignedLicence?.id + '/pdf'">
              <span> <i class="fas fa-download"></i> DOWNLOAD LICENCE</span>
            </a>
            <button *ngIf="element.status == PAYMENT_REQUIRED" class="btn btn-primary" (click)="payLicenceFee(element)">PAY
              LICENCE FEE
            </button>
            <button *ngIf="element.status == RENEWAL_DUE" class="btn btn-primary" (click)="renewLicence(element)">RENEW
              LICENCE
            </button>
            <p></p>
          </section>
        </mat-cell>
      </ng-container>

      <mat-row [ngClass]="{'grey-background' : i%2 != 1}" *matRowDef="let row; let i = index; columns: ['summary'];"></mat-row>
    </mat-table>

    <!-- <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true"> -->
    <!-- </mat-paginator> -->
  </div>
</div>