<div [ngBusy]="busy">
<div *ngIf="available">
<h2>{{licenceType}}</h2>
<form [formGroup]="mainForm">
<table class="eq-table">
<tr>
  <th class="p-0">
    <img *ngIf="licenceType === 'Cannabis Retail Store'" class="icon"
         src="assets/Cannabis-store-icon-blue-40px.png" alt="">
    <img *ngIf="licenceType === 'Section 119 Authorization'" class="icon"
         src="assets/Cannabis-store-icon-blue-40px.png" alt="">
    <img *ngIf="licenceType === 'Marketing'" class="icon"
         src="assets/Cannabis-marketing-icon-blue-40px.png" alt="">
    <img *ngIf="licenceType === 'Catering'" class="icon" src="assets/Catering-icon-blue-40px.png"
         alt="">
    <img *ngIf="licenceType === 'Wine Store'" class="icon"
         src="assets/Wine-store-icon-blue-40px.png" alt="">
  </th>
  <th style="width: 250px;">Details</th>
  <th style="width: 250px;">Location</th>
  <th style="width: 250px;">Operate</th>
  <th style="width: 300px;">Request Changes</th>
  <!-- <th *ngIf="licenceType === 'Catering'">Event History</th>
  <th *ngIf="licenceType !== 'Catering'"></th> -->
</tr>
<ng-container *ngFor="let item of licences; let i = index;">
<tr [formGroup]="licenceForms[item.licenseId]" style="border: 1px solid #ccc;">
<td style="background-color: #E1E8F2; padding: 10px; width: 15px;"
    [attr.rowspan]="item.headerRowSpan">
  <span>{{i+1}}</span>
</td>

                        <!-- DETAILS column -->
                        <td style="padding: 10px;">
                            <div>
                                <strong *ngIf="item?.licenceTypeName !== 'Marketing'" style="color: #1a5a96;">
                                    {{item.establishmentName}}</strong>
                                <div *ngIf="item?.licenseSubCategory">
                                    <p>{{getSubCategory(item.licenseSubCategory)}}</p>
                                </div>
                            </div>
                            <strong *ngIf="item?.licenceTypeName === 'Marketing'" style="color: #1a5a96;">
                                Marketing Licence</strong>
                            <span *ngIf="item?.licenceTypeName !== 'Marketing' && isActive(item)"><span
                                    *ngIf="item?.licenceTypeName !== 'Section 119 Authorization'">Licence</span>
                                Number:<i>{{item.licenseNumber}}</i></span>

  <br>
  <span *ngIf="isActive(item)">
    Expiry / Renewal Date:
    {{item.expiryDate | date: 'MM/dd/yyyy'}}
  </span>
  <br>
  <span>Status: <strong>{{getLicenceStatusText(item.status)}}</strong></span>
  <br>
  <div *ngIf="!item.isOperated && isActive(item) && actionsVisible(item)"
       style="min-width: 10px;">
    <div *ngIf="hasOutstandingPriorBalance" style="color: #f44336;"><fa-icon [icon]="faExclamationTriangle" style="margin-right: 10px;"></fa-icon>Warning: you have an outstanding balance invoice(s) that can be accessed from the Dashboard page.</div>
    <a [href]="'api/licenses/' + item?.licenseId + '/pdf/' + item?.licenseNumber + '.pdf'"
       download>
      <span>
        <fa-icon [icon]="faDownLoad" style="margin-right: 10px;"></fa-icon>Download
        <span *ngIf="item?.licenceType !== 'Section 119 Authorization'">Licence</span>
        <span *ngIf="item?.licenceType === 'Section 119 Authorization'">Authorization</span>
      </span>
    </a>
  </div>
  <div *ngIf="!item.isOperated && (isExpired(item) || (isActive(item) && isAboutToExpire(item)))">
    <span *ngIf="isOutstandingPriorBalanceInvoiceDue">
      <div style="color: #f44336;"><fa-icon [icon]="faExclamationTriangle" style="margin-right: 10px;"></fa-icon> Attention: you have an outstanding prior balance invoice(s) due; please return to the Dashboard for details and to make payment.</div>
       <a routerLink="/dashboard">
        Return to Dashboard
      </a>
    </span>
    <span *ngIf="!isOutstandingPriorBalanceInvoiceDue">
      <div *ngIf="hasOutstandingPriorBalance" style="color: #f44336;"><fa-icon [icon]="faExclamationTriangle" style="margin-right: 10px;"></fa-icon>Warning: you have an outstanding balance invoice(s) that can be accessed from the Dashboard page.</div>
      <a *ngIf="item.autoRenewal" href="javascript: void(0);" (click)="startRenewal(item)" class="missing">
        <span>
          <fa-icon [icon]="faExclamationTriangle" style="margin-right: 10px;"></fa-icon>
          {{(isAboutToExpire(item) || isRecentlyExpired(item)) ? 'Renew' : 'Reinstate'}}
          Licence
        </span>
      </a>
    </span>
  </div>
  <div class="flags" class="missing">
    <p *ngIf="item.dormant">
      <fa-icon [icon]="faFlag" style="margin-right: 10px;"></fa-icon>Licence
      Dormant
      <fa-icon [icon]="faQuestionCircle" data-html="true" style="margin-left: 10px;"
               matTooltipClass="multiline-tooltip"
               matTooltip="Please contact LCRB to remove dormancy">
      </fa-icon>
    </p>
    <p *ngIf="item.suspended">
      <fa-icon [icon]="faFlag" style="margin-right: 10px;"></fa-icon>Licence
      Suspended
      <fa-icon [icon]="faQuestionCircle" data-html="true" style="margin-left: 10px;"
               matTooltipClass="multiline-tooltip"
               matTooltip="Please contact LCRB to remove suspension">
      </fa-icon>
    </p>
    <p *ngIf="item.transferRequested">
      <fa-icon [icon]="faFlag"
               style="margin-right: 10px;">
      </fa-icon>Transfer Requested
    </p>
    <p *ngIf="item.operated && !item.isOperated">
      <fa-icon [icon]="faFlag"
               style="margin-right: 10px;">
      </fa-icon>Licence Operated
    </p>
  </div>
  <br>
  <div
    *ngIf="item.licenceTypeCategory === 'Liquor' && isActive(item) && actionsVisible(item) && !item.isOperated">
    <a [routerLink]="[ '/licence/' + item.licenseId + '/representative']">
      <span *ngIf="!item.representativeFullName">Add Licensee Representative</span>
      <span *ngIf="item.representativeFullName">
        Licensee Representative:
        <strong>{{item.representativeFullName}}</strong>
      </span>
    </a>
  </div>
  <div *ngIf="showManageOffsiteStorage(item)">
    <a [routerLink]="[ '/licence/' + item.licenseId + '/offsite-storage']">
      Manage Off-Site
      Storage
    </a>
  </div>
</td>

                        <!-- LOCATION column -->
                        <td style="padding: 10px;">
                            <div *ngIf="item?.licenceTypeName !== 'Marketing'">
                                {{item?.establishmentAddressStreet}} <br>
                                {{item?.establishmentAddressCity}} BC {{item?.establishmentAddressPostalCode}}<br>
                                <div
                                    *ngIf="item.licenceTypeName === ApplicationTypeNames.CannabisRetailStore && isActive(item) && actionsVisible(item)">
                                    <mat-checkbox [checked]="item.establishmentIsOpen"
                                        (click)="toggleStoreOpen(i, item?.establishmentId, !item.establishmentIsOpen);">
                                        <span style="margin-right: 10px;">Show Store as Open on Map</span>
                                    </mat-checkbox>
                                </div>
                                <input class="form-control" type="text" formControlName="phone" mask="(000) 000-0000"
                                    placeholder="Store Phone Number"
                                    [readonly]="!actionsVisible(item) || item.isOperated"
                                    (focusout)="actionsVisible(item) && updatePhone(item?.licenseId, item?.establishmentId, $event)">
                                <br>
                                <input class="form-control" type="text" formControlName="email"
                                    placeholder="Store Email Address"
                                    [readonly]="!actionsVisible(item) || item.isOperated"
                                    (focusout)="actionsVisible(item) && updateEmail(item?.licenseId, item?.establishmentId, $event)">
                                <br>
                            </div>
                            <div *ngIf="item?.licenceTypeName === 'Marketing'">
                                {{account?.physicalAddressStreet}} <br>
                                {{account?.physicalAddressCity}} {{account?.physicalAddressProvince}}
                                {{account?.physicalAddressPostalCode}}<br>
                                {{account?.physicalAddressCountry}} <br>
                            </div>
                        </td>

                        <!-- OPERATE column -->
                        <td>
                            <!--div *ngIf="item.status === 'PreInspection'" style="min-width: 10px; margin-bottom: 10px;">
                        <a href="javascript:void(0);" (click)="planStoreOpening(item)" class="missing">
                            <span>
                                <fa-icon [icon]="faPencilAlt" style="margin-right: 10px;"></fa-icon>
                                Pre-Inspection Checklist
                            </span>
                        </a>
                    </div-->
                            <ng-container
                                *ngIf="item.endorsements.length > 0 && isActive(item) && (actionsVisible(item) || item.isOperated)">
                                <span><strong>Endorsements:</strong></span>
                                <div *ngFor="let endorsement of item.endorsements; let i = index;">
                                    <span>
                                        <fa-icon [icon]="faCertificate" style="margin-right: 10px;"></fa-icon>
                                        {{endorsement.endorsementName}}
                                    </span>
                                </div>
                                <br><br>
                            </ng-container>
                            <div *ngIf="item.status === 'PendingLicenceFee'  && item.missingFirstYearLicenceFee"
                                style="min-width: 10px; margin-bottom: 10px;">
                                <a href="javascript:void(0);" (click)="payLicenceFee(item)" class="missing">
                                    <span>
                                        <fa-icon [icon]="faShoppingCart" style="margin-right: 10px;"></fa-icon>
                                        Pay First Year Fee
                                    </span>
                                </a>
                            </div>
                            <!-- Third Party Operator Actions-->
                            <!-- Indicate application has been initiated-->
                            <div *ngIf="isActive(item) && item.tpoRequested" class="licence-expired">
                                <strong>Third Party Operator Application Initiated</strong> <br />
                                <section *ngIf="isActive(item) && item.tpoRequested" class="licence-expired">
                                    <a [routerLink]="[ '/cancel-third-party-operator/' + item.licenseId]"
                                        class="missing">
                                        <span><fa-icon [icon]="faTrashAlt" style="margin-right: 10px;"></fa-icon>Cancel
                                            Application</span>
                                    </a>
                                </section>
                            </div>

                            <div>
                                <div
                                    *ngIf="isActive(item) && hasEndorsementByName(item, 'Temporary Off-Site Endorsement')">
                                    <a [routerLink]="[ '/licence/' + item.licenseId + '/temporary-offsite']">
                                        <fa-icon [icon]="faCalendarAlt" style="margin-right: 10px;"></fa-icon>Request Temporary
                                        Off-Site Sale
                                        Authorization
                                    </a>
                                </div>
                                <div
                                    *ngIf="((item.licenceTypeName.indexOf('Catering') >= 0 && isActive(item)) || hasEndorsementByName(item, 'Catering Endorsement')) && (actionsVisible(item) || item.isOperated)">
                                    <a [routerLink]="[ '/licence/' + item.licenseId + '/event']">
                                        <fa-icon [icon]="faCalendarAlt"style="margin-right: 10px;"></fa-icon>Request Catered Event
                                        Authorization
                                    </a>
                                </div>
                                <div *ngIf="isActive(item) && actionsVisible(item) && hasEndorsementByName(item, 'On-Site Store Endorsement')"
                                    appRemoveIfFeatureOff="MarketEvents">
                                    <a [routerLink]="[ '/licence/' + item.licenseId + '/market-event']">
                                        <fa-icon [icon]="faCalendarAlt"style="margin-right: 10px;"></fa-icon>Request Market
                                        Event Authorization
                                    </a>
                                </div>
                                <div *ngIf="isActive(item) && actionsVisible(item) && hasEndorsementByName(item, 'Temporary Use Area Endorsement')"
                                    appRemoveIfFeatureOff="TemporaryUseAreaEvents">
                                    <a [routerLink]="[ '/licence/' + item.licenseId + '/tua-event']">
                                        <fa-icon [icon]="faCalendarAlt"style="margin-right: 10px;"></fa-icon>Request Temporary Use Area Event Authorization
                                    </a>
                                </div>
                                <div *ngIf="isLiquorPrimaryOrLiquorPrimaryClub(item) && isActive(item) && actionsVisible(item)"
                                  appRemoveIfFeatureOff="LiquorFreeEvents">
                                  <a [routerLink]="[ '/licence/' + item.licenseId + '/liquor-free-event']">
                                    <fa-icon [icon]="faCalendarAlt" style="margin-right: 10px;"></fa-icon>Request All-Ages Liquor-Free Event Authorization
                                  </a>
                                </div>
                                <div *ngIf="showTakeHomeSampling(item)" appRemoveIfFeatureOff="TakeHomeEvents">
                                  <a [routerLink]="[ '/licence/' + item.licenseId + '/take-home-event']">
                                    <fa-icon [icon]="faCalendarAlt" style="margin-right: 10px;"></fa-icon>Request Take Home Sampling Event Authorization
                                  </a>
                                </div>
                                <div
                                    *ngIf="isFederalReportLicenceType(item) && isActive(item) && actionsVisible(item)">
                                    <a [routerLink]="[ '/federal-reporting/' + item.licenseId + '/default']">
                                        <span><fa-icon [icon]="faBusinessTime" style="margin-right: 10px;"></fa-icon>Review
                                            Federal Reports</span>
                                    </a>
                                </div>
                            </div>

  <!-- Indicate third party operator relationship established-->
  <ng-container *ngIf="item.thirdPartyOperatorAccountName">
    <br>
    <span>Operated By: </span>
    <strong
      style="color: #1a5a96;">
      {{item.thirdPartyOperatorAccountName}}
    </strong>    <a *ngIf="item.operated && !item.isOperated"
    [routerLink]="[ '/terminate-third-party-operator/' + item.licenseId]" alt="Terminate Third-Party Operator Relationship">
     <fa-icon [icon]="faTrashAlt" style="margin-right: 10px;"></fa-icon></a>

     <br>

    <span>Licenced To: </span><strong style="color: #1a5a96;">{{item.currentOwner}}</strong>


  </ng-container>

</td>

                        <!-- REQUEST CHANGES column -->
                        <td style="background-color: #E1E8F2; padding: 10px;">
                            <!-- 3rd Party Operators cannot submit  changes -->
                            <div *ngIf="!item.isOperated">
                                <div *ngIf="showLicenceTransferAction(item)">
                                    <p>
                                        <a [routerLink]="[ '/ownership-transfer/' + item.licenseId]">
                                            <span><fa-icon [icon]="faExchangeAlt" style="margin-right: 10px;"></fa-icon>
                                                Transfer Licence
                                            </span>
                                        </a>
                                    </p>
                                </div>
                                <!-- if there is a third party application in progress, we don't show the ability to submit a new application-->
                                <div *ngIf="showAddOrChangeThirdPartyOperator(item)">
                                    <p>
                                        <a [routerLink]="[ '/third-party-operator/' + item.licenseId]">
                                            <span><fa-icon [icon]="faExchangeAlt" style="margin-right: 10px;"></fa-icon>Add or
                                                Change a Third Party Operator</span>
                                        </a>
                                    </p>
                                </div>

                                <div *ngIf="showTiedHouseExemption(item)">
                                  <p>
                                      <a [routerLink]="[ '/tied-house-exemption/' + item.licenseId]">
                                          <span><fa-icon [icon]="faExchangeAlt" style="margin-right: 10px;"></fa-icon>
                                              Invitation for Tied House Exemption
                                          </span>
                                      </a>
                                  </p>
                              </div>
                                <ng-container *ngIf="isActive(item) && actionsVisible(item)">
                                    <p *ngFor="let action of item.allowedActions">
                                        <ng-container *ngIf="actionVisible(item, action.id)">
                                            <a href="javascript:void(0);" (click)="doAction(item,action.name)">
                                                <span><fa-icon [icon]="faBolt" style="margin-right: 10px;"></fa-icon>
                                                    {{action?.actionText}}
                                                </span>
                                            </a>
                                        </ng-container>
                                    </p>
                                </ng-container>
                                <div *ngIf="!isCancelled(item)">
                                    <!--div *ngIf="isAboutToExpire(item) && item.autoRenewal" class="licence-expired"
                                        style="text-align: center;">
                                        <a href="javascript: void(0);" (click)="startRenewal(item)" class="missing">
                                            <strong>Attention</strong>: This Licence will Expire Soon<br>Please

                                            Renew.</a>
                                    </div-->
                                  <div *ngIf="isExpired(item) && isRecentlyExpired(item) && item.autoRenewal"
                                       class="licence-expired" style="text-align: center;">
                                    <span *ngIf="isOutstandingPriorBalanceInvoiceDue">
                                      <div style="color: #f44336;"><fa-icon [icon]="faExclamationTriangle" style="margin-right: 10px;"></fa-icon> Attention: you have an outstanding prior balance invoice(s); please return to the Dashboard for details and to make payment</div>
                                      <a routerLink="/dashboard">
                                        Return to Dashboard
                                      </a>
                                    </span>
                                    <span *ngIf="!isOutstandingPriorBalanceInvoiceDue">
                                      <a href="javascript: void(0);" (click)="startRenewal(item)" class="missing">
                                        <strong>Attention</strong>: This Licence has Expired<br>Please Renew.
                                      </a>
                                    </span>
                                  </div>
                                  <div *ngIf="isExpired(item) && !isRecentlyExpired(item) && item.autoRenewal"
                                       class="licence-expired" style="text-align: center;">
                                    <span *ngIf="isOutstandingPriorBalanceInvoiceDue">
                                      <button [disabled]="true" class="missing"
                                              [title]="'Attention: you have an outstanding prior balance invoice(s); please return to the Dashboard for details and to make payment'">
                                        <span>
                                          <strong>Attention</strong>: This Licence has Expired<br>Please Reinstate.
                                        </span>
                                      </button>
                                    </span>
                                    <span *ngIf="!isOutstandingPriorBalanceInvoiceDue">
                                      <a href="javascript: void(0);" (click)="startRenewal(item)" class="missing">
                                        <strong>Attention</strong>: This Licence has Expired<br>Please Reinstate.
                                      </a>
                                    </span>
                                  </div>


                                </div>

    <!-- <section
           *ngIf="isActive(item) && item.transferRequested"
           class="missing">
      <a [routerLink]="[ '/ownership-cancel-transfer/' + item.licenseId]" class="missing">
        <span><fa-icon [icon]="faExchangeAlt" style="margin-right: 10px;"></fa-icon>Cancel Transfer</span>
      </a>
    </section> -->
  </div>
  <section *ngIf="item.isOperated">
    <i>
      3rd-Party Operators cannot request changes to the
      licence. All
      change requests
      for the licence must be requested by the Licensee.
    </i>
  </section>
</td>
</tr>

<tr *ngIf="item?.events !== undefined && item?.events.length > 0">
  <td colspan="5">
    <mat-expansion-panel [expanded]="false" class="mat-elevation-z1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Event History
          <fa-icon [icon]="faCalendarAlt"
                   style="margin-left: 10px;">
          </fa-icon>
        </mat-panel-title>
        <mat-panel-description id="{{'expand-history-button-' + i}}">
          Click to expand or
          collapse
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table style="text-align: center; width: 100%;">
        <thead>
        <th>Event Status</th>
        <th>Event Type</th>
        <th>Number</th>
        <th>Name</th>
        <th>Date Submitted</th>
        <th></th>
        <th>Authorization</th>
        </thead>
        <tr *ngFor="let event of item?.events">
          <td>
            <a
              [routerLink]="[ '/licence/' + item.licenseId + getEventPath(event) + event.id]">
              {{getOptionFromValue(eventStatus,
              event.status).label}}
            </a>
          </td>
          <td>{{getOptionFromValue(eventCategory ,event.eventCategory)?.label}}</td>
          <td>{{event.eventNumber}}</td>
          <td>{{getEventName(event)}}</td>
          <td>{{event.modifiedOn | date:'mediumDate'}}</td>
          <td>
            <a [routerLink]="[ '/licence/' + item.licenseId + '/event/' + event.id + '/security']"
               *ngIf="event.securityPlanRequested">
              Security Plan
            </a>
          </td>
          <td
            *ngIf="getOptionFromValue(eventStatus, event.status).label === 'Approved' && hasAuthorizationLetter(event);else empty_td">
            <a [href]="'api/licenceevents/' + event.id + '/authorization.pdf'" download>
              <span>
                <fa-icon [icon]="faDownLoad" style="margin-right: 10px;"></fa-icon>
                Download Authorization
              </span>
            </a>
          </td>
          <ng-template #empty_td>
            <td></td>
          </ng-template>
        </tr>
      </table>
    </mat-expansion-panel>
  </td>
</tr>
<tr *ngIf="licenceTypeHasTerms(item?.licenceTypeName) && !item?.termsAndConditionsBusy?.closed">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</tr>
<tr *ngIf="item?.termsAndConditions !== null && item?.termsAndConditions.length > 0">
  <td colspan="5">
    <mat-expansion-panel [expanded]="false" class="mat-elevation-z1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Terms and Conditions
        </mat-panel-title>
        <mat-panel-description>
          Click to expand or collapse
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul style="width: 100%;">
        <li *ngFor="let term of item?.termsAndConditions">
          {{term.content}}
        </li>
      </ul>
    </mat-expansion-panel>
  </td>
</tr>
</ng-container>
</table>

</form>

<ng-container *ngIf="getHandbookLink(licenceType) !== '404'">
  <p *ngIf="!licenceType.includes('Operated') && licenceType !== 'Section 119 Authorization'"
     style="font-style: italic; text-align: center;">
    All
    {{licenceType}} licence holders must follow the terms
    and
    conditions of their licence as set out in the
    <a href="{{getHandbookLink(licenceType)}}"
       target="_blank">
      {{licenceType}} Terms and Conditions Handbook
    </a>
  </p>
  <p *ngIf="!licenceType.includes('Operated') && licenceType === 'Section 119 Authorization'"
     style="font-style: italic; text-align: center;">
    All
    {{licenceType}} holders must follow the terms
    and
    conditions set out in the
    <a href="{{getHandbookLink(licenceType)}}" target="_blank">
      Cannabis Retail
      Store Licence Terms and Conditions Handbook
    </a> for anything not explicitly covered by their
    authorization agreement.
  </p>
  <p *ngIf="licenceType.includes('Operated')" style="font-style: italic; text-align: center;">
    All Third Party
    Operators must follow the terms
    and
    conditions as set out in the
    <a href="{{getHandbookLink(licenceType)}}" target="_blank">
      Terms and
      Conditions
      Handbook
    </a>
  </p>
</ng-container>
<p>&nbsp;</p>
</div>

<div *ngIf="!available">
  <h3>{{licenceType}} Licences - <i>Coming Soon</i></h3>
  <ul>
    <ng-container *ngFor="let item of licences; let i = index;">
      <li style="font-size: 16px;">{{item.licenseNumber}} - {{item.establishmentName}}</li>
    </ng-container>

  </ul>
</div>
</div>
