<div class="row"></div>

<div class="row">
  <div class="col-lg-6 col-sm-6">

    <h3 class="blue-header">
      <fa-icon [icon]="faExclamationTriangle" style="margin-right: 5px;"></fa-icon>
        Oops, this page isn't available anymore
    </h3>
    <div class="submitted-content" style="background-color: #F1F4FA; border-bottom: 4px solid #E4E4E4">

      <p>Click 'Okay' to return to the Dashboard. To see applications you have started or submitted, scroll down to 'In-Progress Applications'.</p>

    </div>

    <mat-dialog-actions>
      <button color="primary" mat-raised-button [routerLink]="[ '/dashboard']">Ok</button>
    </mat-dialog-actions>

  </div>
</div>
