<div *ngIf="!(isSubmitted && isPaid) && isLoaded">
  <h1>Submit &amp; Pay</h1>
  <p>
    All required fields must be completed before you can submit the application.
    After you submit the application you will be directed to the payment screen to complete the application.
    An application is not complete until the payment has been approved.
  </p>

  <h2>Application Fee: $7,500</h2>
  <p>Payment types accepted:</p>
  <ul>
    <li>Visa</li>
    <li>MasterCard</li>
    <li>American Express</li>
    <li>Visa Debit</li>
    <li>Debit MasterCard</li>
  </ul>

  <h2>Before you Submit</h2>
  <ul>
    <li>Check that you sent the authorizations for all individuals who require security screenings and financial integrity checks.</li>
    <li>Check that the information in your business profile and licence application is complete and accurate.</li>
  </ul>
  <br>
  <p>
    Note: The information in your business profile and licence application cannot be changed or updated online after the application is submitted.
    You can still submit new applications for additional licences online.
  </p>
  <p>If you need to make any changes to the business profile or licence application after submission, please contact the Liquor and Cannabis Regulation Branch [Contact Information]</p>
</div>

<div *ngIf="displayValidationMessages">
  <alert type="danger">
    <strong>Application Validation Failed.</strong><br />
    <!--<div [innerHTML]="validationMessage"></div>-->
    <br />
    <ul>
      <li *ngFor="let message of validationMessages">
        {{message}}
      </li>
    </ul>
    <br />
    <p>Please complete the application before you can submit.</p>
  </alert>
</div>

<div *ngIf="isPaid">
  <app-payment-confirmation [inputApplicationId]="applicationId"></app-payment-confirmation>
</div>

<div [ngBusy]="busy">
  <p>&nbsp;</p>
  <div *ngIf="!isSubmitted">
    <a class="globalButton btn btn-primary" tabindex="2" (click)="submit_application()"><strong>Submit</strong></a>
  </div>
  <div *ngIf="isSubmitted && !isPaid">
    <a class="globalButton btn btn-primary" tabindex="2" (click)="verify_payment()"><strong>Verify Payment</strong></a>
  </div>
</div>

