.box_1 {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
#u8566 {
  border-width:0px;
  width:901px;
  height:86px;
}
#u8566_text {
  border-width:0px;
  width:0px;
  word-wrap:break-word;
}
#u8567 {
  border-width:0px;
  width:76px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u8567_text {
  border-width:0px;
  width:78px;
  white-space:nowrap;
}
#u8568_div {
  border-width:0px;
  width:901px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8568 {
  border-width:0px;
  width:901px;
  height:15px;
}
#u8568_text {
  border-width:0px;
  width:901px;
  word-wrap:break-word;
}
