
<div *ngIf="!isSubmitted">
  <div *ngIf="prevPaymentFailed">
    <p>
      <strong>A previous Payment was declined or failed, please re-submit</strong>
    </p>
  </div>
</div>
<div *ngIf="isSubmitted && !isPaid">
  <p>
    <strong>Application payment has been Submitted but Payment has not been verified</strong>
  </p>
</div>
<div *ngIf="isSubmitted && isPaid">
  <p>
  	<strong>Application has been Submitted and Paid</strong>
  </p>
</div>

<div *ngIf="!(isSubmitted && isPaid)">
<h1>Submit &amp; Pay</h1>

<p>
 	All required fields must be completed before you can submit the application. After you submit the application you will be directed to the payment screen to complete the application. An application is not complete until the payment has been approved.
</p>
<h2>Application Fee: $7,500</h2>
<p>Payment types accepted:</p>
  <ul>
    <li>Visa</li>
    <li>MasterCard</li>
    <li>American Express</li>
    <li>Visa Debit</li>
    <li>Debit MasterCard</li>
  </ul>

<h2>Before you Submit</h2>

<p>Check that you sent all authorizations for individuals requiring security screenings and financial integrity checks. </p>
<p>Check that the information in the business profile and licence application is complete and accurate.</p>
<p>The information in your business profile and licence application cannot be changed or updated online after the application is submitted. You can still submit new applications for additional licences online.</p>
<p>If you need to make any changes after submitting you must contact the Liquor and Cannabis Regulation Branch [Contact Information]</p>
</div>

<div  [ngBusy]="busy">
  <p>&nbsp;</p>
  <div *ngIf="!isSubmitted">
    <p>
      <a class="globalButton btn btn-primary" tabindex="2" (click)="submit_application()"><strong>Submit</strong></a>
    </p>
  </div>
  <div *ngIf="isSubmitted && !isPaid">
    <p>
      <a class="globalButton btn btn-primary" tabindex="2" (click)="verify_payment()"><strong>Verify Payment</strong></a>
    </p>
  </div>
</div>
