
<div *ngIf="!isSubmitted">
	<div id="u8565" class="ax_default" data-label="decline" style="visibility: inherit;">              
	<div id="u8565_state0" class="panel_state" data-label="State1" style="">
	    <div id="u8565_state0_content" class="panel_state_content">

	      <!-- Application-Name (Rectangle) -->
	      <div id="u8567" class="ax_default heading_1" data-label="Application-Name">
	        <div id="u8567_div" class=""></div>
	        <div id="u8567_text" class="text " >
	          <p>Declined</p>
	        </div>
	      </div>

	      <!-- Unnamed (Rectangle) -->
	      <div id="u8568" class="ax_default paragraph">
	        <div id="u8568_div" class=""></div>
	        <div id="u8568_text" class="text ">
	          <p>Your payment has been declined. Please contact your bank for more information.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div *ngIf="isSubmitted && !isPaid">
	<div id="u8565" class="ax_default" data-label="inprogress" style="visibility: inherit;">              
	<div id="u8565_state0" class="panel_state" data-label="State1" style="">
	    <div id="u8565_state0_content" class="panel_state_content">

	      <!-- Application-Name (Rectangle) -->
	      <div id="u8567" class="ax_default heading_1" data-label="Application-Name">
	        <div id="u8567_div" class=""></div>
	        <div id="u8567_text" class="text " >
	          <p>In Progress</p>
	        </div>
	      </div>

	      <!-- Unnamed (Rectangle) -->
	      <div id="u8568" class="ax_default paragraph">
	        <div id="u8568_div" class=""></div>
	        <div id="u8568_text" class="text ">
	          <p>Your Application Payment has been Submitted, but Payment has not been verified.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div *ngIf="isSubmitted && isPaid">
	<div id="u8565" class="ax_default" data-label="paid" style="visibility: inherit;">              
	<div id="u8565_state0" class="panel_state" data-label="State1" style="">
	    <div id="u8565_state0_content" class="panel_state_content">

	      <!-- Application-Name (Rectangle) -->
	      <div id="u8567" class="ax_default heading_1" data-label="Application-Name">
	        <div id="u8567_div" class=""></div>
	        <div id="u8567_text" class="text " >
	          <p>Paid</p>
	        </div>
	      </div>

	      <!-- Unnamed (Rectangle) -->
	      <div id="u8568" class="ax_default paragraph">
	        <div id="u8568_div" class=""></div>
	        <div id="u8568_text" class="text ">
	          <p>Your Application has been Submitted and Paid.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div *ngIf="!(isSubmitted && isPaid)">
<h1>Submit &amp; Pay</h1>

<p>
 	All required fields must be completed before you can submit the application. After you submit the application you will be directed to the payment screen to complete the application. An application is not complete until the payment has been approved.
</p>
<h2>Application Fee: $7,500</h2>
<p>Payment types accepted:</p>
  <ul>
    <li>Visa</li>
    <li>MasterCard</li>
    <li>American Express</li>
    <li>Visa Debit</li>
    <li>Debit MasterCard</li>
  </ul>

<h2>Before you Submit</h2>

<p>Check that you sent all authorizations for individuals requiring security screenings and financial integrity checks. </p>
<p>Check that the information in the business profile and licence application is complete and accurate.</p>
<p>The information in your business profile and licence application cannot be changed or updated online after the application is submitted. You can still submit new applications for additional licences online.</p>
<p>If you need to make any changes after submitting you must contact the Liquor and Cannabis Regulation Branch [Contact Information]</p>
</div>

<div  [ngBusy]="busy">
  <p>&nbsp;</p>
  <div *ngIf="!isSubmitted">
    <p>
      <a class="globalButton btn btn-primary" tabindex="2" (click)="submit_application()"><strong>Submit</strong></a>
    </p>
  </div>
  <div *ngIf="isSubmitted && !isPaid">
    <p>
      <a class="globalButton btn btn-primary" tabindex="2" (click)="verify_payment()"><strong>Verify Payment</strong></a>
    </p>
  </div>
</div>
