<h1>Property Details</h1>
<h2>Physical Address of Store</h2>

<div [ngBusy]="busy">
  <form [formGroup]='propertyDetailsForm' class="form-horizontal" (ngSubmit)="save()">

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('establishmentaddressstreet')}">
        <label for="">Address</label>
        <br>
        <input class="form-control" style="width: 250px;" type="text" id="establishmentaddressstreet" formControlName="establishmentaddressstreet">
        <div *ngIf="this.isFieldError('establishmentaddressstreet')" class="alert alert-danger" style="width: 250px;">
          <div *ngIf="propertyDetailsForm.controls['establishmentaddressstreet'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('establishmentaddresscity')}">
        <label for="">City</label>
        <br>
        <input class="form-control" style="width: 150px;" type="text" id="establishmentaddresscity" formControlName="establishmentaddresscity">
        <div *ngIf="this.isFieldError('establishmentaddresscity')" class="alert alert-danger" style="width: 250px;">
          <div *ngIf="propertyDetailsForm.controls['establishmentaddresscity'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('establishmentaddresspostalcode')}">
        <label for="">Postal Code</label>
        <br>
        <input class="form-control" style="width: 80px;" type="text" id="establishmentaddresspostalcode" formControlName="establishmentaddresspostalcode">
        <div *ngIf="this.isFieldError('establishmentaddresspostalcode')" class="alert alert-danger" style="width: 250px;">
          <div *ngIf="propertyDetailsForm.controls['establishmentaddresspostalcode'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('establishmentparcelid')}">
        <label for="">Parcel Identifier (PID)</label>
        <br>
        <input class="form-control" style="width: 150px;" type="text" id="establishmentparcelid" formControlName="establishmentparcelid">
        <div *ngIf="this.isFieldError('establishmentparcelid')" class="alert alert-danger" style="width: 250px;">
          <div *ngIf="propertyDetailsForm.controls['establishmentparcelid'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('additionalpropertyinformation')}">
        <label for="">Additional Property Information (optional)</label>
        <br>
        <input class="form-control" style="width: 250px;" type="text" id="additionalpropertyinformation" formControlName="additionalpropertyinformation">
        <div *ngIf="this.isFieldError('additionalpropertyinformation')" class="alert alert-danger" style="width: 250px;">
          <div *ngIf="propertyDetailsForm.controls['additionalpropertyinformation'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="gray-background col-sm-6">
        <p>You can find your property’s PID on:</p>
        <ul>
          <li>The title to the property</li>
          <li>Through the <a href="https://ltsa.ca/">B.C. Land Title and Survey Authority</a></li>
          <li>The tax assessment notice from BC Assessment</li>
          <li><a href="https://www.bcassessment.ca/">BC Assessment’s e-valueBC</a> website</li>
          <li>The municipal tax notice</li>
          <li>The property lease</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <section>
        <h2>Property Ownership or Lease</h2>
        <p>At minimum, you must have an offer to purchase, lease or sub-lease the property when you submit your application.</p>
        <p>
          Before you receive approval in principle, you will be asked to submit a fully executed lease, sub-lease or certificate of title. 
          The Liquor and Cannabis Regulation Branch will contact you if further information is required.
        </p>
      </section>
    </div>

  </form>
</div>
