<div class="user-menu" [class.open]="t.menuOpen">
  <button mat-raised-button color="primary" (click)="openBadgeTemplateDialog()">
    <span class="compact-button">Icon / Badge</span>
    <span class="compact-button">Template</span>
  </button>
  <button class="user-button" mat-button disableRipple="true" [matMenuTriggerFor]="userMenu" #t="matMenuTrigger">
    <fa-icon [icon]="userIcon" size="2x" transform="down-3"></fa-icon>
    <div class="user-name pl-3 pr-4">
      <span class="strong">{{currentUser?.name}}</span>
      <i *ngIf="currentUser.userType == 'Business'">{{currentUser.businessname}}</i>
    </div>
    <fa-icon *ngIf="!t.menuOpen" [icon]="faChevronDown"></fa-icon>
    <fa-icon *ngIf="t.menuOpen" [icon]="faChevronUp"></fa-icon>
  </button>
</div>
<mat-menu #userMenu="matMenu" backdropClass="custom__menu">
  <a mat-menu-item *ngIf="currentUser?.userType == 'Business'" routerLink="/account-profile">
    Manage account
  </a>
  <a mat-menu-item appRemoveIfFeatureOff="Sep" *ngIf="currentUser?.userType == 'VerifiedIndividual' || currentUser?.userType != 'Business'"
    routerLink="/servicecard-profile">
    Manage account
  </a>
  <!--a mat-menu-item appRemoveIfFeatureOff="Sep" *ngIf="currentUser?.isPoliceRepresentative"
    routerLink="/sep/police/approval-settings">
    Approval Settings
  </a-->
  <a mat-menu-item href="logout">Sign out</a>
</mat-menu>

<!-- Modal HTML -->
<ng-template #badgeTemplateDialog>
  <h2 mat-dialog-title class="centered-title">Icon / Badge Template</h2>
  <p>Paste this code into your website:</p>
  <pre><code>{{nonsenseCode}}</code></pre>
  <div mat-dialog-actions class="center-actions">
    <button mat-raised-button color="primary" (click)="onCopy()">Copy</button>
  </div>
</ng-template>