<div class="user-menu" [class.open]="t.menuOpen">
  <button class="user-button" mat-button disableRipple="true" [matMenuTriggerFor]="userMenu" #t="matMenuTrigger">
    <fa-icon [icon]="userIcon" size="2x" transform="down-3"></fa-icon>
    <div class="user-name pl-3 pr-4">
      <span class="strong">{{currentUser?.name}}</span>
      <i *ngIf="currentUser.userType == 'Business'">{{currentUser.businessname}}</i>
    </div>
    <fa-icon *ngIf="!t.menuOpen" [icon]="faChevronDown"></fa-icon>
    <fa-icon *ngIf="t.menuOpen" [icon]="faChevronUp"></fa-icon>
  </button>
</div>
<mat-menu #userMenu="matMenu" backdropClass="custom__menu">
  <a mat-menu-item *ngIf="currentUser?.userType == 'Business'" routerLink="/account-profile">
    Manage account
  </a>
  <a mat-menu-item appRemoveIfFeatureOff="Sep" *ngIf="currentUser?.userType == 'VerifiedIndividual' || currentUser?.userType != 'Business'"
    routerLink="/servicecard-profile">
    Manage account
  </a>
  <!--a mat-menu-item appRemoveIfFeatureOff="Sep" *ngIf="currentUser?.isPoliceRepresentative"
    routerLink="/sep/police/approval-settings">
    Approval Settings
  </a-->
  <a mat-menu-item href="logout">Sign out</a>
</mat-menu>
