<div class="dashboard-spacing" style="position: relative;">
  <div [ngBusy]="[busy, busy2]"></div>
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <app-policy-document [fullWidth]="true" #policyDocs></app-policy-document>
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative; padding-top: 30px;">
      <!-- <div [ngBusy]="busy"></div> -->
      <p></p>
      <section class="submit-container">
        <h2 style="padding-left: 10px">Get a BC Services Card</h2>
        <div class="submit-content">
          <p>B.C. residents who have lived in the province for at least six months must use a BC Services Card to log
            in to the online qualification tool. Learn how to get a card.
          </p>
        </div>
      </section>
      <p></p>
      <section class="submit-container">
        <h2 style="padding-left: 10px">Applicants Without a BC Services Card</h2>
        <div class="submit-content">
          <p>Applicants who haven’t lived in B.C. for at least six months or who live outside the province must email
            the Liquor and Cannabis Regulation Branch for a Cannabis Worker Certification Form.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>