<div>
  <div style="max-width: 800px;">
    <a href="https://www2.gov.bc.ca/assets/download/F80859A96B354B9C9A886AC80091759D" download style="float: right; margin-right: -30px;">
      <button class="btn btn-primary"><i class="fa fa-download"></i> Download Terms of Use</button>
    </a>
    <h1>Terms of Use</h1>
  </div>
  <section class="scroll-box">
    <p>
      These Terms of Use for the Cannabis Licensing Portal (the “Site”) are an agreement between the individual using
      or accessing the Site (“you” or “your”) and Her Majesty the Queen in Right of the Province of British Columbia,
      represented by the Ministry of Attorney General (the “Province”) and govern your use of the Site and associated
      services (the “Associated Services”, and together with the Site, the “Services”). By clicking the box to indicate
      that you accept these Terms of Use, and in consideration of your use of the Services, you agree to the terms and
      conditions set out below.
      <br>
      <br>Your failure to abide by these Terms of Use may result in the suspension or cancellation of your use of or
      access to the Services. In addition, the Province and any provider of Associated Services reserve the right to
      pursue any remedy available at law or in equity.
      <br>
      <br>Please print a copy of these Terms of Use for your records.
    </p>
    <b><u><i>Disclaimer</i></u></b>
    <br>
    <br>
    <ol>
      <b>
        <li>Reasonable efforts have been made to provide accurate, complete and timely information regarding the
          Services and cannabis licensing in general. However, this is an area where law and policy are rapidly
          evolving. As a result, unless specifically indicated otherwise, the information available on the Site does
          not necessarily reflect the Province’s current policy or position on cannabis licensing issues and should not
          be considered to be a substitute for, nor does it modify, the underlying legislation and/or any official
          policy of the Province or the federal government in this area. Before making any professional or business
          decisions, you are strongly encouraged to refer to those official information sources rather than relying on
          the information provided on the Site.
        </li>
        <br>
      </b>
      <li>THE SERVICES ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND INCLUDING WARRANTY OF FITNESS FOR A
        PARTICULAR PURPOSE. USE OF THE SERVICES IS ENTIRELY AT YOUR OWN RISK AND YOU WILL BE LIABLE FOR ANY FAILURE TO
        ABIDE BY THESE TERMS OF USE.
      </li>
      <br>
      <li>NEITHER THE PROVINCE NOR THE PROVIDER OF ANY ASSOCIATED SERVICE WARRANTS:</li>
      <ol type="a">
        <li>THE ACCURACY, COMPLETENESS OR CURRENCY OF SERVICES OR ANY ASSOCIATED INFORMATION, OR THAT ANY ERRORS
          WILL BE CORRECTED;</li>
        <li>THAT THE SERVICES WILL FUNCTION IN A TIMELY MANNER OR WILL BE AVAILABLE WITHOUT ERROR, FAILURE OR
          INTERRUPTION; OR</li>
        <li>THAT THE SERVICES WILL MEET YOUR EXPECTATIONS OR REQUIREMENTS.</li>
      </ol>
      <br>
      <li>The Province is not responsible for any Associated Service or the content of any Additional Sites (defined
        below) that are not provided by the Province.</li>
    </ol>
    <b><u><i>Information Collection</i></u></b>
    <br>
    <br>
    <ol start="5">
      <li>When you visit the Site or use the Services, certain types of information are automatically collected from
        you, through the use of audit logs or cookies. This information is collected, used and disclosed in accordance
        with the Province’s
        <a href="https://www2.gov.bc.ca/gov/content/home/privacy">Privacy Policy</a>.</li>
      <br>
      <li>The date and time of your acceptance of these Terms of Use will be logged. This will enable you to skip
        this step on future visits. However, if these Terms of Use are modified, they will be presented to you upon
        your next following visit and you will need to accept the modified terms in order to continue to access the
        Services. Notwithstanding the foregoing, you are responsible for reviewing these Terms of Use on a regular
        basis to ensure that you are aware of any modifications that may have been made and your continued use of the
        Services constitutes your acceptance of any such modified Terms of Use.</li>
      <br>
      <li>The information that you input on the Site may also be logged and attributed to you for verification
        purposes.</li>
      <br>
      <li>Any personal information that is collected from you on this Site is collected, used and disclosed in
        accordance with the collection notice presented to you at the time of collection and:</li>
      <ol type="a">
        <li>
          you understand and agree that your personal information will be used by the Service and may be disclosed,
          as required, to Associated Services that you access using the Service, and
        </li>
        <li>
          the Province will endeavour to notify you of the personal information that will be shared with any
          Associated Services that you access using the Service, where those Associated Services are provided by the
          Province.
        </li>
      </ol>
    </ol>
    <b><u><i>Authentication</i></u></b>
    <br>
    <br>
    <ol start="9">
      <li>You must be at least 19 years of age in order to access the cannabis worker licensing application portions of
        the Site.</li>
      <br>
      <li>Each time you access the Site, you must be authenticated by following an external link to the BC Services
        Card site (“BCSC Site”), following which you will be returned to, and allowed to access the application
        portions of, the Site.
      </li>
    </ol>
    <b><u><i>Additional Terms and Personal Information Collection</i></u></b>
    <br>
    <br>
    <ol start="11">
      <li>You may be required to accept additional terms and conditions in order to use or access the Associated
        Services and/or the BCSC Site (collectively, the “Additional Sites”), in which case your access to, and use of
        the services offered by, those Additional Sites is governed by such additional terms.</li>
      <br>
      <li>Additional personal information may be collected from you by the providers of the Additional Sites in
        accordance with their terms and any associated privacy statement(s).</li>
    </ol>
    <b><u><i>Warranty</i></u></b>
    <br>
    <br>
    <ol start="13">
      <li>Each Representative accessing the Site on behalf of an Applicant represents and warrants that:</li>
      <ol type="a">
        <li>you are at least 19 years of age, and</li>
        <li>the information you provide on the application portion of the Site will, to the best of your knowledge and
          belief, be complete and accurate.</li>
      </ol>
    </ol>
    <b><u><i>Acceptable Use and Security</i></u></b>
    <br>
    <br>
    <ol start="14">
      <li>You must not:</li>
      <ol type="a">
        <li>use the Services for any unlawful or inappropriate purpose, including hacking, data mining or other
          intrusion activities;</li>
        <li>input or upload any information which contains viruses, Trojan horses, worms, time bombs or other
          computer programming routines that may damage or interfere with the performance or function of the Services
          or any Associated Sites;</li>
        <li>divulge, share, compromise or permit any other person to use your BC Services Card login credentials,
          password or user information (collectively, “User Information”);</li>
        <li>use or attempt to use the User Information of any other person;</li>
        <li>modify or attempt to modify any User Information except as required by normal business use;</li>
        <li>take any action that might reasonably be construed as altering, destroying, defeating, compromising or
          rendering ineffective the security related to the Site or any of the Associated Sites, or being likely to
          affect other users of the Services;</li>
        <li>attempt to collect any information about other users of the Services; or</li>
        <li>decompile, disassemble, reverse engineer or otherwise copy any source code associated with the Site or
          any of the Associated Sites.</li>
      </ol>
    </ol>
    <b><u><i>Ownership and Non-permitted Uses</i></u></b>
    <br>
    <br>
    <ol start="15">
      <li>You acknowledge and agree that at all times the Province and/or the providers of the Additional Sites, or
        their respective licensors, are the owners of any software, hardware, servers, networks or other equipment used
        to provide the Services.</li>
      <br>
      <li>You will not take any action that would be inconsistent with or infringe any proprietary or intellectual
        property rights of the Province, the providers of the Additional Sites or their respective licensors, in any
        software, hardware, servers, networks or other equipment, documentation or other information used to provide
        the Services.</li>
      <br>
      <li>You will not remove or alter any proprietary symbol or notice, including any copyright notice, trade-mark or
        logo displayed in connection with the Services.</li>
    </ol>
    <b><u><i>Suspension or Cancellation of Services</i></u></b>
    <br>
    <br>
    <ol start="18">
      <li>Your use of any of the Services may be suspended or cancelled at any time if:</li>
      <ol type="a">
        <li>you fail to abide by these Terms of Use, or other terms and conditions that may be posted on any website
          used to access the Services; or</li>
        <li>the Province or the provider of any Associated Service deems such suspension or cancellation necessary for
          any good and valid reason.</li>
      </ol>
      <br>
      <li>The Province and any provider of any Associated Service reserve the right, at any time, to:</li>
      <ol type="a">
        <li>make changes to the Services;</li>
        <li>stop providing the Services; and</li>
        <li>modify these Terms of Use, without notice being provided directly to you.</li>
      </ol>
    </ol>
    <b><u><i>Limitation of Liability</i></u></b>
    <br>
    <br>
    <ol start="20">
      <li>In addition to the Province’s general
        <a href="https://www2.gov.bc.ca/gov/content/home/disclaimer">Limitation of Liabilities</a>, you agree that
        under no circumstances will the Province or the provider of any Associated Service be liable to you or to any
        other individual or entity for any direct, indirect, special, incidental, consequential or other loss, claim,
        injury or damage, whether foreseeable or unforeseeable (including without limitation claims for damages for
        loss of profits or business opportunities, use of or inability to use the Services, interruptions, deletion or
        corruption of files, loss of programs or information, errors, defects or delays) arising out of or in any way
        connected with your or their access to or use of the Services or any failure by you or them to abide by these
        Terms of Use and whether based on contract, tort, strict liability or any other legal theory. The previous
        sentence will apply even if the Province or the provider of any Associated Service has been specifically
        advised of the possibility of any such loss, claim, injury, or damage.</li>
    </ol>
    <b><u><i>Enforceability and Jurisdiction</i></u></b>
    <br>
    <br>
    <ol start="21">
      <li>If any term or provision of these Terms of Use is invalid, illegal or unenforceable, all other terms and
        provisions of these Terms of Use will nonetheless remain in full force and effect.</li>
      <br>
      <li>These Terms of Use and all access to the Site or use of any Services or Associated Service will be governed
        by, and construed and interpreted in accordance with, the laws applicable in the Province of British Columbia,
        Canada.</li>
      <br>
      <li>You hereby consent to the exclusive jurisdiction and venue of the courts of the Province of British Columbia,
        sitting in Victoria, for the hearing of any matter relating to or arising from these Terms of Use and/or your
        access to the Site or use of the Services or any Associated Service.</li>
    </ol>
  </section>

  <section>
    <input type="checkbox" [(ngModel)]="_termsAccepted" />&nbsp;I have read and accept the above terms of use.
    <br>
    <p>By submitting your email address, you agree the Liquor and Cannabis Regulation Branch can use it to communicate
      with you about your security verification.</p>
    <input type="checkbox" [(ngModel)]="acceptEmailUse" />&nbsp;I authorize use of my email address to communicate with
    me about my security verification.
    <br>
  </section>
  <section class="buttons">
    <button class="btn btn-primary" (click)="termsAccepted.emit(true);" [disabled]="!(_termsAccepted && acceptEmailUse)">Continue</button>
    <a href="logout" tabindex="1">Cancel and Exit</a>
  </section>
</div>