<mat-card>
    <mat-card-header>
        <mat-card-title>Beer, Ciders and Coolers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex">
            <span class="lead-label">Size of tasting (1-4Oz.)</span>
            <input type="text" class="form-control first-box">
            <span class="flex-fill"></span>
        </div>
        <mat-divider></mat-divider>
        <div class="d-flex">
            <span class="lead-label">Number of tastings</span>
            <input type="text" class="form-control first-box">
            <span class="eq-text">is equal to</span>
            <input type="text" class="form-control sec-box">
            <span class="flex-fill">Number of standard drinks</span>
        </div>
        <div class="d-flex">
            <span class="lead-label">Price per tasting drink</span>
            <input type="text" class="form-control first-box">
            <span class="eq-text">is equal to</span>
            <input type="text" class="form-control sec-box">
            <span class="flex-fill">Price per 12 Oz. standard drink</span>
        </div>
        <mat-divider></mat-divider>
        <div class="d-flex">
            <button mat-raised-button color="primary">Clear</button>
        </div>
    </mat-card-content>
</mat-card>
