<div>
  <h1 style="margin-top: 0" *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1">Directors and Officers</h1>
  <h1 style="margin-top: 0" *ngIf="['Society'].indexOf(businessType) !== -1">Directors, Officers, &amp; Senior Managers</h1>
  <h1 style="margin-top: 0" *ngIf="['SoleProprietor'].indexOf(businessType) !== -1">Owner</h1>

  <p *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1">
    Enter all directors and officers for the corporation
  </p>
  <p *ngIf="['Society'].indexOf(businessType) !== -1">
    Add all directors, officers and senior managers for the society.
  </p>
  <p *ngIf="['SoleProprietor'].indexOf(businessType) !== -1">
    Enter owner details
  </p>

  <div [ngBusy]="busy"></div>
  <div [ngBusy]="busyObsv"></div>

  <div class="example-container mat-elevation-z0">

    <div>
      <mat-table #table [dataSource]="dataSource">

        <!-- Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="dateofappointment">
          <mat-header-cell *matHeaderCellDef> Date of Appointment </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dateofappointment | date:'yyyy-MM-dd' }} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="javascript: void(0)" (click)="openPersonDialog(element)">Edit</a>
          </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="javascript: void(0)" (click)="deleteIndividual(element)">Delete</a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>

  <p></p>
  <a class="globalButton btn btn-primary" tabindex="1" (click)="openPersonDialog(null)">
    <strong>Add Person</strong>
    <br>
  </a>
</div>