::ng-deep .ngb-tp-input-container input {
  padding: 0;
}

::ng-deep .ngb-tp-meridian button {
  color: #38598a;
  &:hover {
    background-color: #38598a;
  }
}

.time-picker-title {
  margin: auto 0;
  h4 {
    font-size: 14px;
    font-weight: bold;
  }
}

.button-row {
  display: flex;
  button:last-child {
    margin-left: auto;
  }
}

.attention-section {
  background-color: #e1e8f2;
  border-bottom: 4px solid #e4e4e4;
}
