.event-form {
    max-width: 1100px;
    
}

mat-divider {
    margin: 16px;
}

td {
    padding-right: 16px;
}

.text-right {
    text-align: right;
}

.location-panel {
    background-color: #eee;
}

.setting-select {
    width: 200px;
}

.error-text {
    color: #d8292f;
    font-size: 14px;
  }