<div class="form-wrapper" [formGroup]="form" style="position: relative;">
  <div [ngBusy]="busy"></div>
  <h1>Review your Organization Information</h1>
  <!-- <h3 class="blue-header">ORGANIZATION STRUCTURE</h3>
  <div class="padded-section">
    <app-organization-structure></app-organization-structure>
    <app-field label="Is this information still correct?" [valid]="true">
      <mat-button-toggle-group formControlName="noOrgStructureChange" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="Changed">No</mat-button-toggle>
      </mat-button-toggle-group>
    </app-field>
    <div *ngIf="form.get('noOrgStructureChange').value === 'Changed'" class="field-changed">
      <i class="fa fa-exclamation-circle" style="margin-right: 10px;"></i>A LCRB Licensing Staff member will
      contact you as part of this renewal process
    </div>
  </div> -->
  
  <h3 class="blue-header">ORGANIZATION LEADERSHIP</h3>
  <div class="padded-section" *ngIf="account?.id && account?.businessType && legalEntityId">
    <app-directors-and-officers [lockAssociates]="lockAssociates" [accountId]="account?.id"
      [businessType]="account?.businessType" [parentLegalEntityId]="legalEntityId">
    </app-directors-and-officers>
    <app-field label="Is this information still correct?" [valid]="true">
      <mat-button-toggle-group formControlName="checklistOrgLeadershipBuilt" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="Changed">No</mat-button-toggle>
      </mat-button-toggle-group>
    </app-field>
    <div *ngIf="form.get('checklistOrgLeadershipBuilt').value === 'Changed'" class="field-changed">
      <i class="fa fa-exclamation-circle" style="margin-right: 10px;"></i>A LCRB Licensing Staff member will
      contact you as part of this renewal process
    </div>
  </div>

  <h3 class="blue-header">KEY PERSONNEL</h3>
  <div class="padded-section" *ngIf="account?.id && account?.businessType && legalEntityId">
    <app-key-personnel [lockAssociates]="lockAssociates" [accountId]="account?.id"
      [businessType]="account?.businessType" [parentLegalEntityId]="legalEntityId"></app-key-personnel>

    <app-field label="Is this information still correct?" [valid]="true">
      <mat-button-toggle-group formControlName="checklistKeyPersonnelBuilt" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="Changed">No</mat-button-toggle>
      </mat-button-toggle-group>
    </app-field>
    <div *ngIf="form.get('checklistKeyPersonnelBuilt').value === 'Changed'" class="field-changed">
      <i class="fa fa-exclamation-circle" style="margin-right: 10px;"></i>A LCRB Licensing Staff member will
      contact you as part of this renewal process
    </div>
  </div>

  <h3 class="blue-header">SHAREHOLDERS</h3>
  <div class="padded-section" *ngIf="account?.id && account?.businessType && legalEntityId">
    <app-shareholders [lockAssociates]="lockAssociates" [accountId]="account?.id" [businessType]="account?.businessType"
      [parentLegalEntityId]="legalEntityId">
    </app-shareholders>
    <app-field label="Is this information still correct?" [valid]="true">
      <mat-button-toggle-group formControlName="checklistShareholdersBuilt" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="Changed">No</mat-button-toggle>
      </mat-button-toggle-group>
    </app-field>
    <div *ngIf="form.get('checklistShareholdersBuilt').value === 'Changed'" class="field-changed">
      <i class="fa fa-exclamation-circle" style="margin-right: 10px;"></i>A LCRB Licensing Staff member will
      contact you as part of this renewal process
    </div>
  </div>
</div>

<div style="padding-right: 30px;">
  <button class="btn btn-primary" style="float: right;" (click)="goToNextPage()">
    CONTINUE TO APPLICATION&nbsp;
    <i class="fas fa-chevron-right"></i>
  </button>
  <div style="clear: both;"></div>
</div>