<div class="form-wrapper">
  <h3 class="blue-header">ORGANIZATION STRUCTURE</h3>
  <div class="padded-section">
    <app-organization-structure></app-organization-structure>
  </div>

  <h3 class="blue-header">KEY PERSONNEL</h3>
  <div class="padded-section" *ngIf="account?.id && account?.businessType && legalEntityId">
    <app-key-personnel [accountId]="account?.id" [businessType]="account?.businessType"
      [parentLegalEntityId]="legalEntityId"></app-key-personnel>
  </div>

  <h3 class="blue-header">ORGANIZATION LEADERSHIP</h3>
  <div class="padded-section" *ngIf="account?.id && account?.businessType && legalEntityId">
    <app-directors-and-officers [accountId]="account?.id" [businessType]="account?.businessType"
      [parentLegalEntityId]="legalEntityId">
    </app-directors-and-officers>
  </div>

  <h3 class="blue-header">SHAREHOLDERS</h3>
  <div class="padded-section" *ngIf="account?.id && account?.businessType && legalEntityId">
    <app-shareholders [accountId]="account?.id" [businessType]="account?.businessType"
      [parentLegalEntityId]="legalEntityId">
    </app-shareholders>
  </div>
</div>