<ng-container *ngIf="mode === 'readonlySummary'">
    <div class="form-wrapper-summary" [ngClass]="{'form-wrapper': !showSubmitButton}">
        <h3 *ngIf="application?.specialEventPermitNumber">Application number: {{application?.specialEventPermitNumber}}
        </h3>
        <p>
            Here’s a summary of your event. Does everything look right?
        </p>

        <p>
            Review your event details one more time before submitting your application for review.
        </p>

        <p>
            Scroll down the page to complete the review and submit your application. Please be sure to complete the
            final
            declaration and submit your application.
        </p>

        <p>
            To edit, click the pencil icon next to the section you wish to update.
        </p>

        <div>
            <h3>IMPORTANT</h3>
            <span>Changes cannot be made once your application is submitted.</span>
            <span>
                If you have any questions before submitting the application please contact the SEP Online Help Line at 1
                855
                999 7656 or email LCRB.Sep@gov.bc.ca
            </span>
        </div>

        <hr>
        <div *ngIf="trnId">
            <!--<mat-icon aria-label="Print Page" style="text-decoration: solid">print</mat-icon>-->
            <!-- <fa-icon [icon]="faPrint" class="fa-lg"></fa-icon> -->
            <!-- <a href="javascript: void(0)"> Print Page</a> -->
            <h2 style="color: green">Payment Approved</h2>
            <p></p>
            <div class="table" style="padding: 0px;">
                <table>
                    <tr>
                        <td>Card Type</td>
                        <td>{{cardType}}</td>
                    </tr>
                    <tr>
                        <td>Date/Time</td>
                        <td>{{trnDate}}</td>
                    </tr>
                    <tr>
                        <td>Invoice Number</td>
                        <td>{{invoice}}</td>
                    </tr>
                    <tr>
                        <td>Transaction ID</td>
                        <td>{{trnId}}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{trnAmount | currency}}</td>
                    </tr>
                </table>
            </div>
            <hr>
        </div>

        <h2>Summary</h2>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    GENERAL APPLICATION INFO
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex">
                <label>Event Name</label> <span>{{application?.eventName}}</span>
            </div>
            <div class="d-flex">
                <label>Event Municipality</label> <span>{{application?.sepCity?.name}}</span>
            </div>
            <!-- <div class="d-flex">
            <label>Applicant Name</label> <span>{{account?.name}}</span>
        </div>
        <div class="d-flex">
            <label>Applicant Info</label>
            <section>
                <div>{{account?.physicalAddressStreet}}</div>
                <div>{{account?.physicalAddressProvince}}</div>
                <div>{{account?.physicalAddressPostalCode}}</div>
                <div>{{account?.contactPhone}}</div>
                <div>{{account?.contactEmail}}</div>
            </section>
        </div> -->
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ELIGIBILITY
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex">
                <label>Event Starts at:</label> <span>{{application?.eventStartDate | date: 'd MMM yyyy'}}</span>
            </div>
            <div class="d-flex">
                <label>Responsible Beverage Service #:</label> <span>{{application?.responsibleBevServiceNumber}}</span>
            </div>
            <div class="d-flex">
                <label>Name of The Organization:</label> <span>{{application?.hostOrganizationName}}</span>
            </div>
            <div class="d-flex">
                <label>Address of The Organization:</label> <span>{{application?.hostOrganizationAddress}}</span>
            </div>
            <div class="d-flex">
                <label>Occasion of event:</label> <span>{{application?.specialEventDescription}}</span>
            </div>
            <div class="d-flex">
                <label>Licence Already exists in location:</label> <span>{{application?.isLocationLicensed}}</span>
            </div>
            <div class="d-flex">
                <label>Public Property</label> <span>{{application?.isOnPublicProperty ? 'Yes' : 'No'}}</span>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" *ngFor="let loc of application?.eventLocations; let i = index;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    EVENT LOCATION {{i+1}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex">
                <label>Location Name</label> <span>{{loc.locationName}}</span>
            </div>
            <div class="d-flex">
                <label>Location Description</label> <span>{{loc.locationDescription}}</span>
            </div>
            <div class="d-flex">
                <label>Event Address</label>
                <section>
                    <span>{{loc.eventLocationStreet1}}</span> <br>
                    <span>{{application?.sepCity?.name}}, BC</span> <br>
                    <span>{{loc.eventLocationPostalCode}}</span> <br>
                </section>
            </div>

            <section *ngFor="let area of loc.serviceAreas; let j = index;">
                <div class="d-flex">
                    <label>Service Area Description</label> <span>{{area.eventName}}</span>
                </div>
                <div class="d-flex">
                    <label>Maximum # of Guests in Service Areas</label>
                    <span>{{area.licencedAreaMaxNumberOfGuests}}</span>
                </div>
                <div class="d-flex">
                    <label>Minors Present</label> <span>{{area.minorPresent ? 'Yes': 'No'}}</span>
                </div>
                <div *ngIf="area.minorPresent" class="d-flex">
                    <label>Number of minors</label> <span>{{area.numberOfMinors}}</span>
                </div>
            </section>

            <section *ngFor="let eventDate of loc.eventDates; let j = index;">
                <h4>Event date {{j+1}}</h4>
                <div class="d-flex">
                    <label>Start Date</label> <span>{{eventDate.eventDate | date: 'dd MMM yyyy'}}</span>
                </div>
                <div class="d-flex">
                    <label>Start Time</label> <span>{{eventDate.eventStartValue}} - {{eventDate.eventEndValue}}</span>
                </div>
                <div class="d-flex">
                    <label>Liquor Service</label> <span>{{eventDate.serviceStartValue}} -
                        {{eventDate.serviceStartValue}}</span>
                </div>
            </section>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    LIQUOR FEES
                </mat-panel-title>
            </mat-expansion-panel-header>

            <label>Liquor Quantities</label>
            <div class="d-flex">
                <label>Draught Beer</label> <span class="fee-amount">{{application?.beer || 0}} %</span>
            </div>
            <div class="d-flex">
                <label>Wine</label> <span class="fee-amount">{{application?.wine || 0}} %</span>
            </div>
            <div class="d-flex">
                <label>Spirits</label> <span class="fee-amount">{{application?.spirits || 0}} %</span>
            </div>


            <hr>

            <div class="d-flex">
                <label>Estimated total liquor sales revenue</label> <span class="fee-amount">{{application?.totalRevenue
                    | currency}}</span>
            </div>
            <div class="d-flex">
                <label>Estimated liquor purchase cost</label> <span class="fee-amount">{{application?.totalPurchaseCost
                    | currency}}</span>
            </div>
            <div class="d-flex">
                <label>Estimated net proceeds/profit from liquor sales</label> <span
                    class="fee-amount">{{application?.totalProceeds | currency}}</span>
            </div>
            <div class="d-flex">
                <label>Total PST Amount Due</label> <span class="fee-amount">{{application?.netEstimatedPST |
                    currency}}</span>
            </div>
            <div class="d-flex">
                <label>Application Fees (Based on 1 event location and capacity)*
                    *0-500 – $25.00</label> <span class="fee-amount">{{application?.invoice?.totalamount -
                    application?.netEstimatedPST | currency}}</span>
            </div>

            <hr>

            <div class="d-flex total-fees-due">
                <label>Total Fees Due Upon Approval</label> <span class="fee-amount">{{application?.invoice?.totalamount
                    | currency}}</span>
            </div>
        </mat-expansion-panel>

        <div *ngIf="showSubmitButton" class="d-flex">
            <label>Declaration</label>
            <section class="declaration-content">
                <span class="declaration-text">
                    I, {{contact?.name}}, certify that all of the information is true and complete to the best of my
                    knowledge. I have read the terms and conditions of the permit, and if the application is approved,
                    the
                    permittee listed on the permit will be responsible for liquor service at the event.
                </span>

                <mat-checkbox class="declaration-checkbox">
                    By checking this box, I confirm that I have read, agree to and acknowledge the declaration. I also
                    certify that I am at least 19 years old and that no essential information has been concealed or
                    misrepresented on this application.
                </mat-checkbox>
            </section>
            <hr>
        </div>


        <div *ngIf="showSubmitButton" class="d-flex flex-row-reverse">
            <button [disabled]="savingToAPI" mat-raised-button color="primary" (click)="submitApplication()">
                <span>SUBMIT APPLICATION</span>
                <mat-progress-bar *ngIf="savingToAPI" mode="indeterminate"></mat-progress-bar>
            </button>
            <button mat-raised-button color="secondary" class="mr-2">BACK</button>
        </div>
    </div>
</ng-container>

<div *ngIf="mode === 'pendingReview'">
    <p>
        Your application requires review
    </p>
    <button mat-raised-button routerLink="/sep/my-applications">Return to My Applications</button>
</div>

<div *ngIf="mode === 'payNow'">
    <p>
        Your may now pay for your application
    </p>
    <button mat-raised-button (click)="payNow()">Pay Now</button>
</div>