::ng-deep {
    .form-wrapper {
        max-width: 1000px;
        mat-divider {
            margin: 16px 0;
        }

        .declaration-content {
            min-width: 0;
            mat-checkbox.declaration-checkbox {
                min-width: 0;
            }

            .mat-checkbox-label {
                // NEW
                white-space: initial; // NEW
            }
        }

        .mat-expansion-panel {
            margin-bottom: 16px;
        }
    }
}
