<div>
  <!-- For all corporations -->
  <section>
    <ul>
      <li>We have performed a Legal Entity Review and have determined...</li>
      <li>Below outlines the unreported changes that must be reported and paid for.</li>
      <li>Explain howihis review has come about and why they need to be paid.</li>
    </ul>
    <h2>Review Outcome</h2>
    <p>
      Sed lacinia aliquet quam, ac mollis arcu facilisis sit amet. Proin sem leo, commodo ac viverra sed, tristique nec
      odio. Proin euismod dictum magna et molestie. Morbi lobortis non nisl eget posuere. Nulla facilisi. Nullam
      pulvinar luctus ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula sem sed ex
      aliquam, non scelerisque libero molestie. Quisque turpis mauris, molestie quis metus at, venenatis semper nulla.
      Maecenas tellus ipsum, sagittis ac dui vitae, aliquet elementum diam. Vestibulum ac ex et ligula congue iaculis.
      Nam egestas diam sed quam pharetra egestas. Nullam eros nunc, cursus in euismod vitae, dapibus quis orci.
      Pellentesque risus libero, efficitur vel enim vel, ullamcorper fermentum lorem. Donec auctor leo quam, ut feugiat
      libero varius sed. Phasellus nibh sem, suscipit non scelerisque non, hendrerit id neque. Phasellus porttitor
      mauris ante, sed cursus elit fringilla sed. Duis eget consequat nisi. Pellentesque a est rhoncus, condimentum
      tellus ut, congue quam. Mauris vulputate vitae magna eu aliquet. Vestibulum luctus malesuada nibh. Pellentesque
      volutpat massa a augue suscipit ultrices. Mauris sit amet bibendum odio. Ut nunc dui, pellentesque id sodales in,
      molestie ultrices lacus. Proin congue pretium ante, a porta est dapibus convallis.
    </p>
    <div>
      <!-- Link to PermanentChangeContactSupportComponent header -->
      <span>
        If you have any questions, please click
        <a href="#questions-section">Here</a>
      </span>
    </div>
  </section>
</div>
