<h3 class="blue-header">Corporation Name Change</h3>
<div class="content-bottom">
  <p>
    To be completed when a corporation with an interest in a licence has legally changed its name, but existing
    corporate shareholders, directors and officers, and certificate number on the certificate of incorporation have not
    changed. The fee is $220 per licence.
  </p>
  <app-field label="Current licensee or holding company">
    <input
      placeholder="Company Name"
      class="form-control"
      style="width: 350px"
      type="text"
      formControlName="description2"
      id="description2" />
  </app-field>
  <app-field
    label="Name changed to (in full)"
    [valid]="!showValidationMessages || form.get('description3').valid"
    errorMessage='The following characters are not allowed in a Company Name: ~ # % & * { } \ : < > ? / + | "'>
    <input
      placeholder="New Copmany Name"
      class="form-control"
      style="width: 350px"
      type="text"
      formControlName="description3"
      id="description3" />
  </app-field>
  <h4>Copy of the Certificate of Change of Name Form from BC Registrar of Companies</h4>
  <app-file-uploader
    *ngIf="application?.id"
    documentType="CertificateOfNameChange"
    fileTypes="FILE MUST BE IN PDF FORMAT."
    [multipleFiles]="true"
    entityName="application"
    [extensions]="['pdf']"
    (numberOfUploadedFiles)="onUploadedCertificateOfNameChange($event)"
    [entityId]="application.id"
    [uploadHeader]="'TO UPLOAD CERTIFICATE OF NAME CHANGE, DRAG FILES HERE OR'"></app-file-uploader>
</div>
