<h2>{{title}}</h2>
<p>{{description}}</p>
<form id="emailSignupForm">
  <div class="form-group">
    <p>
      <label class="control-label">Email</label>
      <input id="inputEmail" class="form-control" name="newsletterSignupEmail" required email [(ngModel)]="email" #newsletterSignupEmail="ngModel">
    </p>
    <!--<a id="inputEmailButton" href="#" class="btn btn-default" (click)="signup()">Subscribe</a>-->
    <a class="inputEmailButton" href="#" mat-raised-button color="primary" (click)="signup()">Subscribe</a>
  </div>
</form>
