@import "../../../node_modules/ng2-toastr/bundles/ng2-toastr.min.css";

.inputEmailButton {
    background-color: rgb(209,209,209);
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
    display: inline-block;
    padding: 10px 24px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;

}

.inputEmailButton:hover {
    background-color: rgb(209,209,209);
    text-color: #ffffff;
    border-color: #204d74;
    text-decoration: none;

}


