.dashboard-title {
    border-width: 0px;
    left: 0px;
    top: 0px;
    /*width: 430px;
  height: 40px;*/
    background: inherit;
    background-color: rgba(56, 89, 138, 1);
    border: none;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'myriad-pro', 'sans serif';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    color: white;
}

mat-header-row {
    background-color: rgba(56, 89, 138, 1);
}

.grey-background {
    background-color: #eee;
}

.mat-header-cell {
    color: #fff;
}

.mat-column-cancel,
.mat-column-lastUpdated {
    flex: 0 0 150px;
}

.dashboard-content {
    border-width: 0px;
    left: 0px;
    top: 0px;
    /*width: 430px;
  height: 375px;*/
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
}

.no-application {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 20px;
    color: black;
    font-family: 'myriad-pro', 'sans serif';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.cancel-app {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    color: #1a5a96;
}

.summary-table {
    display: none;
}

@media (max-width: 575.98px) {
    .summary-table {
        display: inline-block;
    }
    .detail-table {
        display: none;
    }
}
