<div style="position: relative;">
  <!--display spiiner if data no loaded-->
  <div [ngBusy]="busy"></div>

  <div *ngIf="dataLoaded">

    <!--display application in progress or submitted base on input parameter-->
    <div *ngIf="applicationInProgress" class="dashboard-title">

      <!--<div *ngIf="dataSource.data.length > 0" class="dashboard-content">-->
      <div class="dashboard-content">

        <mat-table class="mat-elevation-z0 detail-table" #table [dataSource]="dataSource">

          <!-- Column -->
          <ng-container matColumnDef="lastUpdated">
            <mat-header-cell *matHeaderCellDef> LAST UPDATED </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.modifiedon | date:'mediumDate'}} </mat-cell>
          </ng-container>

          <!-- Column -->
          <ng-container matColumnDef="establishmentName">
            <mat-header-cell *matHeaderCellDef> ESTABLISHMENT NAME </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a routerLink="/application-lite/{{element.id}}">{{element.establishmentName}} (Ref. {{element.name}})</a>
            </mat-cell>
          </ng-container>

          <!-- Column -->
          <ng-container matColumnDef="cancel">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span (click)="cancelApplication(element.id, element.establishmentName, element.name)">
                <i class="fas fa-trash-alt" style="color: #1a5a96;"></i>
                <a href="javascript: void(0)">
                  Cancel Application</a>
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row [ngClass]="{'grey-background' : i%2 == 1}" *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-table class="mat-elevation-z0 summary-table" #table [dataSource]="dataSource">

          <!-- Column -->
          <ng-container matColumnDef="summary">
            <mat-cell *matCellDef="let element">
              <p></p>
              <span>LAST UPDATED: </span>
              <span>{{element.modifiedon | date:'mediumDate'}}</span>
              <p></p>
              <span>ESTABLISHMENT NAME: </span>
              <a routerLink="/application-lite/{{element.id}}">{{element.establishmentName}} (Ref. {{element.name}})</a>
              <p></p>
              <span (click)="cancelApplication(element.id, element.establishmentName, element.name)">
                <i class="fas fa-trash-alt" style="color: #1a5a96;"></i>
                <a href="javascript: void(0)">
                  Cancel Application</a>
              </span>
              <p></p>
            </mat-cell>
          </ng-container>

          <mat-row [ngClass]="{'grey-background' : i%2 != 1}" *matRowDef="let row; let i = index; columns: ['summary'];"></mat-row>
        </mat-table>

        <div *ngIf="dataSource.data && dataSource.data.length == 0" class="no-application">
          No applications in Progress.
        </div>

      </div>

    </div>

    <div *ngIf="!applicationInProgress">

      <div *ngIf="dataSource.data && dataSource.data.length == 0">
        No previously submitted applications.
      </div>

      <div *ngIf="dataSource.data.length > 0" class="dashboard-content">

        <mat-table style="background-color: #eee;" class="mat-elevation-z0" #table [dataSource]="dataSource">

          <!-- Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.establishmentName}}
              <br /> Submitted {{element.paymentreceiveddate | date:'mediumDate'}}
              <br /> Ref. {{element.name}}
            </mat-cell>
          </ng-container>

          <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator style="background-color: #eee;" [pageSize]="4" [pageSizeOptions]="[4, 8, 12]"
          [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

    </div>

  </div>
</div>