.form-wrapper {
    max-width: 1200px;
  }
  
  table {
    border-spacing: 1px 3px;
    border-collapse: separate;
    width: 100%;
  
    td,
    th {
      background-color: #f1f4fa;
      color: #000;
      padding: 12px;
    }
  
    th {
      text-align: center;
    }
  
    mat-row,
    mat-header-row,
    mat-footer-row,
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      border-bottom: 3px solid white;
      border-left: 2px solid white;
    }
  
    /* Column Widths & Adjustments */
  
    .mat-column-eventName {
      max-width: 350px;
    }
  
    .mat-column-actions {
      max-width: 300px;
      text-align: center;
    }
  
    .mat-column-select {
      overflow: visible;
      text-align: center;
    }
  }
  