<div class="form-wrapper position-relative">
    
    <h1 class="mat-heading">My Jobs</h1>

    <p>Here are your assigned jobs. To view all applications requiring review and to claim or assign new jobs, go to the <a routerLink="/sep/police/all-applications">All Applications</a> page. </p>
    <div [ngBusy]="[busy]"></div>
    <mat-tab-group [selectedIndex]="selectedIndex" mat-align-tabs="start">
      <mat-tab label="In Progress">
          <app-police-grid [currentUser]="currentUser" [dataSource]="dataSourceInProgress" [availableContacts]="availableContacts" (saved)="selectedIndex = 1;"></app-police-grid>
      </mat-tab>
      <mat-tab label="Police Approved">
        <app-police-grid [currentUser]="currentUser" [dataSource]="dataSourcePoliceApproved" [availableContacts]="availableContacts" (saved)="selectedIndex = 2;"></app-police-grid>
      </mat-tab>
      <mat-tab label="Issued">
        <app-police-grid [currentUser]="currentUser" [dataSource]="dataSourceIssued" [availableContacts]="availableContacts" (saved)="selectedIndex = 3;"></app-police-grid>
      </mat-tab>
    </mat-tab-group>
  </div>

