<app-public-nav *ngIf="isAnonymous && dataLoaded" [showMapLink]="showMapLink"></app-public-nav>

<ng-container *ngIf="isAuthenticated && dataLoaded">
  <app-police-nav *ngIf="isPoliceRepresentative; else elseBlock" [currentUser]="currentUser" [account]="account">
  </app-police-nav>
  <ng-template #elseBlock>
    <app-user-nav [currentUser]="currentUser" [account]="account" [showNoticesBadge]="showNoticesBadge"
      [showMessageCenterBadge]="showMessageCenterBadge" (messageCenterClick)="messageCenterClick.emit()">
    </app-user-nav>
  </ng-template>
</ng-container>
