<h2 class="accordion_heading" id="accordion_heading">Individuals (sole proprietors), partnerships, corporations and
  Indigenous
  nations may apply for a cannabis retail store licence.
</h2>
<p>Below is a step-by-step guide to applying for a non-medical cannabis retail store licence and selling cannabis
  products.</p>
<p>&nbsp;</p>

<div class="accordion-btn body">
  <button class="e2e-accordion-show-all" mat-button color="accent" (click)="showAll()">Show all</button>
  &nbsp;|&nbsp;
  <button class="e2e-accordion-hide-all" mat-button color="accent" (click)="collapseAll()">Collapse all</button>
</div>

<mat-accordion id="selling_cannabis_steps" multi="true">

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">1</span> Register the business
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li class="e2e-accordion-first-child">Applicants, other than Indigenous nations, will need to be registered in
        B.C.
        as
        <a routerLink="policy-document/applicant-types">sole proprietors, partnerships or corporations</a>
      </li>
      <li>Indigenous nation applicants may apply in their own right or as one of the legal entities above</li>
      <li>All applicants must have a
        <a href="https://www.canada.ca/en/services/taxes/business-number.html" target="_blank">Business Number</a>
        (9-digit
        number issued by the Canada Revenue Agency)</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">2</span> Create a Business BCeID
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>Individuals, partnerships, corporations or Indigenous nations seeking to submit applications will need a
        <a href="https://www.bceid.ca/os/?5925" target="_blank">Business BCeID</a> to log in</li>
      <li>Each applicant will complete a one-time registration for Business BCeID. When the applicant has completed the
        registration,
        it will be possible to link other individuals to the applicant.</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">3</span>Find a store location
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>Applicants must own, lease or have an agreement to lease the
        <a routerLink="policy-document/location-requirements">proposed retail store location</a> before applying</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">4</span>Submit an application
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <p>This application requires:</p>
    <ul class="detail-step">
      <li>Information about the
        <a routerLink="policy-document/applicant-types">applicant and associates</a> (including, but not necessarily
        limited
        to, directors, shareholders (direct and indirect) and partners)</li>
      <li>Information about the
        <a routerLink="policy-document/location-requirements">proposed location</a>
      </li>
      <li>Information about other licences held by the applicant or other applications for licences from the applicant
        and
        the applicant's associates</li>
      <li>Consent for
        <a routerLink="policy-document/security-screening-financial-integrity-checks">security screening and financial
          integrity
          checks
        </a>. B.C. residents will use their Photo BC Services Card for identity verification in order to provide this
        consent.
        (See
        <a href="http://www.gov.bc.ca/bcservicescardhelp" target="_blank">www.gov.bc.ca/bcservicescardhelp</a> for how
        to
        set up a BC Services Card. If it is necessary to visit a service counter to complete Business BCeID
        registration,
        consider setting up a BC Services Card at the same time.)</li>
      <li>A declaration of
        <a routerLink="policy-document/tied-house">financial, business or family connections</a> to any federally
        licensed
        cannabis producers and retail licence holders or applicants for retail licences</li>
      <li>An
        <a routerLink="policy-document/fees">application fee</a>
      </li>
    </ul>
    <p>Applicants are advised to submit complete applications. Submitting an application which does not include
      required
      information or documentation may cause the application to stop being processed.</p>
    <p>Applicants must apply for a separate licence for each store.</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">5</span> Get local government or Indigenous nation recommendation
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>If a proposed store is located in the area of a
        <a routerLink="policy-document/local-governments">local government</a> or on
        <a routerLink="policy-document/indigenous-nations">reserve, Nisga’a Land or treaty settlement land on an
          Indigenous
          nation
        </a>, the Liquor and Cannabis Regulation Branch (LCRB) must provide notice of the application to the local
        government
        or Indigenous nation</li>
      <li>A local government or Indigenous nation that wishes to make a recommendation to the LCRB in response to a
        notice
        of application must gather the views of residents and must provide the recommendation to the LCRB</li>
    </ul>
    <p>Local governments and Indigenous nations must recommend to the Liquor and Cannabis Regulation Branch that a
      licence
      be issued before the LCRB may consider whether to issue a cannabis retail licence. The LCRB will consider, but is
      not
      bound by, the recommendation to issue a licence when making its licensing decision.</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">6</span> Conditional approval for a licence
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <p>If conditional approval is given, the applicant can:</p>
    <ul class="detail-step">
      <li>Secure ownership or a lease for the store.</li>
      <li>Make sure the
        <a routerLink="policy-document/cannabis-retail-licence">terms and conditions</a> of the licence are met</li>
      <li>Make changes to the store to match the description submitted with the application, including:</li>
      <ul>
        <li>Floor plan</li>
        <li>Exterior signage</li>
        <li>Window covering</li>
      </ul>
    </ul>
    <p>Because the Province does not know at this time how many applications for non-medical cannabis retail store
      licences
      will be received or how long the local government or Indigenous nation public recommendation process will take,
      it
      is difficult to predict how long applications will take to process. </p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">7</span> Pass a store inspection
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>LCRB inspectors will assess whether the store meets provincial regulation and any requirements established by
        the
        applicable local government or Indigenous nation</li>
      <li>Prospective licensees can schedule their
        <a routerLink='/policy-document/inspection'>inspection</a> when ready</li>
    </ul>
    <p>The applicant will not be authorized to possess cannabis until the licence application has been approved. There
      must
      be no cannabis products in the store at the time of the inspection.</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">8</span> Receive a licence
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>Successful applicants will receive a licence after the Liquor and Cannabis Regulation Branch has confirmed
        that
        all licence requirements have been met, the inspection has been passed and the licensing fee has been received
        by
        government
      </li>
      <li>Licensees must display the licence in a prominent place in their store</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">9</span> Register to Collect and Remit the Provincial Sales Tax (PST)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <p>
      Provincial sales tax (PST) applies to cannabis products and accessories. You must register to collect and remit
      PST. See <a href="https://www2.gov.bc.ca/gov/content?id=A613037D98294F319378D9B33829B3FC"><u>Register to Collect PST</u></a> for more information. If you are already registered to collect PST, you
      must
      <a href="https://www.etax.gov.bc.ca/btp/eservices/_/"><u>provide the Ministry of Finance</u></a> with your cannabis retail store licence number.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">10</span> Register and train employees
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>All employees must be
        <a routerLink="policy-document/employee-registration-training">registered with the Province</a> before they can
        be
        employed in a non-medical cannabis store. Local governments may also have business licence requirements
        regarding
        employees
      </li>
      <li>More information about registration and training will be available soon</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">11</span> Order cannabis products
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>Before a licensee can order cannabis products, they must register with the
        <a routerLink="policy-document/ordering-cannabis">Liquor Distribution Branch</a>. More information can be found
        by
        visiting the
        <a href='https://www.bcldbcannabisupdates.com/opportunities/retailers'>Liquor Distribution Branch website</a>
      </li>
      <li>Licensees can only sell products purchased from the Liquor Distribution Branch</li>
      <li>Licensees will need a licence number to place an order</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="isExpandAll">
    <mat-expansion-panel-header class="accordion-item">
      <mat-panel-title>
        <span class="ordinal">12</span> Report your sales
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>Licensees need to
        <a routerLink="policy-document/reporting-sales">report inventory and sales</a> on a regular basis</li>
    </ul>
  </mat-expansion-panel>

</mat-accordion>