<h1>Selling Cannabis Step-by-Step</h1>
<p>&nbsp;</p>

<mat-accordion>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1);panel1OpenState=true" (closed)="panel1OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">1</span> Register a Business
      </mat-panel-title>
      <mat-panel-description>
        {{panel1OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>You must have a registered business or another legal entity to apply for a cannabis retail licence.</li>
      <li>The province will review and approve the name of your business. It can not contain words like pharmacy, apothecary, or dispensary to suggest your business sells medical cannabis.</li>
    </ul>
    <p>Read more about &nbsp;<a href="business-types.html">registering a business for cannabis</a></p>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2);panel2OpenState=true" (closed)="panel2OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">2</span> Create a Business BCeID Account
      </mat-panel-title>
      <mat-panel-description>
        {{panel2OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>A Business BCeID account is required to login to the application. </li>
      <li>It takes about 15 minutes to complete the 5 step registration process. To begin, visit <a href="https://www.bceid.ca/register/business/getting_started/getting_started.aspx">Register for a Business BCeID</a></li>
      <p>Read more about &nbsp;<a href="bceid.html">Business BCeID</a></p>
    </ul>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3);panel3OpenState=true" (closed)="panel3OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">3</span> Contact Your Local Government or First Nation
      </mat-panel-title>
      <mat-panel-description>
        {{panel3OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>It's up to local governments and First Nations to decide if they'll allow cannabis retail stores.</li>
      <li>Be sure to check with your local authority before applying. The province will not issue a cannabis retail licence in a community that doesn't support it.</li>
      <li>Local government or First Nation support does not mean your business has a local business licence or that it has been zoned for cannabis sales. Check with your local authority about what to do next.</li>
      <p>Read more about <a href="lg-fn.html">local government and First Nation involvement</a></p>
    </ul>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4);panel4OpenState=true" (closed)="panel4OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">4</span> Submit a Licence Application &nbsp; <span class="label label-info">Starting June 22</span>
      </mat-panel-title>
      <mat-panel-description>
        {{panel4OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      You must:
      <li>Submit information about <a href="business-types.html">your business</a></li>
      <li>Submit a detailed <a href="location.html">floor plan</a></li>
      <li>Authorize <a href="background-checks.html">background checks</a> to be conducted</li>
      <li>Declare any financial or business <a href="tied-house.html">connections to licensed producers</a></li>
    </ul>
    <ul class="detail-step">
      Cost &amp; Fees
      <li>$xxx application fee</li>
      <li>$xxx background check deposit</li>
      <li>$xxx yearly licence fee (Paid after approval)</li>
    </ul>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5);panel5OpenState=true" (closed)="panel5OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">5</span> Public Consultation
      </mat-panel-title>
      <mat-panel-description>
        {{panel5OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>All cannabis stores, including stores run by the province, require a public consultation.</li>
      <li>Local governments and First Nations decide the area around the store to consult.</li>
      <li>These governments decide specific restrictions on stores such as:</li>
      <ul>
        <li>Distance from schools and community centres</li>
        <li>Distance from other cannabis stores</li>
        <li>Hours of operations</li>
        <li>Any specific conditions the store must adhere to</li>
      </ul>
      <li>A public consultation may be used by these governments to provide local business licence and proper zoning for cannabis sales. Check with your local government about what they require.</li>
    </ul>
    <p>Read more about <a href="lg-fn.html">the public consultation process</a></p>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6);panel6OpenState=true" (closed)="panel6OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">6</span> Receive Background Checks
      </mat-panel-title>
      <mat-panel-description>
        {{panel6OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>A background check is a review of a person's history. It can include an examination of their criminal, police, financial and other records.</li>
      <li>The type of business applying for a license will determine who requires a background check.</li>
      <li>You will authorize a background check to be conducted as part of your application.</li>
      <li>A $xxxx deposit will be required to cover the cost of checks. You will be refunded any unused amounts.</li>
    </ul>
    <p>Read more about <a href="background-checks.html">background checks</a></p>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7);panel7OpenState=true" (closed)="panel7OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">7</span> Inspection of Store Location
      </mat-panel-title>
      <mat-panel-description>
        {{panel7OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>A store inspection is required before you are issued a licence.</li>
      <li>An inspection is done to ensure the information about your store matches the information provided during the application.</li>
      <li>If you currently operate a cannabis store, you must not have any cannabis at the location at the time of inspection.</li>
    </ul>
    <p>Read more about <a href="inspections.html">getting an inspection</a></p>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8);panel8OpenState=true" (closed)="panel8OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">8</span> Receive a Licence  &nbsp; <span class="label label-info">Expected September 2018</span>
      </mat-panel-title>
      <mat-panel-description>
        {{panel8OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>A licence will be emailed to you after an inspection is completed and you have completed all the required local government or First Nation requirements.</li>
    </ul>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9);panel9OpenState=true" (closed)="panel9OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">9</span> Order Cannabis Product
      </mat-panel-title>
      <mat-panel-description>
        {{panel9OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>You can order cannabis products from the provincial distributor after you receive a licence.</li>
      <li>Only products ordered from the provincial distributor can be sold.</li>
    </ul>
    <p>Read more about <a href="#">ordering cannabis products</a></p>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 10" (opened)="setStep(10);panel10OpenState=true" (closed)="panel10OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">10</span> Train Employees
      </mat-panel-title>
      <mat-panel-description>
        {{panel10OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>Staff must complete the Selling it Right training before selling cannabis.</li>
      <li>Selling it Right is a program that helps staff of cannabis stores sell cannabis responsibly</li>
    </ul>
    <p>Read more about <a href="#">Selling it Right training</a></p>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 11" (opened)="setStep(11);panel11OpenState=true" (closed)="panel11OpenState=false" hideToggle="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">11</span> Report Sales
      </mat-panel-title>
      <mat-panel-description>
        {{panel11OpenState ? 'Click to close' : 'Click to expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>All cannabis sales must be reported to the province on a xxxx basis.</li>
      <li>
        You must report:
        <ul>
          <li>TBD</li>
        </ul>
      </li>
    </ul>
    <p>Read more about <a href="#">reporting your sales to the province</a></p>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
