<h1>Selling Cannabis Step-by-Step</h1>

<mat-accordion>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">1</span> Register a Business
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>You must have a registered business or another legal entity to apply for a cannabis retail licence.</li>
      <li>The province will review and approve the name of your business. It can not contain words like pharmacy, apothecary, or dispensary to suggest your business sells medical cannabis.</li>
    </ul>
    <p>Read more about &nbsp;<a href="business-types.html">registering a business for cannabis</a></p>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">2</span> Create a Business BCeID Account
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>A Business BCeID account is required to login to the application. </li>
      <li>It takes about 15 minutes to complete the 5 step registration process. To begin, visit <a href="https://www.bceid.ca/register/business/getting_started/getting_started.aspx">Register for a Business BCeID</a></li>
      <p>Read more about &nbsp;<a href="bceid.html">Business BCeID</a></p>
    </ul>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">3</span> Contact Your Local Government or First Nation
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      <li>It's up to local governments and First Nations to decide if they'll allow cannabis retail stores.</li>
      <li>Be sure to check with your local authority before applying. The province will not issue a cannabis retail licence in a community that doesn't support it.</li>
      <li>Local government or First Nation support does not mean your business has a local business licence or that it has been zoned for cannabis sales. Check with your local authority about what to do next.</li>
      <p>Read more about <a href="lg-fn.html">local government and First Nation involvement</a></p>
    </ul>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">4</span> Submit a Licence Application &nbsp; <span class="label label-info">Starting June 22</span>
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="detail-step">
      You must:
      <li>Submit information about <a href="business-types.html">your business</a></li>
      <li>Submit a detailed <a href="location.html">floor plan</a></li>
      <li>Authorize <a href="background-checks.html">background checks</a> to be conducted</li>
      <li>Declare any financial or business <a href="tied-house.html">connections to licensed producers</a></li>
    </ul>
    <ul class="detail-step">
      Cost &amp; Fees
      <li>$xxx application fee</li>
      <li>$xxx background check deposit</li>
      <li>$xxx yearly licence fee (Paid after approval)</li>
    </ul>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">5</span>
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    Expansion
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">6</span>
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    Expansion
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">7</span>
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    Expansion
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">8</span>
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    Expansion
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">9</span>
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    Expansion
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 10" (opened)="setStep(10)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="ordinal">10</span>
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    Expansion
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

<!--<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the expansion 1 title
    </mat-expansion-panel-header>
    This the expansion 1 content
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the expansion 2 title
    </mat-expansion-panel-header>
    This the expansion 2 content
  </mat-expansion-panel>
</mat-accordion>-->
<!--<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>-->
