<h1>Contact Details</h1>
<p>Enter the details of the person we should contact if we have questions about your licence application.</p>

<div [ngBusy]="busy">
  <form [formGroup]='contactDetailsForm' class="form-horizontal" (ngSubmit)="save()">

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('contactPersonFirstName')}">
        <label for="">First Name</label>
        <br>
        <input class="form-control" style="width: 200px;" type="text" id="contactPersonFirstName" formControlName="contactPersonFirstName">
        <div *ngIf="this.isFieldError('contactPersonFirstName')" class="alert alert-danger" style="width: 200px;">
          <div *ngIf="contactDetailsForm.controls['contactPersonFirstName'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('contactPersonLastName')}">
        <label for="">Last Name</label>
        <br>
        <input class="form-control" style="width: 200px;" type="text" id="contactPersonLastName" formControlName="contactPersonLastName">
        <div *ngIf="this.isFieldError('contactPersonLastName')" class="alert alert-danger" style="width: 200px;">
          <div *ngIf="contactDetailsForm.controls['contactPersonLastName'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('contactPersonRole')}">
        <label for="">Role</label>
        <p>What role do they have in relation to your business?</p>
        <input class="form-control" style="width: 200px;" type="text" id="contactPersonRole" formControlName="contactPersonRole">
        <div *ngIf="this.isFieldError('contactPersonRole')" class="alert alert-danger" style="width: 200px;">
          <div *ngIf="contactDetailsForm.controls['contactPersonRole'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('contactpersonemail')}">
        <label for="">Email</label>
        <br>
        <input class="form-control" style="width: 200px;" type="text" id="contactPersonEmail" formControlName="contactPersonEmail">
        <div *ngIf="this.isFieldError('contactPersonEmail')" class="alert alert-danger" style="width: 200px;">
          <div *ngIf="contactDetailsForm.controls['contactPersonEmail'].hasError('required') ">
            This is required
          </div>
          <div *ngIf="contactDetailsForm.controls['contactPersonEmail'].hasError('email') ">
            Email is invalid
          </div>
        </div>
      </div>
    </section>

    <section>
      <div [ngClass]="{'has-error': this.isFieldError('contactPersonPhone')}">
        <label for="">Phone</label>
        <br>
        <input class="form-control" style="width: 150px;" type="text" id="contactPersonPhone" formControlName="contactPersonPhone">
        <div *ngIf="this.isFieldError('contactPersonPhone')" class="alert alert-danger" style="width: 100px;">
          <div *ngIf="contactDetailsForm.controls['contactPersonPhone'].hasError('required') ">
            This is required
          </div>
        </div>
      </div>
    </section>

  </form>
</div>
