<div class="res border">
    <h5>Resources</h5>
    <section class="d-flex mb-2">
        <div class="icon border">Image</div>
        <div class="border res-content">
            <h5>APPLICATION CHECKLIST</h5>
            <p>know what you need before starting your application.</p>
            <button mat-raised-button color="secondary">SEE CHECKLIST</button>
        </div>
    </section>
    <section class="d-flex mb-2">
        <div class="icon border">Image</div>
        <div class="border res-content">
            <h5>GET CERTIFIED</h5>
            <p>Find out what RBS training course certificate you need for your event and complete and online course</p>
            <button mat-raised-button color="secondary">LEARN MORE</button>
        </div>
    </section>
    <section class="d-flex mb-2">
        <div class="icon border">Image</div>
        <div class="border res-content">
            <h5>PLAN YOUR DRINKS</h5>
            <p>know what you need before starting your application.</p>
            <button mat-raised-button color="secondary">SEE CHECKLIST</button>
        </div>
    </section>
    <section class="d-flex mb-2 ">
        <div class="icon border">Image</div>
        <div class="border res-content">
            <h5>LEARN MORE</h5>
            <p>About SEP policies - visit the BC Liquor and Cannabis Regulation Branch website.</p>
            <button mat-raised-button color="secondary">LEARN MORE</button>
        </div>
    </section>
</div>