<mat-card class="res">
  <h6 style="background-color: #41598b; padding: 5px;color: white; font-weight: 900; padding-left: 10px;">Resources</h6>
  <section class="d-flex mb-3">
    <div class="icon border">

    </div>
    <div class="border res-content">
      <h6>APPLICATION CHECKLIST</h6>
      <p>Know what you need before starting your application.</p>
      <button mat-raised-button color="secondary" (click)="openChecklist()">SEE CHECKLIST</button>
    </div>
  </section>
  <section class="d-flex mb-3">
    <div class="icon border">

    </div>
    <div class="border res-content">
      <h6>GET CERTIFIED</h6>
      <p>Find out what RBS training course certificate you need for your event and complete and online course</p>
      <a href="https://www.responsibleservicebc.gov.bc.ca/" target="blank" mat-raised-button color="secondary">LEARN
        MORE</a>
    </div>
  </section>
  <section class="d-flex mb-3">
    <div class="icon border">

    </div>
    <div class="border res-content">
      <h6>PLAN YOUR DRINKS</h6>
      <p>Know what you need before starting your application.</p>
      <button mat-raised-button color="secondary" (click)="openDrinkPlanner()">PLAN</button>
    </div>
  </section>
  <section class="d-flex mb-3">
    <div class="icon border">

    </div>
    <div class="border res-content">
      <h6>HOSTING A LIQUOR TASTING?</h6>
      <p>Use this conversion tool to estimate your number of standard servings.</p>
      <button mat-raised-button color="secondary" (click)="openTastingPlanner()">CALCULATE</button>
    </div>
  </section>
  <section class="d-flex mb-2 ">
    <div class="icon border">

    </div>
    <div class="border res-content">
      <h6>LEARN MORE</h6>
      <p>About SEP policies - visit the BC Liquor and Cannabis Regulation Branch website.</p>
      <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/liquor-licence-permits/liquor-law-policy/liquor-licence-terms-conditions-manuals"
        target="blank" mat-raised-button color="secondary">LEARN MORE</a>
    </div>
  </section>
</mat-card>
