.res{
    width: 400;
    padding: 0px;
    border: solid white 0px;
    box-shadow:none;

}


.border {

    padding: 8px;
}

.res-content {
    flex-grow: 1;
    margin-left: -1px;
    background-color: #F1F4FA;
}
a[mat-raised-button],
button {
    float: right;
    width: 200px;
}

.icon{
    display: flex;
    align-items: center;
    background-color: #e1e7f2;
}

