@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Home</h1>
        <p><a href="/healthchecks-ui">Health Checks</a></p>
        <p><a href="/ApplicationTypesCheck">Application Type Check</a></p>
    </div>
