<mat-card class="mat-elevation-z0">

    <mat-card-title><h1>Business Profile</h1></mat-card-title>
    <div *ngIf="dataSource.data.length == 0 ">
        <mat-card-subtitle><p>
          Your business profile represents all the legal entities that make up your organization's structure.
        </p></mat-card-subtitle>
    </div>
    <div *ngIf="dataSource.data.length > 0 ">
      <mat-card-subtitle><p>Your business profile represents all the legal entities that make up your organizations structure.</p></mat-card-subtitle>
    </div>
    <mat-card-subtitle>Complete your business profile before starting a licence application.</mat-card-subtitle>
    <mat-card  class="mat-elevation-z0">

      <div [ngBusy]="busy"></div>

      <div *ngIf="dataSource.data.length == 0 ">No business profile has been started</div>

      <div *ngIf="dataSource.data.length > 0">

        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Business Profile Filter">
          </mat-form-field>
        </div>

        <mat-table class="mat-elevation-z0" matSort #table [dataSource]="dataSource">

          <!-- Column -->
          <ng-container matColumnDef="organization">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Organization </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a routerLink="/business-profile/{{ element.shareholderAccountId || element.accountId}}/{{element.legalEntityId}}/before-you-start">{{element.name}}</a>
            </mat-cell> 
          </ng-container>

          Column
          <ng-container matColumnDef="businessRelationship">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Business Relationship </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.businessRelationship}} </mat-cell>
          </ng-container>

          <!-- Column -->
          <ng-container matColumnDef="profileComplete">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Profile Complete </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.profileComplete}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator
                       [pageSize]="5"
                       [pageSizeOptions]="[3, 5, 10]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-card>
</mat-card>
