<div class="">
  <h1 style="margin-top: 0">Organization Structure</h1>
  <section>
    <label *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1" for="">
      Upload a document that shows the legal entities that make up your organization’s structure and the relationships between them,
      including all parent and holding companies, subsidiaries, and partnerships.
      Include the following information:
    </label>
    <label *ngIf="['Society'].indexOf(businessType) !== -1" for="">
      Upload a document that shows the legal entities that make up your organization’s structure and the relationships between them,
      including all parent and holding companies, subsidiaries, and partnerships.
      Include the following information:
    </label>
    <label *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1" for="">
      Upload a document that shows the legal entities that make up your organization’s structure and the relationships between them,
      including all parent and holding companies, subsidiaries, and partnerships.
      Include the following information:
    </label>
    <ul>
      <li>Company name</li>
      <li>Relationships</li>
      <li>Percentage of ownership</li>
    </ul>
  </section>
  <div>
    <label for="">Example</label>
    <br>
    <img src="assets/org_structure_example.png" width="500" alt="Organization Structure">
  </div>
  <p></p>
  <section>
    <app-file-uploader documentType="Organization Structure" entityName="account" [entityId]="accountId"></app-file-uploader>
  </section>
</div>