.wrapper {
    padding-left: 50px; 
    position: relative;
}

.form-control {
    margin-bottom: 15px;
}
  
.label {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: -8px;
}

.error-msg > div {
  font-size: 85%;
}

.has-error {
  color: #a94442;
}

.has-error .form-control {
  border-color: #a94442;
}

.red-snackbar {
  background: #F44336;
}

.green-snackbar {
  background: #00ff21;
}

.blue-header{
    background-color: #38598A;
    color: #fff;
    padding: 7px 7px 7px 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}

.step {
 border-bottom: 2px solid  #FCBA19;
}

.submitted-header {
  background-color: rgba(56, 89, 138, 1);
  border: 1px solid transparent;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #fff !important;
}

.submitted-header h2 {
  color: #fff !important;
}

.submitted-content {
  background-color: #eee;
  padding: 20px;
  margin-bottom: 20px;
}

.submit-container {
  background-color: #38598A;
  border-bottom: solid 4px #FFCC00;
  color: #fff;
  margin-bottom: 20px;
  padding: 30px;
  padding-top: 20px;
  h2 {
      color: #fff;
  }
}

.dashboard-spacing {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 575.98px) {
  .dashboard-spacing {
      padding-left: 10px;
      padding-right: 10px;
  }
}

::ng-deep .mat-calendar-body-selected {
  background-color: #337AB7;
  color: #000 !important;
}

::ng-deep .mat-calendar-body-cell-content {
  color: #54708b;
}

::ng-deep .mat-calendar-header{
  background-color: #337AB7;
  color: #fff;
}


