<mat-dialog-content>
    <h3>Application Checklist</h3>

    <p>Make sure you have this information on hand before you start your Special Event Permit application.</p>

    <hr>

    <strong><fa-icon [icon]="faCheckCircle" style="color: green; margin-right: 5px;"></fa-icon>Permit holder's responsibilities:</strong>
    <ul>
        <li>Read about the <a href="https://www2.gov.bc.ca/gov/content?id=6CB3480FD1EA42019CF16847CD104012" target="_blank">permit holder’s responsibilities</a></li>
    </ul>

    <strong><fa-icon [icon]="faCheckCircle" style="color: green; margin-right: 5px;"></fa-icon>Event Information:</strong>
    <ul>
        <li>Location, date, time &amp; guest count</li>
    </ul>

    <strong><fa-icon [icon]="faCheckCircle" style="color: green; margin-right: 5px;"></fa-icon>Applying on behalf of a Business or Organization:</strong>
    <ul>
        <li>You need a business number issued by Canada Revenue Agency (CRA)</li>
    </ul>

    <strong><fa-icon [icon]="faCheckCircle" style="color: green; margin-right: 5px;"></fa-icon>Events on public property:</strong>
    <ul>
        <li>Events&nbsp;
            <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/liquor-licence-permits/apply-for-liquor-licence-permit/apply-for-liquor-special-event-permit/prepare-and-apply-for-a-special-event-permit#venue-guidelines" target="_blank">held on public property</a> must have written approval from local government or First Nations  
            <ul>
                <li>For more information, review Section 10 of the&nbsp; 
                    <a href="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/liquor-regulation-licensing/guides-and-manuals/sep_policy_manual.pdf" target="_blank">Special Event Permit Policy Manual (PDF, 533KB)</a>
                </li>
            </ul>
        </li>
    </ul>

    <strong><fa-icon [icon]="faCheckCircle" style="color: green; margin-right: 5px;"></fa-icon>Serving It Right (SIR) or Special Event Server (SES) certification:</strong>
    <ul>
        <li>If you have already completed training, enter your certificate number when applying</li>
        <li>You can apply for your liquor Special Event Permit now and complete training later
            <ul>
                <li>You and anyone who may serve liquor at your event must complete a training program before your event starts</li>
            </ul>
        </li>
        <li>Special Event Server is required for all servers and for small events with fewer than 500 attendees</li>
        <li>Serving it Right course is required for permit holders and event managers of large events with more than 500 attendees</li>
        <li>Learn more about&nbsp;
            <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/liquor-licence-permits/apply-for-liquor-licence-permit/apply-for-liquor-special-event-permit/special-event-permit-resources#training" target="_blank">certifications</a>
        </li>
    </ul>

    <strong><fa-icon [icon]="faCheckCircle" style="color: green; margin-right: 5px;"></fa-icon>Drinks:</strong>
    <ul>
        <li>What types of drinks will you serve and how many</li>
        <li>Your proposed drink pricing
            <ul>
                <li>Maximum drink prices are set by the Liquor and Cannabis Regulation Branch (LCRB) and outlined in Appendix 2 of the&nbsp; 
                    <a href="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/liquor-regulation-licensing/guides-and-manuals/sep_policy_manual.pdf" target="_blank">Special Event Permit Policy Manual (PDF, 533KB)</a>
                </li>
                <li>You may be able to apply for an exemption to&nbsp;
                    <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/liquor-licence-permits/apply-for-liquor-licence-permit/apply-for-liquor-special-event-permit/before-event#drink-prices" target="_blank">charge more than the maximum drink price </a>
                    at your event
                </li>
            </ul>
        </li>
    </ul>

    <strong><fa-icon [icon]="faCheckCircle" style="color: green; margin-right: 5px;"></fa-icon>Fees and Payment:</strong>
    <strong><p>Fees:</p></strong>
    <ul>
        <li>Public special events, $100.00 per day/location</li>
        <li>Private special events $25.00 per day/location</li>
    </ul>
    <strong>Payment:</strong>
    <ul>
        <li>Payment methods:
            <ul>
                <li>Visa, MasterCard, American Express, Visa Debit</li>
            </ul>
        </li>
        <li>Payment process:
            <ol>
                <li>Submit application</li>
                <li>Once application is approved, you will receive a notification by email prompting you to pay</li> 
                <li>Log in and pay for your Special Event Permit</li>
                <li>Permit is issued</li>
            </ol>
        </li>
    </ul>

    <p>For more information about holding special events, review the&nbsp;
        <a href="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/liquor-regulation-licensing/guides-and-manuals/guide-sep.pdf" target="_blank">Special Event Permit Terms and Conditions Handbook (PDF, 433KB)</a>.
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="d-flex justify-content-end w-100">
        <button mat-raised-button color="secondary" class="mr-2" (click)="close(false)" id="closeBtn">CLOSE</button>
        <button mat-raised-button color="primary" (click)="close(true)" *ngIf="showCreateButton" id="startAppBtn">START
            APPLICATION</button>
    </div>
</mat-dialog-actions>
