<h3 class="blue-header">
    LOCAL GOVERNMENT/INDIGENOUS NATION CONFIRMATION OF RECEIPT OF APPLICATION
</h3>
<div class="padded-section content-bottom" [formGroup]="form">
    <app-field label="LG/IN">
        <input class="form-control" formControlName="lgInName" readonly type="text">
    </app-field>
    <app-field label="Name of Official" [valid]="!isTouchedAndInvalid('lGNameOfOfficial')"
        errorMessage="Please enter the name of the official">
        <input class="form-control" type="text" formControlName="lGNameOfOfficial">
    </app-field>
    <app-field label="Title/Position" [valid]="!isTouchedAndInvalid('lGTitlePosition')"
        errorMessage="Please enter the Title/Position">
        <input class="form-control" type="text" formControlName="lGTitlePosition">
    </app-field>
    <app-field label="Phone" [valid]="!isTouchedAndInvalid('lGContactPhone')"
        errorMessage="Please enter the phone number">
        <input class="form-control" type="text" formControlName="lGContactPhone" mask="(000) 000-0000"
            placeholder="(000) 000-0000">
    </app-field>
    <app-field label="Email" [valid]="!isTouchedAndInvalid('lGContactEmail')" errorMessage="Please enter the email">
        <input class="form-control" type="text" formControlName="lGContactEmail">
    </app-field>


    <section>
        <section class="ngtest-lg-instructions" [innerHTML]="htmlContent?.LocalGovernmentApproval"></section>

        <label>Provide a Resolution/Comment and any supporting reports with comments on:</label>
        <ul>
            <li>The impact of noise on nearby residents</li>
            <li>The impact on the community if hte application is approved</li>
            <li>The views of residents and a description of the method used to gather views</li>
            <li>The LG/In recommendations (including whether or not the application is approved) and the reasons on
                which they are based</li>
        </ul>

        <app-file-uploader *ngIf="application?.id" documentType="LGIN Resolution"
            [disableUploads]="!isOpenedByLGForApproval" [enableFileDeletion]="isOpenedByLGForApproval"
            (numberOfUploadedFiles)="uploadedSupportingDocuments = $event" [maxNumberOfFiles]="200"
            fileTypes="FILES MUST BE IN PDF, JPEG, OR PNG FORMAT." entityName="application" [entityId]="application?.id"
            [extensions]="['pdf', 'jpg', 'jpeg', 'png']" #LGINResolutionDocuments>
        </app-file-uploader>

    </section>
</div>

<section *ngIf="!disableForm" class="position-relative d-flex justify-content-between p-3">
    <span>
        <button class="btn btn-secondary" [disabled]="optingOutOfComment" (click)="OptOutOfComment()">
            <span>Opt Out of Comment</span>
        </button>
        <mat-progress-bar *ngIf="optingOutOfComment" mode="indeterminate"></mat-progress-bar>
    </span>

    <span>
        <button class="btn btn-secondary" [disabled]="rejectingApp" (click)="RejectApplication()">
            <span>Reject Application</span>
        </button>
        <mat-progress-bar *ngIf="rejectingApp" mode="indeterminate"></mat-progress-bar>
    </span>

    <span>
        <button class="btn btn-primary" [disabled]="approvingApplication" (click)="ApproveApplication()">
            <span>Accept Application</span>
        </button>
        <mat-progress-bar *ngIf="approvingApplication" mode="indeterminate"></mat-progress-bar>
    </span>

</section>