<div class="dashboard-spacing" style="position: relative">
  <div [ngBusy]="busy"></div>

  <div *ngIf="account?.businessType">
    <div [formGroup]="form" style="padding-left: 45px; position: relative">
      <!-- Title -->
      <h1 class="ngtest-page-title">Cancel Cannabis Retail Store Licence Transfer</h1>
    </div>

    <div [formGroup]="form" class="application-wrapper">
      <!-- Preamble -->
      

      <h3 class="blue-header">STORE DETAILS</h3>
      <section class="padded-section">
        <app-field label="Establishment Name" [required]="false" [valid]="isValidOrNotTouched('establishmentName')"
          errorMessage="{{form.get('establishmentName').errors && form.get('establishmentName').errors['forbiddenName'] ? 'The store name contains at least one word that doesn’t comply with naming requirements. The application can’t be submitted until the prohibited word(s) are removed.' : 'Establishment Name is a required field'}}">
          <input class="form-control" style="width: 500px;" type="text" [readonly]="true"
            (change)="checkPossibleProblematicWords()" formControlName="establishmentName">
        </app-field>

        <div>
          <address class="row">
            <app-field class="col-md-12 col-xs-12" label="Address" [isFullWidth]="true">
              <input class="form-control" type="text" readonly formControlName="establishmentAddressStreet">
            </app-field>
            <app-field class="col-md-4 col-xs-12" label="City" [isFullWidth]="true">
              <input class="form-control" type="text" readonly formControlName="establishmentAddressCity">
            </app-field>
            <section class="col-md-4 col-xs-12">
              <app-field label="Province" [isFullWidth]="true">
                <input class="form-control" readonly type="text" value="British Columbia">
              </app-field>
            </section>
            <section class="col-md-4 col-xs-12">
              <app-field label="Postal Code">
                <input class="form-control" type="text" readonly formControlName="establishmentAddressPostalCode">
              </app-field>
            </section>
            <app-field class="col-md-4 col-xs-12" label="Country" [isFullWidth]="true">
              <input class="form-control" autocomplete="country-name" readonly type="text" value="Canada">
            </app-field>
          </address>
          <div class="light-blue-bg" style="display: flex;">
            <div style="flex: 0 0 210px;">
              <app-field label="Parcel Identifier (PID)">
                <input type="text" readonly class="form-control" (keydown)="rejectIfNotDigitOrBackSpace($event)"
                  style="width: 200px;" formControlName="establishmentParcelId">
              </app-field>
            </div>
          </div>
        </div>
      </section>

      <h3 class="blue-header">PROPOSED LICENSEE</h3>
      <section class="padded-section">
        <label>Account: </label> <span> {{form.get('proposedOwner.accountName')?.value}}</span> <br>
        <label>Type: </label> <span> {{form.get('proposedOwner.businessType')?.value}}</span><br>
        <label>Contact Person: </label> <span> {{form.get('proposedOwner.contactName')?.value}}</span><br>
      </section>

      <h3 class="blue-header">CONFIRM CANCELLATION OF TRANSFER</h3>
      <section class="padded-section">
        <app-field [required]="true" [valid]="isValidOrNotTouched('transferConsent')"
          errorMessage="Please consent to the transfer" [showChevrons]="false">
          <section style="display: flex">
            <input type="checkbox" formControlName="transferConsent">
            <!-- <span class="error-states">*</span> -->
            <div style="padding-left: 10px;"> I agree to cancel the transfer of my cannabis retail store licence to the above legal
              entity.
            </div>
          </section>
        </app-field>
      </section>


      <p></p>
      <section class="error" *ngIf="showValidationMessages">
        <p *ngFor="let message of validationMessages">
          <span class="app-cancel">
            <mat-icon aria-label="error icon" style="font-size: 15px;">error</mat-icon>
            {{message}}
          </span>
        </p>
      </section>

      <section style="position: relative; margin-top: 20px;">
        <button class="btn btn-primary" (click)="cancelTransfer()">
          <i class="fa fa-save" style="color: #fff;"></i>
          CANCEL TRANSFER</button>
        <span style="float: right; color: #1a5a96; padding-top: 10px;">
          <a routerLink="/dashboard">
            <i class="fas fa-trash-alt" style="color: #1a5a96;"></i>
            Return to Dashboard
          </a>
        </span>
        <div [ngBusy]="busy"></div>
      </section>
    </div>
  </div>
</div>
