<div class="form-wrapper row">
    <h1 class="col-md-12 mat-heading">{{currentUser.name}}'s applications</h1>

    <section class="col-md-8">
        <p class="mat-body-1">
            Here is a list of your SEP applications - current and past.
            To create a new application from a previous one, simply find it and select Copy.
        </p>

        <button mat-raised-button color="primary" (click)="startApplication()">START NEW APPLICATION</button>

        <mat-divider></mat-divider>

        <h2 class="mat-title">Current Applications</h2>

        <table mat-table [dataSource]="applications" class="mat-elevation-z0 w-100">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="mat-subheading-2">Status</span>
                </th>
                <td mat-cell *matCellDef="let element" class="mat-body-1">
                    <fa-icon [icon]="faEdit"></fa-icon>
                    <br>
                    {{element.status}}
                </td>
            </ng-container>

            <!-- Info Column -->
            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="mat-subheading-2">Info</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <table>
                        <h4>{{element.eventName}}</h4>
                        <tr>
                            <td>Application Number</td>
                            <td>{{element.id}}</td>
                        </tr>
                        <tr>
                            <td>Location Name</td>
                            <td>{{element.id}}</td>
                        </tr>
                        <tr>
                            <td>Municipality</td>
                            <td>{{element.id}}</td>
                        </tr>
                        <tr>
                            <td>Submitted Date</td>
                            <td>{{element.dateCreated | date: 'short'}}</td>
                        </tr>
                        <tr>
                            <td>Event Date(s)</td>
                            <td>{{element.eventDate  | date: 'short'}}</td>
                        </tr>
                        <tr>
                            <td>Licence Number</td>
                            <td>{{element.id}}</td>
                        </tr>
                    </table>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <span class="mat-subheading-2">Actions</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <button routerLink="/sep/application/{{element.id}}/{{getLastStep(element.stepsCompleted)}}"
                        mat-raised-button color="primary">View</button>
                    <br>
                    <button mat-button color="primary"
                        (click)="cancelApplication(element.id, element.eventName, element.id)">Cancel</button>
                    <br>
                    <button mat-button color="primary" (click)="cloneApplication(element)">Clone</button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
</div>