<section class="app-field">
  <span *ngIf="leadingText">
    {{leadingText}}
    <p></p>
  </span>
  <label *ngIf="label">{{label}} <span *ngIf="required" class="error-states">*</span></label>

  <i *ngIf="afterLabelText">
    <br>
    {{afterLabelText}}
  </i>

  <div style="align-items: center; display: flex;">
    <section [ngClass]="{'fullWidth': isFullWidth}">
      <ng-content></ng-content>
    </section>
    <div *ngIf="!valid && showChevrons" style="flex: 0 0 25px;">
      <fa-icon [icon]="faChevronLeft" class="error-states" style="margin-left: 3px"></fa-icon>
      <fa-icon [icon]="faChevronLeft" class="error-states" style="margin-left: -5px"></fa-icon>
    </div>
  </div>

  <div *ngIf="!valid" class="error-states error-container">
    <div>
      {{errorMessage}}
    </div>
  </div>
</section>
