<div class="container test1234">
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
        <h1>
          Find out what you need to apply for a licence
        </h1>
        <h3>
          Answer questions about your business to receive a customized to-do list to prepare an application.
        </h3>

        <div class="row">
          <div class="col-md-12 text-center">
            <a class="btn btn-primary" routerLink="prv" tabindex="1" id="start_button">
              <strong>Start</strong><br>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <app-newsletter-signup [slug]="'signupForUpdates'"></app-newsletter-signup>
    </div>
    <div class="col-md-4">
      <app-vote [slug]="'initialNumberInterested'"></app-vote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">      
        <app-accordion></app-accordion>      
    </div>
  </div>
</div>
