<div class="form-wrapper" [formGroup]="form">
    <h1>Complete Your Personal History Summary</h1>
    <h2>Before you apply</h2>
    <p>You must obtain your Criminal Record Check (completed within the last 4 months) from your local RCMP detachment or police department.Your completed criminal record check, and Personal History Summary (PHS) form, must be submitted with your liquor licensing application(s).If you live/have lived outside of Canada, provide the alternate documentation requested below. </p>
    <p><strong>Note:</strong><br>At any time, the LCRB may require you to consent to subsequent criminal record checks. </p>
    <h2>Instructions</h2>
    <ul>
        <li>You must complete all questions in order submit. Information will not be saved unless the form is complete.</li>
        <li>Attach all supporting documentation as directed.</li>
    </ul>
    <p><strong>Note:</strong><br>Having a criminal record does not cause your LCRB application to automatically be denied.   LCRB will carefully review the circumstances of the individual case; severity and date of the offence for example, and how the type of offence relates to the responsibility of holding a liquor licence.</p>
    <hr>
    <!-- {{form.value | json}} -->
    <h3 class="blue-header">Basic Information</h3>

    <section formGroupName="contact" class="padded-section">
        <app-field label="Name">
            <input class="form-control" type="text" formControlName="shortName" readonly disabled>
        </app-field>

        <app-field label="Date of Birth">
            <input type="text" formControlName='birthDate' style="width: 200px; background-color: #fff;"
                placeholder="yyyy-mm-dd" readonly class="form-control" [matDatepicker]="picker" (focus)="picker.open()"
                (click)="picker.open()">
            <mat-datepicker #picker></mat-datepicker>
        </app-field>

        <app-field label="Gender">
            <select class="form-control" formControlName="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </app-field>
    </section>

    
    <app-field label="Name at Birth" class="padded-section">
    <section class="padded">
        <mat-checkbox formControlName="sameNameAtBirth">I had the same name at birth</mat-checkbox>

        <ng-container *ngIf="form.get('sameNameAtBirth').value === false">
            <app-field label="First Name at Birth">
                <input class="form-control" type="text" formControlName="firstNameAtBirth">
            </app-field>

            <app-field label="Last Name at Birth">
                <input class="form-control" type="text" formControlName="lastNameAtBirth">
            </app-field>
        </ng-container>
    </section>
    </app-field>

    <app-field label="Other Last Names Used">
    <div formGroupName="contact">
        <section formArrayName="aliases" class="padded-section" >
            <div *ngFor="let alias of aliases.controls; let i = index">
                <div [formGroupName]="i">
                    <app-field label="Last Name {{ i + 1}}" style="width:80%">
                        <input class="form-control" type="text" formControlName="lastname"> <i class="fas fa-trash-alt"
                            (click)="deleteAlias(i)"></i>
                    </app-field>
                </div>
            </div>
        </section>
    </div>
    <button (click)="addAlias()" class="btn btn-secondary" style="padding-left:10px;">Add Last Name</button>
    </app-field>

    

    <h3 class="blue-header">CURRENT ADDRESS</h3>
    <div formGroupName="contact">
        <address class="row" class="padded-section">
            <app-field class="col-md-12 col-xs-12" label="Address" [isFullWidth]="true">
                <input class="form-control" type="text" formControlName="address1_line1">
            </app-field>
            <app-field class="col-md-4 col-xs-12" label="City" [isFullWidth]="true">
                <input class="form-control" type="text" formControlName="address1_city">
            </app-field>
            <section class="col-md-4 col-xs-12">
                <app-field label="Province" [isFullWidth]="true">
                    <input class="form-control" type="text" formControlName="address1_stateorprovince"
                        value="British Columbia">
                </app-field>
            </section>
            <section class="col-md-4 col-xs-12">
                <app-field label="Postal Code">
                    <input class="form-control" type="text" formControlName="address1_postalcode">
                </app-field>
            </section>
            <app-field class="col-md-4 col-xs-12" label="Country" [isFullWidth]="true">
                <input formControlName="address1_country" class="form-control" autocomplete="country-name" type="text"
                    value="Canada">
            </app-field>
        </address>
        <section> 
        <app-field label="Phone Number" [required]="true"
        errorMessage="Please enter a 10-digit phone number">
        <input formControlName="mobilePhone" class="form-control" style="width: 350px;" maxlength="10"
            autocomplete="tel" type="text">
        </app-field>

        <app-field label="Email" [required]="true" errorMessage="Please enter your email address"
        afterLabelText="By submitting this email address, you agree that the Liquor and Cannabis Regulation Branch can use it to communicate with you about your Personal History Summary." style="padding-left:20px;">
        <input formControlName="emailaddress1" class="form-control" style="width: 350px;" type="text"
            autocomplete="email">
        </app-field>
        </section>
    </div>


  


    <h3 class="blue-header">QUESTIONNAIRE</h3>
    <section formGroupName="contact">
        <mat-card class="mat-elevation-z0" style="margin-bottom: 10px;">
            <section style="display: flex; justify-content: space-between; width: 100%;">
                <div class="question-label">
                    1. Do you live in Canada?
                </div>
                <div style="flex: 0 0 85px;">
                    <mat-button-toggle-group formControlName="phsLivesInCanada" aria-label="Font Style">
                        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
                        <mat-button-toggle value="No">No</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </section>
        </mat-card>

        <mat-card *ngIf="form.get('contact.phsLivesInCanada').value === 'No'" class="mat-elevation-z0"
            style="margin-bottom: 10px;">
            <section style="display: flex; justify-content: space-between; width: 100%;">
                <div class="question-label">
                    1b. Have you ever lived in Canada?
                </div>
                <div style="flex: 0 0 85px;">
                    <mat-button-toggle-group formControlName="phsHasLivedInCanada" aria-label="Font Style">
                        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
                        <mat-button-toggle value="No">No</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </section>
        </mat-card>

        <ng-container
            *ngIf="form.get('contact.phsLivesInCanada').value === 'Yes' || form.get('contact.phsHasLivedInCanada').value === 'Yes'">
            <section class="padded-section">
            <h3>Please Upload Your Completed Criminal Record Check</h3>
            <p>
                Upload a scan of your completed criminal record check, completed withing the last 4 months by your local RCMP detachment or police
                department.
            </p>
            <section>
                <app-file-uploader documentType="CRC" [useDocumentTypeForName]="true"
                    fileTypes="FILE MUST BE IN PDF, JPG OR PNG FORMAT." [multipleFiles]="true" entityName="account"
                    [extensions]="['jpg', 'jpeg', 'png', 'pdf']" [entityId]="'e18c8dd7-939f-4c74-84f0-736b728c3c8f'"
                    [uploadHeader]="'TO UPLOAD CRIMINAL RECORD CHECK, DRAG FILES HERE OR'">
                </app-file-uploader>
            </section>
        </section>
        </ng-container>

        <mat-card class="mat-elevation-z0" style="margin-bottom: 10px;">
            <section style="display: flex; justify-content: space-between; width: 100%;">
                <div class="question-label">
                    2. Have you ever been charged with, or convicted of, a criminal or drug/alcohol related offence
                    under
                    the
                    laws of any country outside of Canada, or the laws or bylaws of any provincial, state or local
                    government?
                </div>
                <div style="flex: 0 0 85px;">
                    <mat-button-toggle-group formControlName="phsForeignDrugAlchoholOffence" aria-label="Font Style">
                        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
                        <mat-button-toggle value="No">No</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </section>
        </mat-card>

        <mat-card class="mat-elevation-z0" style="margin-bottom: 10px;">
            <section style="display: flex; justify-content: space-between; width: 100%;">
                <div class="question-label">
                    3. Have you received any alcohol/drug related driving infractions in the past 5 years in Canada or
                    under
                    the
                    laws of any other country or jurisdiction?
                </div>
                <div style="flex: 0 0 85px;">
                    <mat-button-toggle-group formControlName="phsCanadianDrugAlchoholDrivingOffence"
                        aria-label="Font Style">
                        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
                        <mat-button-toggle value="No">No</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </section>
        </mat-card>

        <ng-container *ngIf="showStatutoryDeclaration()">
            <h3>Statutory Declaration</h3>
            <p>
                Please upload a statutory declaration, signed by a lawyer, Notary Public or Commissioner for Taking
                Affidavits:
            </p>
            <ol>
                <li>stating you have not been charged with, or convicted of a criminal or drug/alcohol offence under the
                    laws of
                    any country or the laws/bylaws of any provincial, government; OR</li>
                <li>providing details (date, disposition, sentence or fine) of any charges/convictions/sentences; AND/OR
                </li>
                <li>providing details of any alcohol/drug related driving infractions in the past 5 years</li>
            </ol>
            <section>
                <app-file-uploader documentType="Signage" [useDocumentTypeForName]="true"
                    fileTypes="FILE MUST BE IN PDF, JPG OR PNG FORMAT." [multipleFiles]="true" entityName="application"
                    [extensions]="['jpg', 'jpeg', 'png', 'pdf']" [entityId]="1"
                    [uploadHeader]="'TO UPLOAD PHOTOS OR RENDERINGS OF SIGNAGE, DRAG FILES HERE OR'">
                </app-file-uploader>
            </section>
        </ng-container>

        <mat-card class="mat-elevation-z0" style="margin-bottom: 10px;">
            <section style="display: flex; justify-content: space-between; width: 100%;">
                <div class="question-label">
                    4. Have you ever held, or do you or your immeditate family members currently hold, any ownership or
                    interest in a B.C. liquour licence?
                </div>
                <div style="flex: 0 0 85px;">
                    <mat-button-toggle-group formControlName="phsConnectionsToOtherLicences" aria-label="Font Style">
                        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
                        <mat-button-toggle value="No">No</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </section>
        </mat-card>

        <app-field [isFullWidth]="true" *ngIf="form.get('contact.phsConnectionsToOtherLicences').value === 'Yes'"
            label="Please provide details of the licence(s) or application(s).">
            <textarea formControlName="phsConnectionsDetails" class="form-control w-100" rows="10"></textarea>
        </app-field>
    </section>
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>