
.contentPageLeftNavigation {
    margin-top: 40px;

}

.contentPageLeftNavigation ul.leftNav {
    /*border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2*/
    font-weight: bold;
}

.contentPageLeftNavigation ul li {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 9px;
    width: 100%;
    border-bottom: 2px solid #ededed;
    font-size: 17px;
}

.leftNav-item-wrapper {
    position: relative;

}

#topicLeftNav .level-trigger {
    /*border-left: 1px solid #e2e2e2 !important;*/
    /*display: inline-block;*/
    height: 100%;
    position: absolute;
}

/* unvisited link */
a:link {
    color: #003366;
    font-weight:500;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #0062d0;
}

/* mouse over link */
a:hover {
    color: #0062d0;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #003366;
    text-decoration:underline;
}