<ng-container *ngIf="!enableEditing">
  <ng-container *ngTemplateOutlet="treeTemplate"></ng-container>
</ng-container>

<ng-container *ngIf="enableEditing">
  <ng-container *ngTemplateOutlet="editTemplate"></ng-container>
</ng-container>

<ng-template #treeTemplate>
  <mat-tree [ngClass]="{'not-editable': !enableEditing}" [dataSource]="dataSource" [treeControl]="treeControl"
    class="example-tree" #tree>
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>

        <ng-container *ngTemplateOutlet="treeNode; context: { node: node }"></ng-container>
      </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <ng-container *ngTemplateOutlet="treeNode; context: { node: node }"></ng-container>
        </div>
        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</ng-template>

<ng-template let-node="node" #treeNode>
  <div class="d-flex justify-content-between w-100 tree-node">
    <section>
      <span class="tree-label" *ngIf="node.isShareholderNew && !node.isRoot" style="margin-right: 5px">
        <i *ngIf="node.isIndividual" class="fas fa-user-tie"></i>
        <i *ngIf="!node.isIndividual" class="fas fa-building"></i>
      </span>
      <span class="tree-label" *ngIf="!node.isShareholderNew && !node.isRoot" style="margin-right: 5px"> <i
          class="fa fa-user" style="margin-right: 5px"></i>
        <!-- {{node.getNewLeadershipPosition()}}  -->
      </span>
      <span *ngIf="!(enableEditing && !node.isRemoveChangeType())" class="tree-label"
        [ngClass]="{'added-node': node.isAddChangeType(), 'deleted-node': node.isRemoveChangeType(), 'edited-node': node.isUpdateChangeType()}">
        {{node.businessNameNew}}
      </span>
      <span *ngIf="enableEditing && !node.isRemoveChangeType()" class="tree-label"
        [ngClass]="{'added-node': node.isAddChangeType(), 'deleted-node': node.isRemoveChangeType(), 'edited-node': node.isUpdateChangeType()}"
        style="margin-right: 10px;">
        {{node.businessNameNew}}
      </span>
      <ng-container *ngIf="enableEditing && node.isRoot">
        <span>({{Account.getBusinessTypeFromName(node.businessAccountType)}})</span>
        &nbsp;
        <span *ngIf="node.totalSharesNew"> {{node.totalSharesNew}} total Shares </span>
      </ng-container>
      <ng-container *ngIf="!node.isRoot">
        <span *ngIf="!node.isRoot && node.percentageShares"
          [ngClass]="{'added-node': node.isAddChangeType(), 'deleted-node': node.isRemoveChangeType(), 'edited-node': node.isUpdateChangeType()}">
          {{node.percentageShares}} %
        </span>&nbsp;
        <span *ngIf="!node.isRoot && node.percentageShares">
          <span class="shares-label"> shareholder of {{node?.parentLinceseeChangeLog?.businessNameNew}} </span>
        </span>
      </ng-container>

      <a *ngIf="enableEditing && !node.isRemoveChangeType()" href="javascript:void(0)" class="action-link" style="margin-right: 10px;"
        (click)="!node.isRemoveChangeType() && editAssociate(node)"> <i class="fas fa-pencil-alt"></i>&nbsp;Edit</a>
      <a *ngIf="enableEditing && !node.isIndividual && !node.isRemoveChangeType()" class="action-link" href="javascript:void(0)"
        style="margin-right: 10px;" [matMenuTriggerFor]="menu"> <i class="fas fa-plus"></i>&nbsp;Add Associate</a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="!node.isRemoveChangeType() && addShareholder(node)">Shareholder</button>
        <button mat-menu-item (click)="!node.isRemoveChangeType() && addLeadership(node)">Leadership</button>
      </mat-menu>
    </section>
    <section>
      &nbsp; &nbsp;
      <a href="javascript: void(0);" class="action-link" style="color: #ee220e"
        (click)="!node.isRemoveChangeType() && deleteAssociate(node)">
        <i *ngIf="enableEditing && !node.isRoot && !node.isRemoveChangeType()" class="fas fa-trash-alt"
          (click)="chancelChange(item)"></i>
        <span *ngIf="enableEditing && !node.isRoot && !node.isRemoveChangeType()">&nbsp;Remove</span>
      </a>
    </section>
  </div>
</ng-template>

<ng-template #editTemplate>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <ng-container *ngTemplateOutlet="treeTemplate"></ng-container>
    </div>
    <div class="col-md-4 col-sm-12">
      <h3>Key:</h3>
      <span class="tree-label"> <i class="fas fa-user"></i></span> -- Leadership (Directors, Officers and Senior Managers)<br>
      <span class="tree-label"> <i class="fas fa-building"></i></span> -- Business Shareholder <br>
      <span class="tree-label"> <i class="fas fa-user-tie"></i></span> -- Individual Shareholder <br>
      Edited Associate -- <span class="edited-node">Orange</span> <br>
      Added Associate -- <span class="added-node">Green</span> <br>
      Deleted Associate -- <span class="deleted-node">Red Strikethough</span> <br>
    </div>
  </div>

  <h3 class="blue-header" *ngIf="organizationShareholderChanges && organizationShareholderChanges.length">BUSINESS
    SHAREHOLDER CHANGES</h3>
  <section class="padded-section" *ngIf="organizationShareholderChanges && organizationShareholderChanges.length">
    <table class="eq-table">
      <tr>
        <th class="change-type-cell">Change Type</th>
        <th class="name-cell">Business Account Name</th>
        <th class="email-cell">Email</th>
        <th class="shares-cell">Number of Shares</th>
        <th></th>
      </tr>
      <tr [ngClass]="{'alt-row': i%2 === 0}" *ngFor="let item of organizationShareholderChanges;  let i = index;">
        <td>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">
            {{getRenderChangeType(item)}}
          </span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.nameOld}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">
            {{item.businessNameNew}}</span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.emailOld}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">{{item.emailNew}}</span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.numberofSharesOld}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">{{item.numberofSharesNew}}</span>
        </td>
        <td>
          <i class="fas fa-trash-alt" style="color: #ee220e" (click)="chancelChange(item)"></i>
        </td>
      </tr>
    </table>
  </section>

  <h3 class="blue-header" *ngIf="individualShareholderChanges && individualShareholderChanges.length">INDIVIDUAL
    SHAREHOLDER CHANGES</h3>
  <section *ngIf="individualShareholderChanges && individualShareholderChanges.length" class="padded-section">
    <table class="eq-table">
      <tr>
        <th class="change-type-cell">Change Type</th>
        <th class="name-cell">Name</th>
        <th class="email-cell">Email</th>
        <th class="shares-cell">Number of Shares</th>
        <th></th>
      </tr>
      <tr [ngClass]="{'alt-row': i%2 === 0}" *ngFor="let item of individualShareholderChanges; let i = index;">
        <td>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">
            {{getRenderChangeType(item)}}
          </span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.nameOld}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">
            {{item.businessNameNew}}</span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.emailOld}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">{{item.emailNew}}</span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.numberofSharesOld}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">{{item.numberofSharesNew}}</span>
        </td>
        <td>
          <i class="fas fa-trash-alt" style="color: #ee220e" (click)="chancelChange(item)"></i>
        </td>
      </tr>
    </table>
  </section>

  <h3 class="blue-header" *ngIf="leadershipChanges && leadershipChanges.length">LEADERSHIP CHANGES</h3>
  <section class="padded-section" *ngIf="leadershipChanges && leadershipChanges.length">
    <table class="eq-table">
      <tr>
        <th class="change-type-cell">Change Type</th>
        <th class="name-cell">Name</th>
        <th class="email-cell">Email</th>
        <th>Position(s)</th>
        <th></th>
      </tr>
      <tr [ngClass]="{'alt-row': i%2 === 0}" *ngFor="let item of leadershipChanges; let i = index;">
        <td>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">
            {{getRenderChangeType(item)}}
          </span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.nameOld}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">
            {{item.businessNameNew}}</span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.emailOld}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">{{item.emailNew}}</span>
        </td>
        <td>
          <div *ngIf="item.isUpdateChangeType()" class="old-value">{{item.getOldLeadershipPosition()}}</div>
          <span
            [ngClass]="{'added-node': item.isAddChangeType(), 'deleted-node': item.isRemoveChangeType(), 'edited-node': item.isUpdateChangeType()}">{{item.getNewLeadershipPosition()}}</span>
        </td>
        <td>
          <i class="fas fa-trash-alt" style="color: #ee220e" (click)="chancelChange(item)"></i>
        </td>
      </tr>
    </table>
  </section>
</ng-template>