.form-style {
  width: 99%;
  box-sizing: border-box;
  border: 1px solid #9C9C9C;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  margin-bottom: 30px;
  margin-top: 5px;
}


.label {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: -8px;
}


.globalButton {
    background-color: #003366;
    border: #003366 1px solid;
    color: #ffffff;
    min-width: 120px;
    font-size: 16px;
    padding-top: 4px;
    margin-bottom: 30px;

}

.globalButton:hover {
    background-color: #2f567b !important;
    color: #ffffff;
    border-color: #204d74;
    box-shadow: 0px 0px 0px 0px;
    text-decoration: none

}
