.maintenance-banner {
    background: red;
    color: #ffffff;
    padding: 2px 25px;
    font-weight: bold;
    text-align: center;
  }
  .banner-content {
    max-width: 1200px;
    margin: 0 auto;
  }