<ng-container [formGroup]="rowGroup">
    <td><input type="text" formControlName="areaNumber" [readonly]="!enabled"/></td>
    <td><input type="text" formControlName="areaLocation" placeholder="Enter Area Description" [readonly]="!enabled"/></td>
    <td *ngIf="isService()"><mat-checkbox formControlName="isIndoor" [disabled]="!enabled"></mat-checkbox></td>
    <td *ngIf="isService()"><mat-checkbox formControlName="isPatio" [disabled]="!enabled"></mat-checkbox></td>
    <td><input type="text" formControlName="capacity" placeholder="Enter Occupant Load" mask="0*" maxlength="4" [readonly]="!enabled"/></td>
    <td><button (click)="removeRow()" class="btn-clear" *ngIf="enabled"><i class="fas fa-trash-alt"></i></button></td>
</ng-container>
