table {
    width: 100%;

    thead {
        th {
            border: 1px solid black;
            padding: 3px;
            text-align: center;
            &:last-child {
                border: none;
            }
        }
    }
    tr {
        td {
            background-color: white;
            text-align: center;
        }
        &:last-child {
            td {
                background: none !important;
                border: none !important;
            }
        }
    }

    .btn-save {
        float: right;
        background-color: #38598a;
        border: #38598a 1px solid;
        border-radius: 3px;
        color: white;
        &:hover {
            background-color: #003366 !important;
        }
    }
    .btn-clear {
        background: none;
        border: none;
    }
}