td {
    text-align: center;
    border: 1px solid black;
    height: 27px;
    vertical-align: bottom;
    &:last-of-type {
        background: none !important;
        border: none;
    }
    input {
        width: 100%;
        height: 100%;
        text-align: center;
        border: none;
    }
}

.btn-clear {
    background: none;
    border: none;
}