.btn-clear {
    background: none;
    border: none;
}

.btn-save {
    float: right;
    background-color: #38598a;
    border: #38598a 1px solid;
    border-radius: 3px;
    color: white;
    &:hover {
        background-color: #003366 !important;
    }
}



table {
    width: 100%;
    thead {
        th {
            padding: 3px;
            text-align: center;
            &:last-child {
                border: none;
            }
        }
    }
    td {
        text-align: center;
        height: 27px;
        vertical-align: bottom;
        input {
            width: 100%;
            height: 100%;
            text-align: center;
            border: none;
        }
    }
    tr {
        td {
            background-color: #E1E8F2;
            text-align: center;
        }
    }
}

table.capacity {
    td {
        &:last-of-type {
            background: none !important;
            border: none;
        }
    }
    tr {
        &:last-child {
            td {
                background: none !important;
                border: none !important;
            }
        }
    }
}