<div [ngClass]="{'extra-padding-left': !fullWidth }">
  <!-- <div [ngBusy]="busy"></div> -->
  <div class="row" *ngIf="policyDocument && dataLoaded">
    <div class="col-md-2" *ngIf="category">
      <app-policy-document-sidebar *ngIf="policyDocument" (slugChange)="setSlug($event)" [category]="category"></app-policy-document-sidebar>
    </div>
    <div [ngClass]="{'col-md-9 offset-md-1': fullWidth, 'col-md-8': !fullWidth }" class="contentPolicy">
      <div id="title" [innerHTML]="title" class="h1"></div>
      <div id="body" [innerHTML]="body" class="body"></div>
    </div>
  </div>
  <section *ngIf="!policyDocument && dataLoaded" class="h1">
    Network issues are preventing the retrieval of this content. Please try again in a few minutes.
  </section>
</div>
