<div class="dashboard-spacing" style="position: relative;">
  <div [ngBusy]="[busy, busy2]"></div>
  <div class="row">
    <div class="col-lg-7 col-sm-12">
      <div class="wrapper" [formGroup]="form">
        <h3><span class="step">STEP 1</span></h3>
        <div *ngIf="dataLoaded">
          <section>
            <h1>
              Worker Qualification Application
            </h1>
            <p>
              In step one, you identify who you are and where you've lived for each of the last five years. You must
              complete all fields.
            </p>
          </section>

          <h3 class="blue-header">PERSONAL INFORMATION</h3>


          <div formGroupName="worker">
            <!-- <h2>Worker</h2> -->
            <!-- <section>
                    <div [ngClass]="{'has-error': !this.form.get('worker.isldbworker').valid && this.form.get('worker.isldbworker').touched}">
                      <label>Is LDB Worker?</label>
                      <br />
                      <input type="checkbox" formControlName="isldbworker">
                      <div *ngIf="!this.form.get('worker.isldbworker').valid && this.form.get('worker.isldbworker').touched" class="alert alert-danger"
                        style="width: 250px;">
                        <div *ngIf="!this.form.get('worker.isldbworker').valid && this.form.get('worker.isldbworker').touched ">
                          This is required
                        </div>
                      </div>
                    </div>
                  </section> -->
            <section>
              <div>
                <label>First Name</label>
                <br />
                <input class="form-control" style="max-width: 450px; min-width: 250px;" readonly type="text"
                  formControlName="firstname">
              </div>
            </section>
            <section>
              <div>
                <label>Middle Name</label>
                <br />
                <input class="form-control" style="max-width: 450px; min-width: 250px;" readonly type="text"
                  formControlName="middlename">
              </div>
            </section>
            <section>
              <div>
                <label>Last Name</label>
                <br />
                <input class="form-control" style="max-width: 450px; min-width: 250px;" readonly type="text"
                  formControlName="lastname">
              </div>
            </section>

            <div formArrayName="aliases">
              <div *ngFor="let alias of aliases.controls; let i = index">
                <hr>
                <div [formGroupName]="i">
                  <h3>PREVIOUS NAME {{i == 0 ? '' : i + 1}}
                    <button class="btn btn-secondary" style="float: right;" (click)="deleteAlias(i)">
                      <i class="fa fa-trash"></i>
                      DELETE NAME
                    </button>
                  </h3>
                  <section>
                    <div [ngClass]="{'has-error': !alias.get('firstname').valid && alias.get('firstname').touched}">
                      <label>First Name</label>
                      <br />
                      <input class="form-control" style="width: 250px;" type="text" formControlName="firstname">
                      <div *ngIf="!alias.get('firstname').valid && alias.get('firstname').touched" class="alert alert-danger"
                        style="width: 250px;">
                        <div *ngIf="!alias.get('firstname').valid && alias.get('firstname').touched ">
                          This is required
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div [ngClass]="{'has-error': !alias.get('middlename').valid && alias.get('middlename').touched}">
                      <label>Middle Name</label>
                      <br />
                      <input class="form-control" style="width: 250px;" type="text" formControlName="middlename">
                      <div *ngIf="!alias.get('middlename').valid && alias.get('middlename').touched" class="alert alert-danger"
                        style="width: 250px;">
                        <div *ngIf="!alias.get('middlename').valid && alias.get('middlename').touched ">
                          This is required
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div [ngClass]="{'has-error': !alias.get('lastname').valid && alias.get('lastname').touched}">
                      <label>Last Name</label>
                      <br />
                      <input class="form-control" style="width: 250px;" type="text" formControlName="lastname">
                      <div *ngIf="!alias.get('lastname').valid && alias.get('lastname').touched" class="alert alert-danger"
                        style="width: 250px;">
                        <div *ngIf="!alias.get('lastname').valid && alias.get('lastname').touched ">
                          This is required
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <span *ngIf="aliases.controls.length < 5">If you have more than one previous name, please <a href="javascript:void(0)"
                  (click)="addAlias()">click here to add them.</a></span>
              <p></p>
              <hr>
            </div>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('worker.birthplace').valid && this.form.get('worker.birthplace').touched}">
                <label>City and Country of Birth</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="birthplace">
                <i *ngIf="!this.form.get('worker.birthplace').valid && this.form.get('worker.birthplace').touched"
                  class="fas fa-chevron-left"></i>
                <i *ngIf="!this.form.get('worker.birthplace').valid && this.form.get('worker.birthplace').touched"
                  style="margin-left: -6px;" class="fas fa-chevron-left"></i>
                <div *ngIf="!this.form.get('worker.birthplace').valid && this.form.get('worker.birthplace').touched"
                  class="alert alert-danger" style="background: transparent; border: none;">
                  <div *ngIf="!this.form.get('worker.birthplace').valid && this.form.get('worker.birthplace').touched ">
                    The city and country of your birth is required.
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div>
                <label>Date of Birth</label>
                <br />
                <input type="text" formControlName='dateofbirth' readonly style="width: 250px;" placeholder="yyyy-mm-dd"
                  [value]="form.get('worker.dateofbirth').value | date: 'yyyy-MM-dd' : '+00:00'" class="form-control">
              </div>
            </section>
            <section>
              <div>
                <label>Sex</label>
                <br />
                <input type="text" formControlName='gender' readonly style="width: 250px;" name="gender" class="form-control">
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !isBCIDValid() && (this.form.get('worker.bcidcardnumber').touched || this.form.get('worker.driverslicencenumber').touched)}">
                <label>BC Driver's Licence Number</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" (keydown)="rejectIfNotDigitOrBackSpace($event)"
                  maxlength="7" formControlName="driverslicencenumber">
                <i *ngIf="!isBCIDValid() && (this.form.get('worker.bcidcardnumber').touched || this.form.get('worker.driverslicencenumber').touched)"
                  class="fas fa-chevron-left"></i>
                <i *ngIf="!isBCIDValid() && (this.form.get('worker.bcidcardnumber').touched || this.form.get('worker.driverslicencenumber').touched)"
                  style="margin-left: -6px;" class="fas fa-chevron-left"></i>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !isBCIDValid() && (this.form.get('worker.bcidcardnumber').touched || this.form.get('worker.driverslicencenumber').touched)}">
                <label>BCID Number</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" (keydown)="rejectIfNotDigitOrBackSpace($event)"
                  maxlength="9" formControlName="bcidcardnumber">
                <i *ngIf="!isBCIDValid() && (this.form.get('worker.bcidcardnumber').touched || this.form.get('worker.driverslicencenumber').touched)"
                  class="fas fa-chevron-left"></i>
                <i *ngIf="!isBCIDValid() && (this.form.get('worker.bcidcardnumber').touched || this.form.get('worker.driverslicencenumber').touched)"
                  style="margin-left: -6px;" class="fas fa-chevron-left"></i>
                <div *ngIf="!isBCIDValid() && (this.form.get('worker.bcidcardnumber').touched || this.form.get('worker.driverslicencenumber').touched)"
                  class="alert alert-danger" style="background: transparent; border: none;">
                  <div *ngIf="!isBCIDValid() && (this.form.get('worker.bcidcardnumber').touched || this.form.get('worker.driverslicencenumber').touched)">
                    You must enter either a BCID number or a driver’s licence number. <br>
                    Format is 9 digits for BCID and 9 digits for driver's licence number.
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('worker.phonenumber').valid && this.form.get('worker.phonenumber').touched}">
                <label>Primary Phone Number</label>
                <span style="padding-left: 10px;">(incl. area code) example: 1234567890</span>
                <br />
                <input class="form-control" style="width: 250px;" (keydown)="rejectIfNotDigitOrBackSpace($event)" type="text"
                  maxlength="10" pattern="^\d{10}$" formControlName="phonenumber">
                <i *ngIf="!this.form.get('worker.phonenumber').valid && this.form.get('worker.phonenumber').touched"
                  class="fas fa-chevron-left"></i>
                <i *ngIf="!this.form.get('worker.phonenumber').valid && this.form.get('worker.phonenumber').touched"
                  style="margin-left: -6px;" class="fas fa-chevron-left"></i>
                <div *ngIf="!this.form.get('worker.phonenumber').valid && this.form.get('worker.phonenumber').touched"
                  class="alert alert-danger" style="background: transparent; border: none;">
                  <div *ngIf="!this.form.get('worker.phonenumber').valid && this.form.get('worker.phonenumber').touched ">
                    <span>Please enter a value.</span><br>
                    <span>This field cannot contain letters.</span><br>
                    <span>Please provide a 10-digit phone number without a country code, spaces or special characters.*</span>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('worker.email').valid && this.form.get('worker.email').touched}">
                <label>Email Address</label>
                <br />
                <input class="form-control" style="width: 250px;" type="email" formControlName="email" (blur)="trimValue(form.get('worker.email'))">
                <i *ngIf="!this.form.get('worker.email').valid && this.form.get('worker.email').touched" class="fas fa-chevron-left"></i>
                <i *ngIf="!this.form.get('worker.email').valid && this.form.get('worker.email').touched" style="margin-left: -6px;"
                  class="fas fa-chevron-left"></i>
                <div *ngIf="!this.form.get('worker.email').valid && this.form.get('worker.email').touched" class="alert alert-danger"
                  style="background: transparent; border: none;">
                  <div *ngIf="!this.form.get('worker.email').valid && this.form.get('worker.email').touched ">
                    <span>Please enter a value.</span><br>
                    <span>Please include an “@” in the email address.</span><br>
                    <span>Your address must include a domain at the end such as .com, .ca, or .net.</span>
                  </div>
                </div>
              </div>
            </section>
            <!-- <section>
                    <div [ngClass]="{'has-error': !this.form.get('worker.selfdisclosure').valid && this.form.get('worker.selfdisclosure').touched}">
                      <label>Self Disclosure</label>
                      <br />
                      <input type="checkbox" formControlName="selfdisclosure">
                      <div *ngIf="!this.form.get('worker.selfdisclosure').valid && this.form.get('worker.selfdisclosure').touched" class="alert alert-danger"
                        style="width: 250px;">
                        <div *ngIf="!this.form.get('worker.selfdisclosure').valid && this.form.get('worker.selfdisclosure').touched ">
                          This is required
                        </div>
                      </div>
                    </div>
                  </section> -->
            <!-- <section>
                    <div [ngClass]="{'has-error': !this.form.get('worker.triggerphs').valid && this.form.get('worker.triggerphs').touched}">
                      <label>Trigger PHS Creation</label>
                      <br />
                      <input type="checkbox" formControlName="triggerphs">
                      <div *ngIf="!this.form.get('worker.triggerphs').valid && this.form.get('worker.triggerphs').touched" class="alert alert-danger"
                        style="width: 250px;">
                        <div *ngIf="!this.form.get('worker.triggerphs').valid && this.form.get('worker.triggerphs').touched ">
                          This is required
                        </div>
                      </div>
                    </div>
                  </section> -->
          </div>

          <div formGroupName="contact" *ngIf="false">
            <h2>Contact</h2>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched}">
                <label>First Name</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="firstname">
                <div *ngIf="!this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.firstname').valid && this.form.get('contact.firstname').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched}">
                <label>Middle Name</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="middlename">
                <div *ngIf="!this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.middlename').valid && this.form.get('contact.middlename').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched}">
                <label>Last Name</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="lastname">
                <div *ngIf="!this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.lastname').valid && this.form.get('contact.lastname').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched}">
                <label>Primary Phone Number</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="telephone1">
                <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.telephone1').valid && this.form.get('contact.telephone1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched}">
                <label>Email Address</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="emailaddress1" (blur)="trimValue(this.form.get('contact.emailaddress1'));">
                <div *ngIf="!this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.emailaddress1').valid && this.form.get('contact.emailaddress1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address1_line1').valid && this.form.get('contact.address1_line1').touched}">
                <label>Street Address</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="address1_line1">
                <div *ngIf="!this.form.get('contact.address1_line1').valid && this.form.get('contact.address1_line1').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.address1_line1').valid && this.form.get('contact.address1_line1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address1_city').valid && this.form.get('contact.address1_city').touched}">
                <label>City</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="address1_city">
                <div *ngIf="!this.form.get('contact.address1_city').valid && this.form.get('contact.address1_city').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.address1_city').valid && this.form.get('contact.address1_city').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address1_stateorprovince').valid && this.form.get('contact.address1_stateorprovince').touched}">
                <label>Province / State</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="address1_stateorprovince">
                <div *ngIf="!this.form.get('contact.address1_stateorprovince').valid && this.form.get('contact.address1_stateorprovince').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.address1_stateorprovince').valid && this.form.get('contact.address1_stateorprovince').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address1_country').valid && this.form.get('contact.address1_country').touched}">
                <label>Country</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="address1_country">
                <div *ngIf="!this.form.get('contact.address1_country').valid && this.form.get('contact.address1_country').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.address1_country').valid && this.form.get('contact.address1_country').touched ">
                    This is required.
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address1_postalcode').valid && this.form.get('contact.address1_postalcode').touched}">
                <label>Postal / Zip Code</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="address1_postalcode">
                <i *ngIf="!this.form.get('contact.address1_postalcode').valid && this.form.get('contact.address1_postalcode').touched"
                  class="fas fa-chevron-left"></i>
                <i *ngIf="!this.form.get('contact.address1_postalcode').valid && this.form.get('contact.address1_postalcode').touched"
                  style="margin-left: -6px;" class="fas fa-chevron-left"></i>
                <div *ngIf="!this.form.get('contact.address1_postalcode').valid && this.form.get('contact.address1_postalcode').touched"
                  class="alert alert-danger" style="background: transparent; border: none;">
                  <div *ngIf="!this.form.get('contact.address1_postalcode').valid && this.form.get('contact.address1_postalcode').touched ">
                    This is required.<br>Your postal / zip code should be in one of the following formats:<br>X1X 1X1,
                    12345, 12345-1234
                  </div>
                </div>
              </div>
            </section>
          </div>



          <h3 class="blue-header">ADDRESSES</h3>
          <p></p>
          <div formGroupName="contact">
            <h3>CURRENT ADDRESS</h3>
            <section>
              <label>Street</label>
              <br />
              <input class="form-control" style="min-width: 250px; max-width: 450px;" readonly type="text" formControlName="address1_line1">
            </section>
            <section>
              <label>City</label>
              <br />
              <input class="form-control" style="min-width: 250px; max-width: 350px;" readonly type="text" formControlName="address1_city">
            </section>
            <section>
              <label>Province / State</label>
              <br />
              <input class="form-control" style="width: 250px;" type="text" readonly formControlName="address1_stateorprovince">
            </section>
            <section>
              <label>Postal Code / Zip Code</label>
              <br />
              <input class="form-control" style="width: 200px;" type="text" readonly formControlName="address1_postalcode">
            </section>
            <section>
              <label>Country</label>
              <br />
              <input class="form-control" style="width: 250px;" type="text" readonly formControlName="address1_country">
            </section>
          </div>
          <div formGroupName="worker">
            <section style="display: inline-block; vertical-align: top;">
              <div [ngClass]="{'has-error': !form.get('worker.fromdate').valid && form.get('worker.fromdate').touched}">
                <label>Date: From</label>
                <br />
                <input type="text" formControlName='fromdate' style="width: 200px; background-color: #fff;" placeholder="yyyy-mm-dd"
                  readonly class="form-control" [min]="minDate" [max]="currentDate" [matDatepicker]="picker" (focus)="picker.open()"
                  (click)="picker.open()">
                <mat-datepicker #picker></mat-datepicker>
                <div *ngIf="form.get('worker.fromdate').touched && (!form.get('worker.fromdate').valid || form.get('worker.fromdate').valid  && !isAscending(form.get('worker.fromdate').value, form.get('worker.todate').value)) "
                  class="alert alert-danger" style="width: 200px;">
                  <div *ngIf="!form.get('worker.fromdate').valid">
                    This is required
                  </div>
                  <div *ngIf="form.get('worker.fromdate').valid && !isAscending(form.get('worker.fromdate').value, form.get('worker.todate').value)">
                    From Date should be less than To Date
                  </div>
                </div>
              </div>
            </section>
            <section style="display: inline-block; vertical-align: top; padding-left: 30px;">
              <div [ngClass]="{'has-error': form.get('worker.fromdate').valid && form.get('worker.todate').valid  && !isAscending(form.get('worker.fromdate').value, form.get('worker.todate').value)}">
                <label>Date: To</label>
                <br />
                <input type="text" formControlName='todate' readonly style="width: 200px;" placeholder="yyyy-mm-dd"
                  class="form-control" [value]="form.get('worker.todate').value | date: 'yyyy-MM-dd' : '+00:00'">
                <div *ngIf="form.get('worker.todate').touched && (form.get('worker.fromdate').valid && form.get('worker.todate').valid  && !isAscending(form.get('worker.fromdate').value, form.get('worker.todate').value)) "
                  class="alert alert-danger" style="width: 200px;">
                  <div *ngIf="form.get('worker.fromdate').valid && form.get('worker.todate').valid  && !isAscending(form.get('worker.fromdate').value, form.get('worker.todate').value)">
                    To Date should be greater than From Date
                  </div>
                </div>
              </div>
            </section>
          </div>
          <hr>
          <p></p>
          <div formGroupName="contact">
            <h3>MAILING ADDRESS
              <button class="btn btn-secondary" style="float: right;" (click)="copyPhysicalAddressToMailingAddress()">
                <i class="fa fa-copy"></i>
                COPY CURRENT ADDRESS
              </button>
            </h3>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address2_line1').valid && this.form.get('contact.address2_line1').touched}">
                <label>Street</label>
                <br />
                <input class="form-control" style="min-width: 250px; max-width: 450px;" type="text" formControlName="address2_line1">
                <div *ngIf="!this.form.get('contact.address2_line1').valid && this.form.get('contact.address2_line1').touched"
                  class="alert alert-danger" style="min-width: 250px; max-width: 450px;">
                  <div *ngIf="!this.form.get('contact.address2_line1').valid && this.form.get('contact.address2_line1').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address2_city').valid && this.form.get('contact.address2_city').touched}">
                <label>City</label>
                <br />
                <input class="form-control" style="min-width: 250px; max-width: 350px;" type="text" formControlName="address2_city">
                <div *ngIf="!this.form.get('contact.address2_city').valid && this.form.get('contact.address2_city').touched"
                  class="alert alert-danger" style="min-width: 250px; max-width: 350px;">
                  <div *ngIf="!this.form.get('contact.address2_city').valid && this.form.get('contact.address2_city').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address2_stateorprovince').valid && this.form.get('contact.address2_stateorprovince').touched}">
                <label>Province / State</label>
                <br />
                <input class="form-control" style="width: 250px;" type="text" formControlName="address2_stateorprovince">
                <div *ngIf="!this.form.get('contact.address2_stateorprovince').valid && this.form.get('contact.address2_stateorprovince').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.address2_stateorprovince').valid && this.form.get('contact.address2_stateorprovince').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address2_postalcode').valid && this.form.get('contact.address2_postalcode').touched}">
                <label>Postal Code / Zip Code</label>
                <br />
                <input class="form-control" style="width: 200px;" type="text" formControlName="address2_postalcode">
                <i *ngIf="!this.form.get('contact.address2_postalcode').valid && this.form.get('contact.address2_postalcode').touched"
                  class="fas fa-chevron-left"></i>
                <i *ngIf="!this.form.get('contact.address2_postalcode').valid && this.form.get('contact.address2_postalcode').touched"
                  style="margin-left: -6px;" class="fas fa-chevron-left"></i>
                <div *ngIf="!this.form.get('contact.address2_postalcode').valid && this.form.get('contact.address2_postalcode').touched"
                  class="alert alert-danger" style="background: transparent; border: none;">
                  <div *ngIf="!this.form.get('contact.address2_postalcode').valid && this.form.get('contact.address2_postalcode').touched ">
                    This is required.<br>Your postal / zip code should be in one of the following formats:<br>X1X 1X1,
                    12345, 12345-1234.
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div [ngClass]="{'has-error': !this.form.get('contact.address2_country').valid && this.form.get('contact.address2_country').touched}">
                <label>Country</label>
                <br />
                <select class="form-control" style="width: 250px;" formControlName="address2_country" (change)="form.get('contact.address2_postalcode').updateValueAndValidity()">
                  <option value="Canada">Canada</option>
                  <option value="United States of America">United States of America</option>
                  <hr>
                  <option *ngFor="let c of countryList" value="{{c}}">{{c}}</option>
                </select>
                <div *ngIf="!this.form.get('contact.address2_country').valid && this.form.get('contact.address2_country').touched"
                  class="alert alert-danger" style="width: 250px;">
                  <div *ngIf="!this.form.get('contact.address2_country').valid && this.form.get('contact.address2_country').touched ">
                    This is required
                  </div>
                </div>
              </div>
            </section>
          </div>
          <hr>
          <div formArrayName="addresses">
            <p>Please list all addresses in the past 5 years.</p>
            <section *ngIf="!pastAddressesAreValid()" style="color: #A12622;">
              You’ve provided fewer than five years of past addresses. Please enter at least five years.
            </section>
            <div *ngFor="let address of addresses.controls; let i = index">
              <div [formGroupName]="i">
                <h3>PAST ADDRESS {{i + 1}}
                  <button class="btn btn-secondary" style="float: right;" (click)="deleteAddress(i)">
                    <i class="fa fa-trash"></i>
                    DELETE ADDRESS
                  </button>
                </h3>
                <section>
                  <div [ngClass]="{'has-error': !address.get('streetaddress').valid && address.get('streetaddress').touched}">
                    <label>Street</label>
                    <br />
                    <input class="form-control" style="min-width: 250px; max-width: 450px;" type="text" formControlName="streetaddress">
                    <div *ngIf="!address.get('streetaddress').valid && address.get('streetaddress').touched" class="alert alert-danger"
                      style="min-width: 250px; max-width: 450px;">
                      <div *ngIf="!address.get('streetaddress').valid && address.get('streetaddress').touched ">
                        This is required
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div [ngClass]="{'has-error': !address.get('city').valid && address.get('city').touched}">
                    <label>City</label>
                    <br />
                    <input class="form-control" style="min-width: 250px; max-width: 350px;" type="text" formControlName="city">
                    <div *ngIf="!address.get('city').valid && address.get('city').touched" class="alert alert-danger"
                      style="min-width: 250px; max-width: 350px;">
                      <div *ngIf="!address.get('city').valid && address.get('city').touched ">
                        This is required
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div [ngClass]="{'has-error': !address.get('provstate').valid && address.get('provstate').touched}">
                    <label>Province / State</label>
                    <br />
                    <input class="form-control" style="width: 200px;" type="text" formControlName="provstate">
                    <div *ngIf="!address.get('provstate').valid && address.get('provstate').touched" class="alert alert-danger"
                      style="width: 200px;">
                      <div *ngIf="!address.get('provstate').valid && address.get('provstate').touched ">
                        This is required
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div [ngClass]="{'has-error': !address.get('postalcode').valid && address.get('postalcode').touched}">
                    <label>Postal Code / Zip Code</label>
                    <br />
                    <input class="form-control" style="width: 250px;" type="text" formControlName="postalcode">
                    <div *ngIf="!address.get('postalcode').valid && address.get('postalcode').touched" class="alert alert-danger"
                      style="width: 250px;">
                      <div *ngIf="!address.get('postalcode').valid && address.get('postalcode').touched ">
                        This is required
                      </div>
                    </div>
                  </div>
                </section>
                <section>
                  <div [ngClass]="{'has-error': !address.get('country').valid && address.get('country').touched}">
                    <label>Country</label>
                    <br />
                    <select class="form-control" style="width: 250px;" formControlName="country" (change)="address.get('postalcode').updateValueAndValidity()">
                      <option value="Canada">Canada</option>
                      <option value="United States of America">United States of America</option>
                      <hr>
                      <option *ngFor="let c of countryList" value="{{c}}">{{c}}</option>
                    </select>
                    <div *ngIf="!address.get('country').valid && address.get('country').touched" class="alert alert-danger"
                      style="width: 250px;">
                      <div *ngIf="!address.get('country').valid && address.get('country').touched ">
                        This is required
                      </div>
                    </div>
                  </div>
                </section>
                <section style="display: inline-block; vertical-align: top;">
                  <div [ngClass]="{'has-error': !address.get('fromdate').valid && address.get('fromdate').touched}">
                    <label>Date: From</label>
                    <br />
                    <input type="text" formControlName='fromdate' style="width: 200px; background-color: #fff;"
                      placeholder="yyyy-mm-dd" class="form-control" readonly [min]="minDate" [max]="currentDate"
                      [matDatepicker]="picker1" (focus)="picker1.open()" (click)="picker1.open()">
                    <mat-datepicker #picker1></mat-datepicker>
                    <div *ngIf="address.get('fromdate').touched && (!address.get('fromdate').valid || address.get('fromdate').valid && address.get('todate').valid  && !isAscending(address.get('fromdate').value, address.get('todate').value)) "
                      class="alert alert-danger" style="width: 200px;">
                      <div *ngIf="!address.get('fromdate').valid">
                        This is required
                      </div>
                      <div *ngIf="address.get('fromdate').valid && address.get('todate').valid  && !isAscending(address.get('fromdate').value, address.get('todate').value)">
                        From Date should be less than To Date
                      </div>
                    </div>
                  </div>
                </section>
                <section style="display: inline-block; vertical-align: top; padding-left: 30px;">
                  <div [ngClass]="{'has-error': !address.get('todate').valid && address.get('todate').touched}">
                    <label>Date: To</label>
                    <br />
                    <input type="text" formControlName='todate' style="width: 200px; background-color: #fff;"
                      placeholder="yyyy-mm-dd" class="form-control" readonly [min]="minDate" [max]="currentDate"
                      [matDatepicker]="picker2" (focus)="picker2.open()" (click)="picker2.open()">
                    <mat-datepicker #picker2></mat-datepicker>
                    <div *ngIf="address.get('todate').touched && (!address.get('todate').valid || address.get('fromdate').valid && address.get('todate').valid  && !isAscending(address.get('fromdate').value, address.get('todate').value)) "
                      class="alert alert-danger" style="width: 200px;">
                      <div *ngIf="!address.get('todate').valid">
                        This is required
                      </div>
                      <div *ngIf="address.get('fromdate').valid && address.get('todate').valid  && !isAscending(address.get('fromdate').value, address.get('todate').value)">
                        To Date should be greater than From Datep
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <hr>
            </div>
            <button *ngIf="addresses.controls.length < 9" class="btn btn-primary" (click)="addAddress()" style="float: right;">ADD
              ANOTHER ADDRESS</button>
            <div style="clear: both;"></div>
            <p></p>
          </div>
          <section *ngIf="!(form.valid && isBCIDValid()) && form.touched" style="color: #A12622">
            <i class="fas fa-exclamation-triangle"></i> Some required fields have not been completed.
          </section>
          <section style="position: relative;">
            <div [ngBusy]="[busy, busy2]"></div>
            <span style="float: right;">
              <button class="btn btn-secondary" routerLink="/worker-qualification/dashboard">
                <i class="fa fa-save"></i>
                SAVE FOR LATER</button>
              <button style="margin-left: 10px" (click)="gotoStep2()" class="btn btn-primary">SAVE & CONTINUE
                TO STEP 2 <i class="fas fa-chevron-right"></i></button>
            </span>
          </section>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12" style="position: relative">
      <!-- <div [ngBusy]="busy"></div> -->
      <p></p>
      <section class="submit-container">
        <table>
          <tr>
            <td>
              <h2 class="round-icon-wrapper"><i class="fas fa-question"></i></h2>
            </td>
            <td style="padding-left: 10px">
              <h2>Update your personal information</h2>
            </td>
          </tr>
        </table>
        <div class="submit-content">
          <p>If you find an error in your personal information, please contact Service BC, ICBC or AddressChangeBC to
            correct
            it.
          </p>
          <ul>
            <li>
              <a style="color: #fff;" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/change-personal-information">BC
                Service Card</a>
            </li>
            <li>
              <a style="color: #fff;" href="https://www.icbc.com/driver-licensing/getting-licensed/Pages/Change-your-address-or-name.aspx">ICBC</a>
            </li>
            <li>
              <a style="color: #fff;" href="https://www.addresschange.gov.bc.ca/">AddressChangeBC</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="submit-container" style="background-color: #F2F2F2; color:#000; border: none;">
        <h2 style="color: #000">Collection Notice:</h2>
        <div class="submit-content">
          <p>
            The Security Programs Division (SPD) will collect your personal information for the purpose of fulfilling
            the requirements
            of the Cannabis Control and Licensing Act (CCLA) and associated regulations in accordance with Sections 26
            (a)
            and (c) of the Freedom of Information and Protection of Privacy Act. Should you have any questions about
            the
            collection, use, or disclosure of personal information, please contact the Senior Policy Analyst, Security
            Programs
            Division via mail to PO Box 9217 Stn Prov Govt Victoria, BC V8W 9J1; email to
            <a href="mailto:cannabissecurityscreening@gov.bc.ca">cannabissecurityscreening@gov.bc.ca</a>;
            or by telephone at 1-855-587-0185.</p>
        </div>
      </section>
    </div>
  </div>
</div>
