<div class="row extra-padding" >
  <section class="col-md-9">
    <h1>Business Profile</h1>
    <span>Your business profile represents all the legal entities that make up your organization's structure</span>
    <button routerLink="/business-profile"  class="btn btn-primary">Start Business Profile</button>
    <div class="org-structure-container">
      <strong>Organization and Shareholder Structure</strong>
      <!-- <br>
        <span>10181820 B.C. LTD</span>
        <br>
        <span>No Shareholders</span> -->
    </div>

    <app-license-application-summary></app-license-application-summary>
    <br>
    <button routerLink="/lic-app-summary"  class="btn btn-primary">Start New Licence</button>
    <br>
  </section>
  
  <section class="col-md-3">
    <div class="help-container">
      <strong>Need help?</strong>
      <br>
      <span>Contact us for help with your application:</span>
      <br>
      <span>Email:</span>
      <span class="email">cannabisregs@gov.bc.ca</span>
    </div>
  </section>
</div>