.org-structure-container{
    border-radius: 5px;
    background-color: #ddd;
    padding: 2px 5px 3px 5px;
    margin-top: 5px;
}

.help-container{
    border: 1px solid #ccc;
    margin: 5px;
    margin-top: 30px;
}

.email{
    color: #4fc3f7;
}

.blue-heading-bar {
    background-color: #003366;
    background-color: rgba(0, 51, 102, 0.80);
    color: #fff;
    font-size: 24px;
    margin: 0;
    padding: 8px 15px 7px 15px;
}