.org-structure-container{
    border-radius: 5px;
    background-color: #ddd;
    padding: 2px 5px 3px 5px;
    margin-top: 5px;
}

.help-container{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    margin-top: 30px;
    padding: 5px;
}

.email{
    color: #4fc3f7;
}