<div [formGroup]="form">
    <!-- <ng-container>
        <input type="radio" name="bt" value="Society" [(ngModel)]="businessType"> Society <br>
        <input type="radio" name="bt" value="SoleProprietor" [(ngModel)]="businessType"> Sole Prop <br>
        <input type="radio" name="bt" value="PublicCorporation" [(ngModel)]="businessType"> Public Corporation <br>
    </ng-container>

    <section *ngIf="businessType === 'Society'">
        <ul>
            <li>Society: <br>
                <ul>
                    <li>Annual membership fee</li>
                    <li>Number of members</li>
                    <li>Directors and Officers:</li>
                </ul>
            </li>
        </ul>
    </section>
    <section  *ngIf="businessType === 'SoleProprietor'">
        <ul>
            <li>Sole Proprietorshiop: <br>
                <ul>
                    <li>Individual Personal History Summary:</li>
                </ul>
            </li>
        </ul>
    </section>
    <section  *ngIf="businessType === 'Public Corporation'">
        <ul>
            <li>Public Corporation: <br>
                <ul>
                    <li>Indicate shares are publicly traded</li>
                    <li>Directors and Officers:</li>
                </ul>
            </li>
        </ul>
    </section> -->


    <table class="greyGridTable">
        <ng-container *ngIf="changeTypeSuffix === 'Leadership'">
            <thead>
                <tr *ngIf="personalHistoryItems.length > 0">
                    <th style="width: 200px;">First Name</th>
                    <th style="width: 200px;">Last Name</th>
                    <th *ngIf="showPosition()" style="width: 200px;">Position</th>
                    <th style="width: 200px;">Email</th>
                    <th style="width: 150px;">Date of Birth</th>
                    <th *ngIf="showPHSLevel1()">Level 1 Personal History Summary </th>
                    <th *ngIf="false">Level 2 Personal History Summary </th>
                    <th style="background-color: transparent;"></th>
                </tr>
            </thead>
            <ng-container formArrayName="associates">
                <ng-container *ngFor="let associate of associates.controls; let i = index;">
                    <tr *ngIf="associate?.value?.changeType !== 'deleted'" [formGroupName]="i"
                        [ngClass]="{'alt-row': i%2 === 0}">
                        <td>
                            <span *ngIf="!associate.get('edit').value || associate.get('saved').value">
                                {{associate.get('firstNameNew').value}}
                            </span>
                            <app-field [showChevrons]="false"
                                *ngIf="associate.get('edit').value && !associate.get('saved').value"
                                [valid]="!associate.get('firstNameNew').touched || associate.get('firstNameNew').valid"
                                errorMessage="Please enter First Name">
                                <input class="form-control" type="text" formControlName="firstNameNew">
                            </app-field>
                        </td>
                        <td>
                            <span *ngIf="!associate.get('edit').value || associate.get('saved').value">
                                {{associate.get('lastNameNew').value}}
                            </span>
                            <app-field [showChevrons]="false"
                                *ngIf="associate.get('edit').value && !associate.get('saved').value"
                                [valid]="!associate.get('lastNameNew').touched || associate.get('lastNameNew').valid"
                                errorMessage="Please enter Last Name">
                                <input class="form-control" type="text" formControlName="lastNameNew">
                            </app-field>
                        </td>
                        <td *ngIf="showPosition()">
                            <span
                                *ngIf="!associate.get('edit').value">{{getNewLeadershipPosition(associate.value)}}</span>
                            <app-field [showChevrons]="false" [valid]="isPositionValid(associate)"
                                errorMessage="Please choose a position">
                                <ng-container *ngIf="associate.get('edit').value">
                                    <table>
                                        <tr>
                                            <td nowrap>
                                                <input type="checkbox" style="margin-right: 5px;"
                                                    formControlName="isDirectorNew"> <label style="padding-right: 10px;"
                                                    for="" style="font-size:10px;">Director</label> <br>
                                                <input type="checkbox" style="margin-right: 5px;"
                                                    formControlName="isOfficerNew"> <label
                                                    style="padding-right: 10px; font-size:10px;"
                                                    for="">Officer</label><br>
                                            </td>
                                            <td nowrap>
                                                <div *ngIf="rootNode?.businessType !== 'Society'"> <input
                                                        type="checkbox" style="margin-right: 5px;"
                                                        formControlName="isManagerNew"> <label
                                                        style="padding-right: 10px; font-size:10px;" for="">Senior
                                                        Manager</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </ng-container>
                            </app-field>
                        </td>
                        <td>
                            <span *ngIf="!associate.get('edit').value">{{associate.get('emailNew').value}}</span>
                            <app-field *ngIf="associate.get('edit').value" [showChevrons]="false"
                                [valid]="!associate.get('emailNew').touched || associate.get('emailNew').valid"
                                errorMessage="Please enter email">
                                <input class="form-control" type="text" formControlName="emailNew">
                            </app-field>
                        </td>
                        <td>
                            <span
                                *ngIf="!associate.get('edit').value">{{associate.get('dateofBirthNew').value | date}}</span>
                            <app-field [showChevrons]="false" *ngIf="associate.get('edit').value"
                                [valid]="!associate.get('dateofBirthNew').touched || associate.get('dateofBirthNew').valid"
                                errorMessage="Please enter Bith Date">
                                <input type="text" formControlName="dateofBirthNew"
                                    style="width: 120px; background-color: #fff;" autocomplete="false"
                                    placeholder="yyyy-mm-dd" class="form-control" [matDatepicker]="picker2"
                                    [max]="YearsAgo19" (focus)="picker2.open()" (click)="picker2.open()">
                                <mat-datepicker #picker2></mat-datepicker>
                            </app-field>
                        </td>
                        <td *ngIf="showPHSLevel1()">
                            <span *ngIf="associate.get('isContactComplete').value === 'Yes'">Information Received</span>
                            <button
                                *ngIf="associate.get('isContactComplete').value !== 'Yes' && associate.get('phsLink').value"
                                class="btn btn-primary" (click)="copyMessage(associate.get('phsLink').value)">Copy
                                Link</button>
                        </td>
                        <td *ngIf="false"></td>
                        <td>
                            <i *ngIf="!associate.get('edit').value" class="btn btn-primary"
                                (click)="associate.get('edit').value = true;" class="fas fa-pencil-alt"
                                style="margin-right: 10px;"></i>
                            <i class="fas fa-save save" *ngIf="associate.get('edit').value"
                                (click)="saveLog(associate.value, i)" style="margin-right: 10px;"></i> <br>
                            <i class="fas fa-trash-alt" (click)="deleteChange(associate.value)" style=""></i>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="changeTypeSuffix === 'IndividualShareholder'">
            <thead>
                <tr *ngIf="personalHistoryItems.length > 0">
                    <th style="width: 200px;">First Name</th>
                    <th style="width: 200px;">Last Name</th>
                    <th style="width: 200px;">Shares (%)</th>
                    <th style="width: 150px;">Date of Birth</th>
                    <th style="width: 200px;">Email</th>
                    <th *ngIf="false">Liquor Associate Status </th>
                    <th *ngIf="false">Cannabis Associate Status </th>
                    <th style="background-color: transparent;"></th>
                </tr>
            </thead>
            <ng-container formArrayName="associates">
                <ng-container *ngFor="let associate of associates.controls; let i = index;">
                    <tr *ngIf="associate?.value?.changeType !== 'deleted'" [formGroupName]="i"
                        [ngClass]="{'alt-row': i%2 === 0}">
                        <td>
                            <span *ngIf="!associate.get('edit').value">{{associate.get('firstNameNew').value}}</span>
                            <app-field [showChevrons]="false" *ngIf="associate.get('edit').value"
                                [valid]="!associate.get('firstNameNew').touched || associate.get('firstNameNew').valid"
                                errorMessage="Please enter First Name">
                                <input class="form-control" type="text" formControlName="firstNameNew">
                            </app-field>
                        </td>
                        <td>
                            <span *ngIf="!associate.get('edit').value">{{associate.get('lastNameNew').value}}</span>
                            <app-field [showChevrons]="false" *ngIf="associate.get('edit').value"
                                [valid]="!associate.get('lastNameNew').touched || associate.get('lastNameNew').valid"
                                errorMessage="Please enter Last Name">
                                <input class="form-control" type="text" formControlName="lastNameNew">
                            </app-field>
                        </td>
                        <td>
                            <span
                                *ngIf="!associate.get('edit').value">{{associate.get('interestPercentageNew').value}}</span>
                            <app-field [showChevrons]="false" *ngIf="associate.get('edit').value"
                                [valid]="!associate.get('interestPercentageNew').touched || associate.get('interestPercentageNew').valid"
                                errorMessage="Please enter Shares">
                                <input class="form-control" type="text" formControlName="interestPercentageNew">
                            </app-field>
                        </td>
                        <td>
                            <span
                                *ngIf="!associate.get('edit').value">{{associate.get('dateofBirthNew').value | date}}</span>

                            <app-field [showChevrons]="false" *ngIf="associate.get('edit').value"
                                [valid]="!associate.get('dateofBirthNew').touched || associate.get('dateofBirthNew').valid"
                                errorMessage="Please enter Birth Date">
                                <input type="text" formControlName="dateofBirthNew"
                                    style="width: 120px; background-color: #fff;" autocomplete="false"
                                    placeholder="yyyy-mm-dd" class="form-control" [matDatepicker]="picker"
                                    (focus)="picker.open()" (click)="picker.open()">
                                <mat-datepicker #picker></mat-datepicker>
                            </app-field>
                        </td>
                        <td>
                            <span *ngIf="!associate.get('edit').value">{{associate.get('emailNew').value}}</span>
                            <input *ngIf="associate.get('edit').value" class="form-control" type="text"
                                formControlName="emailNew">
                        </td>
                        <td *ngIf="false"></td>
                        <td *ngIf="false"></td>
                        <td>
                            <i *ngIf="!associate.get('edit').value" class="btn btn-primary"
                                (click)="associate.get('edit').value = true;" class="fas fa-pencil-alt"
                                style="margin-right: 10px;"></i>
                            <i class="fas fa-save" *ngIf="associate.get('edit').value"
                                (click)="saveLog(associate.value, i)" style="margin-right: 10px;"></i>
                            <i class="fas fa-trash-alt" (click)="deleteChange(associates.value)" style=""></i>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="changeTypeSuffix === 'BusinessShareholder'">
            <thead>
                <tr *ngIf="personalHistoryItems.length > 0">
                    <th style="width: 200px;">Business Name</th>
                    <th style="width: 200px;">Shares (%)</th>
                    <th style="width: 200px;">Business Type</th>
                    <th style="width: 200px;">Email</th>
                    <th *ngIf="false">Liquor Associate Status </th>
                    <th *ngIf="false">Cannabis Associate Status </th>
                    <th style="background-color: transparent;"></th>
                </tr>
            </thead>

            <ng-container formArrayName="associates">
                <ng-container *ngFor="let associate of associates.controls; let i = index;">
                    <tr *ngIf="associate?.value?.changeType !== 'deleted'" [formGroupName]="i"
                        [ngClass]="{'alt-row': i%2 === 0}">
                        <td>
                            <i class="far fa-caret-square-down"
                                *ngIf="associate.get('collapse').value && !associate.get('edit').value"
                                (click)="associate.get('collapse').value = false;" style="margin-right: 10px;"></i>
                            <i class="far fa-caret-square-up"
                                *ngIf="!associate.get('collapse').value && !associate.get('edit').value"
                                (click)="associate.get('collapse').value = true;" style="margin-right: 10px;"></i>
                            <span *ngIf="!associate.get('edit').value">{{associate.get('businessNameNew').value}}</span>
                            <input *ngIf="associate.get('edit').value" class="form-control" type="text"
                                formControlName="businessNameNew">
                        </td>
                        <td>
                            <span
                                *ngIf="!associate.get('edit').value">{{associate.get('interestPercentageNew').value}}</span>
                            <input *ngIf="associate.get('edit').value" class="form-control" type="text"
                                formControlName="interestPercentageNew">
                        </td>
                        <td>
                            <select class="form-control" style="width: 250px;" formControlName="businessType">
                                <option value="">Choose the organization type</option>
                                <option value="PrivateCorporation">Private Corporation</option>
                                <option value="PublicCorporation">Public Corporation</option>
                                <option value="Partnership">Partnership</option>
                                <option value="SoleProprietor">Sole Proprietor</option>
                                <option value="Society">Society</option>
                            </select>
                        </td>
                        <td>
                            <span *ngIf="!associate.get('edit').value">{{associate.get('emailNew').value}}</span>
                            <input *ngIf="associate.get('edit').value" class="form-control" type="text"
                                formControlName="emailNew">
                        </td>
                        <td *ngIf="false"></td>
                        <td *ngIf="false"></td>
                        <td>
                            <i *ngIf="!associate.get('edit').value" class="btn btn-primary"
                                (click)="associate.get('edit').value = true; associate.get('collapse').value = true;"
                                class="fas fa-pencil-alt" style="margin-right: 10px;"></i>
                            <i class="fas fa-save" *ngIf="associate.get('edit').value"
                                (click)="saveLog(associate.value); associate.get('collapse').value = false;"
                                style="margin-right: 10px;"></i>
                            <i class="fas fa-trash-alt" (click)="deleteChange(associates.value)" style=""></i>
                        </td>

                    </tr>
                    <tr *ngIf="!associate.get('collapse').value;">
                        <td colspan="10" style="background-color: transparent; text-align:left;">
                            <app-org-structure [node]="associate.value" [account]="account"></app-org-structure>
                        </td>
                    </tr>
                    <tr *ngIf="associate.get('collapse').value;" style="height:20px;">
                        <td colspan="10" style="background-color: black; text-align:left; color:white; font-size:9px;">
                            Click to Expand Business Information
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </ng-container>
    </table>
    <br>
    <button class="btn btn-secondary" (click)="addAssociate()">
        <i class="fas fa-plus"></i>
        {{addLabel}}</button>
</div>