<div [formGroup]="form">
    <input type="text" class="form-control" style="width: 500px;" placeholder="Enter Licence #" formControlName="autocompleteInput" [matAutocomplete]="auto"
           #autocomplete (focus)="autoCompFldFocus()">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelect($event)" [displayWith]="autocompleteDisplay">
      <mat-option *ngFor="let item of autocompleteLicences" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
    <br>
    <mat-progress-bar *ngIf="licenceRequestInProgress" mode="indeterminate"></mat-progress-bar>
  </div>
