<mat-card class="mat-elevation-z0">
  <mat-progress-bar class="mt-1 mb-1" *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!loaded">
    <h1 style="text-align:center"> Please wait. Receipt is loading...</h1>
  </div>
  <div class="container" style="margin-left: 0px;">
    <!-- <div [ngBusy]="busy" ></div> -->
    <div *ngIf="isApproved">
      <div>
        <span class="print-page" (click)="printPage()">
          <!--<mat-icon aria-label="Print Page" style="text-decoration: solid">print</mat-icon>-->
          <fa-icon [icon]="faPrint" class="fa-lg"></fa-icon>
          <a href="javascript: void(0)"> Print Page</a>
        </span>
        <h1 style="color: green">Payment Approved</h1>
        <p></p>
        <div class="table" style="padding: 0px;">
          <table>
            <tr>
              <td>Card Type</td>
              <td>{{cardType}}</td>
            </tr>
            <tr>
              <td>Date/Time</td>
              <td>{{trnDate}}</td>
            </tr>
            <tr>
              <td>Invoice Number</td>
              <td>{{invoice}}</td>
            </tr>
            <tr>
              <td>Transaction ID</td>
              <td>{{trnId}}</td>
            </tr>
            <tr>
              <td>Authorization</td>
              <td>{{authCode}}</td>
            </tr>
            <tr>
              <td>Amount</td>
              <td>{{trnAmount | currency}}</td>
            </tr>
            <tr *ngIf="applicationType">
              <td>Application Type</td>
              <td>{{applicationType}}</td>
            </tr>
          </table>
        </div>
      </div>

      <hr>
      <div>
        <p>
          Applications cannot be processed until all required documentation is received. A list of applicable
          associates can be found on the application dashboard.
        </p>
        <p>
          The applicant may be notified by the Liquor and Cannabis Regulation Branch if any information is missing, or
          if
          more information is required. If the applicant wishes to make any changes to the application, please contact
          the
          LCRB at
          <span *ngIf="isLiquor"><a href="mailto:lcrbliquor@gov.bc.ca">LCRBLiquor@gov.bc.ca</a>.</span>
          <span *ngIf="!isLiquor"><a href="mailto:lcrbcannabis@gov.bc.ca">LCRBCannabis@gov.bc.ca</a>.</span>
        </p>
        <br>
        <div [innerHTML]="htmlContent.nextSteps"></div>
        <div *ngIf="!htmlContent?.nextSteps">


        </div>
        <br>
        <p>Please save this receipt for your records.</p>

      </div>
    </div>

    <div *ngIf="!isApproved && loaded">
      <br />
      <div class="error">
        <strong>{{paymentTransactionTitle}}</strong>
        <br />
        <br />
        <div [innerHTML]="paymentTransactionMessage"></div>
      </div>
    </div>
    <div *ngIf="loaded" style="padding-top: 20px">
      <p>
        <a class="" routerLink="/dashboard">
          <fa-icon [icon]="faAngleDoubleLeft" class="fa-lg" style="margin-right: 5px" aria-hidden="true"></fa-icon>Return to Dashboard
        </a>
      </p>
    </div>
  </div>
</mat-card>
