<h3 class="blue-header ngtest-payment">CONTACT</h3>
<div class="content-bottom">
  <address [formGroup]="form">
    <app-field
      label="First Name"
      [required]="true"
      [valid]="isValidOrNotTouched('contactPersonFirstName')"
      errorMessage="Please enter the business contact's first name">
      <input
        class="form-control"
        style="width: 350px"
        type="text"
        autocomplete="given-name"
        formControlName="contactPersonFirstName"
        id="contactPersonFirstName" />
    </app-field>

    <app-field
      label="Last Name"
      [required]="true"
      [valid]="isValidOrNotTouched('contactPersonLastName')"
      errorMessage="Please enter the business contact's last name">
      <input
        class="form-control"
        style="width: 350px"
        type="text"
        autocomplete="family-name"
        formControlName="contactPersonLastName"
        id="contactPersonLastName" />
    </app-field>

    <app-field label="Title/Position" [required]="false" [valid]="true">
      <input class="form-control" style="width: 350px" type="text" formControlName="contactPersonRole" />
    </app-field>

    <app-field
      label="Phone Number (main)"
      [required]="true"
      [valid]="isValidOrNotTouched('contactPersonPhone')"
      errorMessage="Please enter the business contact's 10-digit phone number">
      <input
        class="form-control"
        style="width: 250px"
        maxlength="10"
        autocomplete="tel"
        (keydown)="rejectIfNotDigitOrBackSpace($event)"
        type="text"
        formControlName="contactPersonPhone" />
    </app-field>

    <app-field
      label="Email"
      [required]="true"
      [valid]="isValidOrNotTouched('contactPersonEmail')"
      errorMessage="Please enter the business contact's email address"
      afterLabelText="By submitting the email address, you agree that the Liquor and Cannabis Regulation Branch can use it to communicate with you about your application.">
      <input
        class="form-control"
        style="width: 350px"
        type="text"
        autocomplete="email"
        formControlName="contactPersonEmail"
        id="contactPersonEmail"
        (blur)="trimValue(form.get('contactPersonEmail'))" />
    </app-field>
  </address>
</div>
