<div>
  <p *ngIf="dataSource?.data?.length">
    The following individuals have been identified as key personnel:
  </p>

  <p *ngIf="!dataSource?.data?.length"> 
    There are no key personnel on file.
  </p>

  <div *ngIf="dataSource?.data?.length" class="example-container mat-elevation-z0">

    <div>
      <mat-table #table [dataSource]="dataSource">

        <!-- Column -->
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.jobTitle}} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="dateofappointment">
          <mat-header-cell *matHeaderCellDef> Date of Appointment </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dateofappointment | date:'yyyy-MM-dd' }} </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="javascript: void(0)" (click)="openPersonDialog(element)">Edit</a>
          </mat-cell>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="javascript: void(0)" (click)="deleteIndividual(element)">Delete</a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>

  <p></p>
  <a class="globalButton btn btn-primary" tabindex="1" (click)="openPersonDialog(null)">
    <strong>Add Key Personnel</strong>
    <br>
  </a>
</div>