/* You can add global styles to this file, and also import other style files */

/* Controls Survey styles */

@import '~@angular/material/theming';
@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";
@include mat-core();
$primary: mat-palette($mat-grey, 400);
$accent: mat-palette($mat-indigo, 500, A200, A400);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
body {
    color: #494949;
    background: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #494949;
    font: MyriadWebPro, Calibri, Arial, "sans serif"
}

.btn.btn-primary {
    background-color: #38598a;
    border: #38598a 1px solid;
    color: #ffffff;
    min-width: 120px;
    font-size: 16px;
    border-radius: 5px;
}

.btn.btn-secondary {
    color: #fff;
    border: #003366 1px solid;
    background-color: #666666;
    min-width: 120px;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
    border: #494949 1px solid;
}

.btn-primary:hover {
    background-color: rgba(0, 51, 102, 1) !important;
    color: #ffffff;
    border-color: #204d74;
    border-radius: 0px;
}

.btn-secondary:hover {
    background-color: rgba(153, 153, 153, 1);
    border-color: #ccc;
    color: #ffffff;
}

.btn-secondary:focus {
    border-color: #ccc;
    box-shadow: 0 0 0 0.2rem #ccc;
}

.btn.btn-primary.sv_prev_btn {
    background-color: #ccc;
    border: #ccc 1px solid;
    color: #000;
    min-width: 120px;
    font-size: 16px;
    border-radius: 0px;
}

.btn.btn-primary.sv_prev_btn:hover {
    background-color: #2f567b !important;
    color: #ffffff;
    border-color: #204d74;
    border-radius: 0px;
}

.ctx-home {
    background: #f2f2f2
}

.panel-footer {
    background-color: #fff;
    border-top: none;
}

p {
    font-weight: Regular;
    font-size: 14px #494949
}

h1 {
    font-weight: Semi-bold;
    font-size: 42px;
    color: #494949;
}

h2 {
    font-weight: Semi-bold;
    font-size: 24px;
    color: #494949;
}

h3 {
    font-weight: Semi-bold;
    font-size: 20px;
    color: #494949;
}

h4 {
    font-weight: Semi-bold;
    font-size: 16px;
    color: #494949;
}

h5 {
    font-size: 21px;
    color: #494949;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.form-control {
    border-radius: 5px;
}

.extra-padding-left {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 575.98px) {
    .extra-padding-left {
        margin-left: 0;
    }
}

.alert {
    padding: 3px 5px 3px;
    margin-top: -9px;
}