/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";

@include mat-core();

$primary: mat-palette($mat-black, 400);
$accent: mat-palette($mat-indigo, 500, A200, A400);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);





.ctx-home {
  background: #f2f2f2;
}


h1 {
  font-size: 36px;
  padding-top: 15px;
  color: #494949;
}
h2 {
  font-size: 28px;
  color: #494949;
}
h3 {
  font-size: 24px;
  color: #494949;
}

.mrgn-tp-sm {
  margin-top: 8px;
}
.mrgn-tp-md {
  margin-top: 1.5rem;
}
.mrgn-tp-lg {
  margin-top: 3rem;
}

.mrgn-bttm-sm {
  margin-bottom: 8px;
}
.mrgn-bttm-md {
  margin-bottom: 1.5rem;
}
.mrgn-bttm-lg {
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.05em;
}


.btn-group > .btn {
  // mygovbc CSS adds extra margin to buttons
  margin-right: 0;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 20px;
}

// needed for sidebar - override normal breakpoint-dependent container width
.container {
  width: auto;
}

// loading indicator
@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

$indicator-color: #666;
$indicator-size: 1em;
$indicator-thickness: 0.2em;
.loading-indicator {
	&, &:after {
		border-radius: 50%;
		width: $indicator-size;
		height: $indicator-size;
	}
	animation: spin 1.1s infinite linear;
	border: $indicator-thickness solid transparent;
	border-top-color: $indicator-color;
	line-height: 1;
	margin: 0 auto;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	&:after {
		position: absolute;
		top: (- $indicator-thickness);
		left: (- $indicator-thickness);
		border: $indicator-thickness solid transparentize($indicator-color, 0.8);
		content: ' ';
	}
}

.page-load {
  font-size: 2rem;
}


// survey styles

.survey-container {
  font-size: 16px;
  .sv_page_description {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 34px;
    font-weight: 600;
  }
  h4 {
    color: #556077;
    font-size: 22px;
    margin: 5px 0;
  }
  .sv_p_title {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0 8px;
    padding-bottom: 3px;
    border-bottom: 2px solid #e0e3ee;
  }
  .sv_row {
    // border: 1px solid #ccf;
    // padding: 10px;
  }
  .sv_page .sv_qstn {
    padding-top: 0;
    padding-bottom: 1em;
  }
  .sv_page > .sv_row {
    margin: 1em 0;
  }
  .sv_page > .sv_row > .sv_qstn {

    padding-top: 1em;
  }
  .sv_q_title {
    color: #494949;
    font-size: 24px;
    margin-bottom: 0.5em;
    margin-top: 5px;
  }
  .sv_q_description {
    font-size: 16px;
    margin-bottom: 0.8em;
  }
  .panel-footer {
    background: none;
    border: none;
    padding: 0;
  }
  .form-control {
    font-size: 16px;
  }
  .survey-address-line + .survey-address-line {
    margin-top: 0.8em;
  }
  .survey-address-label {
    font-size: 16px;
    font-weight: normal;
  }
}

.sv_p_container {
  // survey panel
  background: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 1em 0.5em 0.5em;
  margin: 0.5em 0;
}

.survey-helptext, .survey-infotext {
  background: #f8faff;
  border: 1px solid #d3d3d8;
  border-radius: 4px;
  margin: 0.5em 0 0 0;
  .panel-heading {
    color: #55555a;
  }
  .panel-title {
    cursor: pointer;
    display: block;
    font-size: 18px;
  }
  .panel-body {
    background: #fff;
    border: 1px solid #e0e3e9;
    border-radius: 2px;
    display: none;
    margin: 0 5px 5px 5px;
    padding: 10px;
  }
  .heading-icon {
    margin-right: 0.5em;
  }
  .heading-expand {
    float: right;
  }
  &.expanded .panel-body {
    display: block;
  }
}

.survey-yesno {
  position: relative;
  input {
    position: absolute;
    visibility: hidden;
  }
  span {
    background: #eee;
    border: 2px solid #ccc;
    border-radius: 50%;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    margin-top: 4px;
    margin-right: 0.8em;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
    user-select: none;
  }
  input + span:hover {
    border-color: #38598a;
    box-shadow: 0 1px 2px 1px rgba(#000, 0.1);
    color: #38598a;
  }
  input:checked + span {
    background: #38598a;
    border: 2px solid #ccc;
    color: #fff;
  }
}

.survey-helptext {
  background: #fff6f6;
  border: 1px solid #d8d0d0;
  .panel-heading {
    color: #5a5555;
  }

  .panel-body {
    background: #fff;
    border: 1px solid #e9e0e0;
  }
}
