/* You can add global styles to this file, and also import other style files */

/* Controls Survey styles */

@import '~@angular/material/theming';
@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";
@include mat-core();
$primary: mat-palette($mat-grey, 400);
$accent: mat-palette($mat-indigo, 500, A200, A400);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
body {
    color: #494949;
    background: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #494949;
    font-style: MyriadWebPro, Calibri, Arial, "sans serif";
}

.btn.btn-primary {
    background-color: #38598a;
    border: #38598a 1px solid;
    color: #ffffff;
    min-width: 120px;
    font-size: 16px;
    border-radius: 5px;
}

.btn.btn-secondary {
    background-color: #fff;
    border: #ccc 1px solid;
    color: #003366;
    min-width: 120px;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
}

.btn-primary:hover {
    background-color: rgba(0, 51, 102, 1) !important;
    color: #ffffff;
    border-color: #204d74;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #F2F2F2;
}

.btn-secondary:focus {
    border-color: #ccc;
    box-shadow: 0 0 0 0.2rem #ccc;
}

.btn.btn-primary.sv_prev_btn {
    background-color: #ccc;
    border: #ccc 1px solid;
    color: #000;
    min-width: 120px;
    font-size: 16px;
    border-radius: 5px;
}

.btn.btn-primary.sv_prev_btn:hover {
    background-color: #2f567b !important;
    color: #ffffff;
    border-color: #204d74;
    border-radius: 5px;
}

.ctx-home {
    background: #f2f2f2
}

.panel-footer {
    background-color: #fff;
    border-top: none;
}

p {
    font-weight: Regular;
    font-size: 14px #494949
}

h1 {
    font-weight: Semi-bold;
    font-size: 42px;
    color: #494949;
}

h2 {
    font-weight: Semi-bold;
    font-size: 24px;
    color: #494949;
}

h3 {
    font-weight: Semi-bold;
    font-size: 20px;
    color: #494949;
}

h4 {
    font-weight: Semi-bold;
    font-size: 16px;
    color: #494949;
}

h5 {
    font-size: 21px;
    color: #494949;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.form-control {
    // border-radius: 5px;
    display: inline-block;
}

.extra-padding-left {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 575.98px) {
    .extra-padding-left {
        margin-left: 0;
    }
}

.alert {
    padding: 3px 5px 3px;
    margin-top: -9px;
}

.round-icon-wrapper {
    height: 48px;
    line-height: 55px;
    width: 48px;
    border-radius: 48px;
    background-color: #7596C8;
    text-align: center;
    display: inline-block;
}

.red-snackbar {
    background: #F44336;
}

.green-snackbar {
    background: #00ff21;
}

.blue-header {
    background-color: #38598A;
    color: #fff;
    padding: 10px 7px 7px 15px;
    font-size: 16px;
    font-weight: semi-bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.error-states {
    color: #d8292f
}

.error-summary {
    background-color: #F2F2F2;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: #d8292f
}

.form-wrapper {
    padding-left: 50px;
    padding-right: 30px;
}

@media (max-width: 575.98px) {
    .form-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.padded-section {
    padding-left: 15px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}
