<div class="col-md-12" *ngIf="componentLoaded && businessType">
  <h1>Business Profile</h1>
  <h2>{{ businessName }}</h2>
  <section *ngIf="['Coop', 'Estate', 'Trust'].indexOf(businessType) == -1">
    <div class="col-sm-3 col-md-2" style="padding-left: 0">
      <!-- required for floating -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li *ngIf="tabStructure.indexOf('before-you-start') !== -1" [ngClass]="{'active': view_tab == 'before-you-start'}">
          <a (click)="changeTab('before-you-start')">Before You Start</a>
        </li>
        <li *ngIf="tabStructure.indexOf('corporate-details') !== -1" [ngClass]="{'active': view_tab == 'corporate-details'}">
          <a (click)="changeTab('corporate-details')">
            <span *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1">Corporate Details</span>
            <span *ngIf="businessType == 'Society'">Society Details</span>
            <span *ngIf="['GeneralPartnership', 'LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1">Partnership Details</span>
            <span *ngIf="businessType == 'SoleProprietor'">Sole Proprietorship Details</span>
          </a>
        </li>
        <li *ngIf="tabStructure.indexOf('organization-structure') !== -1" [ngClass]="{'active': view_tab == 'organization-structure'}">
          <a (click)="changeTab('organization-structure')">
            <span>Organization Structure</span>
          </a>
        </li>
        <li *ngIf="tabStructure.indexOf('directors-and-officers') !== -1" [ngClass]="{'active': view_tab == 'directors-and-officers'}">
          <a (click)="changeTab('directors-and-officers')">
            <span *ngIf="['Society', 'SoleProprietor'].indexOf(businessType) == -1">Directors &amp; Officers</span>
            <span *ngIf="['Society'].indexOf(businessType) !== -1">Directors &amp; Senior Managers</span>
            <span *ngIf="['SoleProprietor'].indexOf(businessType) !== -1">Owner</span>
          </a>
        </li>
        <li *ngIf="tabStructure.indexOf('key-personnel') !== -1" [ngClass]="{'active': view_tab == 'key-personnel'}">
          <a (click)="changeTab('key-personnel')">
            <span>Key Personnel</span>
          </a>
        </li>
        <li *ngIf="tabStructure.indexOf('shareholders') !== -1" [ngClass]="{'active': view_tab == 'shareholders'}">
          <a (click)="changeTab('shareholders')">
            <span *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1">Shareholders</span>
            <span *ngIf="['GeneralPartnership','LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1">Partners</span>
          </a>
        </li>
        <li *ngIf="tabStructure.indexOf('connections-to-producers') !== -1" [ngClass]="{'active': view_tab == 'connections-to-producers'}">
          <a (click)="changeTab('connections-to-producers')">
            <span>Connections to Producers</span>
          </a>
        </li>
        <li *ngIf="tabStructure.indexOf('finance-integrity') !== -1" [ngClass]="{'active': view_tab == 'finance-integrity'}">
          <a (click)="changeTab('finance-integrity')">
            <span>Financial Information</span>
          </a>
        </li>
        <li *ngIf="tabStructure.indexOf('security-assessment') !== -1" [ngClass]="{'active': view_tab == 'security-assessment'}">
          <a (click)="changeTab('security-assessment')">
            <span>Authorizations</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-9">
      <!-- 
      <select name="" id="" [(ngModel)]="businessType">
        <option value="PrivateCorporation">PrivateCorporation</option>
        <option value="GeneralPartnership">GeneralPartnership</option>
        <option value="Society">Society</option>
        <option value="SoleProprietor">SoleProprietor</option>
        <option value="UnlimitedLiabilityCorporation">UnlimitedLiabilityCorporation</option>
        <option value="LimitedLiabilityCorporation">LimitedLiabilityCorporation</option>
        <option value="PublicCorporation">PublicCorporation</option>
        <option value="LimitedPartnership">LimitedPartnership</option>
        <option value="LimitedLiabilityPartnership">LimitedLiabilityPartnershipy</option>
      </select> 
      <br>
    -->

      <!-- Tab panes -->
      <div>
        <router-outlet></router-outlet>
      </div>
      <p>&nbsp;</p>
      <div class="col-md-10 row">
        <a class="globalButton" *ngIf="view_tab != 'before-you-start'" class="btn btn-secondary" tabindex="1" (click)="back()">
          <strong>Back</strong>
          <br>
        </a>
        &nbsp;
        <a *ngIf="!isOnLastTab()" class="globalButton" class="btn btn-primary" tabindex="2" (click)="next()">
          <strong *ngIf="view_tab != 'before-you-start'">Save and Continue</strong>
          <strong *ngIf="view_tab == 'before-you-start'">Start</strong>
          <strong *ngIf="view_tab == 'Authorizations'">Done</strong>
          <br>
        </a>
        <a *ngIf="isOnLastTab()" class="globalButton" class="btn btn-primary" tabindex="2" routerLink="/dashboard">
          <strong>Go To Dashboard</strong>
          <br>
        </a>
      </div>
    </div>
  </section>
  <section class="container" *ngIf="['Coop', 'Estate', 'Trust'].indexOf(businessType) !== -1">
    <h2>Before You Start</h2>
    <p>
      This organization type is not available on the beta version of the Cannabis Licensing application.
      <br> Please contact the Liquor Control and Licensing Branch for assistance in completing this business profile
    </p>
    <br>
    <span>Contact Phone #:</span>
    <br>
    <span>Victoria 250 952-5787</span>
    <br>
    <span>Toll Free 1 866 209-2111</span>
    <br>
    <br>
    <span>Email:</span>
    <span class="email">LCLBHelpDesk@gov.bc.ca</span>
  </section>
</div>