

<div [ngBusy]="[busy]"></div>
<div class="row mb-3">
    <div class="col" >
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 w-100" style="padding:5px;">
        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <!--mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox-->
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Submitted Date -->
        <ng-container matColumnDef="dateSubmitted">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted Date</th>
          <td mat-cell *matCellDef="let row" class="mat-body-1">
            {{row.dateSubmitted | date: 'yyyy-MM-dd HH:mm:ss'}}
          </td>
        </ng-container>

        <!-- Event Name -->
        <ng-container matColumnDef="eventName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Name</th>
          <td mat-cell *matCellDef="let row" class="mat-body-1">
            <button mat-button color="primary" (click)="openApplication(row.specialEventId)">{{row.eventName}}</button>
          </td>
        </ng-container>

        <!-- Start Date -->
        <ng-container matColumnDef="eventStartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let row" class="mat-body-1">
            {{row.eventStartDate | date: 'MMM dd, yyyy'}}
          </td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="eventStatusLabel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row" class="mat-body-1">{{row.eventStatus}}</td>
        </ng-container>

        <!-- Assigned -->
        <ng-container matColumnDef="policeDecisionByLabel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned</th>
          <td mat-cell *matCellDef="let row" class="mat-body-1">{{row.policeDecisionBy ? row.policeDecisionBy.name : "Unassigned"}}</td>
        </ng-container>

        <!-- Size -->
        <ng-container matColumnDef="maximumNumberOfGuests">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
          <td mat-cell *matCellDef="let row" class="mat-body-1">{{row.maximumNumberOfGuests}}</td>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="typeOfEventLabel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let row" class="mat-body-1">{{row.typeOfEventLabel}}</td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row" class="p-0">
            <mat-form-field color="warn" appearance="outline">
              <mat-label>Choose assignee from list</mat-label>
                   <mat-select [id]="'assignee_' + row.specialEventId" placeholder="Assignee" [ngModel]="row.policeDecisionBy ? row.policeDecisionBy.id : undefined" (selectionChange)="updateValue($event)">
                         <mat-option *ngFor="let contact of availableContacts; let i = index" [value]="contact.id" >
                              {{contact.firstname}} {{contact.lastname}}
                         </mat-option>
                   </mat-select>
              </mat-form-field>&nbsp;
            <button mat-flat-button color="primary" (click)="assign(row)">{{isAssigned(row) ? 'Re-Assign' : 'Assign'}}</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="col-3 d-flex align-items-center">
      <!--button mat-raised-button color="primary" (click)="batchAssign()">Assign</button-->
    </div>
    <div class="col-2 d-flex align-items-center">
      <span>Displaying <strong>{{dataSource.data.length}}</strong> application form(s)</span>
    </div>
    <div class="col-7">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>


