<div>
  <h1 style="margin-top: 0">Financial Information</h1>

  <section>
    <label *ngIf="['PrivateCorporation', 'UnlimitedLiabilityCorporation', 'LimitedLiabilityCorporation', 'PublicCorporation'].indexOf(businessType) !== -1">Has the corporation been operating for more than one year?</label>
    <label *ngIf="['SoleProprietor'].indexOf(businessType) !== -1">Has the business been operating for more than one year?</label>
    <label *ngIf="['Society'].indexOf(businessType) !== -1">Has the society been operating for more than one year?</label>
    <label *ngIf="['GeneralPartnership','LimitedPartnership', 'LimitedLiabilityPartnership'].indexOf(businessType) !== -1">Has the partnership been operating for more than one year?</label>
    <br>
    <input type="radio" group="moreThanAYear" value='yes' [(ngModel)]="operatingForMoreThanOneYear"> Yes
    <br>
    <input type="radio" group="moreThanAYear" value='no' [(ngModel)]="operatingForMoreThanOneYear"> No
  </section>

  <section *ngIf="operatingForMoreThanOneYear =='yes' || operatingForMoreThanOneYear == 'no'">
    <h2>Upload the following documents</h2>
    <label for="">1. A Financial Integrity Form, including required supporting documents identified in the form</label>
    <br>

    <a href="/documents/example.txt" download>
      <button class="btn btn-primary">Download Form</button>
    </a>
  </section>

  <section *ngIf="operatingForMoreThanOneYear =='yes' || operatingForMoreThanOneYear == 'no'">
    <br>
    <div *ngIf="operatingForMoreThanOneYear =='yes'"><label for="">2. Annual financial statements for the past three years including:</label></div>
    <div *ngIf="operatingForMoreThanOneYear =='no'"><label for="">2. Projected financial statements, including:</label></div>
    <ul>
      <li>Balance sheet</li>
      <li>Profit and loss statement</li>
      <li>Cash flows</li>
      <li *ngIf="operatingForMoreThanOneYear =='yes'">Notes to the financial statements describing related party transactions, debt agreements, commitments, and other material
        agreements
      </li>
      <li *ngIf="operatingForMoreThanOneYear == 'no'">Assumptions used for projections</li>
    </ul>
  </section>

  <section *ngIf="operatingForMoreThanOneYear =='yes'">
    <label for="">3. Tax statement for the past three years, including:</label>
    <br>
    <ul>
      <li>Income tax submissions</li>
      <li>Notice of Assessment or the equivalent document from the relevant jurisdiction.</li>
    </ul>
  </section>

  <app-file-uploader documentType="Financial Information" [accountId]="accountId"></app-file-uploader>
</div>