<div style="max-width: 1200px">
    <mat-horizontal-stepper [linear]="true" [selectedIndex]="selectedIndex" (selectionChange)="selectionChange($event)"
        #stepper style="border: solid #ccc 1px; margin: 20px; border-radius: 20px; background-color: white;">
        <ng-template matStepperIcon="edit">
            <fa-icon [icon]="faCheck"></fa-icon>
        </ng-template>

            <mat-step [completed]="isStepCompleted('applicant')" [editable]="this.isFormEditable">
                <ng-template matStepLabel>Applicant Information</ng-template>
                <app-applicant [account]="account" [sepApplication]="application" [localId]="localId" *ngIf="stepper.selectedIndex === 0"
                    class="w-100" (saveComplete)="completeStep('applicant', stepper, $event)" #applicant>
                </app-applicant>
            </mat-step>

            <mat-step [completed]="isStepCompleted('eligibility')" [editable]="this.isFormEditable">
                <ng-template matStepLabel>Eligibility Questionnaire</ng-template>
                <app-eligibility [account]="account" [localId]="localId" *ngIf="stepper.selectedIndex === 1"
                    class="w-100" (saveComplete)="completeStep('eligibility', stepper, $event)" #eligibility>
                </app-eligibility>
            </mat-step>

            <mat-step [completed]="isStepCompleted('event')" [editable]="this.isFormEditable">
                <ng-template matStepLabel>Event Location Details</ng-template>
                <app-event [localId]="localId" *ngIf="stepper.selectedIndex === 2" class="w-100"
                    (saveComplete)="completeStep('event', stepper, $event);" #event>
                </app-event>
            </mat-step>

            <mat-step [completed]="isStepCompleted('liquor')" [editable]="this.isFormEditable">
                <ng-template matStepLabel>Liquor Overview</ng-template>
                <app-liquor [savingToAPI]="savingToAPI" (saveComplete)="completeStep('liquor', stepper, $event, true)" [localId]="localId"
                    *ngIf="stepper.selectedIndex === 3" class="w-100" #liquor>
                </app-liquor>
            </mat-step>

            <mat-step [completed]="isStepCompleted('summary')" [editable]="this.isFormEditable">
                <ng-template matStepLabel>Summary</ng-template>
                <app-summary [localId]="localId"
                    [account]="account" *ngIf="stepper.selectedIndex === 4" class="w-100" #summary>
                </app-summary>
            </mat-step>        
    </mat-horizontal-stepper>
</div>
