<div>
  <section class="container not-supported-browser" *ngIf="isIE10orLower()">
    <p>Internet Explorer versions 10 and lower are not supported</p>
    <p>Please use Google Chrome, Firefox, Edge or IE 11</p>
  </section>

  <div class="app-outer" *ngIf="!isIE10orLower()">
    <header class="app-header">
      <div class="top-menu row" style="padding-left: 30px; padding-right: 30px; margin:0;">
        <section class="col-md-8 col-xs-12">
          <a href="http://www2.gov.bc.ca/" tabindex="1">
            <img class="header-logo" alt="B.C. Government Logo" src="assets/bc-logo.svg">
          </a>
          <span class="title" role="banner">
            Liquor and Cannabis Licensing
          </span>
        </section>
        <section class="col-md-4 col-xs-12 sign-container">
          &nbsp;
        </section>
      </div>
    </header>

    <div>
      <main class="app-content">
      </main>
    
    <div class="app-main">
      <breadcrumb></breadcrumb>
      <router-outlet></router-outlet>
    </div>
    

    <footer class="app-footer">
      <nav class="navbar navbar-default navbar-expand navbar-footer navbar-static-bottom">
        <div class="container c1">
          <ul class="navbar-nav">
            <li class="c2">
              <a href="https://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank" rel="noopener noreferrer"
                title="Goes to BC Gov Disclaimer Page">Disclaimer</a>
            </li>
            <li class="c2">
              <a href="https://www2.gov.bc.ca/gov/content/home/privacy" target="_blank" rel="noopener noreferrer"
                title="Goes to BC Gov Privacy Page">Privacy</a>
            </li>
            <li class="c2">
              <a href="https://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank" rel="noopener noreferrer"
                title="Goes to BC Gov Accessibility Page">Accessibility</a>
            </li>
            <li class="c2">
              <a href="https://www2.gov.bc.ca/gov/content/home/copyright" target="_blank" rel="noopener noreferrer"
                title="Goes to BC Gov Copyright Page">Copyright</a>
            </li>
          </ul>
        </div>
        <a *ngIf="versionInfo && versionInfo.fileVersion" (click)="openVersionInfoDialog()"
          class="nav-link version-info">{{versionInfo.fileVersion}}</a>
      </nav>
    </footer>
  </div>
</div>
