.body
{
    padding: 50px;
}

.buttons
{
    padding-top: 30px;
}

.scroll-box
{
    overflow: auto;
    width: 800px;
    height: 500px;
    border: 1px solid;
    padding: 15px;
    margin-bottom: 30px;
}

.btn
{
    margin-right: 40px;
}