<div>
  <h1>Terms of Use</h1>
  <section class="scroll-box">
    <p>
      In these Terms of Use, “you” or “your” includes the individual using or accessing the Cannabis Licensing Application Portal
      (the “Site”) on their own behalf, as well as any applicant (“Applicant”) for a cannabis retail store licencse (“Retailer
      Licence”) that you represent.
      <br>
      <br> These Terms of Use are an agreement between you and Her Majesty the Queen in Right of the Province of British Columbia,
      represented by the Attorney General (the “Province”) and they govern your use of the Site and, where applicable, any
      associated service (“Associated Service” and, together with the Site, the “Services”). By clicking the box to indicate
      that you accept these Terms of Use, and in consideration of your use of the Services, you agree, on your own behalf
      and on behalf of the Applicant you represent, to the terms and conditions set out below.
      <br>
      <br> Your failure to abide by these Terms of Use may result in the suspension or cancellation of your use of or access
      to the Services and/or your Retailer Licencse. In addition, the Province and the provider of any Associated Service
      reserve the right to pursue any remedy available at law or in equity.
      <br>
      <br> Please print a copy of these Terms of Use for your records.
    </p>
    <h2>Disclaimer:</h2>
    <ol>
      <b>
        <li>Reasonable efforts have been made to provide accurate, complete and timely information regarding the Services and
          non-medical cannabis licensing in general. However, this is an area where law and policy are rapidly evolving.
          As a result, unless specifically indicated otherwise, the information available on the Site does not necessarily
          reflect the Province’s current policy or position on non-medical cannabis licensing issues and should not be considered
          to be a substitute for, nor does it modify, the underlying legislation and/or any official policy of the Province
          or the federal government in this area. Before making any business decisions, you are strongly encouraged to refer
          to those official information sources rather than relying on the information provided on the Site.
        </li>
        <br>
      </b>
      <li>THE SERVICES ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND INCLUDING WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE.
        USE OF THE SERVICES IS ENTIRELY AT YOUR OWN RISK AND YOU WILL BE LIABLE FOR ANY FAILURE TO ABIDE BY THESE TERMS OF
        USE.
      </li>
      <br>
      <li>NEITHER THE PROVINCE NOR THE PROVIDER OF ANY ASSOCIATED SERVICE WARRANTS:</li>
      <ol type="a">
        <li>THE ACCURACY, COMPLETENESS OR CURRENCY OF SERVICES OR ANY ASSOCIATED INFORMATION, OR THAT ANY ERRORS WILL BE CORRECTED;</li>
        <li>THAT THE SERVICES WILL FUNCTION IN A TIMELY MANNER OR WILL BE AVAILABLE WITHOUT ERROR, FAILURE OR INTERRUPTION; OR</li>
        <li>THAT THE SERVICES WILL MEET YOUR EXPECTATIONS OR REQUIREMENTS.</li>
      </ol>
      <br>
      <li>The Province is not responsible for any Associated Service or the content of any Additional Sites (defined below) that
        are not provided by the Province.</li>
      <br>Information Collection:
      <br>
      <br>
      <li>When you visit the Site or use the Services, certain types of information are automatically collected from you, through
        the use of audit logs or cookies. This information is collected, used and disclosed in accordance with the Province’s
        <a href="">Privacy Policy</a>.</li>
      <br>
      <li>The date and time of your acceptance of these Terms of Use will be logged. This will enable you to skip this step on
        future visits. However, if these Terms of Use are modified, they will be presented to you upon your next following
        visit and you will need to accept the modified terms in order to continue to access the Services . Notwithstanding
        the foregoing, you are responsible for reviewing these Terms of Use on a regular basis to ensure that you are aware
        of any modifications that may have been made and your continued use of the Services constitutes your acceptance of
        any such modified Terms of Use.</li>
      <br>
      <li>The information that you input on the Site may also be logged and attributed to you for verification purposes.</li>
      <br>
      <li>Any personal information that may be collected from you on this Site is collected, used and disclosed in accordance
        with the collection notice presented to you at the time of collection.</li>
      <br>
    </ol>
    <h2>Authentication:</h2>
    <ol start="9">
      <li>Only an individual who is an authorized representative (“Representative”) of an Applicant may access the licensing
        application portions of the Site and provide information on behalf of that Applicant. Each Applicant, other than
        an Applicant that is an Indigenous nation applying in its own name, must have a Business BCeID and designate a unique
        “User Login ID” to each Representative that is entitled to access and modify the Applicant’s application for a Retailer
        License. An Applicant that is an Indigenous nation applying in its own name must have a BCeID registered as “Other”.
        Each Representative must be at least 19 years of age.</li>
      <br>
      <li>Each time a Representative accesses the Site, they must be authenticated by following an external link to the BCeID
        site (“BCeID Site”), following which they will be returned to, and allowed to access the application portions of,
        the Site.
      </li>
      <br>
    </ol>
    <h2>Payment:</h2>
    <ol>
      <li>A Representative will be required to access an external payment processing site (“Payment Site”) in order to pay the
        Retailer Licencse application fee on behalf of the Applicant.</li>
      <br>Additional Terms and Personal Information Collection:
      <br>
      <br>
      <li>You may be required to accept additional terms and conditions in order to use or access one or more of the Associated
        Services, the BCeID Site or the Payment Site (collectively, the “Additional Sites”), in which case your access to,
        and use of the services offered by, those Additional Sites is governed by such additional terms.</li>
      <br>
      <li>Additional personal information may be collected from you by the providers of the Additional Sites in accordance with
        their terms and any associated privacy statement(s).</li>
    </ol>
    <h2>Warranty:</h2>
    <ol start="14">
      <li>Each Representative accessing the Site on behalf of an Applicant represents and warrants that:</li>
      <ol type="a">
        <li>the Representative is authorized to do so by the Applicant and is at least 19 years of age,</li>
        <li>the Applicant has the power and capacity to accept, execute and comply with the these Terms of Use and the terms
          of a Retailer Licence;</li>
        <li>if the Applicant is a corporation, that such Representative is authorized to agree to these Terms of Use and a Retailer
          Licence on the Applicant’s behalf without affixing a traditional signature or the Applicant’s corporate seal; and</li>
        <li>if the Applicant is approved to receive a Retailer Licence, the Retailer Licence will be legally binding upon and
          enforceable against the Applicant in accordance with its terms.</li>
      </ol>
    </ol>
    <h2>Acceptable Use and Security:</h2>
    <ol start="15">
      <li>The Applicant is responsible for all information provided, actions taken and activities performed by its Representatives
        on the Site and on any Associated Sites.</li>
      <br>
      <li>You must not:</li>
      <ol type="a">
        <li>use the Services for any unlawful or inappropriate purpose, including hacking, data mining or other intrusion activities;</li>
        <li>input or upload any information which contains viruses, Trojan horses, worms, time bombs or other computer programming
          routines that may damage or interfere with the performance or function of the Services or any Associated Sites;</li>
        <li>divulge, share, compromise or permit any other person to use your User Login ID;</li>
        <li>use or attempt to use the User Login ID of any other Representative;</li>
        <li>modify or attempt to modify any User Login ID except as required by normal business use;</li>
        <li>take any action that might reasonably be construed as altering, destroying, defeating, compromising or rendering
          ineffective the security related to the Site or any of the Associated Sites, or being likely to affect other users
          of the Services;</li>
        <li>attempt to collect any information about other users of the Services; or</li>
        <li>decompile, disassemble, reverse engineer or otherwise copy any source code associated with the Site or any of the
          Associated Sites.</li>
      </ol>
    </ol>
    <h2>Ownership and Non-permitted Uses:</h2>
    <ol start="17">
      <li>You acknowledge and agree that at all times the Province and/or the providers of the Additional Sites, or their respective
        licensors, are the owners of any software, hardware, servers, networks or other equipment used to provide the Services.</li>
      <br>
      <li>You will not take any action that would be inconsistent with or infringe any proprietary or intellectual property rights
        of the Province, the providers of the Additional Sites or their respective licensors, in any software, hardware,
        servers, networks or other equipment, documentation or other information used to provide the Services.</li>
      <br>
      <li>You will not remove or alter any proprietary symbol or notice, including any copyright notice, trade-mark or logo displayed
        in connection with the Services.</li>
    </ol>
    <h2>Suspension or Cancellation of Services:</h2>
    <ol start="20">
      <li>Your use of any of the Services may be suspended or cancelled at any time if:</li>
      <ol type="a">
        <li>you fail to abide by these Terms of Use, or other terms and conditions that may be posted on any website used to
          access the Services; or</li>
        <li>the Province or the provider of any Associated Service deems such suspension or cancellation necessary for any good
          and valid reason.</li>
      </ol>
      <br>
      <li>The Province and any provider of any Associated Service reserve the right, at any time, to:</li>
      <ol type="a">
        <li>make changes to the Services;</li>
        <li>stop providing the Services; and</li>
        <li>modify these Terms of Use at any time, without notice being provided directly to you.</li>
      </ol>
    </ol>
    <h2>Limitation of Liability:</h2>
    <ol start="22">
      <li>In addition to the Province’s general
        <a href="">Limitation of Liabilities</a>, you agree that under no circumstances will the Province or the provider of any Associated
        Service be liable to you, a Representative or to any other individual or entity for any direct, indirect, special,
        incidental, consequential or other loss, claim, injury or damage, whether foreseeable or unforeseeable (including
        without limitation claims for damages for loss of profits or business opportunities, use of or inability to use the
        Services, interruptions, deletion or corruption of files, loss of programs or information, errors, defects or delays)
        arising out of or in any way connected with your or their access to or use of the Services or any failure by you
        or them to abide by these Terms of Use and whether based on contract, tort, strict liability or any other legal theory.
        The previous sentence will apply even if the Province or the provider of any Associated Service has been specifically
        advised of the possibility of any such loss, claim, injury, or damage.</li>
    </ol>
    <h2>Enforceability and Jurisdiction</h2>
    <ol start="23">
      <li>If any term or provision of these Terms of Use is invalid, illegal or unenforceable, all other terms and provisions
        of these Terms of Use will nonetheless remain in full force and effect.</li>
      <br>
      <li>All access to the Site or use of any Services or Associated Service will be governed by, and construed and interpreted
        in accordance with, the laws applicable in the Province of British Columbia, Canada.</li>
      <br>
      <li>You hereby consent to the exclusive jurisdiction and venue of the courts of the Province of British Columbia, sitting
        in Victoria, for the hearing of any matter relating to or arising from these Terms of Use and/or your access to the
        Site or use of the Services or any Associated Service.</li>
    </ol>
  </section>

  <section>
    <input type="checkbox" [checked]="_termsAccepted" (change)="_termsAccepted = !_termsAccepted" />&nbsp;I have read and accept the above terms and conditions.
    <br>
  </section>
  <section class="buttons">
    <button class="btn btn-primary" (click)="termsAccepted.emit(true);" [disabled]="!_termsAccepted">Continue</button>
    <a href="" tabindex="1">Cancel and Exit</a>
  </section>
</div>