<div [ngBusy]="busy">
  <h1>Declarations</h1>

  <h2>Signing Authority</h2>
  <p>This application should be submitted by an individual with the authority to bind the applicant.
    The Branch relies on the applicant to ensure that the individual who submits this application is authorized to do so.
    Typically, an appropriate individual will be as follows:</p>

  <ul>
    <li>If the applicant is an individual or sole proprietor, the individual himself/herself</li>
    <li>If the applicant is a corporation, a duly authorized signatory who will usually be an officer or, in some cases, a director</li>
    <li>If the applicant is a general partnership, one of the partners</li>
    <li>If the applicant is a limited partnership, the general partner of the partnership</li>
    <li>If the applicant is a society, then a director or a senior manager (as defined in the Societies Act)</li>
  </ul>

  <p>Note: An agent, lawyer, licensee representative or third party operator may not submit this application on behalf of the applicant.</p>
  <p>
    <mat-checkbox [(ngModel)]="authorizedtosubmit" [disabled]="isReadOnly">I understand and affirm that I am authorized to submit the application</mat-checkbox>
  </p>

  <p>Section 22(2) of the Cannabis Control and Licensing Act states: &ldquo;A person must not submit to the general manager an application, or information or a record included as part of the application, that contains false or misleading information, or fails to disclose a material fact&rdquo;.</p>
  <p>
    <mat-checkbox [(ngModel)]="signatureagreement" [disabled]="isReadOnly">I understand and affirm that all of the information provided for this application is true and complete</mat-checkbox>
  </p>


</div>
