<mat-progress-bar class="mt-1" *ngIf="!dataLoaded" mode="indeterminate"></mat-progress-bar>
<div *ngIf="dataLoaded" class="dashboard-spacing" style="padding: 20px; position: relative; width: 900px;">
<div *ngIf="account?.businessType" [ngClass]="{'hide': mode === UPLOAD_FILES_MODE}">
<div>
  <h1 class="ngtest-page-title">Renew Your {{titleOf()}}</h1>
</div>
<div [formGroup]="form" class="application-wrapper">
<section class="ngtest-preamble-content" [innerHTML]="htmlContent?.preamble"></section>
<h3 *ngIf="htmlContent?.beforeStarting" class="blue-header">
  BEFORE STARTING
  THE APPLICATION
</h3>
<section *ngIf="htmlContent?.beforeStarting" class="padded-section">
  <div class="ngtest-before-starting-content" [innerHTML]="htmlContent.beforeStarting"></div>
</section>

<h3 class="blue-header">Questionnaire</h3>
<mat-card class="mat-elevation-z1">
  <app-field errorMessage="Please select a value" [showChevrons]="false" [required]="true" [valid]="true">

  </app-field>
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      1. Have you or any partner, shareholder, director, or officer of this {{holder()}} been arrested for, charged
      with,
      or convicted of a criminal offence within the past 12 months that you have not reported to the LCRB?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalCriminalOffenceCheck')}"
                               formControlName="renewalCriminalOffenceCheck" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
</mat-card>
<p></p>

<mat-card class="mat-elevation-z1">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      2. Has there been an unreported sale of the business associated with the {{typeOf()}} within the past 12 months?
      <fa-icon style="color: #38598a; margin-left: 10px;" [icon]="faQuestionCircle"
               matTooltip="For example, are you the new owner of the {{typeOf()}} or does the {{typeOf()}} have a new owner?">
      </fa-icon>
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalUnreportedSaleOfBusiness')}"
                               formControlName="renewalUnreportedSaleOfBusiness" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalUnreportedSaleOfBusiness').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>You can still renew your {{typeOf()}}. Please
      contact us as soon as possible to transfer this {{typeOfWithSlash()}} to its new owner.
    </div>
  </section>
</mat-card>
<p></p>

<mat-card class="mat-elevation-z1">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      3. Our records show that you are a {{account?.getBusinessTypeName()}}. Has this
      changed?
      <fa-icon style="color: #38598a; margin-left: 10px;" [icon]="faQuestionCircle"
               matTooltip="For example, has your business type changed to a sole proprietor, private corporation, partnership, etc.?">
      </fa-icon>
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalBusinessType')}"
                               formControlName="renewalBusinessType" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalBusinessType').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>You can still renew your {{typeOf()}}. Please
      contact us to update this information.
    </div>
  </section>
</mat-card>
<p></p>

<mat-card class="mat-elevation-z1">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label" *ngIf="!showAlternateQuestions()">
      4. Have you, any partner, shareholder, director, officer, or an immediate family member of any of the
      aforementioned associates acquired a new interest or expanded an existing interest - financial or otherwise
      - in
      a federal producer of cannabis within the past 12 months?
      <fa-icon style="color: #38598a; margin-left: 10px;" [icon]="faQuestionCircle"
               matTooltip="Tied house relationships with federal producers must be reported to the LCRB to determine if there is a risk of the producer’s products being favoured by the licensee.">
      </fa-icon>
    </div>
    <div class="question-label" *ngIf="showAlternateQuestions()">
      4. Have you, any partner, shareholder, director, officer, or an immediate family member of any of the
      aforementioned associates, acquired a new or expanded interest - financial or otherwise
      - in
      a federal producer (other than your own) within the past 12 months?
      <fa-icon style="color: #38598a; margin-left: 10px;" [icon]="faQuestionCircle"
               matTooltip="Tied house relationships with federal producers must be reported to the LCRB to determine if there is a risk of the producer’s products being favoured by the licensee.">
      </fa-icon>
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalTiedhouse')}"
                               formControlName="renewalTiedhouse" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalTiedhouse').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>
      You can still renew your {{typeOf()}}. After submitting your renewal, you can update your federal producer
      information on the Account Profile page on the Dashboard. A member of LCRB may contact you to determine any
      additional next steps.
    </div>
  </section>
</mat-card>
<p></p>

<mat-card class="mat-elevation-z1">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      5. Has a federal produce of cannabis acquired a new interest or expanded an existing interest - financial or
      otherwise - in the {{account?.getBusinessTypeName()}} within the past 12 months?
      <fa-icon style="color: #38598a; margin-left: 10px;" [icon]="faQuestionCircle"
               matTooltip="Tied house relationships with federal producers must be reported to the LCRB to determine if there is a risk of the producer’s products being favoured by the licensee.">
      </fa-icon>
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('tiedhouseFederalInterest')}"
                               formControlName="tiedhouseFederalInterest" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('tiedhouseFederalInterest').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>
      You can still renew your {{typeOf()}}. After submitting your renewal, you can update your federal producer
      information on the Account Profile page on the Dashboard. A member of LCRB may contact you to determine any
      additional next steps.
    </div>
  </section>
</mat-card>
<p></p>


<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      6. Have you made any unreported changes to your organizational leadership within the past 12 months?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalOrgLeadership')}"
                               formControlName="renewalOrgLeadership" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;" *ngIf="account?.id && account?.businessType">

    <div *ngIf="form.get('renewalOrgLeadership').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>
      You can still renew your {{typeOf()}}. Please contact us to update this information.
    </div>
  </section>
</mat-card>
<p></p>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      7. Have you made any unreported changes to your key personnel within the past 12 months?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalkeypersonnel')}"
                               formControlName="renewalkeypersonnel" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;" *ngIf="account?.id && account?.businessType">

    <div *ngIf="form.get('renewalkeypersonnel').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>
      You can still renew your {{typeOf()}}. Please contact us to update this information.
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      8. Have you made any unreported changes to your share structure within the past 12 months?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalShareholders')}"
                               formControlName="renewalShareholders" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;" *ngIf="account?.id && account?.businessType">

    <div *ngIf="form.get('renewalShareholders').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>
      You can still renew your {{typeOf()}}. Please contact us to update your information.
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      9. Do you have an outstanding payable fine under the Offence Act or outstanding payable monetary penalty
      under
      the Cannabis Control and Licensing Act that has not yet been paid?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalOutstandingFines')}"
                               formControlName="renewalOutstandingFines" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalOutstandingFines').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>
      You can still renew your {{typeOf()}}. Please contact us to to pay your fines.
    </div>
  </section>
</mat-card>


<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;" *ngIf="!isMarketing()">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      10. Have you made an unreported change to your store’s name in the past 12 months?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalBranding')}"
                               formControlName="renewalBranding" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalBranding').value === 'Yes'" class="field-changed">

      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon> You can still renew your {{typeOf()}}.
      After submitting your renewal, please start a Establishment Name or Branding Change application from the
      Dashboard.
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;" *ngIf="!isMarketing()">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      11. Have you updated the store’s signage or branding in the past 12 months?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalSignage')}"
                               formControlName="renewalSignage" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalSignage').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>You can still renew your {{typeOf()}}.
      After submitting your renewal, please start a Establishment Name and Branding Change application from the
      Dashboard.
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;" *ngIf="!isMarketing()">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      12. Have you made an unreported change of location of your establishment within the past 12 months? (This
      includes any changes to the Parcel Identification Number where your establishment is located, even if the
      physical location has not changed).
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalEstablishmentAddress')}"
                               formControlName="renewalEstablishmentAddress" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalEstablishmentAddress').value === 'Yes'" style="margin-top: 10px;"
         class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>You can still renew your {{typeOf()}}.
      After submitting your renewal, please start a Relocation Request application from the Dashboard.
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;" *ngIf="!isMarketing()">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      13. Have you sold the property or transferred the lease associated with this {{typeOf()}}
      within the past 12 months?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalValidInterest')}"
                               formControlName="renewalValidInterest" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalValidInterest').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>A LCRB Licensing Staff member may
      contact you as part of this renewal process
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;" *ngIf="!isMarketing()">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      14. Are you aware of any local government or Indigenous nation zoning changes with respect to your
      establishment location?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalZoning')}"
                               formControlName="renewalZoning" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalZoning').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon>A LCRB Licensing Staff member may
      contact you as part of this renewal process
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;" *ngIf="!isMarketing()">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      15. Have you made any unreported changes to the store’s floor plan within the past 12 months?
      <fa-icon style="color: #38598a; margin-left: 10px;" [icon]="faQuestionCircle"
               matTooltip="This includes any businesses with which you share  common areas. For example, vestibules, bathrooms, and window coverings.">
      </fa-icon>
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalFloorPlan')}"
                               formControlName="renewalFloorPlan" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalFloorPlan').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon> You can still renew your {{typeOf()}}.
      After submitting your renewal, please start a Structural Change Request application from the Dashboard.
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;" *ngIf="showAlternateQuestions()">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      16. Has Health Canada changed the status of your federal licence within the past 12 months that you have not reported to the LCRB?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalFederalLicence')}"
                               formControlName="renewalFederalLicence" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalFederalLicence').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon> A LCRB licensing staff member may
      contact you as part of this renewal process
    </div>
  </section>
</mat-card>

<mat-card class="mat-elevation-z1" style="margin-bottom: 10px;" *ngIf="showAlternateQuestions()">
  <section style="display: flex; justify-content: space-between; width: 100%;">
    <div class="question-label">
      17. Has Health Canada changed its security clearance for you, or any associate, partner, shareholder, director or officer of this licensee,
      within the past 12 months that you have not reported to the LCRB?
    </div>
    <div style="flex: 0 0 85px;">
      <mat-button-toggle-group [ngClass]="{'invalid': isTouchedAndInvalid('renewalFederalSecurity')}"
                               formControlName="renewalFederalSecurity" aria-label="Font Style">
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
        <mat-button-toggle value="No">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section style="padding-right: 95px;">
    <div *ngIf="form.get('renewalFederalSecurity').value === 'Yes'" class="field-changed">
      <fa-icon [icon]="faExclamationCircle" style="margin-right: 10px;"></fa-icon> A LCRB licensing staff member may
      contact you as part of this renewal process
    </div>
  </section>
</mat-card>

<!-- Contact Details -->
<h3 class="blue-header">APPLICATION CONTACT DETAILS</h3>
<p>
  <i>
    Please provide contact information for the contact that the LCRB should communicate with regarding the
    application. This contact must be authorized to represent the applicant and have the authority to bind the
    applicant.
  </i>
</p>
<address class="padded-section">

  <app-field label="First Name" [required]="true"
             [valid]="form.get('contactPersonFirstName').valid || !form.get('contactPersonFirstName').touched"
             errorMessage="Please enter the business contact's first name">
    <input class="form-control" style="width: 350px;" type="text" autocomplete="given-name"
           formControlName="contactPersonFirstName">
  </app-field>

  <app-field label="Last Name" [required]="true"
             [valid]="form.get('contactPersonLastName').valid || !form.get('contactPersonLastName').touched"
             errorMessage="Please enter the business contact's last name">
    <input class="form-control" style="width: 350px;" type="text" autocomplete="family-name"
           formControlName="contactPersonLastName">
  </app-field>

  <app-field label="Title/Position" [required]="false" [valid]="true">
    <input class="form-control" style="width: 350px;" type="text" formControlName="contactPersonRole">
  </app-field>

  <app-field label="Phone Number (main)" [required]="true"
             [valid]="form.get('contactPersonPhone').valid || !form.get('contactPersonPhone').touched"
             errorMessage="Please enter the business contact's 10-digit phone number">
    <input class="form-control" style="width: 250px;" maxlength="10" autocomplete="tel"
           (keydown)="rejectIfNotDigitOrBackSpace($event)" type="text" formControlName="contactPersonPhone">
  </app-field>

  <app-field label="Email" [required]="true"
             [valid]="form.get('contactPersonEmail').valid || !form.get('contactPersonEmail').touched"
             errorMessage="Please enter the business contact's email address">
    <input class="form-control" style="width: 350px;" type="text" autocomplete="email"
           formControlName="contactPersonEmail" (blur)="trimValue(form.get('contactPersonEmail'))">
  </app-field>
</address>

<h3 class="blue-header">REFUND POLICY</h3>
<div class="content-bottom">
  <p>
    Licence renewal fees are generally non-refundable.
    <br><br>
    Refunds for <a href="https://www2.gov.bc.ca/gov/content/employment-business/business/liquor-regulation-licensing/liquor-licence-permits/amend-liquor-licence/renew-a-liquor-licence/annual-liquor-licence-renewal-fee-update" target="_blank">licence renewal fees</a> may be available if the:
  </p>
  <ul>
    <li>The LCRB has made an error</li>
    <li>Applicant has overpaid</li>
  </ul>
  <p>
    Renewal fees must be paid in full for a licence to remain valid.
  </p>
  <p>
    Payment may appear on a credit card statement as:<br>
    "Liquor and Cannabis Re… Victoria BC" and other variations.
  </p>
  <p>
    <strong>
      The LCRB investigates all credit card chargeback requests for fees and will dispute chargeback requests. A note will also be made on your LCRB account and there may be consequences for fraudulent requests.
    </strong>
  </p>

  <app-field [valid]="!showValidationMessages || form.get('readRefundPolicy').valid"
             errorMessage="Please affirm that you have read and understand the refund policy." [showChevrons]="false">
    <mat-checkbox formControlName="readRefundPolicy">
      <span class="error-states">*</span>
      <span class="ml-2">
        I have read and understand the refund policy.
      </span>
    </mat-checkbox>
  </app-field>
</div>

<h3 class="blue-header ngtest-declarations">
  DECLARATIONS
</h3>
<div class="padded-section content">
  <p>
    This application should only be submitted by an individual with the authority to bind the applicant. The
    branch
    relies on the applicant to ensure that the individual who submits this application is authorized to do so.
    Typically, an appropriate individual in a corporation will be a duly authorized signatory who will usually
    be an officer or, in some cases, a director.
  </p>
  <p>
    Note: An agent, lawyer, {{holder()}} representative or third party operator may NOT submit this application on
    behalf of the applicant.
  </p>
  <app-field [valid]="!showValidationMessages || form.get('authorizedToSubmit').valid"
             errorMessage="Please affirm that you are authorized to submit the application." [showChevrons]="false">
    <mat-checkbox formControlName="authorizedToSubmit">
      <span class="error-states">*</span>
      <span class="ml-2">
        I understand and affirm that I am authorized to submit the application
      </span>
    </mat-checkbox>
  </app-field>
  <p>
    Section 22(2) of the Cannabis Control and Licensing Act states: “A person must not submit to the general
    manager
    an application, or
    information or a record included as part of the application, that contains false or misleading
    information, or
    fails to disclose a material fact”.
  </p>
  <app-field [valid]="!showValidationMessages || form.get('signatureAgreement').valid"
             errorMessage="Please affirm that all of the information provided for this application is true and complete."
             [showChevrons]="false">
    <mat-checkbox formControlName="signatureAgreement">
      <span class="error-states">*</span>
      <span class="ml-2">
        I understand and affirm that all of the information provided for this
        application is true and complete
      </span>
    </mat-checkbox>
  </app-field>
</div>

<section class="error" *ngIf="showValidationMessages">
  <p *ngFor="let message of validationMessages">
    <span class="app-cancel">
      <mat-icon aria-label="error icon" style="font-size: 15px;">error</mat-icon>
      {{message}}
    </span>
  </p>
</section>

<div class="light-blue-bg">
  <p>
    The ‘save for later’ feature allows applicants to re-access an application in progress. Please be advised
    that
    once an application is submitted, you will be unable to upload additional documentation. For questions on
    the
    LCRB application process, please contact: <a href="javascript: void(0);">lcrbcannabis@gov.bc.ca</a>.
  </p>
</div>

<section style="margin-top: 20px; position: relative;">
  <button mat-raised-button color="secondary" style="margin-right: 10px;" (click)="saveForLater()">
    <span>
      <fa-icon [icon]="faSave"></fa-icon>
      SAVE FOR LATER
    </span>
    <mat-progress-bar class="mt-1" *ngIf="saveForLateInProgress" mode="indeterminate"></mat-progress-bar>
  </button>
  <button mat-raised-button color="primary" (click)="submitApplication()" [disabled]="submitReqInProgress">
    <span>SUBMIT &amp; PAY</span>
    <mat-progress-bar class="mt-1" *ngIf="submitReqInProgress" mode="indeterminate"></mat-progress-bar>
  </button>
  <span style="color: #1a5a96; float: right; padding-top: 10px;">
    <span (click)="cancelApplication()">
      <fa-icon [icon]="faTrash" style="color: #1a5a96;"></fa-icon>
      <a href="javascript: void(0)">
        CANCEL APPLICATION
      </a>
      <mat-progress-bar class="mt-1" *ngIf="cancelReqInProgress" mode="indeterminate"></mat-progress-bar>
    </span>
  </span>

</section>
</div>
</div>
</div>
